// interface 10

[com_0]
type=3
buttontype=0
clientcode=0
x=366
y=5
width=141
height=28
trans=192
fill=1
colour=0x4020ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=353
y=7
width=100
height=34
trans=0
halign=2
valign=0
lineheight=0
font=496
shadowed=1
text=Windspeed:
activetext=
colour=0xff8800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=459
y=7
width=50
height=33
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=high
activetext=
colour=0xffff66
colour2=0x000000
colourover=0x000000
colour2over=0x000000
