// interface 103

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=64
fill=1
colour=0x3b2a1a
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=3
buttontype=0
clientcode=0
x=16
y=327
width=486
height=4
trans=64
fill=1
colour=0x140b02
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=3
buttontype=0
clientcode=0
x=498
y=312
width=4
height=15
trans=64
fill=1
colour=0x140b02
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=3
buttontype=0
clientcode=0
x=489
y=6
width=4
height=305
trans=64
fill=1
colour=0x140b02
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=6
buttontype=0
clientcode=0
x=226
y=175
width=32
height=32
trans=0
model=com_i27109
activemodel=-1
zoom=356
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_7
trans=0
model=com_i27108
activemodel=-1
zoom=400
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=437
y=31
width=32
height=32
overlayer=7
trans=0
model=com_i27105
activemodel=-1
zoom=400
xan=0
yan=0

[com_7]
type=0
buttontype=3
clientcode=0
x=437
y=31
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=89
y=77
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=184
y=77
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=281
y=77
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_11]
type=4
buttontype=0
clientcode=0
x=37
y=142
width=437
height=34
trans=0
halign=1
valign=0
lineheight=0
font=645
shadowed=1
text=What comes next?
activetext=
colour=0xdfdfc7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=6
buttontype=1
clientcode=0
x=74
y=217
width=61
height=64
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=

[com_13]
type=6
buttontype=1
clientcode=0
x=170
y=217
width=61
height=64
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=

[com_14]
type=6
buttontype=1
clientcode=0
x=266
y=217
width=61
height=64
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=

[com_15]
type=6
buttontype=1
clientcode=0
x=362
y=217
width=61
height=64
trans=0
model=-1
activemodel=-1
zoom=144
xan=0
yan=0
buttontext=
