// interface 110

[com_0]
fmt=v3
type=3
clientcode=0
x=17
y=25
width=488
height=305
hide=0
colour=0x000000
fill=1
trans=200
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=14
y=25
width=485
height=300
hide=0
graphic=297
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=0
y=53
width=32
height=241
hide=0
graphic=821
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=13
y=20
width=32
height=32
hide=0
graphic=824
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=480
y=51
width=32
height=243
hide=0
graphic=823
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=44
y=7
width=424
height=34
hide=0
graphic=820
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=45
y=306
width=423
height=32
hide=0
graphic=822
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=13
y=294
width=32
height=32
hide=0
graphic=826
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=468
y=20
width=32
height=32
hide=0
graphic=825
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=468
y=294
width=32
height=32
hide=0
graphic=827
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=24
y=35
width=465
height=32
hide=0
graphic=828
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=13
y=37
width=32
height=32
hide=0
graphic=829
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=468
y=37
width=32
height=32
hide=0
graphic=830
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=6
clientcode=0
x=52
y=280
width=32
height=32
hide=0
model=com_i3276
modelxof=0
modelyof=0
xan=105
yan=312
zan=0
zoom=1031
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=0
clientcode=0
x=344
y=262
width=105
height=43
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=4
clientcode=0
x=30
y=30
width=450
height=16
hide=0
font=496
text=You are victorious!
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xe1981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=3
clientcode=0
x=6
y=6
width=94
height=32
layer=com_14
hide=0
colour=0x000000
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=4
clientcode=0
x=6
y=6
width=93
height=32
layer=com_14
hide=0
font=495
text=Claim!
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x008000
eventcode=0x2
baseop=
op1=Claim
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:43776
onmouseleave=i:45,i:-2147483645,i:32768
onop=i:29

[com_18]
fmt=v3
type=4
clientcode=0
x=110
y=71
width=109
height=14
hide=0
font=495
text=The Spoils:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xbf751d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=4
clientcode=0
x=4
y=11
width=122
height=15
layer=com_34
hide=0
font=495
text=The Defeated:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xbf751d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=4
clientcode=0
x=4
y=37
width=51
height=14
layer=com_34
hide=0
font=495
text=Name:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xbf751d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=4
clientcode=0
x=4
y=61
width=89
height=14
layer=com_34
hide=0
font=495
text=Combat level:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xbf751d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=4
clientcode=0
x=89
y=61
width=31
height=13
layer=com_34
hide=0
font=495
text=126
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xaaaaaa
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=4
clientcode=0
x=48
y=37
width=70
height=14
layer=com_34
hide=0
font=495
text=Crunchy
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xaaaaaa
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=5
clientcode=0
x=346
y=264
width=32
height=32
hide=0
graphic=824
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=5
clientcode=0
x=346
y=272
width=32
height=32
hide=0
graphic=826
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=5
clientcode=0
x=416
y=264
width=32
height=32
hide=0
graphic=825
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=5
clientcode=0
x=416
y=272
width=32
height=32
hide=0
graphic=827
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=5
clientcode=0
x=376
y=251
width=42
height=37
hide=0
graphic=820
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=5
clientcode=0
x=375
y=284
width=43
height=32
hide=0
graphic=822
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=6
clientcode=0
x=381
y=210
width=32
height=32
hide=0
model=com_i3278
modelxof=0
modelyof=0
xan=2047
yan=514
zan=0
zoom=1275
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=5
clientcode=0
x=474
y=30
width=16
height=16
hide=0
graphic=831
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:832
onmouseleave=i:44,i:-2147483645,i:831
onop=i:29

[com_32]
fmt=v3
type=0
clientcode=0
x=467
y=23
width=32
height=32
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=0
clientcode=0
x=102
y=92
width=211
height=205
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=0
clientcode=0
x=319
y=60
width=168
height=89
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
