// interface 112

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=243
y=170
width=32
height=32
trans=0
model=com_i5815
activemodel=-1
zoom=400
xan=117
yan=3

[com_2]
type=6
buttontype=0
clientcode=0
x=243
y=170
width=32
height=32
trans=0
model=com_i63
activemodel=-1
zoom=400
xan=90
yan=10

[com_3]
type=6
buttontype=0
clientcode=0
x=243
y=170
width=32
height=32
trans=0
model=com_i5816
activemodel=-1
zoom=400
xan=117
yan=3

[com_4]
type=4
buttontype=0
clientcode=0
x=80
y=15
width=350
height=17
layer=com_8
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Name
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=80
y=37
width=350
height=17
layer=com_8
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line1
activetext=
colour=0xc9c980
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=6
buttontype=0
clientcode=0
x=25
y=37
width=32
height=32
layer=com_8
trans=0
model=com_i63
activemodel=-1
zoom=796
xan=40
yan=1882

[com_7]
type=4
buttontype=0
clientcode=0
x=10
y=8
width=350
height=17
layer=com_9
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line1
activetext=
colour=0xc9c980
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=0
buttontype=0
clientcode=0
x=0
y=1
width=512
height=94
trans=0
scrollheight=0
hide=0

[com_9]
type=0
buttontype=0
clientcode=0
x=70
y=291
width=379
height=33
trans=0
scrollheight=0
hide=0

[com_10]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_11]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
layer=com_10
trans=0
model=com_i5827
activemodel=-1
zoom=114
xan=500
yan=0
