// interface 113

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_2]
type=6
buttontype=0
clientcode=0
x=242
y=172
width=32
height=32
layer=com_1
trans=0
model=com_i5825
activemodel=-1
zoom=345
xan=520
yan=6

[com_3]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_4]
type=6
buttontype=0
clientcode=0
x=239
y=171
width=32
height=32
layer=com_3
trans=0
model=com_i5828
activemodel=-1
zoom=345
xan=520
yan=6

[com_5]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_6]
type=6
buttontype=0
clientcode=0
x=236
y=173
width=32
height=32
layer=com_5
trans=0
model=com_i5830
activemodel=-1
zoom=339
xan=521
yan=2043

[com_7]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_8]
type=6
buttontype=0
clientcode=0
x=239
y=174
width=32
height=32
layer=com_7
trans=0
model=com_i5832
activemodel=-1
zoom=332
xan=574
yan=2039

[com_9]
type=0
buttontype=0
clientcode=0
x=445
y=13
width=66
height=28
trans=0
scrollheight=0
hide=0

[com_10]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_11]
type=6
buttontype=0
clientcode=0
x=239
y=171
width=32
height=32
layer=com_10
trans=0
model=com_i5829
activemodel=-1
zoom=345
xan=520
yan=6

[com_12]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_13]
type=6
buttontype=0
clientcode=0
x=236
y=173
width=32
height=32
layer=com_12
trans=0
model=com_i5831
activemodel=-1
zoom=339
xan=521
yan=2043

[com_14]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=0

[com_15]
type=6
buttontype=0
clientcode=0
x=239
y=174
width=32
height=32
layer=com_14
trans=0
model=com_i5833
activemodel=-1
zoom=332
xan=574
yan=2039

[com_16]
type=0
buttontype=0
clientcode=0
x=0
y=46
width=512
height=27
trans=0
scrollheight=0
hide=1

[com_17]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=512
height=27
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=That's it, it all makes sense now! If you were a dwarf, that is...
activetext=
colour=0xc9c980
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=5
buttontype=0
clientcode=0
x=482
y=4
width=26
height=23
overlayer=20
trans=0
graphic=539
activegraphic=-1

[com_19]
type=5
buttontype=3
clientcode=0
x=3
y=3
width=26
height=23
layer=com_20
overlayer=20
trans=0
graphic=540
activegraphic=-1

[com_20]
type=0
buttontype=0
clientcode=0
x=479
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
