// interface 114

[com_0]
type=5
buttontype=0
clientcode=0
x=6
y=141
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=92
y=141
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=6
y=181
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=92
y=181
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=6
y=141
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=159
y=141
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=163
y=185
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=159
y=211
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=163
y=161
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=126
y=126
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=31
y=126
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=127
y=220
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=67
y=126
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=99
y=126
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=-9
y=166
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=-9
y=196
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=6
y=211
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=31
y=220
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=98
y=220
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=67
y=220
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_20]
type=4
buttontype=0
clientcode=0
x=77
y=172
width=99
height=14
trans=0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=Schematic 1
activetext=
colour=0xaa8822
colour2=0xaa3322
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=77
y=192
width=99
height=14
trans=0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=Schematic 2
activetext=
colour=0xaa8822
colour2=0xaa3322
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=77
y=212
width=99
height=14
trans=0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=Schematic 3
activetext=
colour=0xaa8822
colour2=0xaa3322
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=14
y=152
width=130
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Show/Select
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=5
buttontype=5
clientcode=0
x=55
y=172
width=15
height=15
trans=0
scriptcmp=1/1
scripts=5/261/0
graphic=180
activegraphic=181
buttontext=Select Schematic One

[com_25]
type=5
buttontype=5
clientcode=0
x=55
y=192
width=15
height=15
trans=0
scriptcmp=1/1
scripts=5/262/0
graphic=180
activegraphic=181
buttontext=Select Schematic Two

[com_26]
type=5
buttontype=5
clientcode=0
x=55
y=212
width=36
height=36
trans=0
scriptcmp=1/1
scripts=5/263/0
graphic=180
activegraphic=181
buttontext=Select Schematic Three

[com_27]
type=5
buttontype=1
clientcode=0
x=23
y=172
width=15
height=15
trans=0
scriptcmp=1/1
scripts=5/264/0
graphic=180
activegraphic=181
buttontext=Show Schematic One

[com_28]
type=5
buttontype=1
clientcode=0
x=23
y=192
width=15
height=15
trans=0
scriptcmp=1/1
scripts=5/265/0
graphic=180
activegraphic=181
buttontext=Show Schematic Two

[com_29]
type=5
buttontype=1
clientcode=0
x=23
y=212
width=15
height=15
trans=0
scriptcmp=1/1
scripts=5/266/0
graphic=180
activegraphic=181
buttontext=Show Schematic Three

[com_30]
type=6
buttontype=1
clientcode=0
x=79
y=53
width=32
height=32
trans=0
model=com_i5823
activemodel=com_i5821
zoom=1000
xan=500
yan=0
buttontext=Rotate the image

[com_31]
type=6
buttontype=1
clientcode=0
x=79
y=13
width=32
height=32
trans=0
model=com_i5822
activemodel=com_i5820
zoom=1000
xan=500
yan=0
buttontext=Move Schematic Up

[com_32]
type=6
buttontype=1
clientcode=0
x=120
y=52
width=32
height=32
trans=0
model=com_i5822
activemodel=com_i5820
zoom=1000
xan=500
yan=500
buttontext=Move Schematic Right

[com_33]
type=6
buttontype=1
clientcode=0
x=40
y=52
width=32
height=32
trans=0
model=com_i5822
activemodel=com_i5820
zoom=1000
xan=500
yan=1530
buttontext=Move Schematic Left

[com_34]
type=6
buttontype=1
clientcode=0
x=79
y=92
width=32
height=32
trans=0
model=com_i5822
activemodel=com_i5820
zoom=1000
xan=500
yan=1015
buttontext=Move Schematic Down
