// interface 116

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0x433621
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=0
clientcode=0
x=478
y=6
width=26
height=23
overlayer=106
trans=0
graphic=539
activegraphic=-1

[com_2]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_106
overlayer=106
trans=0
graphic=540
activegraphic=-1

[com_3]
type=6
buttontype=0
clientcode=0
x=253
y=137
width=24
height=23
trans=0
model=com_i16344
activemodel=-1
zoom=1119
xan=490
yan=513

[com_4]
type=4
buttontype=0
clientcode=0
x=125
y=29
width=266
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Title
activetext=
colour=0xd9a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=0
buttontype=0
clientcode=0
x=63
y=54
width=348
height=250
trans=0
scrollheight=1710
hide=0

[com_6]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=0
y=17
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=0
y=34
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=0
y=51
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=0
y=68
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=0
y=85
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=0
y=102
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=0
y=119
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=0
y=136
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=0
y=153
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=0
y=170
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=0
y=187
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=0
y=204
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=0
y=221
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=0
y=238
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=0
y=255
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=0
y=272
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=0
y=289
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=0
y=306
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=0
y=323
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=0
y=340
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=0
y=357
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=0
y=374
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=0
y=391
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=4
buttontype=0
clientcode=0
x=0
y=408
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=4
buttontype=0
clientcode=0
x=0
y=425
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=0
y=442
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=4
buttontype=0
clientcode=0
x=0
y=459
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=4
buttontype=0
clientcode=0
x=0
y=476
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=4
buttontype=0
clientcode=0
x=0
y=493
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=4
buttontype=0
clientcode=0
x=0
y=510
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=4
buttontype=0
clientcode=0
x=0
y=527
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=0
y=544
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=4
buttontype=0
clientcode=0
x=0
y=561
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=4
buttontype=0
clientcode=0
x=0
y=578
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=4
buttontype=0
clientcode=0
x=0
y=595
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_42]
type=4
buttontype=0
clientcode=0
x=0
y=612
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_43]
type=4
buttontype=0
clientcode=0
x=0
y=629
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_44]
type=4
buttontype=0
clientcode=0
x=0
y=646
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=0
y=663
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=4
buttontype=0
clientcode=0
x=0
y=680
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_47]
type=4
buttontype=0
clientcode=0
x=0
y=697
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=4
buttontype=0
clientcode=0
x=0
y=714
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_49]
type=4
buttontype=0
clientcode=0
x=0
y=731
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_50]
type=4
buttontype=0
clientcode=0
x=0
y=748
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_51]
type=4
buttontype=0
clientcode=0
x=0
y=765
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_52]
type=4
buttontype=0
clientcode=0
x=0
y=782
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_53]
type=4
buttontype=0
clientcode=0
x=0
y=799
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_54]
type=4
buttontype=0
clientcode=0
x=0
y=816
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_55]
type=4
buttontype=0
clientcode=0
x=0
y=833
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_56]
type=4
buttontype=0
clientcode=0
x=0
y=850
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_57]
type=4
buttontype=0
clientcode=0
x=0
y=867
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_58]
type=4
buttontype=0
clientcode=0
x=0
y=884
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_59]
type=4
buttontype=0
clientcode=0
x=0
y=901
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_60]
type=4
buttontype=0
clientcode=0
x=0
y=918
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_61]
type=4
buttontype=0
clientcode=0
x=0
y=935
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_62]
type=4
buttontype=0
clientcode=0
x=0
y=952
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_63]
type=4
buttontype=0
clientcode=0
x=0
y=969
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_64]
type=4
buttontype=0
clientcode=0
x=0
y=986
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_65]
type=4
buttontype=0
clientcode=0
x=0
y=1003
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_66]
type=4
buttontype=0
clientcode=0
x=0
y=1020
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_67]
type=4
buttontype=0
clientcode=0
x=0
y=1037
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_68]
type=4
buttontype=0
clientcode=0
x=0
y=1054
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_69]
type=4
buttontype=0
clientcode=0
x=0
y=1071
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_70]
type=4
buttontype=0
clientcode=0
x=0
y=1088
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_71]
type=4
buttontype=0
clientcode=0
x=0
y=1105
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_72]
type=4
buttontype=0
clientcode=0
x=0
y=1122
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_73]
type=4
buttontype=0
clientcode=0
x=0
y=1139
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_74]
type=4
buttontype=0
clientcode=0
x=0
y=1156
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_75]
type=4
buttontype=0
clientcode=0
x=0
y=1173
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_76]
type=4
buttontype=0
clientcode=0
x=0
y=1190
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_77]
type=4
buttontype=0
clientcode=0
x=0
y=1207
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_78]
type=4
buttontype=0
clientcode=0
x=0
y=1224
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_79]
type=4
buttontype=0
clientcode=0
x=0
y=1241
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_80]
type=4
buttontype=0
clientcode=0
x=0
y=1258
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_81]
type=4
buttontype=0
clientcode=0
x=0
y=1275
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_82]
type=4
buttontype=0
clientcode=0
x=0
y=1292
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_83]
type=4
buttontype=0
clientcode=0
x=0
y=1309
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_84]
type=4
buttontype=0
clientcode=0
x=0
y=1326
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_85]
type=4
buttontype=0
clientcode=0
x=0
y=1343
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_86]
type=4
buttontype=0
clientcode=0
x=0
y=1360
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_87]
type=4
buttontype=0
clientcode=0
x=0
y=1377
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_88]
type=4
buttontype=0
clientcode=0
x=0
y=1394
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=4
buttontype=0
clientcode=0
x=0
y=1411
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_90]
type=4
buttontype=0
clientcode=0
x=0
y=1428
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_91]
type=4
buttontype=0
clientcode=0
x=0
y=1445
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_92]
type=4
buttontype=0
clientcode=0
x=0
y=1462
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_93]
type=4
buttontype=0
clientcode=0
x=0
y=1479
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_94]
type=4
buttontype=0
clientcode=0
x=0
y=1496
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_95]
type=4
buttontype=0
clientcode=0
x=0
y=1513
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_96]
type=4
buttontype=0
clientcode=0
x=0
y=1530
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_97]
type=4
buttontype=0
clientcode=0
x=0
y=1547
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_98]
type=4
buttontype=0
clientcode=0
x=0
y=1564
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_99]
type=4
buttontype=0
clientcode=0
x=0
y=1581
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=0
y=1598
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_101]
type=4
buttontype=0
clientcode=0
x=0
y=1615
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_102]
type=4
buttontype=0
clientcode=0
x=0
y=1632
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_103]
type=4
buttontype=0
clientcode=0
x=0
y=1649
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_104]
type=4
buttontype=0
clientcode=0
x=0
y=1666
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_105]
type=4
buttontype=0
clientcode=0
x=0
y=1683
width=348
height=17
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xd5a34d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_106]
type=0
buttontype=0
clientcode=0
x=475
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
