// interface 119

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=400
trans=140
fill=1
colour=0x5a7b86
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=242
y=152
width=32
height=32
trans=0
model=com_i4835
activemodel=-1
anim=3541
zoom=130
xan=512
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=20
y=68
width=477
height=80
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text= 
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
