// interface 125

[com_0]
type=3
buttontype=0
clientcode=0
x=103
y=38
width=332
height=253
trans=192
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=0
clientcode=0
x=103
y=37
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=189
y=38
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=277
y=40
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=99
y=34
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=84
y=38
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=337
y=40
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=84
y=57
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=84
y=79
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=84
y=115
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=84
y=150
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=84
y=186
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=84
y=222
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=410
y=59
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=410
y=95
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=410
y=114
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=410
y=150
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=410
y=186
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=410
y=222
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=158
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=193
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=228
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=263
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=298
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=301
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=336
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=371
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=104
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=120
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=154
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=190
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=226
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=262
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=298
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=334
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=370
y=19
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=337
y=98
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=213
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=123
y=266
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=99
y=257
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=406
y=34
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=337
y=154
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=406
y=257
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=247
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=350
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=317
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=282
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=337
y=207
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=381
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=180
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=145
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=123
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=104
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=338
y=221
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=176
y=221
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=105
y=221
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=250
y=221
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=389
y=50
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_67]
type=4
buttontype=0
clientcode=0
x=105
y=38
width=320
height=27
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Amazing Farming Equipment Store
activetext=
colour=0xff9900
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_68]
type=2
buttontype=0
clientcode=0
x=168
y=104
width=3
height=2
trans=0
eventcode=0x800000
marginx=64
marginy=32
iop1=Remove
targetverb=
targetbase=

[com_69]
type=2
buttontype=0
clientcode=0
x=168
y=232
width=3
height=1
trans=0
eventcode=0x7800000
marginx=64
marginy=0
iop1=Remove 1
iop2=Remove 5
iop3=Remove All
iop4=Remove X
targetverb=
targetbase=

[com_70]
type=4
buttontype=0
clientcode=0
x=119
y=77
width=97
height=28
trans=0
scriptcmp=3/0
scripts=14/1435/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Farming rake
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_71]
type=4
buttontype=0
clientcode=0
x=120
y=104
width=80
height=32
trans=0
scriptcmp=3/0
scripts=14/1435/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=
colour=0x872300
colour2=0x7dd750
colourover=0x000000
colour2over=0x000000

[com_72]
type=4
buttontype=0
clientcode=0
x=215
y=77
width=97
height=28
trans=0
scriptcmp=3/0
scripts=14/1436/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Seed dibber
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_73]
type=4
buttontype=0
clientcode=0
x=216
y=104
width=48
height=14
trans=0
scriptcmp=3/0
scripts=14/1436/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_74]
type=4
buttontype=0
clientcode=0
x=312
y=71
width=105
height=34
trans=0
scriptcmp=3/0
scripts=14/1437/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=All-purpose spade
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_75]
type=4
buttontype=0
clientcode=0
x=312
y=104
width=48
height=14
trans=0
scriptcmp=3/0
scripts=14/1437/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_76]
type=4
buttontype=0
clientcode=0
x=119
y=135
width=98
height=34
trans=0
scriptcmp=3/0
scripts=14/1438/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Secateurs
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_77]
type=4
buttontype=0
clientcode=0
x=120
y=168
width=80
height=32
trans=0
scriptcmp=3/0
scripts=14/1438/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_78]
type=4
buttontype=0
clientcode=0
x=216
y=135
width=97
height=34
trans=0
scriptcmp=3/0
scripts=14/1439/0 14/1439/15/20/1/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Watering Can
activetext=Watering Can (%2)
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_79]
type=4
buttontype=0
clientcode=0
x=216
y=168
width=80
height=32
trans=0
scriptcmp=3/0
scripts=14/1439/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0/1
activetext=1/1
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_80]
type=4
buttontype=0
clientcode=0
x=312
y=135
width=112
height=34
trans=0
scriptcmp=3/0
scripts=14/1440/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Gardening trowel
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_81]
type=4
buttontype=0
clientcode=0
x=312
y=168
width=80
height=31
trans=0
scriptcmp=3/0
scripts=14/1440/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=
colour=0x870000
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_82]
type=4
buttontype=0
clientcode=0
x=120
y=199
width=97
height=34
trans=0
scriptcmp=3/0
scripts=14/1441/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Empty buckets
activetext=
colour=0x870000
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_83]
type=4
buttontype=0
clientcode=0
x=120
y=232
width=80
height=32
trans=0
scriptcmp=3/0
scripts=14/1441/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/31
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_84]
type=4
buttontype=0
clientcode=0
x=216
y=199
width=97
height=34
trans=0
scriptcmp=3/0
scripts=14/1442/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Normal Compost
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_85]
type=4
buttontype=0
clientcode=0
x=216
y=232
width=80
height=32
trans=0
scriptcmp=3/0
scripts=14/1442/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/255
activetext=
colour=0x870000
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_86]
type=4
buttontype=0
clientcode=0
x=312
y=199
width=114
height=34
trans=0
scriptcmp=3/0
scripts=14/1443/0
halign=0
valign=2
lineheight=0
font=495
shadowed=1
text=Super Compost
activetext=
colour=0x870000
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_87]
type=4
buttontype=0
clientcode=0
x=312
y=232
width=80
height=32
trans=0
scriptcmp=3/0
scripts=14/1443/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/255
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_88]
type=5
buttontype=0
clientcode=0
x=401
y=41
width=26
height=23
overlayer=90
trans=0
graphic=535
activegraphic=-1

[com_89]
type=5
buttontype=3
clientcode=0
x=4
y=6
width=26
height=23
layer=com_90
trans=0
graphic=536
activegraphic=-1

[com_90]
type=0
buttontype=0
clientcode=0
x=397
y=35
width=32
height=32
trans=0
scrollheight=0
hide=1
