// interface 126

[com_0]
type=2
buttontype=0
clientcode=0
x=20
y=24
width=2
height=3
trans=0
eventcode=0x800000
marginx=60
marginy=16
iop1=Store
targetverb=
targetbase=

[com_1]
type=2
buttontype=0
clientcode=0
x=20
y=168
width=2
height=2
trans=0
eventcode=0x7800000
marginx=60
marginy=16
iop1=Store 1
iop2=Store 5
iop3=Store All
iop4=Store X
targetverb=
targetbase=

[com_2]
type=4
buttontype=0
clientcode=0
x=4
y=8
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5341/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Rake
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=4
y=24
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5341/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=96
y=8
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5343/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Dibber
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=96
y=24
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5343/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=4
y=56
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/952/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Spade
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=4
y=72
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/952/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=96
y=56
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5329/4/149/0/7409/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Secateurs
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=96
y=72
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5329/4/149/0/7409/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=4
y=104
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5331/4/149/0/5333/4/149/0/5334/4/149/0/5335/4/149/0/5336/4/149/0/5337/4/149/0/5338/4/149/0/5339/4/149/0/5340/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Watering Can
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=4
y=120
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5331/4/149/0/5333/4/149/0/5334/4/149/0/5335/4/149/0/5336/4/149/0/5337/4/149/0/5338/4/149/0/5339/4/149/0/5340/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd750
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=96
y=104
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5325/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Trowel
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=96
y=120
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/5325/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=4
y=152
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/1925/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Buckets
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=4
y=168
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/1925/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=96
y=152
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/6032/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Compost
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=96
y=168
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/6032/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=4
y=200
width=90
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/6034/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Super Compost
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=4
y=216
width=17
height=14
trans=0
scriptcmp=3/0
scripts=4/149/0/6034/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x872300
colour2=0x7dd764
colourover=0x000000
colour2over=0x000000
