// interface 128

[com_0]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/842/0
model=com_i8398
activemodel=com_i8397
zoom=1200
xan=350
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/842/0
model=com_i8400
activemodel=com_i8399
zoom=1200
xan=350
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/843/0
model=com_i8402
activemodel=com_i8401
zoom=1200
xan=350
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/843/0
model=com_i8404
activemodel=com_i8403
zoom=1200
xan=350
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/844/0
model=com_i8406
activemodel=com_i8405
zoom=1200
xan=350
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/844/0
model=com_i8408
activemodel=com_i8407
zoom=1200
xan=350
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/845/0
model=com_i8410
activemodel=com_i8409
zoom=1200
xan=350
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/845/0
model=com_i8412
activemodel=com_i8411
zoom=1200
xan=350
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/846/0
model=com_i8414
activemodel=com_i8413
zoom=1200
xan=350
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/846/0
model=com_i8416
activemodel=com_i8415
zoom=1200
xan=350
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/847/0
model=com_i8418
activemodel=com_i8417
zoom=1200
xan=350
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/847/0
model=com_i8420
activemodel=com_i8419
zoom=1200
xan=350
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/848/0
model=com_i8422
activemodel=com_i8421
zoom=1200
xan=350
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/848/0
model=com_i8424
activemodel=com_i8423
zoom=1200
xan=350
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/849/0
model=com_i8426
activemodel=com_i8425
zoom=1200
xan=350
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/849/0
model=com_i8428
activemodel=com_i8427
zoom=1200
xan=350
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
model=com_i8445
activemodel=-1
zoom=1200
xan=350
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
model=com_i8446
activemodel=-1
zoom=1200
xan=350
yan=0

[com_18]
type=0
buttontype=0
clientcode=0
x=142
y=123
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_19]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_18
trans=0
scriptcmp=1/2
scripts=14/842/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_20]
type=0
buttontype=0
clientcode=0
x=190
y=89
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_21]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_20
trans=0
scriptcmp=1/2
scripts=14/843/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_22]
type=0
buttontype=0
clientcode=0
x=184
y=162
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_22
trans=0
scriptcmp=1/2
scripts=14/844/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_24]
type=0
buttontype=0
clientcode=0
x=266
y=56
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_25]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_24
trans=0
scriptcmp=1/2
scripts=14/845/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_26]
type=0
buttontype=0
clientcode=0
x=268
y=90
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_27]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_26
trans=0
scriptcmp=1/2
scripts=14/846/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_28]
type=0
buttontype=0
clientcode=0
x=227
y=203
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_29]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_28
trans=0
scriptcmp=1/2
scripts=14/847/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_30]
type=0
buttontype=0
clientcode=0
x=269
y=162
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_31]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_30
trans=0
scriptcmp=1/2
scripts=14/848/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_32]
type=0
buttontype=0
clientcode=0
x=314
y=203
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_33]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_32
trans=0
scriptcmp=1/2
scripts=14/849/0
model=com_i8429
activemodel=com_i8430
zoom=1200
xan=350
yan=0

[com_34]
type=6
buttontype=1
clientcode=0
x=142
y=123
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_35]
type=6
buttontype=1
clientcode=0
x=190
y=89
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_36]
type=6
buttontype=1
clientcode=0
x=184
y=162
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_37]
type=6
buttontype=1
clientcode=0
x=266
y=56
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_38]
type=6
buttontype=1
clientcode=0
x=268
y=90
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_39]
type=6
buttontype=1
clientcode=0
x=227
y=203
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_40]
type=6
buttontype=1
clientcode=0
x=269
y=162
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_41]
type=6
buttontype=1
clientcode=0
x=314
y=203
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_42]
type=6
buttontype=0
clientcode=0
x=119
y=24
width=32
height=32
trans=0
model=com_i8429
activemodel=-1
zoom=1200
xan=350
yan=0

[com_43]
type=6
buttontype=0
clientcode=0
x=119
y=55
width=32
height=32
trans=0
model=com_i8430
activemodel=-1
zoom=1200
xan=350
yan=0

[com_44]
type=4
buttontype=0
clientcode=0
x=45
y=26
width=24
height=14
trans=0
scripts=14/861/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=x%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=45
y=56
width=24
height=14
trans=0
scripts=14/862/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=x%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=5
buttontype=0
clientcode=0
x=437
y=41
width=23
height=23
overlayer=48
trans=0
graphic=539
activegraphic=-1

[com_47]
type=5
buttontype=1
clientcode=0
x=4
y=4
width=23
height=23
layer=com_48
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_48]
type=0
buttontype=0
clientcode=0
x=433
y=37
width=32
height=32
trans=0
scrollheight=0
hide=1
