// interface 129

[com_0]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/842/0
model=com_i8448
activemodel=com_i8447
zoom=1200
xan=350
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/842/0
model=com_i8450
activemodel=com_i8449
zoom=1200
xan=350
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/843/0
model=com_i8452
activemodel=com_i8451
zoom=1200
xan=350
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/843/0
model=com_i8454
activemodel=com_i8453
zoom=1200
xan=350
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/844/0
model=com_i8456
activemodel=com_i8455
zoom=1200
xan=350
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/844/0
model=com_i8458
activemodel=com_i8457
zoom=1200
xan=350
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/845/0
model=com_i8460
activemodel=com_i8459
zoom=1200
xan=350
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/845/0
model=com_i8462
activemodel=com_i8461
zoom=1200
xan=350
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/846/0
model=com_i8464
activemodel=com_i8463
zoom=1200
xan=350
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/846/0
model=com_i8466
activemodel=com_i8465
zoom=1200
xan=350
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/847/0
model=com_i8468
activemodel=com_i8467
zoom=1200
xan=350
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/847/0
model=com_i8470
activemodel=com_i8469
zoom=1200
xan=350
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/848/0
model=com_i8472
activemodel=com_i8471
zoom=1200
xan=350
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/848/0
model=com_i8474
activemodel=com_i8473
zoom=1200
xan=350
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/849/0
model=com_i8476
activemodel=com_i8475
zoom=1200
xan=350
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/849/0
model=com_i8478
activemodel=com_i8477
zoom=1200
xan=350
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/850/0
model=com_i8480
activemodel=com_i8479
zoom=1200
xan=350
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/850/0
model=com_i8482
activemodel=com_i8481
zoom=1200
xan=350
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/851/0
model=com_i8484
activemodel=com_i8483
zoom=1200
xan=350
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/851/0
model=com_i8486
activemodel=com_i8485
zoom=1200
xan=350
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/852/0
model=com_i8488
activemodel=com_i8487
zoom=1200
xan=350
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/852/0
model=com_i8490
activemodel=com_i8489
zoom=1200
xan=350
yan=0

[com_22]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/853/0
model=com_i8492
activemodel=com_i8491
zoom=1200
xan=350
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/853/0
model=com_i8494
activemodel=com_i8493
zoom=1200
xan=350
yan=0

[com_24]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
model=com_i8519
activemodel=-1
zoom=1200
xan=350
yan=0

[com_25]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
model=com_i8520
activemodel=-1
zoom=1200
xan=350
yan=0

[com_26]
type=0
buttontype=0
clientcode=0
x=119
y=125
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_27]
type=6
buttontype=0
clientcode=0
x=129
y=5
width=32
height=32
layer=com_26
trans=0
scriptcmp=1/2
scripts=14/842/0
model=com_i8495
activemodel=com_i8496
zoom=1200
xan=350
yan=0

[com_28]
type=0
buttontype=0
clientcode=0
x=190
y=89
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_29]
type=6
buttontype=0
clientcode=0
x=58
y=41
width=32
height=32
layer=com_28
trans=0
scriptcmp=1/2
scripts=14/843/0
model=com_i8497
activemodel=com_i8498
zoom=1200
xan=350
yan=0

[com_30]
type=0
buttontype=0
clientcode=0
x=184
y=162
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_31]
type=6
buttontype=0
clientcode=0
x=64
y=-32
width=32
height=32
layer=com_30
trans=0
scriptcmp=1/2
scripts=14/844/0
model=com_i8499
activemodel=com_i8500
zoom=1200
xan=350
yan=0

[com_32]
type=0
buttontype=0
clientcode=0
x=266
y=56
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_33]
type=6
buttontype=0
clientcode=0
x=-18
y=74
width=32
height=32
layer=com_32
trans=0
scriptcmp=1/2
scripts=14/845/0
model=com_i8501
activemodel=com_i8502
zoom=1200
xan=350
yan=0

[com_34]
type=0
buttontype=0
clientcode=0
x=268
y=90
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_35]
type=6
buttontype=0
clientcode=0
x=-20
y=40
width=32
height=32
layer=com_34
trans=0
scriptcmp=1/2
scripts=14/846/0
model=com_i8503
activemodel=com_i8504
zoom=1200
xan=350
yan=0

[com_36]
type=0
buttontype=0
clientcode=0
x=227
y=203
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_37]
type=6
buttontype=0
clientcode=0
x=21
y=-73
width=32
height=32
layer=com_36
trans=0
scriptcmp=1/2
scripts=14/847/0
model=com_i8505
activemodel=com_i8506
zoom=1200
xan=350
yan=0

[com_38]
type=0
buttontype=0
clientcode=0
x=269
y=162
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_39]
type=6
buttontype=0
clientcode=0
x=-21
y=-32
width=32
height=32
layer=com_38
trans=0
scriptcmp=1/2
scripts=14/848/0
model=com_i8507
activemodel=com_i8508
zoom=1200
xan=350
yan=0

[com_40]
type=0
buttontype=0
clientcode=0
x=241
y=246
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_41]
type=6
buttontype=0
clientcode=0
x=7
y=-116
width=32
height=32
layer=com_40
trans=0
scriptcmp=1/2
scripts=14/849/0
model=com_i8509
activemodel=com_i8510
zoom=1200
xan=350
yan=0

[com_42]
type=0
buttontype=0
clientcode=0
x=280
y=54
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_43]
type=6
buttontype=0
clientcode=0
x=-32
y=76
width=32
height=32
layer=com_42
trans=0
scriptcmp=1/2
scripts=14/850/0
model=com_i8511
activemodel=com_i8512
zoom=1200
xan=350
yan=0

[com_44]
type=0
buttontype=0
clientcode=0
x=281
y=89
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_45]
type=6
buttontype=0
clientcode=0
x=-33
y=41
width=32
height=32
layer=com_44
trans=0
scriptcmp=1/2
scripts=14/851/0
model=com_i8513
activemodel=com_i8514
zoom=1200
xan=350
yan=0

[com_46]
type=0
buttontype=0
clientcode=0
x=287
y=202
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_47]
type=6
buttontype=0
clientcode=0
x=-39
y=-72
width=32
height=32
layer=com_46
trans=0
scriptcmp=1/2
scripts=14/852/0
model=com_i8515
activemodel=com_i8516
zoom=1200
xan=350
yan=0

[com_48]
type=0
buttontype=0
clientcode=0
x=324
y=88
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_49]
type=6
buttontype=0
clientcode=0
x=-76
y=42
width=32
height=32
layer=com_48
trans=0
scriptcmp=1/2
scripts=14/853/0
model=com_i8517
activemodel=com_i8518
zoom=1200
xan=350
yan=0

[com_50]
type=6
buttontype=1
clientcode=0
x=119
y=125
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_51]
type=6
buttontype=1
clientcode=0
x=163
y=89
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_52]
type=6
buttontype=1
clientcode=0
x=156
y=163
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_53]
type=6
buttontype=1
clientcode=0
x=205
y=57
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_54]
type=6
buttontype=1
clientcode=0
x=203
y=89
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_55]
type=6
buttontype=1
clientcode=0
x=196
y=206
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_56]
type=6
buttontype=1
clientcode=0
x=242
y=30
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_57]
type=6
buttontype=1
clientcode=0
x=241
y=246
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_58]
type=6
buttontype=1
clientcode=0
x=280
y=57
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_59]
type=6
buttontype=1
clientcode=0
x=281
y=89
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_60]
type=6
buttontype=1
clientcode=0
x=287
y=202
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_61]
type=6
buttontype=1
clientcode=0
x=324
y=90
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_62]
type=6
buttontype=0
clientcode=0
x=119
y=24
width=32
height=32
trans=0
model=com_i8429
activemodel=-1
zoom=1200
xan=350
yan=0

[com_63]
type=6
buttontype=0
clientcode=0
x=119
y=55
width=32
height=32
trans=0
model=com_i8430
activemodel=-1
zoom=1200
xan=350
yan=0

[com_64]
type=4
buttontype=0
clientcode=0
x=45
y=26
width=24
height=14
trans=0
scripts=14/861/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=x%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_65]
type=4
buttontype=0
clientcode=0
x=45
y=56
width=24
height=14
trans=0
scripts=14/862/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=x%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_66]
type=5
buttontype=0
clientcode=0
x=460
y=18
width=23
height=23
overlayer=68
trans=0
graphic=539
activegraphic=-1

[com_67]
type=5
buttontype=1
clientcode=0
x=3
y=4
width=23
height=23
layer=com_68
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_68]
type=0
buttontype=0
clientcode=0
x=457
y=14
width=32
height=32
trans=0
scrollheight=0
hide=1
