// interface 130

[com_0]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/842/0
model=com_i8522
activemodel=com_i8521
zoom=1200
xan=350
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/842/0
model=com_i8524
activemodel=com_i8523
zoom=1200
xan=350
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/843/0
model=com_i8526
activemodel=com_i8525
zoom=1200
xan=350
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/843/0
model=com_i8528
activemodel=com_i8527
zoom=1200
xan=350
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/844/0
model=com_i8530
activemodel=com_i8529
zoom=1200
xan=350
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/844/0
model=com_i8532
activemodel=com_i8531
zoom=1200
xan=350
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/845/0
model=com_i8534
activemodel=com_i8533
zoom=1200
xan=350
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/845/0
model=com_i8536
activemodel=com_i8535
zoom=1200
xan=350
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/846/0
model=com_i8538
activemodel=com_i8537
zoom=1200
xan=350
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/846/0
model=com_i8540
activemodel=com_i8539
zoom=1200
xan=350
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/847/0
model=com_i8542
activemodel=com_i8541
zoom=1200
xan=350
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/847/0
model=com_i8544
activemodel=com_i8543
zoom=1200
xan=350
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/848/0
model=com_i8546
activemodel=com_i8545
zoom=1200
xan=350
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/848/0
model=com_i8548
activemodel=com_i8547
zoom=1200
xan=350
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/849/0
model=com_i8550
activemodel=com_i8549
zoom=1200
xan=350
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/849/0
model=com_i8552
activemodel=com_i8551
zoom=1200
xan=350
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/850/0
model=com_i8554
activemodel=com_i8553
zoom=1200
xan=350
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/850/0
model=com_i8556
activemodel=com_i8555
zoom=1200
xan=350
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/851/0
model=com_i8558
activemodel=com_i8557
zoom=1200
xan=350
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/851/0
model=com_i8560
activemodel=com_i8559
zoom=1200
xan=350
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/852/0
model=com_i8562
activemodel=com_i8561
zoom=1200
xan=350
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/852/0
model=com_i8564
activemodel=com_i8563
zoom=1200
xan=350
yan=0

[com_22]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/853/0
model=com_i8566
activemodel=com_i8565
zoom=1200
xan=350
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/853/0
model=com_i8568
activemodel=com_i8567
zoom=1200
xan=350
yan=0

[com_24]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/854/0
model=com_i8570
activemodel=com_i8569
zoom=1200
xan=350
yan=0

[com_25]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/854/0
model=com_i8572
activemodel=com_i8571
zoom=1200
xan=350
yan=0

[com_26]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/855/0
model=com_i8574
activemodel=com_i8573
zoom=1200
xan=350
yan=0

[com_27]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/855/0
model=com_i8576
activemodel=com_i8575
zoom=1200
xan=350
yan=0

[com_28]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/856/0
model=com_i8578
activemodel=com_i8577
zoom=1200
xan=350
yan=0

[com_29]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/856/0
model=com_i8580
activemodel=com_i8579
zoom=1200
xan=350
yan=0

[com_30]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/857/0
model=com_i8582
activemodel=com_i8581
zoom=1200
xan=350
yan=0

[com_31]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/857/0
model=com_i8584
activemodel=com_i8583
zoom=1200
xan=350
yan=0

[com_32]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/858/0
model=com_i8586
activemodel=com_i8585
zoom=1200
xan=350
yan=0

[com_33]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/858/0
model=com_i8588
activemodel=com_i8587
zoom=1200
xan=350
yan=0

[com_34]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/859/0
model=com_i8590
activemodel=com_i8589
zoom=1200
xan=350
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/859/0
model=com_i8592
activemodel=com_i8591
zoom=1200
xan=350
yan=0

[com_36]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/860/0
model=com_i8594
activemodel=com_i8593
zoom=1200
xan=350
yan=0

[com_37]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/860/0
model=com_i8596
activemodel=com_i8595
zoom=1200
xan=350
yan=0

[com_38]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
model=com_i8635
activemodel=-1
zoom=1200
xan=350
yan=0

[com_39]
type=6
buttontype=0
clientcode=0
x=248
y=130
width=32
height=32
trans=0
model=com_i8636
activemodel=-1
zoom=1200
xan=350
yan=0

[com_40]
type=0
buttontype=0
clientcode=0
x=142
y=123
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_41]
type=6
buttontype=0
clientcode=0
x=106
y=7
width=32
height=32
layer=com_40
trans=0
scriptcmp=1/2
scripts=14/842/0
model=com_i8597
activemodel=com_i8598
zoom=1200
xan=350
yan=0

[com_42]
type=0
buttontype=0
clientcode=0
x=190
y=89
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_43]
type=6
buttontype=0
clientcode=0
x=58
y=41
width=32
height=32
layer=com_42
trans=0
scriptcmp=1/2
scripts=14/843/0
model=com_i8599
activemodel=com_i8600
zoom=1200
xan=350
yan=0

[com_44]
type=0
buttontype=0
clientcode=0
x=184
y=162
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_45]
type=6
buttontype=0
clientcode=0
x=64
y=-32
width=32
height=32
layer=com_44
trans=0
scriptcmp=1/2
scripts=14/844/0
model=com_i8601
activemodel=com_i8602
zoom=1200
xan=350
yan=0

[com_46]
type=0
buttontype=0
clientcode=0
x=266
y=56
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_47]
type=6
buttontype=0
clientcode=0
x=-18
y=74
width=32
height=32
layer=com_46
trans=0
scriptcmp=1/2
scripts=14/845/0
model=com_i8603
activemodel=com_i8604
zoom=1200
xan=350
yan=0

[com_48]
type=0
buttontype=0
clientcode=0
x=165
y=165
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_49]
type=6
buttontype=0
clientcode=0
x=83
y=-35
width=32
height=32
layer=com_48
trans=0
scriptcmp=1/2
scripts=14/846/0
model=com_i8605
activemodel=com_i8606
zoom=1200
xan=350
yan=0

[com_50]
type=0
buttontype=0
clientcode=0
x=227
y=203
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_51]
type=6
buttontype=0
clientcode=0
x=21
y=-73
width=32
height=32
layer=com_50
trans=0
scriptcmp=1/2
scripts=14/847/0
model=com_i8607
activemodel=com_i8608
zoom=1200
xan=350
yan=0

[com_52]
type=0
buttontype=0
clientcode=0
x=202
y=201
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_53]
type=6
buttontype=0
clientcode=0
x=46
y=-71
width=32
height=32
layer=com_52
trans=0
scriptcmp=1/2
scripts=14/848/0
model=com_i8609
activemodel=com_i8610
zoom=1200
xan=350
yan=0

[com_54]
type=0
buttontype=0
clientcode=0
x=314
y=203
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_55]
type=6
buttontype=0
clientcode=0
x=-66
y=-73
width=32
height=32
layer=com_54
trans=0
scriptcmp=1/2
scripts=14/849/0
model=com_i8611
activemodel=com_i8612
zoom=1200
xan=350
yan=0

[com_56]
type=0
buttontype=0
clientcode=0
x=314
y=218
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_57]
type=6
buttontype=0
clientcode=0
x=-66
y=-88
width=32
height=32
layer=com_56
trans=0
scriptcmp=1/2
scripts=14/850/0
model=com_i8613
activemodel=com_i8614
zoom=1200
xan=350
yan=0

[com_58]
type=0
buttontype=0
clientcode=0
x=314
y=233
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_59]
type=6
buttontype=0
clientcode=0
x=-66
y=-103
width=32
height=32
layer=com_58
trans=0
scriptcmp=1/2
scripts=14/851/0
model=com_i8615
activemodel=com_i8616
zoom=1200
xan=350
yan=0

[com_60]
type=0
buttontype=0
clientcode=0
x=314
y=248
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_61]
type=6
buttontype=0
clientcode=0
x=-66
y=-118
width=32
height=32
layer=com_60
trans=0
scriptcmp=1/2
scripts=14/852/0
model=com_i8617
activemodel=com_i8618
zoom=1200
xan=350
yan=0

[com_62]
type=0
buttontype=0
clientcode=0
x=314
y=263
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_63]
type=6
buttontype=0
clientcode=0
x=-66
y=-133
width=32
height=32
layer=com_62
trans=0
scriptcmp=1/2
scripts=14/853/0
model=com_i8619
activemodel=com_i8620
zoom=1200
xan=350
yan=0

[com_64]
type=0
buttontype=0
clientcode=0
x=314
y=278
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_65]
type=6
buttontype=0
clientcode=0
x=-66
y=-148
width=32
height=32
layer=com_64
trans=0
scriptcmp=1/2
scripts=14/854/0
model=com_i8621
activemodel=com_i8622
zoom=1200
xan=350
yan=0

[com_66]
type=0
buttontype=0
clientcode=0
x=314
y=293
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_67]
type=6
buttontype=0
clientcode=0
x=-66
y=-163
width=32
height=32
layer=com_66
trans=0
scriptcmp=1/2
scripts=14/855/0
model=com_i8623
activemodel=com_i8624
zoom=1200
xan=350
yan=0

[com_68]
type=0
buttontype=0
clientcode=0
x=314
y=308
width=40
height=40
trans=0
scrollheight=0
hide=1

[com_69]
type=6
buttontype=0
clientcode=0
x=-66
y=-178
width=32
height=32
layer=com_68
trans=0
scriptcmp=1/2
scripts=14/856/0
model=com_i8625
activemodel=com_i8626
zoom=1200
xan=350
yan=0

[com_70]
type=0
buttontype=0
clientcode=0
x=347
y=230
width=32
height=50
trans=0
scrollheight=0
hide=1

[com_71]
type=6
buttontype=0
clientcode=0
x=-99
y=-100
width=32
height=32
layer=com_70
trans=0
scriptcmp=1/2
scripts=14/857/0
model=com_i8627
activemodel=com_i8628
zoom=1200
xan=350
yan=0

[com_72]
type=0
buttontype=0
clientcode=0
x=280
y=132
width=120
height=32
trans=0
scrollheight=0
hide=1

[com_73]
type=6
buttontype=0
clientcode=0
x=-32
y=-2
width=32
height=32
layer=com_72
trans=0
scriptcmp=1/2
scripts=14/858/0
model=com_i8629
activemodel=com_i8630
zoom=1200
xan=350
yan=0

[com_74]
type=0
buttontype=0
clientcode=0
x=280
y=147
width=130
height=45
trans=0
scrollheight=0
hide=1

[com_75]
type=6
buttontype=0
clientcode=0
x=-32
y=-17
width=32
height=32
layer=com_74
trans=0
scriptcmp=1/2
scripts=14/859/0
model=com_i8631
activemodel=com_i8632
zoom=1200
xan=350
yan=0

[com_76]
type=0
buttontype=0
clientcode=0
x=280
y=162
width=180
height=80
trans=0
scrollheight=0
hide=1

[com_77]
type=6
buttontype=0
clientcode=0
x=-32
y=-32
width=32
height=32
layer=com_76
trans=0
scriptcmp=1/2
scripts=14/860/0
model=com_i8633
activemodel=com_i8634
zoom=1200
xan=350
yan=0

[com_78]
type=6
buttontype=1
clientcode=0
x=83
y=124
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_79]
type=6
buttontype=1
clientcode=0
x=130
y=89
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_80]
type=6
buttontype=1
clientcode=0
x=121
y=162
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_81]
type=6
buttontype=1
clientcode=0
x=172
y=57
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_82]
type=6
buttontype=1
clientcode=0
x=165
y=165
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_83]
type=6
buttontype=1
clientcode=0
x=210
y=59
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_84]
type=6
buttontype=1
clientcode=0
x=204
y=204
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_85]
type=6
buttontype=1
clientcode=0
x=249
y=32
width=27
height=24
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_86]
type=6
buttontype=1
clientcode=0
x=249
y=162
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_87]
type=6
buttontype=1
clientcode=0
x=248
y=203
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_88]
type=6
buttontype=1
clientcode=0
x=290
y=61
width=28
height=28
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_89]
type=6
buttontype=1
clientcode=0
x=289
y=124
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_90]
type=6
buttontype=1
clientcode=0
x=294
y=203
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_91]
type=6
buttontype=1
clientcode=0
x=324
y=32
width=26
height=26
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_92]
type=6
buttontype=1
clientcode=0
x=330
y=94
width=26
height=26
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_93]
type=6
buttontype=1
clientcode=0
x=344
y=251
width=28
height=28
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_94]
type=6
buttontype=1
clientcode=0
x=365
y=62
width=27
height=27
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_95]
type=6
buttontype=1
clientcode=0
x=377
y=165
width=29
height=29
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_96]
type=6
buttontype=1
clientcode=0
x=383
y=203
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Set Junction

[com_97]
type=6
buttontype=0
clientcode=0
x=119
y=24
width=32
height=32
trans=0
model=com_i8429
activemodel=-1
zoom=1200
xan=350
yan=0

[com_98]
type=6
buttontype=0
clientcode=0
x=119
y=55
width=32
height=32
trans=0
model=com_i8430
activemodel=-1
zoom=1200
xan=350
yan=0

[com_99]
type=4
buttontype=0
clientcode=0
x=45
y=56
width=24
height=14
trans=0
scripts=14/862/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=x%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=45
y=26
width=24
height=14
trans=0
scripts=14/861/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=x%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_101]
type=5
buttontype=0
clientcode=0
x=460
y=20
width=23
height=23
overlayer=103
trans=0
graphic=539
activegraphic=-1

[com_102]
type=5
buttontype=1
clientcode=0
x=4
y=5
width=23
height=23
layer=com_103
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_103]
type=0
buttontype=0
clientcode=0
x=456
y=15
width=32
height=32
trans=0
scrollheight=0
hide=1
