// interface 131

[com_0]
fmt=v3
type=6
clientcode=0
x=9
y=9
width=50
height=50
hide=0
model=-1
modelxof=0
modelyof=0
xan=40
yan=1882
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=96
y=9
width=380
height=69
hide=0
font=497
text=Line1
lineheight=0
halign=1
valign=1
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=33
y=33
width=50
height=50
hide=0
model=-1
modelxof=0
modelyof=0
xan=40
yan=1882
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=4
clientcode=0
x=96
y=80
width=380
height=17
hide=0
font=497
text=Click here to continue
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x0000ff
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:255
