// interface 132

[com_0]
type=6
buttontype=0
clientcode=0
x=212
y=75
width=55
height=81
trans=0
model=com_i7120
activemodel=-1
zoom=671
xan=510
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=61
y=68
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj1
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=61
y=84
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj2
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=61
y=100
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj3
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=61
y=116
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj4
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=61
y=132
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj5
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=61
y=148
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj6
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=61
y=164
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj7
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=61
y=180
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj8
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=61
y=196
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj9
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=61
y=212
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj10
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=61
y=228
width=331
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=lj11
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=0
buttontype=0
clientcode=0
x=58
y=63
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_13]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_12
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_12
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=0
buttontype=0
clientcode=0
x=58
y=79
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_16]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=0
buttontype=0
clientcode=0
x=58
y=95
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_19]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_18
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_18
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=0
buttontype=0
clientcode=0
x=58
y=111
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_22]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_21
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_21
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=0
buttontype=0
clientcode=0
x=58
y=127
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_25]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_24
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_24
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=0
buttontype=0
clientcode=0
x=58
y=143
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_28]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_27
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_27
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=0
buttontype=0
clientcode=0
x=58
y=159
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_31]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_30
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_30
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=0
buttontype=0
clientcode=0
x=58
y=175
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_34]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_33
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_33
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=0
buttontype=0
clientcode=0
x=58
y=191
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_37]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_36
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_36
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=0
buttontype=0
clientcode=0
x=58
y=207
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_40]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_39
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_39
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_42]
type=0
buttontype=0
clientcode=0
x=58
y=223
width=340
height=23
trans=0
scrollheight=0
hide=0

[com_43]
type=4
buttontype=0
clientcode=0
x=12
y=5
width=18
height=14
layer=com_42
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=>>>
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_44]
type=4
buttontype=0
clientcode=0
x=306
y=5
width=18
height=14
layer=com_42
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=<<<
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=60
y=27
width=299
height=36
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Items I need to get for King Roald's garden:
activetext=
colour=0xd7a573
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=5
buttontype=0
clientcode=0
x=362
y=30
width=23
height=23
overlayer=48
trans=0
graphic=537
activegraphic=-1

[com_47]
type=5
buttontype=3
clientcode=0
x=5
y=5
width=23
height=23
layer=com_48
trans=0
graphic=538
activegraphic=-1

[com_48]
type=0
buttontype=0
clientcode=0
x=357
y=25
width=32
height=32
trans=0
scrollheight=0
hide=1
