// interface 134

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=520
height=480
trans=196
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=241
y=146
width=35
height=35
trans=0
model=com_i15271
activemodel=-1
zoom=511
xan=523
yan=1033

[com_2]
type=4
buttontype=0
clientcode=0
x=76
y=70
width=349
height=36
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Choose the stat you wish to be advanced!
activetext=
colour=0x999999
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=5
buttontype=1
clientcode=0
x=182
y=126
width=25
height=25
trans=0
scriptcmp=1/1
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Attack

[com_4]
type=5
buttontype=1
clientcode=0
x=214
y=126
width=25
height=25
trans=0
scriptcmp=1/2
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Strength

[com_5]
type=5
buttontype=1
clientcode=0
x=246
y=126
width=25
height=25
trans=0
scriptcmp=1/3
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Ranged

[com_6]
type=5
buttontype=1
clientcode=0
x=278
y=126
width=25
height=25
trans=0
scriptcmp=1/4
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Magic

[com_7]
type=5
buttontype=1
clientcode=0
x=310
y=126
width=25
height=25
trans=0
scriptcmp=1/5
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Defence

[com_8]
type=5
buttontype=1
clientcode=0
x=167
y=156
width=25
height=25
trans=0
scriptcmp=1/6
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Hitpoints

[com_9]
type=5
buttontype=1
clientcode=0
x=199
y=156
width=25
height=25
trans=0
scriptcmp=1/7
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Prayer

[com_10]
type=5
buttontype=1
clientcode=0
x=231
y=156
width=25
height=25
trans=0
scriptcmp=1/8
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Agility

[com_11]
type=5
buttontype=1
clientcode=0
x=263
y=156
width=25
height=25
trans=0
scriptcmp=1/9
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Herblore

[com_12]
type=5
buttontype=1
clientcode=0
x=295
y=156
width=25
height=25
trans=0
scriptcmp=1/10
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Thieving

[com_13]
type=5
buttontype=1
clientcode=0
x=327
y=156
width=25
height=25
trans=0
scriptcmp=1/11
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Crafting

[com_14]
type=5
buttontype=1
clientcode=0
x=166
y=184
width=25
height=25
trans=0
scriptcmp=1/12
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Runecraft

[com_15]
type=5
buttontype=1
clientcode=0
x=262
y=184
width=25
height=25
trans=0
scriptcmp=1/13
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Mining

[com_16]
type=5
buttontype=1
clientcode=0
x=294
y=184
width=25
height=25
trans=0
scriptcmp=1/14
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Smithing

[com_17]
type=5
buttontype=1
clientcode=0
x=326
y=184
width=25
height=25
trans=0
scriptcmp=1/15
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Fishing

[com_18]
type=5
buttontype=1
clientcode=0
x=166
y=212
width=25
height=25
trans=0
scriptcmp=1/16
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Cooking

[com_19]
type=5
buttontype=1
clientcode=0
x=198
y=212
width=25
height=25
trans=0
scriptcmp=1/17
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Firemaking

[com_20]
type=5
buttontype=1
clientcode=0
x=230
y=212
width=25
height=25
trans=0
scriptcmp=1/18
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Woodcutting

[com_21]
type=5
buttontype=1
clientcode=0
x=262
y=212
width=25
height=25
trans=0
scriptcmp=1/19
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Fletching

[com_22]
type=5
buttontype=1
clientcode=0
x=198
y=184
width=25
height=25
trans=0
scriptcmp=1/20
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Slayer

[com_23]
type=5
buttontype=1
clientcode=0
x=230
y=184
width=25
height=25
trans=0
scriptcmp=1/21
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Farming

[com_24]
type=5
buttontype=1
clientcode=0
x=294
y=212
width=25
height=25
trans=0
scriptcmp=1/22
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Construction

[com_25]
type=5
buttontype=1
clientcode=0
x=326
y=212
width=25
height=25
trans=0
scriptcmp=1/23
scripts=5/261/0
graphic=195
activegraphic=196
buttontext=Advance Hunter

[com_26]
type=4
buttontype=1
clientcode=0
x=210
y=266
width=93
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Confirm
activetext=
colour=0x666666
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=

[com_27]
type=5
buttontype=0
clientcode=0
x=182
y=126
width=25
height=25
trans=0
graphic=197
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=214
y=126
width=25
height=25
trans=0
graphic=198
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=246
y=126
width=25
height=25
trans=0
graphic=200
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=278
y=126
width=25
height=25
trans=0
graphic=202
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=310
y=126
width=25
height=25
trans=0
graphic=199
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=167
y=156
width=25
height=25
trans=0
graphic=203
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=199
y=156
width=25
height=25
trans=0
graphic=201
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=231
y=156
width=25
height=25
trans=0
graphic=204
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=263
y=156
width=25
height=25
trans=0
graphic=205
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=295
y=156
width=25
height=25
trans=0
graphic=206
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=327
y=156
width=25
height=25
trans=0
graphic=207
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=166
y=184
width=25
height=25
trans=0
graphic=215
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=262
y=184
width=25
height=25
trans=0
graphic=209
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=294
y=184
width=25
height=25
trans=0
graphic=210
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=326
y=184
width=25
height=25
trans=0
graphic=211
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=166
y=212
width=25
height=25
trans=0
graphic=212
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=198
y=212
width=25
height=25
trans=0
graphic=213
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=230
y=212
width=25
height=25
trans=0
graphic=214
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=262
y=212
width=25
height=25
trans=0
graphic=208
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=198
y=184
width=25
height=25
trans=0
graphic=216
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=230
y=184
width=25
height=25
trans=0
graphic=217
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=294
y=212
width=25
height=25
trans=0
graphic=221
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=326
y=212
width=25
height=25
trans=0
graphic=220
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=478
y=20
width=26
height=23
overlayer=52
trans=0
graphic=539
activegraphic=-1

[com_51]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_52
trans=0
graphic=540
activegraphic=-1

[com_52]
type=0
buttontype=0
clientcode=0
x=475
y=15
width=32
height=32
trans=0
scrollheight=0
hide=1
