// interface 136

[com_0]
type=6
buttontype=0
clientcode=0
x=420
y=34
width=32
height=32
trans=0
model=com_i63
activemodel=-1
zoom=796
xan=40
yan=166

[com_1]
type=4
buttontype=0
clientcode=0
x=196
y=8
width=85
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Both
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=196
y=39
width=85
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Argh!
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=34
y=34
width=32
height=32
trans=0
model=com_i63
activemodel=-1
zoom=796
xan=40
yan=1882
