// interface 139

[com_0]
type=3
buttontype=0
clientcode=0
x=397
y=4
width=111
height=60
trans=125
fill=1
colour=0x111111
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=401
y=7
width=103
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Gnomeball
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=401
y=22
width=103
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Score
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=401
y=40
width=103
height=14
trans=0
scripts=5/143/0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=%1
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
