// interface 142

[com_0]
type=3
buttontype=0
clientcode=0
x=1
y=1
width=512
height=334
trans=0
fill=1
colour=0x352d1e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=240
y=375
width=32
height=32
trans=0
model=com_i4515
activemodel=-1
zoom=304
xan=0
yan=1536

[com_2]
type=6
buttontype=0
clientcode=0
x=90
y=153
width=32
height=32
trans=0
model=com_i4514
activemodel=-1
zoom=381
xan=512
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=158
y=29
width=32
height=32
trans=0
model=com_i4510
activemodel=-1
zoom=437
xan=512
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=320
y=28
width=32
height=32
trans=0
model=com_i4512
activemodel=-1
zoom=412
xan=512
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=388
y=156
width=32
height=32
trans=0
model=com_i4521
activemodel=-1
zoom=380
xan=512
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=319
y=272
width=32
height=32
trans=0
model=com_i4519
activemodel=-1
zoom=426
xan=489
yan=1986

[com_7]
type=6
buttontype=0
clientcode=0
x=161
y=269
width=32
height=32
trans=0
model=com_i4517
activemodel=-1
zoom=368
xan=512
yan=0

[com_8]
type=5
buttontype=0
clientcode=0
x=464
y=16
width=26
height=23
overlayer=10
trans=0
graphic=539
activegraphic=-1

[com_9]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_10
trans=0
graphic=540
activegraphic=-1

[com_10]
type=0
buttontype=0
clientcode=0
x=461
y=11
width=32
height=32
trans=0
scrollheight=0
hide=1
