// interface 147

[com_0]
type=3
buttontype=0
clientcode=0
x=7
y=11
width=497
height=310
trans=0
fill=1
colour=0x806102
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=3
buttontype=0
clientcode=0
x=13
y=17
width=484
height=298
trans=0
fill=1
colour=0x422502
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=3
buttontype=0
clientcode=0
x=319
y=24
width=168
height=282
trans=0
fill=1
colour=0x543e04
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=78
y=167
width=91
height=94
trans=0
model=com_i6474
activemodel=-1
zoom=328
xan=0
yan=0

[com_4]
type=6
buttontype=5
clientcode=0
x=62
y=130
width=26
height=27
trans=0
model=com_i6477
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_5]
type=6
buttontype=5
clientcode=0
x=93
y=131
width=27
height=25
trans=0
model=com_i6488
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_6]
type=6
buttontype=5
clientcode=0
x=124
y=131
width=26
height=26
trans=0
model=com_i6495
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_7]
type=6
buttontype=5
clientcode=0
x=154
y=131
width=26
height=26
trans=0
model=com_i6496
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_8]
type=6
buttontype=5
clientcode=0
x=186
y=131
width=26
height=26
trans=0
model=com_i6497
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_9]
type=6
buttontype=5
clientcode=0
x=63
y=162
width=26
height=26
trans=0
model=com_i6498
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_10]
type=6
buttontype=5
clientcode=0
x=93
y=162
width=26
height=26
trans=0
model=com_i6499
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_11]
type=6
buttontype=5
clientcode=0
x=123
y=162
width=26
height=26
trans=0
model=com_i6500
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_12]
type=6
buttontype=5
clientcode=0
x=154
y=162
width=26
height=26
trans=0
model=com_i6501
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_13]
type=6
buttontype=5
clientcode=0
x=186
y=162
width=26
height=26
trans=0
model=com_i6478
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_14]
type=6
buttontype=5
clientcode=0
x=63
y=192
width=26
height=26
trans=0
model=com_i6479
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_15]
type=6
buttontype=5
clientcode=0
x=93
y=192
width=26
height=26
trans=0
model=com_i6480
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_16]
type=6
buttontype=5
clientcode=0
x=123
y=192
width=26
height=26
trans=0
model=com_i6481
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_17]
type=6
buttontype=5
clientcode=0
x=154
y=192
width=26
height=26
trans=0
model=com_i6482
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_18]
type=6
buttontype=5
clientcode=0
x=185
y=192
width=26
height=26
trans=0
model=com_i6483
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_19]
type=6
buttontype=5
clientcode=0
x=63
y=222
width=26
height=26
trans=0
model=com_i6484
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_20]
type=6
buttontype=5
clientcode=0
x=93
y=222
width=26
height=26
trans=0
model=com_i6485
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_21]
type=6
buttontype=5
clientcode=0
x=123
y=222
width=26
height=26
trans=0
model=com_i6486
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_22]
type=6
buttontype=5
clientcode=0
x=154
y=222
width=26
height=26
trans=0
model=com_i6487
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_23]
type=6
buttontype=5
clientcode=0
x=186
y=222
width=26
height=26
trans=0
model=com_i6489
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_24]
type=6
buttontype=5
clientcode=0
x=63
y=254
width=26
height=26
trans=0
model=com_i6490
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_25]
type=6
buttontype=5
clientcode=0
x=93
y=254
width=26
height=26
trans=0
model=com_i6491
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_26]
type=6
buttontype=5
clientcode=0
x=124
y=253
width=26
height=26
trans=0
model=com_i6492
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_27]
type=6
buttontype=5
clientcode=0
x=154
y=253
width=26
height=26
trans=0
model=com_i6493
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_28]
type=6
buttontype=5
clientcode=0
x=185
y=254
width=26
height=26
trans=0
model=com_i6494
activemodel=-1
zoom=328
xan=0
yan=0
buttontext=turn tile

[com_29]
type=6
buttontype=1
clientcode=0
x=313
y=145
width=157
height=164
trans=0
model=com_i6476
activemodel=-1
zoom=336
xan=2036
yan=2
buttontext=Reset puzzle

[com_30]
type=6
buttontype=0
clientcode=0
x=343
y=89
width=121
height=58
trans=0
model=com_i6473
activemodel=-1
zoom=1021
xan=2037
yan=1519

[com_31]
type=5
buttontype=0
clientcode=0
x=450
y=34
width=26
height=23
overlayer=33
trans=0
graphic=539
activegraphic=-1

[com_32]
type=5
buttontype=3
clientcode=0
x=3
y=6
width=26
height=23
layer=com_33
trans=0
graphic=540
activegraphic=-1

[com_33]
type=0
buttontype=0
clientcode=0
x=447
y=28
width=32
height=32
trans=0
scrollheight=0
hide=1
