// interface 148

[com_0]
type=5
buttontype=0
clientcode=0
x=2
y=5
width=57
height=13
trans=0
graphic=302
activegraphic=-1

[com_1]
type=6
buttontype=0
clientcode=0
x=56
y=13
width=64
height=64
trans=0
model=-1
activemodel=-1
zoom=100
xan=100
yan=100

[com_2]
type=6
buttontype=0
clientcode=0
x=207
y=13
width=64
height=64
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=360
y=13
width=64
height=64
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_4]
type=4
buttontype=6
clientcode=0
x=38
y=16
width=101
height=80
trans=0
halign=1
valign=2
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_5]
type=4
buttontype=6
clientcode=0
x=189
y=16
width=98
height=79
trans=0
halign=1
valign=2
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_6]
type=4
buttontype=6
clientcode=0
x=342
y=16
width=97
height=80
trans=0
halign=1
valign=2
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_7]
type=4
buttontype=0
clientcode=0
x=8
y=3
width=464
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Select an Option
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=5
buttontype=0
clientcode=0
x=447
y=10
width=26
height=23
overlayer=10
trans=0
graphic=539
activegraphic=-1

[com_9]
type=5
buttontype=3
clientcode=0
x=3
y=6
width=26
height=23
layer=com_10
trans=0
graphic=540
activegraphic=-1

[com_10]
type=0
buttontype=0
clientcode=0
x=444
y=4
width=32
height=32
trans=0
scrollheight=0
hide=1
