// interface 15

[com_0]
type=2
buttontype=0
clientcode=0
x=16
y=8
width=4
height=7
trans=0
eventcode=0x1f800000
marginx=10
marginy=4
iop1=Store 1
iop2=Store 5
iop3=Store 10
iop4=Store All
iop5=Store X
targetverb=
targetbase=
