// interface 151

[com_0]
type=0
buttontype=0
clientcode=0
x=40
y=62
width=450
height=15
trans=0
scrollheight=0
hide=1

[com_1]
type=0
buttontype=0
clientcode=0
x=40
y=77
width=451
height=18
trans=0
scrollheight=0
hide=1

[com_2]
type=0
buttontype=0
clientcode=0
x=40
y=107
width=450
height=18
trans=0
scrollheight=0
hide=1

[com_3]
type=0
buttontype=0
clientcode=0
x=39
y=124
width=450
height=18
trans=0
scrollheight=0
hide=1

[com_4]
type=0
buttontype=0
clientcode=0
x=39
y=142
width=449
height=14
trans=0
scrollheight=0
hide=1

[com_5]
type=0
buttontype=0
clientcode=0
x=38
y=167
width=452
height=15
trans=0
scrollheight=0
hide=1

[com_6]
type=0
buttontype=0
clientcode=0
x=38
y=181
width=453
height=16
trans=0
scrollheight=0
hide=1

[com_7]
type=0
buttontype=0
clientcode=0
x=38
y=196
width=453
height=18
trans=0
scrollheight=0
hide=1

[com_8]
type=0
buttontype=0
clientcode=0
x=39
y=212
width=452
height=16
trans=0
scrollheight=0
hide=1

[com_9]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=451
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Five hundred years have passed since the rule of King Alvis,
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=0
y=1
width=451
height=18
layer=com_1
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=saviour of Keldagrim, victim of his own inventions.
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=450
height=16
layer=com_2
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Founder of the Consortium, the gathering of mining companies
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=0
y=1
width=450
height=17
layer=com_3
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=that were to serve the monarchy, eventually the monarchy came
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=451
height=15
layer=com_4
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=to serve the Consortium.
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=452
height=15
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=By the time of his death, the monarchy was all but abolished.
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=452
height=16
layer=com_6
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=By now, the Kings of Keldagrim are but a distant memory...
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=0
y=1
width=453
height=18
layer=com_7
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=with only the statue of King Alvis to remind the people of the
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=451
height=13
layer=com_8
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=old days.
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
