// interface 152

[com_0]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_1]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_2]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_3]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=400
trans=0
scrollheight=0
hide=1

[com_4]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=400
trans=0
scrollheight=0
hide=1

[com_5]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_6]
type=0
buttontype=0
clientcode=0
x=24
y=24
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_7]
type=4
buttontype=0
clientcode=0
x=184
y=103
width=176
height=21
layer=com_2
trans=0
halign=1
valign=0
lineheight=42
font=646
shadowed=1
text=The Giant<br>Dwarf
activetext=
colour=0x8b1313
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=24
y=17
width=488
height=22
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=646
shadowed=1
text=Keldagrim
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=24
y=252
width=489
height=13
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=645
shadowed=1
text=Grand Capital<br> of the Dwarven realm
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=15
y=0
width=493
height=67
layer=com_1
trans=0
halign=1
valign=0
lineheight=36
font=646
shadowed=1
text=Rise of the<br>Red Axe
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=150
y=259
width=227
height=16
layer=com_1
trans=0
halign=1
valign=0
lineheight=0
font=646
shadowed=1
text=Part 1
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=148
y=8
width=234
height=20
layer=com_3
trans=0
halign=1
valign=0
lineheight=42
font=646
shadowed=1
text=Keldagrim<br>Palace
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=122
y=116
width=285
height=13
layer=com_3
trans=0
halign=1
valign=0
lineheight=23
font=645
shadowed=1
text=Consortium<br>Meeting
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=101
y=282
width=312
height=16
layer=com_4
trans=0
halign=1
valign=0
lineheight=0
font=645
shadowed=1
text=A little while later
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=105
y=-5
width=302
height=16
layer=com_5
trans=0
halign=1
valign=0
lineheight=42
font=646
shadowed=1
text=Rise of the<br>Red Axe
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=171
y=262
width=180
height=18
layer=com_5
trans=0
halign=1
valign=0
lineheight=0
font=646
shadowed=1
text=Part II
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=76
y=98
width=309
height=55
layer=com_6
trans=0
halign=1
valign=1
lineheight=33
font=646
shadowed=1
text=Forgettable Tale<br> of a<br>Drunken Dwarf
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
