// interface 154

[com_0]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=12
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=12
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=12
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=12
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=100
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=188
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=100
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=188
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=276
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=364
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=276
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=364
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=364
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=364
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=364
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=412
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=412
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=412
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=412
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=412
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=-3
y=49
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=-3
y=85
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=-3
y=121
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=-3
y=157
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=-3
y=193
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=-3
y=229
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=-3
y=265
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=479
y=50
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=479
y=86
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=479
y=122
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=479
y=158
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=479
y=194
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=479
y=230
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=479
y=266
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=73
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=109
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=145
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=181
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=217
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=253
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=289
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=325
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=361
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=397
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=433
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=72
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=108
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=144
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=180
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=216
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=252
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=288
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=324
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=360
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=396
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=432
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=252
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=37
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=37
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=12
y=290
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=475
y=20
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=439
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=475
y=290
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_74]
type=5
buttontype=0
clientcode=0
x=439
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_75]
type=5
buttontype=0
clientcode=0
x=288
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_76]
type=5
buttontype=0
clientcode=0
x=324
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_77]
type=5
buttontype=0
clientcode=0
x=360
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_78]
type=5
buttontype=0
clientcode=0
x=396
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_79]
type=5
buttontype=0
clientcode=0
x=432
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_80]
type=5
buttontype=0
clientcode=0
x=459
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_81]
type=5
buttontype=0
clientcode=0
x=216
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_82]
type=5
buttontype=0
clientcode=0
x=180
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_83]
type=5
buttontype=0
clientcode=0
x=144
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_84]
type=5
buttontype=0
clientcode=0
x=108
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_85]
type=5
buttontype=0
clientcode=0
x=72
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_86]
type=5
buttontype=0
clientcode=0
x=36
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_87]
type=5
buttontype=0
clientcode=0
x=17
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_88]
type=4
buttontype=0
clientcode=0
x=83
y=30
width=346
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=What would you like to make?
activetext=
colour=0xff9900
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=6
buttontype=0
clientcode=0
x=38
y=57
width=64
height=96
trans=0
scriptcmp=2/13
scripts=1/12/0
model=com_i2540
activemodel=com_i2540
zoom=400
xan=500
yan=0

[com_90]
type=4
buttontype=0
clientcode=0
x=16
y=75
width=100
height=100
trans=0
scriptcmp=2/14
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Armour
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_91]
type=4
buttontype=0
clientcode=0
x=32
y=100
width=4
height=4
trans=0
scriptcmp=2/14
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_92]
type=6
buttontype=0
clientcode=0
x=154
y=48
width=64
height=96
trans=0
scriptcmp=2/1
scripts=1/12/0
model=com_i2649
activemodel=com_i2649
zoom=500
xan=500
yan=0

[com_93]
type=4
buttontype=0
clientcode=0
x=132
y=76
width=110
height=100
trans=0
scriptcmp=2/1
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Gloves
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_94]
type=4
buttontype=0
clientcode=0
x=149
y=100
width=4
height=4
trans=0
scriptcmp=2/1
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_95]
type=6
buttontype=0
clientcode=0
x=282
y=72
width=64
height=96
trans=0
scriptcmp=2/6
scripts=1/12/0
model=com_i2837
activemodel=com_i2837
zoom=400
xan=100
yan=100

[com_96]
type=4
buttontype=0
clientcode=0
x=251
y=75
width=116
height=100
trans=0
scriptcmp=2/7
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Boots
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_97]
type=4
buttontype=0
clientcode=0
x=277
y=100
width=4
height=4
trans=0
scriptcmp=2/7
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_98]
type=6
buttontype=0
clientcode=0
x=432
y=52
width=64
height=96
trans=0
scriptcmp=2/10
scripts=1/12/0
model=com_i2656
activemodel=com_i2656
zoom=350
xan=600
yan=0

[com_99]
type=4
buttontype=0
clientcode=0
x=376
y=76
width=116
height=100
trans=0
scriptcmp=2/11
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Vambraces
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=405
y=100
width=4
height=4
trans=0
scriptcmp=2/11
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_101]
type=6
buttontype=0
clientcode=0
x=92
y=190
width=64
height=96
trans=0
scriptcmp=2/17
scripts=1/12/0
model=com_i2555
activemodel=com_i2555
zoom=700
xan=500
yan=0

[com_102]
type=4
buttontype=0
clientcode=0
x=64
y=202
width=116
height=100
trans=0
scriptcmp=2/18
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Chaps
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_103]
type=4
buttontype=0
clientcode=0
x=85
y=226
width=4
height=4
trans=0
scriptcmp=2/18
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_104]
type=6
buttontype=0
clientcode=0
x=221
y=204
width=64
height=96
trans=0
scriptcmp=2/37
scripts=1/12/0
model=com_i2541
activemodel=com_i2541
zoom=350
xan=150
yan=100

[com_105]
type=4
buttontype=0
clientcode=0
x=194
y=201
width=116
height=100
trans=0
scriptcmp=2/38
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Coif
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_106]
type=4
buttontype=0
clientcode=0
x=213
y=226
width=4
height=4
trans=0
scriptcmp=2/38
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_107]
type=6
buttontype=0
clientcode=0
x=349
y=202
width=64
height=96
trans=0
scriptcmp=2/9
scripts=1/12/0
model=com_i3481
activemodel=com_i3481
zoom=350
xan=150
yan=100

[com_108]
type=4
buttontype=1
clientcode=0
x=150
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All pairs of <col=ff9040>Leather gloves

[com_109]
type=4
buttontype=1
clientcode=0
x=278
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All pairs of <col=ff9040>Leather boots

[com_110]
type=4
buttontype=1
clientcode=0
x=406
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All pairs of <col=ff9040>Leather vambraces

[com_111]
type=4
buttontype=1
clientcode=0
x=86
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All pairs of <col=ff9040>Leather chaps

[com_112]
type=4
buttontype=1
clientcode=0
x=214
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All <col=ff9040>Coifs

[com_113]
type=4
buttontype=1
clientcode=0
x=342
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All <col=ff9040>Cowls

[com_114]
type=4
buttontype=1
clientcode=0
x=22
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make All <col=ff9040>Leather bodies

[com_115]
type=4
buttontype=1
clientcode=0
x=22
y=75
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X <col=ff9040>Leather bodies

[com_116]
type=4
buttontype=1
clientcode=0
x=150
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X pairs of <col=ff9040>Leather gloves

[com_117]
type=4
buttontype=1
clientcode=0
x=279
y=75
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X pairs of <col=ff9040>Leather boots

[com_118]
type=4
buttontype=1
clientcode=0
x=406
y=77
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X pairs of <col=ff9040>Leather vambraces

[com_119]
type=4
buttontype=1
clientcode=0
x=86
y=201
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X pairs of <col=ff9040>Leather chaps

[com_120]
type=4
buttontype=1
clientcode=0
x=213
y=200
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X <col=ff9040>Coifs

[com_121]
type=4
buttontype=1
clientcode=0
x=342
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make X <col=ff9040>Cowls

[com_122]
type=4
buttontype=0
clientcode=0
x=318
y=201
width=116
height=100
trans=0
scriptcmp=2/9
scripts=1/12/0
halign=1
valign=2
lineheight=0
font=497
shadowed=1
text=Cowl
activetext=
colour=0x996600
colour2=0xcc0000
colourover=0xffffff
colour2over=0x000000

[com_123]
type=4
buttontype=0
clientcode=0
x=341
y=226
width=4
height=4
trans=0
scriptcmp=2/9
scripts=1/12/0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=Not Available
colour=0x000000
colour2=0xcc0000
colourover=0x000000
colour2over=0x000000

[com_124]
type=4
buttontype=1
clientcode=0
x=22
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 <col=ff9040>Leather bodies

[com_125]
type=4
buttontype=1
clientcode=0
x=22
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make <col=ff9040>Leather body

[com_126]
type=4
buttontype=1
clientcode=0
x=150
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 pairs of <col=ff9040>Leather gloves

[com_127]
type=4
buttontype=1
clientcode=0
x=150
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 1 pair of <col=ff9040>Leather gloves

[com_128]
type=4
buttontype=1
clientcode=0
x=278
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 pairs of <col=ff9040>Leather boots

[com_129]
type=4
buttontype=1
clientcode=0
x=278
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 1 pair of <col=ff9040>Leather boots

[com_130]
type=4
buttontype=1
clientcode=0
x=406
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 pairs of <col=ff9040>Leather vambraces

[com_131]
type=4
buttontype=1
clientcode=0
x=406
y=76
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 1 pair of <col=ff9040>Leather vambraces

[com_132]
type=4
buttontype=1
clientcode=0
x=86
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 pairs of <col=ff9040>Leather chaps

[com_133]
type=4
buttontype=1
clientcode=0
x=86
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 1 pair of <col=ff9040>Leather chaps

[com_134]
type=4
buttontype=1
clientcode=0
x=214
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 <col=ff9040>Coifs

[com_135]
type=4
buttontype=1
clientcode=0
x=214
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make <col=ff9040>Coif

[com_136]
type=4
buttontype=1
clientcode=0
x=342
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make 5 <col=ff9040>Cowls

[com_137]
type=4
buttontype=1
clientcode=0
x=342
y=202
width=72
height=100
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make <col=ff9040>Cowl

[com_138]
type=5
buttontype=0
clientcode=0
x=358
y=222
width=32
height=32
trans=0
graphic=-1
activegraphic=-1

[com_139]
type=5
buttontype=0
clientcode=0
x=471
y=26
width=26
height=23
overlayer=141
trans=0
graphic=535
activegraphic=-1

[com_140]
type=5
buttontype=3
clientcode=0
x=1
y=4
width=26
height=23
layer=com_141
trans=0
graphic=536
activegraphic=-1

[com_141]
type=0
buttontype=0
clientcode=0
x=470
y=22
width=32
height=32
trans=0
scrollheight=0
hide=1
