// interface 16

[com_0]
type=6
buttontype=0
clientcode=0
x=369
y=424
width=32
height=32
trans=0
model=com_i9630
activemodel=-1
zoom=692
xan=512
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=37
y=413
width=32
height=32
trans=0
model=com_i9628
activemodel=-1
anim=2715
zoom=645
xan=352
yan=139

[com_2]
type=4
buttontype=0
clientcode=0
x=190
y=431
width=400
height=40
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=106
y=423
width=32
height=32
trans=0
model=com_i9628
activemodel=-1
anim=2715
zoom=808
xan=154
yan=1509

[com_4]
type=6
buttontype=0
clientcode=0
x=72
y=455
width=32
height=32
trans=0
model=com_i9628
activemodel=-1
anim=2715
zoom=1143
xan=152
yan=1905

[com_5]
type=6
buttontype=0
clientcode=0
x=648
y=451
width=32
height=32
trans=0
model=com_i9628
activemodel=-1
anim=2715
zoom=752
xan=1931
yan=90

[com_6]
type=6
buttontype=0
clientcode=0
x=694
y=444
width=32
height=32
trans=0
model=com_i9629
activemodel=-1
anim=2716
zoom=1118
xan=136
yan=64

[com_7]
type=4
buttontype=0
clientcode=0
x=190
y=408
width=400
height=19
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Message of the week
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
