// interface 17

[com_0]
type=6
buttontype=0
clientcode=0
x=369
y=424
width=32
height=32
trans=0
model=com_i9630
activemodel=-1
zoom=692
xan=512
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=190
y=431
width=400
height=40
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=190
y=411
width=400
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Message of the week
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=52
y=428
width=32
height=32
trans=0
model=com_i10233
activemodel=-1
zoom=1000
xan=380
yan=48

[com_4]
type=6
buttontype=0
clientcode=0
x=653
y=444
width=32
height=32
trans=0
model=com_i11212
activemodel=-1
zoom=1556
xan=425
yan=1906

[com_5]
type=6
buttontype=0
clientcode=0
x=688
y=418
width=32
height=32
trans=0
model=com_i11211
activemodel=-1
zoom=1316
xan=653
yan=2047

[com_6]
type=6
buttontype=0
clientcode=0
x=13
y=438
width=32
height=32
trans=0
model=com_i11210
activemodel=-1
zoom=1572
xan=605
yan=1897

[com_7]
type=6
buttontype=0
clientcode=0
x=91
y=446
width=32
height=32
trans=0
model=com_i11211
activemodel=-1
zoom=1700
xan=521
yan=117

[com_8]
type=6
buttontype=0
clientcode=0
x=723
y=444
width=32
height=32
trans=0
model=com_i10233
activemodel=-1
zoom=1512
xan=407
yan=108
