// interface 182

[com_0]
type=4
buttontype=0
clientcode=0
x=7
y=38
width=179
height=112
trans=0
halign=1
valign=1
lineheight=18
font=495
shadowed=1
text=When you have finished playing<br>RuneScape, always use the<br>button below to logout safely.
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=0
clientcode=0
x=74
y=153
width=36
height=36
trans=0
graphic=177
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=48
y=153
width=36
height=36
trans=0
graphic=177
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=22
y=153
width=36
height=36
trans=0
graphic=177
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=104
y=153
width=36
height=36
trans=0
graphic=178
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=130
y=153
width=36
height=36
trans=0
graphic=178
activegraphic=-1

[com_6]
type=4
buttontype=1
clientcode=205
x=25
y=154
width=141
height=36
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Click here to logout
activetext=
colour=0xf7f0df
colour2=0x000000
colourover=0xff0000
colour2over=0x000000
buttontext=
