// interface 183

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=388
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=240
y=146
width=32
height=32
trans=0
model=com_i6870
activemodel=-1
zoom=204
xan=420
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=238
y=153
width=32
height=32
trans=0
model=com_i6871
activemodel=-1
zoom=204
xan=420
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=70
y=55
width=32
height=32
layer=com_15
trans=0
model=com_i6858
activemodel=-1
zoom=410
xan=434
yan=15

[com_4]
type=6
buttontype=0
clientcode=0
x=58
y=143
width=32
height=32
layer=com_15
trans=0
model=com_i6859
activemodel=-1
zoom=414
xan=374
yan=26

[com_5]
type=6
buttontype=0
clientcode=0
x=48
y=242
width=32
height=32
layer=com_15
trans=0
model=com_i6860
activemodel=-1
zoom=355
xan=446
yan=22

[com_6]
type=6
buttontype=0
clientcode=0
x=412
y=54
width=32
height=32
layer=com_15
trans=0
model=com_i6861
activemodel=-1
zoom=428
xan=333
yan=19

[com_7]
type=6
buttontype=0
clientcode=0
x=422
y=134
width=32
height=32
layer=com_15
trans=0
model=com_i6862
activemodel=-1
zoom=400
xan=460
yan=2035

[com_8]
type=6
buttontype=0
clientcode=0
x=428
y=237
width=32
height=32
layer=com_15
trans=0
model=com_i6868
activemodel=-1
zoom=387
xan=500
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=71
y=53
width=32
height=32
layer=com_16
trans=0
model=com_i6867
activemodel=-1
zoom=421
xan=343
yan=2023

[com_10]
type=6
buttontype=0
clientcode=0
x=60
y=141
width=32
height=32
layer=com_16
trans=0
model=com_i6863
activemodel=-1
zoom=410
xan=455
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=50
y=230
width=32
height=32
layer=com_16
trans=0
model=com_i6865
activemodel=-1
zoom=362
xan=584
yan=2016

[com_12]
type=6
buttontype=0
clientcode=0
x=415
y=53
width=32
height=32
layer=com_16
trans=0
model=com_i6864
activemodel=-1
zoom=404
xan=325
yan=2032

[com_13]
type=6
buttontype=0
clientcode=0
x=422
y=138
width=34
height=32
layer=com_16
trans=0
model=com_i6866
activemodel=-1
zoom=385
xan=435
yan=2014

[com_14]
type=6
buttontype=0
clientcode=0
x=429
y=235
width=32
height=32
layer=com_16
trans=0
model=com_i6869
activemodel=-1
zoom=424
xan=604
yan=15

[com_15]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_16]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_17]
type=5
buttontype=1
clientcode=0
x=11
y=10
width=45
height=36
layer=com_19
trans=0
graphic=309
activegraphic=-1
buttontext=

[com_18]
type=5
buttontype=1
clientcode=0
x=8
y=12
width=45
height=36
layer=com_20
trans=0
graphic=308
activegraphic=-1
buttontext=

[com_19]
type=0
buttontype=0
clientcode=0
x=349
y=282
width=63
height=52
trans=0
scrollheight=0
hide=0

[com_20]
type=0
buttontype=0
clientcode=0
x=107
y=279
width=63
height=52
trans=0
scrollheight=0
hide=0

[com_21]
type=4
buttontype=0
clientcode=0
x=111
y=38
width=138
height=71
layer=com_15
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Drogokishuun-<br>Goblins of the<br>Fierce Blades
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=103
y=113
width=148
height=88
layer=com_15
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Huzamogaarb-<br>Live-Flesh Eaters<br>of the Chaos God
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=94
y=198
width=145
height=88
layer=com_15
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Saragorgak-<br>Footsoldiers of<br>Holy Wrath
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=271
y=38
width=132
height=73
layer=com_15
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Dorgeshuun-<br>Goblins of the<br>Strong Spears
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=274
y=114
width=130
height=85
layer=com_15
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Horogothgar-<br>Eaters of<br>Manflesh
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=277
y=208
width=128
height=70
layer=com_15
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Yurkolgokh-<br>The Flatulent
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=104
y=41
width=138
height=73
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Thorobshuun-<br>Goblins of the<br>Hills
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=101
y=126
width=146
height=80
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Garagorshuun-<br>Goblins of the<br>Sea
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=92
y=207
width=149
height=73
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Rekeshuun-<br>Goblins of the<br>North
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=4
buttontype=0
clientcode=0
x=278
y=39
width=132
height=83
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Ekeleshuun-<br>Goblins of the<br>East
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=4
buttontype=0
clientcode=0
x=283
y=126
width=127
height=78
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Idithuun-<br>Goblins of the<br>South
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=284
y=204
width=129
height=76
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=-Narogoshuun-<br>Goblins of the<br>West
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=4
buttontype=0
clientcode=0
x=311
y=43
width=119
height=245
layer=com_34
trans=0
halign=1
valign=0
lineheight=0
font=645
shadowed=0
text=A History of the Goblin Race
activetext=
colour=0x343422
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=388
trans=0
scrollheight=0
hide=0

[com_35]
type=4
buttontype=0
clientcode=0
x=56
y=40
width=187
height=116
layer=com_39
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=Goblin tradition holds that<br>their race was created by<br>a war-god in order to<br>fight a war against other<br>gods.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=4
buttontype=0
clientcode=0
x=54
y=159
width=191
height=131
layer=com_39
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=(They never name their<br>god, so whether it is the<br>same as any of the gods<br>worshipped by the other<br>races is unknown.)
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=4
buttontype=0
clientcode=0
x=275
y=39
width=183
height=128
layer=com_39
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=The legends also speak<br>of goblins fighting<br>against goblins during<br>the wars, so it is likely<br>that gods other than<br>their creators used<br>them as footsoldiers.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=275
y=166
width=191
height=123
layer=com_39
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=Although goblins are still<br>warlike, it is probable<br>that in earlier ages<br>they were more<br>organised than they<br>are now,
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=388
trans=0
scrollheight=0
hide=1

[com_40]
type=4
buttontype=0
clientcode=0
x=61
y=35
width=174
height=96
layer=com_43
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=especially if they were<br>under the direct<br>command of one or<br>more gods.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=4
buttontype=0
clientcode=0
x=47
y=144
width=199
height=133
layer=com_43
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=This is corroborated<br>by finds unearthed<br>at various<br>archaeological sites,<br>including the large<br>excavation east of<br>Varrock.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_42]
type=4
buttontype=0
clientcode=0
x=278
y=39
width=176
height=132
layer=com_43
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Armour and weapons<br>have been found,<br>obviously made to fit<br>goblins but far more<br>well-made than their<br>current equipment.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_43]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=388
trans=0
scrollheight=0
hide=1

[com_44]
type=4
buttontype=0
clientcode=0
x=60
y=43
width=184
height=235
layer=com_47
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Almost every piece of<br>ancient goblin equipment<br>has one of a number<br>of symbols on it,<br>and by correlating these<br>symbols with the<br>sketchy records that<br>survive from the<br>Third Age it has been<br>possible to identify<br>twelve distinct goblin tribes<br>or regiments.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=277
y=44
width=182
height=148
layer=com_47
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=The separate identities of<br>the tribes have long<br>since dissolved and<br>no goblins remember the<br>symbols, although their<br>generals may still<br>recognize the ancient<br>tribal names.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=4
buttontype=0
clientcode=0
x=277
y=192
width=192
height=89
layer=com_47
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=In the following pages<br>I present a list of<br>the tribes and their<br>symbols.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_47]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_48]
type=5
buttontype=0
clientcode=0
x=473
y=14
width=26
height=23
overlayer=50
trans=0
graphic=539
activegraphic=-1

[com_49]
type=5
buttontype=3
clientcode=0
x=2
y=5
width=26
height=23
layer=com_50
trans=0
graphic=540
activegraphic=-1

[com_50]
type=0
buttontype=0
clientcode=0
x=471
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_51]
type=4
buttontype=0
clientcode=0
x=285
y=161
width=139
height=74
layer=com_34
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=0
text=
activetext=(A History<br>of the<br>Goblin race)
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
