// interface 184

[com_0]
type=6
buttontype=0
clientcode=0
x=241
y=124
width=40
height=12
trans=0
model=com_i3623
activemodel=-1
zoom=578
xan=496
yan=1

[com_1]
type=4
buttontype=0
clientcode=0
x=118
y=35
width=340
height=35
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=A....a lemming
activetext=
colour=0xf342e10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=118
y=69
width=340
height=35
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=B....a fryingpan
activetext=
colour=0xf342e10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=118
y=103
width=340
height=35
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=C....the disenfrachaised youth of 1940's Columbia
activetext=
colour=0xf342e10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=117
y=20
width=80
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Is this:
activetext=
colour=0xf1b1805
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=3
buttontype=0
clientcode=0
x=142
y=143
width=236
height=153
trans=0
fill=1
colour=0xf342e10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=3
buttontype=0
clientcode=0
x=147
y=147
width=226
height=144
trans=0
fill=1
colour=0xf5f551d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=6
buttontype=0
clientcode=0
x=197
y=149
width=133
height=133
trans=0
model=com_i8829
activemodel=-1
zoom=400
xan=346
yan=1883

[com_8]
type=6
buttontype=1
clientcode=0
x=85
y=36
width=32
height=32
trans=0
model=com_i8965
activemodel=-1
zoom=4904
xan=540
yan=2043
buttontext=select option A

[com_9]
type=6
buttontype=1
clientcode=0
x=84
y=69
width=32
height=32
trans=0
model=com_i8966
activemodel=-1
zoom=4859
xan=490
yan=10
buttontext=select option B

[com_10]
type=6
buttontype=1
clientcode=0
x=83
y=102
width=32
height=32
trans=0
model=com_i8967
activemodel=-1
zoom=4579
xan=385
yan=24
buttontext=select option C

[com_11]
type=5
buttontype=0
clientcode=0
x=370
y=9
width=26
height=23
overlayer=13
trans=0
graphic=537
activegraphic=-1

[com_12]
type=5
buttontype=3
clientcode=0
x=4
y=5
width=26
height=23
layer=com_13
trans=0
graphic=538
activegraphic=-1

[com_13]
type=0
buttontype=0
clientcode=0
x=366
y=4
width=32
height=32
trans=0
scrollheight=0
hide=1
