// interface 185

[com_0]
type=6
buttontype=0
clientcode=0
x=151
y=143
width=31
height=32
trans=0
model=com_i7748
activemodel=-1
anim=2308
zoom=256
xan=0
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=151
y=143
width=31
height=32
trans=0
model=com_i7754
activemodel=-1
anim=2308
zoom=255
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=151
y=143
width=31
height=32
trans=0
model=com_i7749
activemodel=-1
anim=2308
zoom=256
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=64
y=60
width=31
height=32
trans=0
model=com_i7753
activemodel=-1
zoom=420
xan=1900
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=151
y=60
width=31
height=32
trans=0
model=com_i7750
activemodel=-1
zoom=420
xan=1900
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=238
y=60
width=31
height=32
trans=0
model=com_i7753
activemodel=-1
zoom=420
xan=1900
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=60
y=143
width=31
height=32
trans=0
model=com_i7753
activemodel=-1
zoom=420
xan=0
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=151
y=143
width=31
height=32
trans=0
model=com_i7753
activemodel=-1
zoom=420
xan=0
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=242
y=143
width=31
height=32
trans=0
model=com_i7751
activemodel=-1
zoom=420
xan=0
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=64
y=229
width=31
height=32
trans=0
model=com_i7752
activemodel=-1
zoom=420
xan=150
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=150
y=230
width=31
height=32
trans=0
model=com_i7753
activemodel=-1
zoom=420
xan=150
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=239
y=230
width=31
height=32
trans=0
model=com_i7753
activemodel=-1
zoom=420
xan=150
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=151
y=139
width=31
height=32
trans=0
model=com_i7747
activemodel=-1
zoom=256
xan=0
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=60
y=139
width=31
height=32
trans=0
model=com_i7747
activemodel=-1
zoom=256
xan=0
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=242
y=139
width=31
height=32
trans=0
model=com_i7747
activemodel=-1
zoom=256
xan=0
yan=0

[com_15]
type=4
buttontype=0
clientcode=0
x=23
y=317
width=97
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=DIAMOND
activetext=
colour=0xceaf7e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=121
y=317
width=90
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=COINS
activetext=
colour=0xceaf7e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=212
y=317
width=88
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=RING
activetext=
colour=0xceaf7e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=1
clientcode=0
x=361
y=141
width=112
height=37
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=0
text=U N L O C K
activetext=
colour=0x4f3f26
colour2=0x000000
colourover=0xd9ad66
colour2over=0x000000
buttontext=U N L O C K

[com_19]
type=6
buttontype=1
clientcode=0
x=49
y=4
width=54
height=33
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Up (left)

[com_20]
type=6
buttontype=1
clientcode=0
x=141
y=4
width=54
height=33
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Up (middle)

[com_21]
type=6
buttontype=1
clientcode=0
x=232
y=4
width=54
height=33
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Up (right)

[com_22]
type=6
buttontype=1
clientcode=0
x=47
y=285
width=54
height=33
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Down (left)

[com_23]
type=6
buttontype=1
clientcode=0
x=138
y=286
width=54
height=33
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Down (middle)

[com_24]
type=6
buttontype=1
clientcode=0
x=229
y=287
width=54
height=33
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
buttontext=Down (right)
