// interface 187

[com_0]
type=6
buttontype=0
clientcode=0
x=241
y=194
width=34
height=33
trans=0
model=com_i8956
activemodel=-1
zoom=348
xan=519
yan=6

[com_1]
type=6
buttontype=0
clientcode=0
x=410
y=279
width=32
height=32
trans=0
model=com_i8963
activemodel=-1
zoom=600
xan=391
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=238
y=140
width=32
height=32
trans=0
model=com_i8955
activemodel=-1
zoom=478
xan=125
yan=8

[com_3]
type=6
buttontype=0
clientcode=0
x=240
y=262
width=42
height=38
trans=0
model=com_i8964
activemodel=-1
zoom=494
xan=395
yan=2047

[com_4]
type=6
buttontype=1
clientcode=0
x=80
y=279
width=32
height=32
trans=0
model=com_i8957
activemodel=-1
zoom=607
xan=391
yan=0
buttontext=

[com_5]
type=6
buttontype=1
clientcode=0
x=135
y=279
width=32
height=32
trans=0
model=com_i8958
activemodel=-1
zoom=607
xan=391
yan=0
buttontext=

[com_6]
type=6
buttontype=1
clientcode=0
x=190
y=279
width=32
height=32
trans=0
model=com_i8959
activemodel=-1
zoom=607
xan=391
yan=0
buttontext=

[com_7]
type=6
buttontype=1
clientcode=0
x=245
y=279
width=32
height=32
trans=0
model=com_i8960
activemodel=-1
zoom=600
xan=391
yan=0
buttontext=

[com_8]
type=6
buttontype=1
clientcode=0
x=300
y=279
width=32
height=32
trans=0
model=com_i8961
activemodel=-1
zoom=600
xan=391
yan=0
buttontext=

[com_9]
type=6
buttontype=1
clientcode=0
x=355
y=279
width=32
height=32
trans=0
model=com_i8962
activemodel=-1
zoom=600
xan=391
yan=0
buttontext=

[com_10]
type=6
buttontype=1
clientcode=0
x=410
y=279
width=32
height=32
trans=0
model=com_i8963
activemodel=-1
zoom=600
xan=391
yan=0
buttontext=
