// interface 188

[com_0]
type=6
buttontype=0
clientcode=0
x=-10
y=42
width=32
height=32
trans=0
model=com_i3548
activemodel=-1
zoom=613
xan=17
yan=1783

[com_1]
type=6
buttontype=0
clientcode=0
x=457
y=41
width=32
height=32
trans=0
model=com_i3548
activemodel=-1
zoom=622
xan=26
yan=240

[com_2]
type=4
buttontype=1
clientcode=0
x=68
y=56
width=73
height=15
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Cry
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_3]
type=4
buttontype=1
clientcode=0
x=67
y=19
width=76
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Think
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_4]
type=4
buttontype=1
clientcode=0
x=141
y=19
width=84
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Laugh
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_5]
type=4
buttontype=1
clientcode=0
x=140
y=56
width=83
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Dance
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_6]
type=4
buttontype=1
clientcode=0
x=224
y=9
width=99
height=38
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=1
text=Climb Rope
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_7]
type=4
buttontype=1
clientcode=0
x=222
y=46
width=102
height=41
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=1
text=Lean on air
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_8]
type=4
buttontype=1
clientcode=0
x=323
y=46
width=98
height=41
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=1
text=Glass Wall
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_9]
type=4
buttontype=1
clientcode=0
x=322
y=10
width=99
height=38
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=1
text=Glass Box
activetext=
colour=0x8686af
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=
