// interface 189

[com_0]
type=3
buttontype=0
clientcode=0
x=-29
y=-23
width=700
height=486
trans=200
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=115
y=189
width=32
height=33
trans=0
model=com_i9748
activemodel=-1
zoom=410
xan=6
yan=5

[com_2]
type=6
buttontype=0
clientcode=0
x=80
y=98
width=32
height=32
trans=0
model=com_i9753
activemodel=-1
zoom=358
xan=528
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=184
y=227
width=35
height=34
trans=0
model=com_i9749
activemodel=-1
anim=2767
zoom=422
xan=565
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=278
y=227
width=35
height=34
trans=0
model=com_i9750
activemodel=-1
anim=2767
zoom=422
xan=565
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=373
y=227
width=35
height=34
trans=0
model=com_i9751
activemodel=-1
anim=2767
zoom=422
xan=565
yan=0

[com_6]
type=5
buttontype=1
clientcode=0
x=181
y=203
width=46
height=95
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_7]
type=5
buttontype=1
clientcode=0
x=271
y=204
width=51
height=90
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_8]
type=5
buttontype=1
clientcode=0
x=370
y=205
width=46
height=96
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_9]
type=6
buttontype=0
clientcode=0
x=180
y=25
width=34
height=33
trans=0
scriptcmp=3/0
scripts=5/531/0
model=com_i9757
activemodel=com_i9758
anim=2766
activeanim=2766
zoom=1200
xan=498
yan=9

[com_10]
type=6
buttontype=0
clientcode=0
x=230
y=25
width=32
height=32
trans=0
scriptcmp=3/1
scripts=5/531/0
model=com_i9757
activemodel=com_i9758
anim=2766
activeanim=2766
zoom=1200
xan=498
yan=9

[com_11]
type=6
buttontype=0
clientcode=0
x=280
y=25
width=32
height=32
trans=0
scriptcmp=3/2
scripts=5/531/0
model=com_i9757
activemodel=com_i9758
anim=2766
activeanim=2766
zoom=1200
xan=498
yan=9

[com_12]
type=6
buttontype=0
clientcode=0
x=330
y=25
width=32
height=32
trans=0
scriptcmp=3/3
scripts=5/531/0
model=com_i9757
activemodel=com_i9758
anim=2766
activeanim=2766
zoom=1200
xan=498
yan=9

[com_13]
type=6
buttontype=0
clientcode=0
x=380
y=25
width=32
height=32
trans=0
scriptcmp=3/4
scripts=5/531/0
model=com_i9757
activemodel=com_i9758
anim=2766
activeanim=2766
zoom=1200
xan=498
yan=9

[com_14]
type=6
buttontype=0
clientcode=0
x=430
y=25
width=32
height=32
trans=0
scriptcmp=3/5
scripts=5/531/0
model=com_i9757
activemodel=com_i9758
anim=2766
activeanim=2766
zoom=1200
xan=498
yan=9

[com_15]
type=6
buttontype=0
clientcode=0
x=185
y=33
width=32
height=32
trans=0
model=com_i15272
activemodel=-1
anim=4135
zoom=860
xan=542
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=233
y=31
width=32
height=32
trans=0
model=com_i15272
activemodel=-1
anim=4135
zoom=860
xan=542
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=283
y=31
width=32
height=32
trans=0
model=com_i15272
activemodel=-1
anim=4135
zoom=860
xan=542
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=333
y=31
width=32
height=32
trans=0
model=com_i15272
activemodel=-1
anim=4135
zoom=860
xan=542
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=383
y=30
width=32
height=32
trans=0
model=com_i15272
activemodel=-1
anim=4135
zoom=860
xan=542
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=434
y=29
width=32
height=32
trans=0
model=com_i15272
activemodel=-1
anim=4135
zoom=860
xan=542
yan=0

[com_21]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_23
trans=0
graphic=536
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=482
y=17
width=26
height=23
overlayer=23
trans=0
graphic=535
activegraphic=-1

[com_23]
type=0
buttontype=0
clientcode=0
x=478
y=13
width=32
height=32
trans=0
scrollheight=0
hide=1
