// interface 190

[com_0]
type=6
buttontype=0
clientcode=0
x=245
y=122
width=32
height=32
trans=0
model=com_i3679
activemodel=-1
zoom=390
xan=0
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=245
y=122
width=32
height=32
trans=0
model=com_i3680
activemodel=-1
zoom=390
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=245
y=122
width=32
height=32
trans=0
model=com_i3678
activemodel=-1
zoom=390
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=245
y=122
width=32
height=31
trans=0
model=-1
activemodel=-1
zoom=390
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=245
y=122
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=390
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=245
y=122
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=390
xan=0
yan=0

[com_6]
type=4
buttontype=0
clientcode=0
x=110
y=254
width=308
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Which shape is blue?
activetext=
colour=0xbbb949
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=5
buttontype=1
clientcode=0
x=110
y=276
width=72
height=36
trans=0
graphic=293
activegraphic=-1
buttontext=

[com_8]
type=5
buttontype=1
clientcode=0
x=229
y=277
width=72
height=36
trans=0
graphic=293
activegraphic=-1
buttontext=

[com_9]
type=5
buttontype=1
clientcode=0
x=344
y=277
width=72
height=36
trans=0
graphic=293
activegraphic=-1
buttontext=

[com_10]
type=4
buttontype=0
clientcode=0
x=113
y=279
width=65
height=29
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=0
text=Shape1
activetext=
colour=0xbbb949
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=232
y=281
width=65
height=29
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=0
text=Shape2
activetext=
colour=0xbbb949
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=348
y=281
width=65
height=29
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=0
text=Shape3
activetext=
colour=0xbbb949
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=5
buttontype=0
clientcode=0
x=462
y=15
width=26
height=23
overlayer=15
trans=0
graphic=539
activegraphic=-1

[com_14]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_15
trans=0
graphic=540
activegraphic=-1

[com_15]
type=0
buttontype=0
clientcode=0
x=459
y=11
width=32
height=32
trans=0
scrollheight=0
hide=1
