// interface 191

[com_0]
type=3
buttontype=0
clientcode=0
x=-13
y=-6
width=501
height=109
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=190
y=19
width=32
height=32
trans=0
model=com_i8787
activemodel=-1
zoom=258
xan=500
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=17
y=20
width=32
height=32
trans=0
model=com_i8788
activemodel=-1
zoom=258
xan=500
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=190
y=20
width=32
height=32
trans=0
model=com_i8788
activemodel=-1
zoom=258
xan=500
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=365
y=18
width=32
height=32
trans=0
model=com_i8788
activemodel=-1
zoom=258
xan=500
yan=0

[com_5]
type=6
buttontype=6
clientcode=0
x=37
y=36
width=60
height=60
trans=0
model=com_i8831
activemodel=-1
anim=3047
zoom=400
xan=0
yan=0
buttontext=

[com_6]
type=6
buttontype=6
clientcode=0
x=212
y=39
width=60
height=60
trans=0
model=com_i8834
activemodel=-1
anim=3047
zoom=400
xan=0
yan=0
buttontext=

[com_7]
type=6
buttontype=6
clientcode=0
x=386
y=36
width=60
height=60
trans=0
model=com_i8837
activemodel=-1
anim=3047
zoom=446
xan=0
yan=0
buttontext=

[com_8]
type=4
buttontype=0
clientcode=0
x=153
y=8
width=170
height=29
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Pick the odd one out.
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
