// interface 192

[com_0]
fmt=v3
type=5
clientcode=0
x=12
y=22
width=24
height=24
hide=0
graphic=356
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:356,i:406,i:0,s:Lumbridge Home Teleport,s:Requires no runes - recharge time 30 mins. Warning: This spell takes a long time to cast and will be interrupted by combat.,i:-1,i:0,i:-1,i:0,i:-1,i:0,i:-1,i:0

[com_1]
fmt=v3
type=5
clientcode=0
x=36
y=22
width=24
height=24
hide=0
graphic=65
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:15,i:65,i:1,s:Wind Strike,s:A basic Air missile,i:556,i:1,i:558,i:1,i:-1,i:0,i:-1,i:0

[com_2]
fmt=v3
type=5
clientcode=0
x=60
y=22
width=24
height=24
hide=0
graphic=66
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:16,i:66,i:3,s:Confuse,s:Reduces your opponent's attack by 5%,i:555,i:3,i:557,i:2,i:559,i:1,i:-1,i:0

[com_3]
fmt=v3
type=5
clientcode=0
x=84
y=22
width=24
height=24
hide=0
graphic=408
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:358,i:408,i:4,s:Enchant Crossbow Bolt,s:Minimum level 4 Magic Multiple other requirements,i:-1,i:0,i:-1,i:0,i:-1,i:0,i:-1,i:0

[com_4]
fmt=v3
type=5
clientcode=0
x=108
y=22
width=24
height=24
hide=0
graphic=67
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:17,i:67,i:5,s:Water Strike,s:A basic Water missile,i:555,i:1,i:556,i:1,i:558,i:1,i:-1,i:0

[com_5]
fmt=v3
type=5
clientcode=0
x=132
y=22
width=24
height=24
hide=0
graphic=68
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:18,i:68,i:7,s:Lvl-1 Enchant,s:For use on sapphire jewellery,i:555,i:1,i:564,i:1,i:-1,i:0,i:-1,i:0

[com_6]
fmt=v3
type=5
clientcode=0
x=156
y=22
width=24
height=24
hide=0
graphic=69
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:19,i:69,i:9,s:Earth Strike,s:A basic Earth missile,i:557,i:2,i:556,i:1,i:558,i:1,i:-1,i:0

[com_7]
fmt=v3
type=5
clientcode=0
x=12
y=46
width=24
height=24
hide=0
graphic=70
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:20,i:70,i:11,s:Weaken,s:Reduces your opponent's<br>strength by 5%,i:555,i:3,i:557,i:2,i:559,i:1,i:-1,i:0

[com_8]
fmt=v3
type=5
clientcode=0
x=36
y=46
width=24
height=24
hide=0
graphic=71
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:21,i:71,i:13,s:Fire Strike,s:A basic Fire missile,i:554,i:3,i:556,i:2,i:558,i:1,i:-1,i:0

[com_9]
fmt=v3
type=5
clientcode=0
x=60
y=46
width=24
height=24
hide=0
graphic=72
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:22,i:72,i:15,s:Bones to Bananas,s:Changes all held bones into bananas,i:557,i:2,i:555,i:2,i:561,i:1,i:-1,i:0

[com_10]
fmt=v3
type=5
clientcode=0
x=84
y=46
width=24
height=24
hide=0
graphic=73
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:23,i:73,i:17,s:Wind Bolt,s:A low level Air missile,i:556,i:2,i:562,i:1,i:-1,i:0,i:-1,i:0

[com_11]
fmt=v3
type=5
clientcode=0
x=108
y=46
width=24
height=24
hide=0
graphic=74
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:24,i:74,i:19,s:Curse,s:Reduces your opponent's<br>defence by 5%,i:555,i:2,i:557,i:3,i:559,i:1,i:-1,i:0

[com_12]
fmt=v3
type=5
clientcode=0
x=132
y=46
width=24
height=24
hide=0
graphic=369
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:319,i:369,i:20,s:Bind,s:Holds your opponent for 5 seconds,i:557,i:3,i:555,i:3,i:561,i:2,i:-1,i:0

[com_13]
fmt=v3
type=5
clientcode=0
x=156
y=46
width=24
height=24
hide=0
graphic=75
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:25,i:75,i:21,s:Low Level Alchemy,s:Converts an item into gold,i:554,i:3,i:561,i:1,i:-1,i:0,i:-1,i:0

[com_14]
fmt=v3
type=5
clientcode=0
x=12
y=70
width=24
height=24
hide=0
graphic=76
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:26,i:76,i:23,s:Water Bolt,s:A low level Water missile,i:555,i:2,i:556,i:2,i:562,i:1,i:-1,i:0

[com_15]
fmt=v3
type=5
clientcode=0
x=36
y=70
width=24
height=24
hide=0
graphic=77
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:27,i:77,i:25,s:Varrock Teleport,s:Teleports you to Varrock,i:554,i:1,i:556,i:3,i:563,i:1,i:-1,i:0

[com_16]
fmt=v3
type=5
clientcode=0
x=60
y=70
width=24
height=24
hide=0
graphic=78
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:28,i:78,i:27,s:Lvl-2 Enchant,s:For use on emerald jewellery,i:556,i:3,i:564,i:1,i:-1,i:0,i:-1,i:0

[com_17]
fmt=v3
type=5
clientcode=0
x=84
y=70
width=24
height=24
hide=0
graphic=79
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:29,i:79,i:29,s:Earth Bolt,s:A low level Earth missile,i:557,i:3,i:556,i:2,i:562,i:1,i:-1,i:0

[com_18]
fmt=v3
type=5
clientcode=0
x=108
y=70
width=24
height=24
hide=0
graphic=80
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:30,i:80,i:31,s:Lumbridge Teleport,s:Teleports you to Lumbridge,i:557,i:1,i:556,i:3,i:563,i:1,i:-1,i:0

[com_19]
fmt=v3
type=5
clientcode=0
x=132
y=70
width=24
height=24
hide=0
graphic=81
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x1800
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:31,i:81,i:33,s:Telekinetic Grab,s:Take an item you can see but can't reach,i:556,i:1,i:563,i:1,i:-1,i:0,i:-1,i:0

[com_20]
fmt=v3
type=5
clientcode=0
x=156
y=70
width=24
height=24
hide=0
graphic=82
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:32,i:82,i:35,s:Fire Bolt,s:A low level Fire missile,i:554,i:4,i:556,i:3,i:562,i:1,i:-1,i:0

[com_21]
fmt=v3
type=5
clientcode=0
x=12
y=94
width=24
height=24
hide=0
graphic=83
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:33,i:83,i:37,s:Falador Teleport,s:Teleports you to Falador,i:555,i:1,i:556,i:3,i:563,i:1,i:-1,i:0

[com_22]
fmt=v3
type=5
clientcode=0
x=36
y=94
width=24
height=24
hide=0
graphic=84
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x1000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:34,i:84,i:39,s:Crumble Undead,s:Hits skeletons\, ghosts\, shades & zombies hard,i:557,i:2,i:556,i:2,i:562,i:1,i:-1,i:0

[com_23]
fmt=v3
type=5
clientcode=0
x=60
y=94
width=24
height=24
hide=0
graphic=405
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:355,i:405,i:40,s:Teleport to House,s:Teleports you to your house,i:563,i:1,i:556,i:1,i:557,i:1,i:-1,i:0

[com_24]
fmt=v3
type=5
clientcode=0
x=84
y=94
width=24
height=24
hide=0
graphic=85
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:35,i:85,i:41,s:Wind Blast,s:A medium level Air missile,i:556,i:3,i:560,i:1,i:-1,i:0,i:-1,i:0

[com_25]
fmt=v3
type=5
clientcode=0
x=108
y=94
width=24
height=24
hide=0
graphic=86
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:36,i:86,i:43,s:Superheat Item,s:Smelt ore without a furnace,i:554,i:4,i:561,i:1,i:-1,i:0,i:-1,i:0

[com_26]
fmt=v3
type=5
clientcode=0
x=132
y=94
width=24
height=24
hide=0
graphic=87
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:37,i:87,i:45,s:Camelot Teleport,s:Teleports you to Camelot,i:556,i:5,i:563,i:1,i:-1,i:0,i:-1,i:0

[com_27]
fmt=v3
type=5
clientcode=0
x=156
y=94
width=24
height=24
hide=0
graphic=88
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:38,i:88,i:47,s:Water Blast,s:A medium level Water missile,i:555,i:3,i:556,i:3,i:560,i:1,i:-1,i:0

[com_28]
fmt=v3
type=5
clientcode=0
x=12
y=118
width=24
height=24
hide=0
graphic=89
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:39,i:89,i:49,s:Lvl-3 Enchant,s:For use on ruby jewellery,i:554,i:5,i:564,i:1,i:-1,i:0,i:-1,i:0

[com_29]
fmt=v3
type=5
clientcode=0
x=36
y=118
width=24
height=24
hide=0
graphic=103
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:53,i:103,i:50,s:Iban Blast,s:Summons the wrath of Iban,i:554,i:5,i:560,i:1,i:1409,i:1,i:-1,i:0

[com_30]
fmt=v3
type=5
clientcode=0
x=60
y=118
width=24
height=24
hide=0
graphic=370
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:320,i:370,i:50,s:Snare,s:Holds your opponent for 10 seconds,i:557,i:4,i:555,i:4,i:561,i:3,i:-1,i:0

[com_31]
fmt=v3
type=5
clientcode=0
x=84
y=118
width=24
height=24
hide=0
graphic=374
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:324,i:374,i:50,s:Magic Dart,s:A magic dart of slaying,i:4170,i:1,i:560,i:1,i:558,i:4,i:-1,i:0

[com_32]
fmt=v3
type=5
clientcode=0
x=108
y=118
width=24
height=24
hide=0
graphic=104
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:54,i:104,i:51,s:Ardougne Teleport,s:Teleports you to Ardougne,i:555,i:2,i:563,i:2,i:-1,i:0,i:-1,i:0

[com_33]
fmt=v3
type=5
clientcode=0
x=132
y=118
width=24
height=24
hide=0
graphic=90
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:40,i:90,i:53,s:Earth Blast,s:A medium level Earth missile,i:557,i:4,i:556,i:3,i:560,i:1,i:-1,i:0

[com_34]
fmt=v3
type=5
clientcode=0
x=156
y=118
width=24
height=24
hide=0
graphic=91
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:41,i:91,i:55,s:High Level Alchemy,s:Converts an item into more gold,i:554,i:5,i:561,i:1,i:-1,i:0,i:-1,i:0

[com_35]
fmt=v3
type=5
clientcode=0
x=12
y=142
width=24
height=24
hide=0
graphic=92
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:42,i:92,i:56,s:Charge Water Orb,s:Needs to be cast on a water obelisk,i:555,i:30,i:564,i:3,i:567,i:1,i:-1,i:0

[com_36]
fmt=v3
type=5
clientcode=0
x=36
y=142
width=24
height=24
hide=0
graphic=93
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:43,i:93,i:57,s:Lvl-4 Enchant,s:For use on diamond jewellery,i:557,i:10,i:564,i:1,i:-1,i:0,i:-1,i:0

[com_37]
fmt=v3
type=5
clientcode=0
x=60
y=142
width=24
height=24
hide=0
graphic=105
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:55,i:105,i:58,s:Watchtower Teleport,s:Teleports you to the Watchtower,i:557,i:2,i:563,i:2,i:-1,i:0,i:-1,i:0

[com_38]
fmt=v3
type=5
clientcode=0
x=84
y=142
width=24
height=24
hide=0
graphic=94
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:44,i:94,i:59,s:Fire Blast,s:A medium level Fire missile,i:554,i:5,i:556,i:4,i:560,i:1,i:-1,i:0

[com_39]
fmt=v3
type=5
clientcode=0
x=108
y=142
width=24
height=24
hide=0
graphic=95
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:45,i:95,i:60,s:Charge Earth Orb,s:Needs to be cast on an earth obelisk,i:557,i:30,i:564,i:3,i:567,i:1,i:-1,i:0

[com_40]
fmt=v3
type=5
clientcode=0
x=132
y=142
width=24
height=24
hide=0
graphic=404
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:354,i:404,i:60,s:Bones to Peaches,s:Turns Bones into Peaches,i:561,i:2,i:555,i:4,i:557,i:4,i:-1,i:0

[com_41]
fmt=v3
type=5
clientcode=0
x=156
y=142
width=24
height=24
hide=0
graphic=111
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:61,i:111,i:60,s:Saradomin strike,s:Summons the power of Saradomin,i:554,i:2,i:565,i:2,i:556,i:4,i:2415,i:1

[com_42]
fmt=v3
type=5
clientcode=0
x=12
y=166
width=24
height=24
hide=0
graphic=110
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:60,i:110,i:60,s:Claws of Guthix,s:Summons the power of Guthix,i:554,i:1,i:565,i:2,i:556,i:4,i:8843,i:1

[com_43]
fmt=v3
type=5
clientcode=0
x=36
y=166
width=24
height=24
hide=0
graphic=109
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:59,i:109,i:60,s:Flames of Zamorak,s:Summons the power of Zamorak,i:554,i:4,i:565,i:2,i:556,i:1,i:2417,i:1

[com_44]
fmt=v3
type=5
clientcode=0
x=60
y=166
width=24
height=24
hide=0
graphic=373
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:323,i:373,i:61,s:Trollheim Teleport,s:Teleports you to Trollheim,i:554,i:2,i:563,i:2,i:-1,i:0,i:-1,i:0

[com_45]
fmt=v3
type=5
clientcode=0
x=84
y=166
width=24
height=24
hide=0
graphic=96
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:46,i:96,i:62,s:Wind Wave,s:A high level Air missile,i:556,i:5,i:565,i:1,i:-1,i:0,i:-1,i:0

[com_46]
fmt=v3
type=5
clientcode=0
x=108
y=166
width=24
height=24
hide=0
graphic=97
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:47,i:97,i:63,s:Charge Fire Orb,s:Needs to be cast on a fire obelisk,i:554,i:30,i:564,i:3,i:567,i:1,i:-1,i:0

[com_47]
fmt=v3
type=5
clientcode=0
x=132
y=166
width=24
height=24
hide=0
graphic=407
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:357,i:407,i:64,s:Teleport to Ape Atoll,s:Teleports you to Ape Atoll,i:554,i:2,i:555,i:2,i:563,i:2,i:1963,i:1

[com_48]
fmt=v3
type=5
clientcode=0
x=156
y=166
width=24
height=24
hide=0
graphic=98
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:48,i:98,i:65,s:Water Wave,s:A high level Water missile,i:555,i:7,i:556,i:5,i:565,i:1,i:-1,i:0

[com_49]
fmt=v3
type=5
clientcode=0
x=12
y=190
width=24
height=24
hide=0
graphic=99
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:49,i:99,i:66,s:Charge Air Orb,s:Needs to be cast on an air obelisk,i:556,i:30,i:564,i:3,i:567,i:1,i:-1,i:0

[com_50]
fmt=v3
type=5
clientcode=0
x=36
y=190
width=24
height=24
hide=0
graphic=106
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:56,i:106,i:66,s:Vulnerability,s:Reduces your opponent's defence by 10%,i:557,i:5,i:555,i:5,i:566,i:1,i:-1,i:0

[com_51]
fmt=v3
type=5
clientcode=0
x=60
y=190
width=24
height=24
hide=0
graphic=100
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:50,i:100,i:68,s:Lvl-5 Enchant,s:For use on dragonstone jewellery,i:555,i:15,i:557,i:15,i:564,i:1,i:-1,i:0

[com_52]
fmt=v3
type=5
clientcode=0
x=84
y=190
width=24
height=24
hide=0
graphic=101
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:51,i:101,i:70,s:Earth Wave,s:A high level Earth missile,i:557,i:7,i:556,i:5,i:565,i:1,i:-1,i:0

[com_53]
fmt=v3
type=5
clientcode=0
x=108
y=190
width=24
height=24
hide=0
graphic=107
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:57,i:107,i:73,s:Enfeeble,s:Reduces your opponent's strength by 10%,i:557,i:8,i:555,i:8,i:566,i:1,i:-1,i:0

[com_54]
fmt=v3
type=5
clientcode=0
x=132
y=190
width=24
height=24
hide=0
graphic=399
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:349,i:399,i:74,s:Teleother Lumbridge,s:Teleports target to Lumbridge,i:566,i:1,i:563,i:1,i:557,i:1,i:-1,i:0

[com_55]
fmt=v3
type=5
clientcode=0
x=156
y=190
width=24
height=24
hide=0
graphic=102
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:52,i:102,i:75,s:Fire Wave,s:A high level Fire missile,i:554,i:7,i:556,i:5,i:565,i:1,i:-1,i:0

[com_56]
fmt=v3
type=5
clientcode=0
x=12
y=214
width=24
height=24
hide=0
graphic=371
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:321,i:371,i:79,s:Entangle,s:Holds your opponent for 15 seconds,i:557,i:5,i:555,i:5,i:561,i:4,i:-1,i:0

[com_57]
fmt=v3
type=5
clientcode=0
x=36
y=214
width=24
height=24
hide=0
graphic=108
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:58,i:108,i:80,s:Stun,s:Reduces your opponent's attack by 10%,i:557,i:12,i:555,i:12,i:566,i:1,i:-1,i:0

[com_58]
fmt=v3
type=5
clientcode=0
x=60
y=214
width=24
height=24
hide=0
graphic=372
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12582975,i:322,i:372,i:80,s:Charge,s:Temporarily increases the power<br>of the three arena spells when wearing Mage Arena capes,i:554,i:3,i:565,i:3,i:556,i:3,i:-1,i:0

[com_59]
fmt=v3
type=5
clientcode=0
x=84
y=214
width=24
height=24
hide=0
graphic=400
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:350,i:400,i:82,s:Teleother Falador,s:Teleports target to Falador,i:566,i:1,i:555,i:1,i:563,i:1,i:-1,i:0

[com_60]
fmt=v3
type=5
clientcode=0
x=108
y=214
width=24
height=24
hide=0
graphic=402
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:352,i:402,i:85,s:Tele Block,s:Stops your target from teleporting,i:563,i:1,i:562,i:1,i:560,i:1,i:-1,i:0

[com_61]
fmt=v3
type=5
clientcode=0
x=132
y=214
width=24
height=24
hide=0
graphic=403
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:353,i:403,i:87,s:Lvl-6 Enchant,s:For use on onyx jewellery,i:557,i:20,i:554,i:20,i:564,i:1,i:-1,i:0

[com_62]
fmt=v3
type=5
clientcode=0
x=156
y=214
width=24
height=24
hide=0
graphic=401
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12582975,i:351,i:401,i:90,s:Teleother Camelot,s:Teleports target to Camelot,i:566,i:2,i:563,i:1,i:-1,i:0,i:-1,i:0

[com_63]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
