// interface 193

[com_0]
fmt=v3
type=5
clientcode=0
x=64
y=36
width=24
height=24
hide=0
graphic=375
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:325,i:375,i:58,s:Ice Rush,s:A single target ice attack,i:562,i:2,i:560,i:2,i:555,i:2,i:-1,i:0

[com_1]
fmt=v3
type=5
clientcode=0
x=64
y=120
width=24
height=24
hide=0
graphic=377
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:327,i:377,i:82,s:Ice Blitz,s:A single target strong ice attack,i:560,i:2,i:565,i:2,i:555,i:3,i:-1,i:0

[com_2]
fmt=v3
type=5
clientcode=0
x=151
y=64
width=24
height=24
hide=0
graphic=376
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:326,i:376,i:70,s:Ice Burst,s:A multi-target ice attack,i:562,i:4,i:560,i:2,i:555,i:4,i:-1,i:0

[com_3]
fmt=v3
type=5
clientcode=0
x=151
y=148
width=24
height=24
hide=0
graphic=378
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:328,i:378,i:94,s:Ice Barrage,s:A multi-target strong ice attack,i:560,i:4,i:565,i:2,i:555,i:6,i:-1,i:0

[com_4]
fmt=v3
type=5
clientcode=0
x=19
y=36
width=24
height=24
hide=0
graphic=383
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:333,i:383,i:56,s:Blood Rush,s:A single target blood attack,i:562,i:2,i:560,i:2,i:565,i:1,i:-1,i:0

[com_5]
fmt=v3
type=5
clientcode=0
x=19
y=120
width=24
height=24
hide=0
graphic=385
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:335,i:385,i:80,s:Blood Blitz,s:A single target strong blood attack,i:560,i:2,i:565,i:4,i:-1,i:0,i:-1,i:0

[com_6]
fmt=v3
type=5
clientcode=0
x=110
y=64
width=24
height=24
hide=0
graphic=384
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:334,i:384,i:68,s:Blood Burst,s:A multi-target blood attack,i:562,i:4,i:560,i:2,i:565,i:2,i:-1,i:0

[com_7]
fmt=v3
type=5
clientcode=0
x=110
y=148
width=24
height=24
hide=0
graphic=386
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:336,i:386,i:92,s:Blood Barrage,s:A multi-target strong blood attack,i:560,i:4,i:565,i:4,i:566,i:1,i:-1,i:0

[com_8]
fmt=v3
type=5
clientcode=0
x=64
y=8
width=24
height=24
hide=0
graphic=379
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:329,i:379,i:50,s:Smoke Rush,s:A single target smoke attack,i:562,i:2,i:560,i:2,i:554,i:1,i:556,i:1

[com_9]
fmt=v3
type=5
clientcode=0
x=64
y=92
width=24
height=24
hide=0
graphic=381
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:331,i:381,i:74,s:Smoke Blitz,s:A single target strong smoke attack,i:560,i:2,i:565,i:2,i:554,i:2,i:556,i:2

[com_10]
fmt=v3
type=5
clientcode=0
x=151
y=36
width=24
height=24
hide=0
graphic=380
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:330,i:380,i:62,s:Smoke Burst,s:A multi-target smoke attack,i:562,i:4,i:560,i:2,i:554,i:2,i:556,i:2

[com_11]
fmt=v3
type=5
clientcode=0
x=151
y=120
width=24
height=24
hide=0
graphic=382
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:332,i:382,i:86,s:Smoke Barrage,s:A multi-target strong smoke attack,i:560,i:4,i:565,i:2,i:554,i:4,i:556,i:4

[com_12]
fmt=v3
type=5
clientcode=0
x=110
y=8
width=24
height=24
hide=0
graphic=387
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:337,i:387,i:52,s:Shadow Rush,s:A single target shadow attack,i:562,i:2,i:560,i:2,i:556,i:1,i:566,i:1

[com_13]
fmt=v3
type=5
clientcode=0
x=110
y=92
width=24
height=24
hide=0
graphic=389
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:339,i:389,i:76,s:Shadow Blitz,s:A single target strong shadow attack,i:560,i:2,i:565,i:2,i:556,i:2,i:566,i:2

[com_14]
fmt=v3
type=5
clientcode=0
x=19
y=64
width=24
height=24
hide=0
graphic=388
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:338,i:388,i:64,s:Shadow Burst,s:A multi-target shadow attack,i:562,i:4,i:560,i:2,i:556,i:1,i:566,i:2

[com_15]
fmt=v3
type=5
clientcode=0
x=19
y=148
width=24
height=24
hide=0
graphic=390
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:12648473,i:340,i:390,i:88,s:Shadow Barrage,s:A multi-target strong shadow attack,i:560,i:4,i:565,i:2,i:556,i:4,i:566,i:3

[com_16]
fmt=v3
type=5
clientcode=0
x=151
y=8
width=24
height=24
hide=0
graphic=391
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:341,i:391,i:54,s:Paddewwa Teleport,s:A teleportation spell,i:563,i:2,i:554,i:1,i:556,i:1,i:-1,i:0

[com_17]
fmt=v3
type=5
clientcode=0
x=110
y=36
width=24
height=24
hide=0
graphic=392
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:342,i:392,i:60,s:Senntisten Teleport,s:A teleportation spell,i:563,i:2,i:566,i:1,i:-1,i:0,i:-1,i:0

[com_18]
fmt=v3
type=5
clientcode=0
x=64
y=64
width=24
height=24
hide=0
graphic=393
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:343,i:393,i:66,s:Kharyrll Teleport,s:A teleportation spell,i:563,i:2,i:565,i:1,i:-1,i:0,i:-1,i:0

[com_19]
fmt=v3
type=5
clientcode=0
x=19
y=92
width=24
height=24
hide=0
graphic=394
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:344,i:394,i:72,s:Lassar Teleport,s:A teleportation spell,i:563,i:2,i:555,i:4,i:-1,i:0,i:-1,i:0

[com_20]
fmt=v3
type=5
clientcode=0
x=151
y=92
width=24
height=24
hide=0
graphic=395
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:345,i:395,i:78,s:Dareeyak Teleport,s:A teleportation spell,i:563,i:2,i:554,i:3,i:556,i:2,i:-1,i:0

[com_21]
fmt=v3
type=5
clientcode=0
x=110
y=120
width=24
height=24
hide=0
graphic=396
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:346,i:396,i:84,s:Carrallangar Teleport,s:A teleportation spell,i:563,i:2,i:566,i:2,i:-1,i:0,i:-1,i:0

[com_22]
fmt=v3
type=5
clientcode=0
x=64
y=148
width=24
height=24
hide=0
graphic=397
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:347,i:397,i:90,s:Annakarl Teleport,s:A teleportation spell,i:563,i:2,i:565,i:2,i:-1,i:0,i:-1,i:0

[com_23]
fmt=v3
type=5
clientcode=0
x=19
y=176
width=24
height=24
hide=0
graphic=398
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:348,i:398,i:96,s:Ghorrock Teleport,s:A teleportation spell,i:563,i:2,i:555,i:8,i:-1,i:0,i:-1,i:0

[com_24]
fmt=v3
type=5
clientcode=0
x=19
y=8
width=24
height=24
hide=0
graphic=356
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:12648473,i:356,i:406,i:0,s:Edgeville Home Teleport,s:Requires no runes - recharge time 30 mins. Warning: This spell takes a long time to cast and will be interrupted by combat.,i:-1,i:0,i:-1,i:0,i:-1,i:0,i:-1,i:0

[com_25]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
