// interface 195

[com_0]
type=6
buttontype=0
clientcode=0
x=415
y=17
width=32
height=32
trans=0
model=com_i10567
activemodel=-1
zoom=843
xan=421
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=359
y=13
width=139
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Enchantment
activetext=
colour=0x9e7144
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=360
y=33
width=99
height=23
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Pizazz Points:
activetext=
colour=0x996600
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=460
y=38
width=28
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=9999
activetext=
colour=0xcc6600
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=0
buttontype=0
clientcode=0
x=408
y=230
width=107
height=107
trans=0
scrollheight=0
hide=1

[com_5]
type=0
buttontype=0
clientcode=0
x=408
y=229
width=106
height=110
trans=0
scrollheight=0
hide=1

[com_6]
type=0
buttontype=0
clientcode=0
x=408
y=228
width=116
height=111
trans=0
scrollheight=0
hide=1

[com_7]
type=0
buttontype=0
clientcode=0
x=408
y=228
width=112
height=110
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=50
y=50
width=32
height=32
layer=com_4
trans=0
model=com_i10596
activemodel=-1
zoom=1395
xan=96
yan=1282

[com_9]
type=6
buttontype=0
clientcode=0
x=50
y=50
width=32
height=32
layer=com_5
trans=0
model=com_i10597
activemodel=-1
zoom=1397
xan=91
yan=1716

[com_10]
type=6
buttontype=0
clientcode=0
x=50
y=50
width=32
height=32
layer=com_6
trans=0
model=com_i10605
activemodel=-1
zoom=1071
xan=96
yan=975

[com_11]
type=6
buttontype=0
clientcode=0
x=50
y=50
width=32
height=32
layer=com_7
trans=0
model=com_i10602
activemodel=-1
zoom=1180
xan=105
yan=1907

[com_12]
type=4
buttontype=0
clientcode=0
x=443
y=233
width=62
height=36
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Bonus:
activetext=
colour=0x996600
colour2=0x000000
colourover=0x000000
colour2over=0x000000
