// interface 2

[com_0]
type=5
buttontype=0
clientcode=0
x=0
y=-4
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=103
y=-4
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=206
y=-4
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=309
y=-4
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=412
y=-4
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=0
y=99
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=103
y=99
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=206
y=99
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=309
y=99
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=412
y=99
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=0
y=202
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=103
y=202
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=206
y=202
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=309
y=202
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=412
y=202
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=0
y=305
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=103
y=305
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=206
y=305
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=309
y=305
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=412
y=305
width=104
height=104
trans=0
graphic=444
activegraphic=-1

[com_20]
type=6
buttontype=0
clientcode=0
x=27
y=256
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3457
zoom=400
xan=0
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=149
y=256
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3457
zoom=400
xan=0
yan=0

[com_22]
type=6
buttontype=0
clientcode=0
x=271
y=256
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3457
zoom=400
xan=0
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=394
y=256
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3457
zoom=400
xan=0
yan=0

[com_24]
type=6
buttontype=0
clientcode=0
x=333
y=152
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3458
zoom=400
xan=0
yan=0

[com_25]
type=6
buttontype=0
clientcode=0
x=456
y=152
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3458
zoom=400
xan=0
yan=0

[com_26]
type=6
buttontype=0
clientcode=0
x=89
y=152
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3458
zoom=400
xan=0
yan=0

[com_27]
type=6
buttontype=0
clientcode=0
x=211
y=152
width=32
height=32
trans=0
model=com_i13353
activemodel=-1
anim=3458
zoom=400
xan=0
yan=0

[com_28]
type=3
buttontype=0
clientcode=0
x=-50
y=-1
width=61
height=338
trans=160
fill=1
colour=0x001040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=3
buttontype=0
clientcode=0
x=11
y=-1
width=61
height=338
trans=160
fill=1
colour=0x203080
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=3
buttontype=0
clientcode=0
x=72
y=-1
width=61
height=338
trans=160
fill=1
colour=0x001040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=3
buttontype=0
clientcode=0
x=133
y=-1
width=61
height=338
trans=160
fill=1
colour=0x203080
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=3
buttontype=0
clientcode=0
x=194
y=-1
width=61
height=338
trans=160
fill=1
colour=0x001040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=3
buttontype=0
clientcode=0
x=255
y=-1
width=61
height=338
trans=160
fill=1
colour=0x203080
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=3
buttontype=0
clientcode=0
x=316
y=-1
width=61
height=338
trans=160
fill=1
colour=0x001040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=3
buttontype=0
clientcode=0
x=377
y=-1
width=61
height=338
trans=160
fill=1
colour=0x203080
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=3
buttontype=0
clientcode=0
x=438
y=-1
width=61
height=338
trans=160
fill=1
colour=0x001040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=3
buttontype=0
clientcode=0
x=499
y=-1
width=61
height=338
trans=160
fill=1
colour=0x203080
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=3
buttontype=0
clientcode=0
x=130
y=107
width=267
height=137
trans=128
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=5
buttontype=0
clientcode=0
x=125
y=146
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=211
y=146
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=298
y=146
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=297
y=174
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=214
y=174
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=127
y=174
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=299
y=104
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=215
y=104
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=128
y=104
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_48]
type=2
buttontype=0
clientcode=0
x=144
y=120
width=5
height=2
trans=0
eventcode=0x0
marginx=16
marginy=33
targetverb=
targetbase=

[com_49]
type=5
buttontype=0
clientcode=0
x=123
y=100
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=147
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=182
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=217
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=252
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=287
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=322
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=341
y=85
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=365
y=100
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=369
y=129
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=369
y=164
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=369
y=199
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=365
y=208
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=330
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=295
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=260
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=225
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=190
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=155
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=108
y=129
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=108
y=164
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=108
y=199
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=123
y=208
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=138
y=217
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=480
y=6
width=26
height=23
overlayer=75
trans=0
graphic=539
activegraphic=-1

[com_74]
type=5
buttontype=1
clientcode=0
x=3
y=3
width=26
height=23
layer=com_75
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_75]
type=0
buttontype=0
clientcode=0
x=477
y=3
width=32
height=32
trans=0
scrollheight=0
hide=1
