// interface 20

[com_0]
type=6
buttontype=0
clientcode=0
x=369
y=424
width=32
height=32
trans=0
model=com_i9630
activemodel=-1
zoom=692
xan=512
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=190
y=431
width=400
height=40
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=190
y=411
width=400
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Message of the week
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=65
y=479
width=32
height=32
trans=0
model=com_i10232
activemodel=-1
zoom=687
xan=120
yan=228

[com_4]
type=6
buttontype=0
clientcode=0
x=675
y=469
width=32
height=32
trans=0
model=com_i10234
activemodel=-1
zoom=656
xan=39
yan=201

[com_5]
type=6
buttontype=0
clientcode=0
x=67
y=431
width=32
height=32
trans=0
model=com_i10233
activemodel=-1
zoom=1000
xan=458
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=659
y=446
width=32
height=32
trans=0
model=com_i10233
activemodel=-1
zoom=1300
xan=458
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=712
y=420
width=32
height=32
trans=0
model=com_i10233
activemodel=-1
zoom=1700
xan=458
yan=0
