// interface 202

[com_0]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=12
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=12
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=12
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=12
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=100
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=188
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=100
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=188
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=276
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=364
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=276
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=364
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=364
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=364
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=364
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=412
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=412
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=412
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=412
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=412
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=-3
y=49
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=-3
y=85
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=-3
y=121
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=-3
y=157
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=-3
y=193
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=-3
y=229
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=-3
y=265
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=479
y=50
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=479
y=86
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=479
y=122
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=479
y=158
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=479
y=194
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=479
y=230
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=479
y=266
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=73
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=109
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=145
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=181
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=217
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=253
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=289
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=325
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=361
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=397
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=433
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=72
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=108
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=144
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=180
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=216
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=252
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=288
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=324
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=360
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=396
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=432
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=252
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=37
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=37
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=12
y=290
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=475
y=20
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=439
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=475
y=290
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_74]
type=5
buttontype=0
clientcode=0
x=439
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_75]
type=5
buttontype=0
clientcode=0
x=288
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_76]
type=5
buttontype=0
clientcode=0
x=324
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_77]
type=5
buttontype=0
clientcode=0
x=360
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_78]
type=5
buttontype=0
clientcode=0
x=396
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_79]
type=5
buttontype=0
clientcode=0
x=432
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_80]
type=5
buttontype=0
clientcode=0
x=459
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_81]
type=5
buttontype=0
clientcode=0
x=216
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_82]
type=5
buttontype=0
clientcode=0
x=180
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_83]
type=5
buttontype=0
clientcode=0
x=144
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_84]
type=5
buttontype=0
clientcode=0
x=108
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_85]
type=5
buttontype=0
clientcode=0
x=72
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_86]
type=5
buttontype=0
clientcode=0
x=36
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_87]
type=5
buttontype=0
clientcode=0
x=17
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_88]
type=4
buttontype=0
clientcode=0
x=19
y=31
width=472
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Thessalia's Makeovers (Torso)
activetext=
colour=0xc9800d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=3
buttontype=0
clientcode=0
x=59
y=249
width=403
height=28
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_90]
type=3
buttontype=5
clientcode=0
x=60
y=250
width=25
height=25
trans=0
scriptcmp=1/1
scripts=5/263/0
fill=1
colour=0x7b6e32
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Khaki

[com_91]
type=3
buttontype=5
clientcode=0
x=85
y=250
width=25
height=25
trans=0
scriptcmp=1/2
scripts=5/263/0
fill=1
colour=0x262323
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Black

[com_92]
type=3
buttontype=5
clientcode=0
x=110
y=250
width=25
height=25
trans=0
scriptcmp=1/3
scripts=5/263/0
fill=1
colour=0x752f3b
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Crimson

[com_93]
type=3
buttontype=5
clientcode=0
x=135
y=250
width=25
height=25
trans=0
scriptcmp=1/4
scripts=5/263/0
fill=1
colour=0x3b3b4e
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Navy

[com_94]
type=3
buttontype=5
clientcode=0
x=160
y=250
width=25
height=25
trans=0
scriptcmp=1/5
scripts=5/263/0
fill=1
colour=0xaa9045
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Straw

[com_95]
type=3
buttontype=5
clientcode=0
x=185
y=250
width=25
height=25
trans=0
scriptcmp=1/6
scripts=5/263/0
fill=1
colour=0xada481
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=White

[com_96]
type=3
buttontype=5
clientcode=0
x=210
y=250
width=25
height=25
trans=0
scriptcmp=1/7
scripts=5/263/0
fill=1
colour=0x8b3b2a
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Red

[com_97]
type=3
buttontype=5
clientcode=0
x=235
y=250
width=25
height=25
trans=0
scriptcmp=1/8
scripts=5/263/0
fill=1
colour=0x2d5272
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Blue

[com_98]
type=3
buttontype=5
clientcode=0
x=260
y=250
width=25
height=25
trans=0
scriptcmp=1/9
scripts=5/263/0
fill=1
colour=0x2d723e
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Green

[com_99]
type=3
buttontype=5
clientcode=0
x=285
y=250
width=25
height=25
trans=0
scriptcmp=1/10
scripts=5/263/0
fill=1
colour=0xa3970d
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Yellow

[com_100]
type=3
buttontype=5
clientcode=0
x=310
y=250
width=25
height=25
trans=0
scriptcmp=1/11
scripts=5/263/0
fill=1
colour=0x83537b
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Purple

[com_101]
type=3
buttontype=5
clientcode=0
x=335
y=250
width=25
height=25
trans=0
scriptcmp=1/12
scripts=5/263/0
fill=1
colour=0x9d642f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Orange

[com_102]
type=3
buttontype=5
clientcode=0
x=360
y=250
width=25
height=25
trans=0
scriptcmp=1/13
scripts=5/263/0
fill=1
colour=0xa17067
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Rose

[com_103]
type=3
buttontype=5
clientcode=0
x=385
y=250
width=25
height=25
trans=0
scriptcmp=1/14
scripts=5/263/0
fill=1
colour=0x829472
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lime

[com_104]
type=3
buttontype=5
clientcode=0
x=410
y=250
width=25
height=25
trans=0
scriptcmp=1/15
scripts=5/263/0
fill=1
colour=0x728c94
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Cyan

[com_105]
type=3
buttontype=5
clientcode=0
x=435
y=250
width=25
height=25
trans=0
scriptcmp=1/16
scripts=5/263/0
fill=1
colour=0x1c6135
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Emerald

[com_106]
type=4
buttontype=1
clientcode=0
x=159
y=288
width=190
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=CONFIRM (500 gold)
activetext=
colour=0x00ff00
colour2=0x000000
colourover=0xff0000
colour2over=0x000000
buttontext=

[com_107]
type=5
buttontype=0
clientcode=0
x=59
y=250
width=25
height=25
trans=0
scriptcmp=1/1
scripts=5/263/0
graphic=-1
activegraphic=442

[com_108]
type=5
buttontype=0
clientcode=0
x=84
y=250
width=25
height=25
trans=0
scriptcmp=1/2
scripts=5/263/0
graphic=-1
activegraphic=442

[com_109]
type=5
buttontype=0
clientcode=0
x=109
y=250
width=25
height=25
trans=0
scriptcmp=1/3
scripts=5/263/0
graphic=-1
activegraphic=442

[com_110]
type=5
buttontype=0
clientcode=0
x=134
y=250
width=25
height=25
trans=0
scriptcmp=1/4
scripts=5/263/0
graphic=-1
activegraphic=442

[com_111]
type=5
buttontype=0
clientcode=0
x=160
y=250
width=25
height=25
trans=0
scriptcmp=1/5
scripts=5/263/0
graphic=-1
activegraphic=442

[com_112]
type=5
buttontype=0
clientcode=0
x=185
y=250
width=25
height=25
trans=0
scriptcmp=1/6
scripts=5/263/0
graphic=-1
activegraphic=442

[com_113]
type=5
buttontype=0
clientcode=0
x=210
y=250
width=25
height=25
trans=0
scriptcmp=1/7
scripts=5/263/0
graphic=-1
activegraphic=442

[com_114]
type=5
buttontype=0
clientcode=0
x=235
y=250
width=25
height=25
trans=0
scriptcmp=1/8
scripts=5/263/0
graphic=-1
activegraphic=442

[com_115]
type=5
buttontype=0
clientcode=0
x=260
y=250
width=25
height=25
trans=0
scriptcmp=1/9
scripts=5/263/0
graphic=-1
activegraphic=442

[com_116]
type=5
buttontype=0
clientcode=0
x=285
y=250
width=25
height=25
trans=0
scriptcmp=1/10
scripts=5/263/0
graphic=-1
activegraphic=442

[com_117]
type=5
buttontype=0
clientcode=0
x=310
y=250
width=25
height=25
trans=0
scriptcmp=1/11
scripts=5/263/0
graphic=-1
activegraphic=442

[com_118]
type=5
buttontype=0
clientcode=0
x=335
y=250
width=25
height=25
trans=0
scriptcmp=1/12
scripts=5/263/0
graphic=-1
activegraphic=442

[com_119]
type=5
buttontype=0
clientcode=0
x=360
y=250
width=25
height=25
trans=0
scriptcmp=1/13
scripts=5/263/0
graphic=-1
activegraphic=442

[com_120]
type=5
buttontype=0
clientcode=0
x=385
y=250
width=25
height=25
trans=0
scriptcmp=1/14
scripts=5/263/0
graphic=-1
activegraphic=442

[com_121]
type=5
buttontype=0
clientcode=0
x=410
y=250
width=25
height=25
trans=0
scriptcmp=1/15
scripts=5/263/0
graphic=-1
activegraphic=442

[com_122]
type=5
buttontype=0
clientcode=0
x=435
y=250
width=25
height=25
trans=0
scriptcmp=1/16
scripts=5/263/0
graphic=-1
activegraphic=442

[com_123]
type=4
buttontype=0
clientcode=0
x=22
y=63
width=468
height=18
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Select body style
activetext=
colour=0xc9800d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_124]
type=4
buttontype=0
clientcode=0
x=21
y=149
width=470
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Select arms style
activetext=
colour=0xc9800d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_125]
type=4
buttontype=0
clientcode=0
x=24
y=226
width=468
height=17
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Select colour
activetext=
colour=0xc9800d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_126]
type=6
buttontype=0
clientcode=0
x=50
y=180
width=32
height=32
trans=0
model=com_i456
activemodel=-1
zoom=800
xan=0
yan=0

[com_127]
type=6
buttontype=0
clientcode=0
x=145
y=180
width=32
height=32
trans=0
model=com_i469
activemodel=-1
zoom=800
xan=0
yan=0

[com_128]
type=6
buttontype=0
clientcode=0
x=240
y=180
width=32
height=32
trans=0
model=com_i470
activemodel=-1
zoom=800
xan=0
yan=0

[com_129]
type=6
buttontype=0
clientcode=0
x=325
y=180
width=32
height=32
trans=0
model=com_i471
activemodel=-1
zoom=800
xan=0
yan=0

[com_130]
type=6
buttontype=0
clientcode=0
x=420
y=180
width=32
height=32
trans=0
model=com_i474
activemodel=-1
zoom=800
xan=0
yan=0

[com_131]
type=6
buttontype=0
clientcode=0
x=50
y=260
width=32
height=32
trans=0
model=com_i456
activemodel=-1
zoom=800
xan=0
yan=0

[com_132]
type=6
buttontype=0
clientcode=0
x=145
y=260
width=32
height=32
trans=0
model=com_i456
activemodel=-1
zoom=800
xan=0
yan=0

[com_133]
type=6
buttontype=0
clientcode=0
x=240
y=260
width=32
height=32
trans=0
model=com_i456
activemodel=-1
zoom=800
xan=0
yan=0

[com_134]
type=6
buttontype=0
clientcode=0
x=325
y=260
width=32
height=32
trans=0
model=com_i456
activemodel=-1
zoom=800
xan=0
yan=0

[com_135]
type=6
buttontype=0
clientcode=0
x=420
y=260
width=32
height=32
trans=0
model=com_i456
activemodel=-1
zoom=800
xan=0
yan=0

[com_136]
type=6
buttontype=0
clientcode=0
x=50
y=180
width=32
height=32
trans=0
model=com_i332
activemodel=-1
zoom=800
xan=0
yan=0

[com_137]
type=6
buttontype=0
clientcode=0
x=145
y=180
width=32
height=32
trans=0
model=com_i332
activemodel=-1
zoom=800
xan=0
yan=0

[com_138]
type=6
buttontype=0
clientcode=0
x=240
y=180
width=32
height=32
trans=0
model=com_i332
activemodel=-1
zoom=800
xan=0
yan=0

[com_139]
type=6
buttontype=0
clientcode=0
x=325
y=180
width=32
height=32
trans=0
model=com_i332
activemodel=-1
zoom=800
xan=0
yan=0

[com_140]
type=6
buttontype=0
clientcode=0
x=420
y=180
width=32
height=32
trans=0
model=com_i332
activemodel=-1
zoom=800
xan=0
yan=0

[com_141]
type=6
buttontype=0
clientcode=0
x=50
y=260
width=32
height=32
trans=0
model=com_i332
activemodel=-1
zoom=800
xan=0
yan=0

[com_142]
type=6
buttontype=0
clientcode=0
x=145
y=260
width=32
height=32
trans=0
model=com_i351
activemodel=-1
zoom=800
xan=0
yan=0

[com_143]
type=6
buttontype=0
clientcode=0
x=240
y=260
width=32
height=32
trans=0
model=com_i346
activemodel=-1
zoom=800
xan=0
yan=0

[com_144]
type=6
buttontype=0
clientcode=0
x=325
y=260
width=32
height=32
trans=0
model=com_i348
activemodel=-1
zoom=800
xan=0
yan=0

[com_145]
type=6
buttontype=0
clientcode=0
x=420
y=260
width=32
height=32
trans=0
model=com_i343
activemodel=-1
zoom=800
xan=0
yan=0

[com_146]
type=5
buttontype=5
clientcode=0
x=53
y=100
width=25
height=25
trans=0
scriptcmp=1/1
scripts=5/261/0
graphic=-1
activegraphic=442
buttontext=Plain

[com_147]
type=5
buttontype=5
clientcode=0
x=148
y=100
width=25
height=25
trans=0
scriptcmp=1/2
scripts=5/261/0
graphic=-1
activegraphic=442
buttontext=Crop-top

[com_148]
type=5
buttontype=5
clientcode=0
x=243
y=100
width=25
height=25
trans=0
scriptcmp=1/3
scripts=5/261/0
graphic=-1
activegraphic=442
buttontext=Polo-neck

[com_149]
type=5
buttontype=5
clientcode=0
x=328
y=100
width=25
height=25
trans=0
scriptcmp=1/4
scripts=5/261/0
graphic=-1
activegraphic=442
buttontext=Simple

[com_150]
type=5
buttontype=5
clientcode=0
x=423
y=100
width=25
height=25
trans=0
scriptcmp=1/5
scripts=5/261/0
graphic=-1
activegraphic=442
buttontext=Torn

[com_151]
type=5
buttontype=5
clientcode=0
x=52
y=180
width=25
height=25
trans=0
scriptcmp=1/1
scripts=5/262/0
graphic=-1
activegraphic=442
buttontext=Short sleeves

[com_152]
type=5
buttontype=5
clientcode=0
x=148
y=180
width=25
height=25
trans=0
scriptcmp=1/2
scripts=5/262/0
graphic=-1
activegraphic=442
buttontext=Bare arms

[com_153]
type=5
buttontype=5
clientcode=0
x=243
y=180
width=25
height=25
trans=0
scriptcmp=1/3
scripts=5/262/0
graphic=-1
activegraphic=442
buttontext=Muscley

[com_154]
type=5
buttontype=5
clientcode=0
x=328
y=180
width=25
height=25
trans=0
scriptcmp=1/4
scripts=5/262/0
graphic=-1
activegraphic=442
buttontext=Long sleeved

[com_155]
type=5
buttontype=5
clientcode=0
x=423
y=180
width=25
height=25
trans=0
scriptcmp=1/5
scripts=5/262/0
graphic=-1
activegraphic=442
buttontext=Large cuffs

[com_156]
type=5
buttontype=0
clientcode=0
x=472
y=25
width=26
height=23
overlayer=158
trans=0
graphic=535
activegraphic=-1

[com_157]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_158
overlayer=158
trans=0
graphic=536
activegraphic=-1

[com_158]
type=0
buttontype=0
clientcode=0
x=469
y=21
width=32
height=32
trans=0
scrollheight=0
hide=1
