// interface 208

[com_0]
type=0
buttontype=0
clientcode=0
x=34
y=275
width=450
height=24
trans=0
scrollheight=0
hide=1

[com_1]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=450
height=24
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Text
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
