// interface 211

[com_0]
fmt=v3
type=4
clientcode=0
x=21
y=13
width=441
height=17
hide=0
font=497
text=Line1
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=21
y=45
width=442
height=18
hide=0
font=497
text=Line2
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=4
clientcode=0
x=69
y=77
width=350
height=17
hide=0
font=497
text=Click here to continue
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x0000ff
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:255
