// interface 219

[com_0]
type=4
buttontype=0
clientcode=0
x=21
y=0
width=441
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line1
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=21
y=16
width=441
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line2
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=21
y=32
width=441
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line3
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=21
y=48
width=441
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line4
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=21
y=64
width=441
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line5
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
