// interface 222

[com_0]
type=6
buttontype=0
clientcode=0
x=213
y=167
width=32
height=32
trans=0
model=com_i11365
activemodel=-1
zoom=569
xan=490
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=69
y=54
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=70
y=78
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=70
y=102
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=70
y=125
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=70
y=147
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=70
y=169
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=70
y=191
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=70
y=214
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=70
y=235
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=70
y=256
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=70
y=278
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=5
buttontype=0
clientcode=0
x=414
y=44
width=26
height=23
overlayer=14
trans=0
graphic=537
activegraphic=-1

[com_13]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_14
overlayer=14
trans=0
graphic=538
activegraphic=-1

[com_14]
type=0
buttontype=0
clientcode=0
x=411
y=40
width=32
height=32
trans=0
scrollheight=0
hide=1
