// interface 223

[com_0]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=189
height=261
trans=0
scrollheight=0
hide=0

[com_1]
type=5
buttontype=1
clientcode=0
x=4
y=6
width=48
height=48
layer=com_0
trans=0
graphic=803
activegraphic=-1
buttontext=Shiver

[com_2]
type=5
buttontype=1
clientcode=0
x=48
y=6
width=48
height=48
layer=com_0
trans=0
graphic=804
activegraphic=-1
buttontext=Spin

[com_3]
type=5
buttontype=1
clientcode=0
x=92
y=6
width=48
height=48
layer=com_0
trans=0
graphic=805
activegraphic=-1
buttontext=Clap

[com_4]
type=5
buttontype=1
clientcode=0
x=136
y=6
width=48
height=48
layer=com_0
trans=0
graphic=806
activegraphic=-1
buttontext=Bow

[com_5]
type=5
buttontype=1
clientcode=0
x=4
y=55
width=48
height=48
layer=com_0
trans=0
graphic=807
activegraphic=-1
buttontext=Cheer

[com_6]
type=5
buttontype=1
clientcode=0
x=48
y=55
width=48
height=48
layer=com_0
trans=0
graphic=808
activegraphic=-1
buttontext=Wave

[com_7]
type=5
buttontype=1
clientcode=0
x=92
y=55
width=48
height=48
layer=com_0
trans=0
graphic=809
activegraphic=-1
buttontext=Preen

[com_8]
type=5
buttontype=1
clientcode=0
x=136
y=55
width=48
height=48
layer=com_0
trans=0
graphic=810
activegraphic=-1
buttontext=Flap

[com_9]
type=8
buttontype=0
clientcode=0
x=10
y=6
width=34
height=48
layer=com_0
trans=0
text=Shiver

[com_10]
type=8
buttontype=0
clientcode=0
x=55
y=6
width=34
height=48
layer=com_0
trans=0
text=Spin

[com_11]
type=8
buttontype=0
clientcode=0
x=99
y=6
width=34
height=48
layer=com_0
trans=0
text=Clap

[com_12]
type=8
buttontype=0
clientcode=0
x=143
y=6
width=34
height=48
layer=com_0
trans=0
text=Bow

[com_13]
type=8
buttontype=0
clientcode=0
x=11
y=55
width=34
height=48
layer=com_0
trans=0
text=Cheer

[com_14]
type=8
buttontype=0
clientcode=0
x=53
y=55
width=34
height=48
layer=com_0
trans=0
text=Wave

[com_15]
type=8
buttontype=0
clientcode=0
x=99
y=55
width=34
height=48
layer=com_0
trans=0
text=Preen

[com_16]
type=8
buttontype=0
clientcode=0
x=143
y=55
width=34
height=48
layer=com_0
trans=0
text=Flap
