// interface 24

[com_0]
type=4
buttontype=0
clientcode=0
x=378
y=310
width=124
height=16
trans=0
scriptcmp=3/9999
scripts=14/464/0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=Kill Count: %1
activetext=Kill Count: Too Many!
colour=0x7d7d4b
colour2=0x4d4d2f
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=86
y=109
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=166
y=189
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=440
y=138
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=365
y=201
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=403
y=141
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=125
y=165
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
