// interface 240

[com_0]
type=6
buttontype=0
clientcode=0
x=79
y=107
width=32
height=32
trans=0
model=com_i14944
activemodel=-1
zoom=856
xan=505
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=80
y=111
width=32
height=32
trans=0
model=com_i14937
activemodel=-1
zoom=2192
xan=400
yan=2047

[com_2]
type=6
buttontype=0
clientcode=0
x=79
y=112
width=32
height=32
trans=0
model=com_i14940
activemodel=-1
zoom=2320
xan=402
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=39
y=32
width=32
height=32
layer=com_7
trans=0
model=com_i14944
activemodel=-1
zoom=856
xan=505
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=40
y=36
width=32
height=32
layer=com_7
trans=0
model=com_i14937
activemodel=-1
zoom=2192
xan=400
yan=2047

[com_5]
type=6
buttontype=0
clientcode=0
x=39
y=37
width=32
height=32
layer=com_7
trans=0
model=com_i14943
activemodel=-1
zoom=2320
xan=402
yan=0

[com_6]
type=0
buttontype=1
clientcode=0
x=79
y=52
width=32
height=39
overlayer=7
trans=0
scrollheight=0
hide=0
buttontext=

[com_7]
type=0
buttontype=0
clientcode=0
x=40
y=75
width=107
height=101
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=39
y=32
width=32
height=32
layer=com_12
trans=0
model=com_i14944
activemodel=-1
zoom=856
xan=505
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=40
y=36
width=32
height=32
layer=com_12
trans=0
model=com_i14937
activemodel=-1
zoom=2192
xan=400
yan=2047

[com_10]
type=6
buttontype=0
clientcode=0
x=39
y=37
width=32
height=32
layer=com_12
trans=0
model=com_i14939
activemodel=-1
zoom=2320
xan=402
yan=0

[com_11]
type=0
buttontype=1
clientcode=0
x=75
y=162
width=40
height=51
overlayer=12
trans=0
scrollheight=0
hide=0
buttontext=

[com_12]
type=0
buttontype=0
clientcode=0
x=40
y=75
width=107
height=101
trans=0
scrollheight=0
hide=1

[com_13]
type=6
buttontype=0
clientcode=0
x=39
y=32
width=32
height=32
layer=com_17
trans=0
model=com_i14944
activemodel=-1
zoom=856
xan=505
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=40
y=36
width=32
height=32
layer=com_17
trans=0
model=com_i14937
activemodel=-1
zoom=2192
xan=400
yan=2047

[com_15]
type=6
buttontype=0
clientcode=0
x=39
y=37
width=32
height=32
layer=com_17
trans=0
model=com_i14941
activemodel=-1
zoom=2320
xan=402
yan=0

[com_16]
type=0
buttontype=1
clientcode=0
x=11
y=110
width=47
height=36
overlayer=17
trans=0
scrollheight=0
hide=0
buttontext=

[com_17]
type=0
buttontype=0
clientcode=0
x=40
y=75
width=107
height=101
trans=0
scrollheight=0
hide=1

[com_18]
type=6
buttontype=0
clientcode=0
x=39
y=32
width=32
height=32
layer=com_22
trans=0
model=com_i14944
activemodel=-1
zoom=856
xan=505
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=40
y=36
width=32
height=32
layer=com_22
trans=0
model=com_i14937
activemodel=-1
zoom=2192
xan=400
yan=2047

[com_20]
type=6
buttontype=0
clientcode=0
x=39
y=37
width=32
height=32
layer=com_22
trans=0
model=com_i14942
activemodel=-1
zoom=2320
xan=402
yan=0

[com_21]
type=0
buttontype=1
clientcode=0
x=133
y=110
width=47
height=36
overlayer=22
trans=0
scrollheight=0
hide=0
buttontext=

[com_22]
type=0
buttontype=0
clientcode=0
x=40
y=75
width=107
height=101
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=137
y=204
width=32
height=32
trans=0
model=com_i14938
activemodel=-1
zoom=2320
xan=400
yan=2029

[com_24]
type=6
buttontype=0
clientcode=0
x=8
y=5
width=32
height=32
layer=com_26
trans=0
model=com_i14936
activemodel=-1
zoom=2320
xan=400
yan=2029

[com_25]
type=0
buttontype=1
clientcode=0
x=129
y=199
width=43
height=45
overlayer=26
trans=0
scrollheight=0
hide=0
buttontext=

[com_26]
type=0
buttontype=0
clientcode=0
x=129
y=199
width=43
height=45
trans=0
scrollheight=0
hide=1

[com_27]
type=4
buttontype=0
clientcode=0
x=15
y=15
width=76
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Tries = 3
activetext=
colour=0x909069
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=1
clientcode=0
x=129
y=199
width=43
height=45
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_29]
type=4
buttontype=1
clientcode=0
x=79
y=52
width=32
height=39
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_30]
type=4
buttontype=1
clientcode=0
x=75
y=162
width=40
height=51
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_31]
type=4
buttontype=1
clientcode=0
x=11
y=110
width=47
height=36
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_32]
type=4
buttontype=1
clientcode=0
x=133
y=110
width=47
height=36
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_33]
type=5
buttontype=3
clientcode=0
x=139
y=17
width=26
height=23
overlayer=35
trans=0
graphic=539
activegraphic=-1

[com_34]
type=5
buttontype=1
clientcode=0
x=4
y=3
width=26
height=23
layer=com_35
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_35]
type=0
buttontype=0
clientcode=0
x=135
y=14
width=32
height=32
trans=0
scrollheight=0
hide=1
