// interface 242

[com_0]
type=6
buttontype=0
clientcode=0
x=34
y=34
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=796
xan=40
yan=1882

[com_1]
type=4
buttontype=0
clientcode=0
x=111
y=0
width=350
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Name
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=111
y=28
width=350
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line1
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=111
y=56
width=350
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line2
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=6
clientcode=0
x=111
y=80
width=350
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Click here to continue
activetext=
colour=0x0000ff
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=
