// interface 25

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=125
fill=1
colour=0x4d4d2f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=93
height=93
layer=com_13
trans=0
model=-1
activemodel=-1
zoom=500
xan=512
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=93
y=0
width=93
height=93
layer=com_13
trans=0
model=-1
activemodel=-1
zoom=500
xan=512
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=186
y=0
width=93
height=93
layer=com_13
trans=0
model=-1
activemodel=-1
zoom=500
xan=512
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=292
y=18
width=48
height=39
layer=com_13
trans=0
model=com_i4623
activemodel=-1
zoom=1299
xan=524
yan=19

[com_5]
type=4
buttontype=0
clientcode=0
x=65
y=179
width=376
height=31
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Which is the next shape in the above sequence?
activetext=
colour=0x7d7d4b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=6
buttontype=1
clientcode=0
x=61
y=222
width=93
height=93
trans=0
model=-1
activemodel=-1
zoom=500
xan=512
yan=0
buttontext=

[com_7]
type=6
buttontype=1
clientcode=0
x=204
y=222
width=93
height=93
trans=0
model=-1
activemodel=-1
zoom=500
xan=512
yan=0
buttontext=

[com_8]
type=6
buttontype=1
clientcode=0
x=347
y=222
width=93
height=93
trans=0
model=-1
activemodel=-1
zoom=500
xan=512
yan=0
buttontext=

[com_9]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=9
height=14
layer=com_13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=1.
activetext=
colour=0x7d7d4b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=93
y=0
width=11
height=14
layer=com_13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=2.
activetext=
colour=0x7d7d4b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=186
y=0
width=10
height=14
layer=com_13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=3.
activetext=
colour=0x7d7d4b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=279
y=0
width=10
height=14
layer=com_13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=4.
activetext=
colour=0x7d7d4b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=0
buttontype=0
clientcode=0
x=72
y=66
width=355
height=93
trans=0
scrollheight=0
hide=0
