// interface 252

[com_0]
fmt=v3
type=6
clientcode=0
x=176
y=189
width=32
height=32
hide=0
model=com_i24124
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=550
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=478
y=6
width=26
height=23
hide=0
graphic=537
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:16515073,i:538
onmouseleave=i:44,i:16515073,i:537
onclick=i:29

[com_2]
fmt=v3
type=0
clientcode=0
x=475
y=2
width=32
height=32
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=0
clientcode=0
x=43
y=142
width=52
height=51
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=0
clientcode=0
x=106
y=141
width=49
height=52
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=0
clientcode=0
x=166
y=142
width=51
height=50
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=0
clientcode=0
x=228
y=144
width=48
height=48
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=0
clientcode=0
x=290
y=143
width=50
height=49
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=6
clientcode=0
x=421
y=149
width=32
height=32
hide=0
model=com_i24129
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=300
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=6
clientcode=0
x=43
y=142
width=52
height=51
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x2
baseop=
op1=Open
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=6
clientcode=0
x=106
y=141
width=49
height=52
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x2
baseop=
op1=Open
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=6
clientcode=0
x=166
y=142
width=51
height=50
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x2
baseop=
op1=Open
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=6
clientcode=0
x=228
y=144
width=48
height=48
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x2
baseop=
op1=Open
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=6
clientcode=0
x=290
y=143
width=50
height=49
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x2
baseop=
op1=Open
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=6
clientcode=0
x=414
y=121
width=47
height=91
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
