// interface 254

[com_0]
fmt=v3
type=3
clientcode=0
x=1
y=1
width=512
height=335
hide=0
colour=0x3d352e
fill=1
trans=64
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=229
y=136
width=32
height=32
hide=0
model=com_i24125
modelxof=0
modelyof=0
xan=459
yan=2041
zan=0
zoom=912
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=478
y=6
width=26
height=23
hide=0
graphic=537
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:16646146,i:538
onmouseleave=i:44,i:16646146,i:537
onclick=i:29

[com_3]
fmt=v3
type=0
clientcode=0
x=475
y=2
width=32
height=32
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
