// interface 255

[com_0]
fmt=v3
type=6
clientcode=0
x=240
y=155
width=32
height=32
hide=0
model=com_i24133
modelxof=0
modelyof=0
xan=512
yan=1024
zan=0
zoom=480
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=478
y=6
width=26
height=23
hide=0
graphic=537
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:16711681,i:538
onmouseleave=i:44,i:16711681,i:537
onclick=i:29

[com_2]
fmt=v3
type=0
clientcode=0
x=475
y=2
width=32
height=32
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=4
clientcode=0
x=124
y=88
width=254
height=174
hide=0
font=497
text=
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x959574
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
