// interface 257

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=151
width=32
height=32
trans=0
model=com_i24421
activemodel=-1
anim=6169
zoom=450
xan=0
yan=0
