// interface 259

[com_0]
fmt=v3
type=0
clientcode=0
x=4
y=24
width=167
height=226
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:57

[com_1]
fmt=v3
type=3
clientcode=0
x=7
y=24
width=161
height=226
hide=0
colour=0x000000
fill=1
trans=212
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=-12
y=51
width=36
height=173
hide=0
graphic=172
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=146
y=220
width=25
height=30
hide=0
graphic=313
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=3
y=220
width=25
height=30
hide=0
graphic=312
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=150
y=48
width=21
height=170
hide=0
graphic=315
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=10
y=229
width=150
height=21
hide=0
graphic=173
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=10
y=9
width=143
height=21
hide=0
graphic=314
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=146
y=24
width=25
height=30
hide=0
graphic=311
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=3
y=24
width=25
height=30
hide=0
graphic=310
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=164
y=4
width=18
height=18
hide=0
graphic=835
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Swap to Quest List
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=4
clientcode=0
x=14
y=4
width=152
height=15
hide=0
font=496
text=Achievement Diary
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff9933
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=0
clientcode=0
x=171
y=24
width=16
height=226
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=4
clientcode=0
x=10
y=9
width=152
height=15
layer=com_0
hide=0
font=494
text=Karamja
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff0000
eventcode=0x2
baseop=
op1=Read Journal
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:16973837,i:16777215
onmouseleave=i:59,i:0
onvartransmit=i:58
onvartransmitlist=1000 1001 1002

[com_14]
fmt=v3
type=4
clientcode=0
x=10
y=9
width=152
height=15
layer=com_0
hide=0
font=494
text=More coming soon...
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff0000
eventcode=0x7fe
baseop=
op1=Read Journal
op2=       
op3=       
op4=       
op5=       
op6=       
op7=       
op8=       
op9=       
op10=       
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:16973838,i:16777215
onmouseleave=i:59,i:1
