// interface 262

[com_0]
type=6
buttontype=0
clientcode=0
x=222
y=147
width=32
height=32
overlayer=4
trans=0
model=com_i18787
activemodel=-1
zoom=400
xan=519
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=57
y=26
width=32
height=32
layer=com_4
trans=0
scriptcmp=2/3
scripts=5/262/0
model=com_i18789
activemodel=-1
zoom=528
xan=517
yan=624

[com_2]
type=6
buttontype=0
clientcode=0
x=48
y=23
width=32
height=32
layer=com_5
trans=0
scriptcmp=2/2
scripts=5/262/0
model=com_i18813
activemodel=-1
zoom=528
xan=517
yan=645

[com_3]
type=6
buttontype=0
clientcode=0
x=40
y=9
width=32
height=32
layer=com_6
trans=0
scriptcmp=2/1
scripts=5/262/0
model=com_i18814
activemodel=-1
zoom=528
xan=517
yan=0

[com_4]
type=0
buttontype=0
clientcode=0
x=344
y=36
width=130
height=81
trans=0
scrollheight=0
hide=0

[com_5]
type=0
buttontype=0
clientcode=0
x=343
y=126
width=125
height=78
trans=0
scrollheight=0
hide=0

[com_6]
type=0
buttontype=0
clientcode=0
x=349
y=217
width=118
height=65
trans=0
scrollheight=0
hide=0

[com_7]
type=6
buttontype=0
clientcode=0
x=50
y=146
width=32
height=32
layer=com_8
trans=0
model=com_i18801
activemodel=-1
zoom=407
xan=517
yan=0

[com_8]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=516
height=339
trans=0
scrollheight=0
hide=1

[com_9]
type=6
buttontype=0
clientcode=0
x=156
y=141
width=32
height=32
layer=com_10
trans=0
model=com_i18807
activemodel=-1
zoom=400
xan=517
yan=0

[com_10]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=517
height=348
trans=0
scrollheight=0
hide=1

[com_11]
type=6
buttontype=0
clientcode=0
x=262
y=142
width=32
height=32
layer=com_12
trans=0
model=com_i18812
activemodel=-1
zoom=400
xan=517
yan=0

[com_12]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=525
height=346
trans=0
scrollheight=0
hide=1

[com_13]
type=6
buttontype=1
clientcode=0
x=104
y=213
width=32
height=32
layer=com_14
trans=0
scriptcmp=1/7 1/7 1/7
scripts=14/2646/0 14/2647/0 14/2648/0
model=com_i18798
activemodel=-1
zoom=407
xan=517
yan=0
buttontext=

[com_14]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=520
height=353
trans=0
scrollheight=0
hide=1

[com_15]
type=6
buttontype=0
clientcode=0
x=160
y=207
width=32
height=32
layer=com_16
trans=0
scriptcmp=1/8 1/8 1/8
scripts=14/2646/0 14/2647/0 14/2648/0
model=com_i18799
activemodel=-1
zoom=414
xan=517
yan=0

[com_16]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=517
height=353
trans=0
scrollheight=0
hide=1

[com_17]
type=6
buttontype=0
clientcode=0
x=210
y=212
width=32
height=32
layer=com_18
trans=0
model=com_i18800
activemodel=-1
zoom=407
xan=517
yan=0

[com_18]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=515
height=342
trans=0
scrollheight=0
hide=1

[com_19]
type=6
buttontype=0
clientcode=0
x=122
y=170
width=32
height=32
layer=com_20
trans=0
model=com_i18802
activemodel=-1
zoom=400
xan=517
yan=0

[com_20]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=524
height=347
trans=0
scrollheight=0
hide=1

[com_21]
type=6
buttontype=0
clientcode=0
x=154
y=150
width=32
height=32
layer=com_22
trans=0
model=com_i18803
activemodel=-1
zoom=407
xan=517
yan=0

[com_22]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=519
height=349
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=103
y=69
width=32
height=32
layer=com_24
trans=0
model=com_i18804
activemodel=-1
zoom=407
xan=517
yan=0

[com_24]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=518
height=345
trans=0
scrollheight=0
hide=1

[com_25]
type=6
buttontype=0
clientcode=0
x=160
y=75
width=32
height=32
layer=com_26
trans=0
model=com_i18805
activemodel=-1
zoom=410
xan=517
yan=0

[com_26]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=516
height=350
trans=0
scrollheight=0
hide=1

[com_27]
type=6
buttontype=0
clientcode=0
x=99
y=162
width=32
height=32
layer=com_28
trans=0
model=com_i18806
activemodel=-1
zoom=400
xan=517
yan=0

[com_28]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=513
height=344
trans=0
scrollheight=0
hide=1

[com_29]
type=6
buttontype=0
clientcode=0
x=222
y=167
width=32
height=32
layer=com_30
trans=0
model=com_i18808
activemodel=-1
zoom=400
xan=517
yan=0

[com_30]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=516
height=356
trans=0
scrollheight=0
hide=1

[com_31]
type=6
buttontype=0
clientcode=0
x=211
y=75
width=32
height=32
layer=com_32
trans=0
model=com_i18809
activemodel=-1
zoom=407
xan=517
yan=0

[com_32]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=513
height=349
trans=0
scrollheight=0
hide=1

[com_33]
type=6
buttontype=0
clientcode=0
x=153
y=172
width=32
height=32
layer=com_34
trans=0
model=com_i18810
activemodel=-1
zoom=407
xan=517
yan=0

[com_34]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=519
height=348
trans=0
scrollheight=0
hide=1

[com_35]
type=6
buttontype=0
clientcode=0
x=209
y=134
width=32
height=32
layer=com_36
trans=0
model=com_i18811
activemodel=-1
zoom=400
xan=517
yan=0

[com_36]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=514
height=344
trans=0
scrollheight=0
hide=1

[com_37]
type=6
buttontype=1
clientcode=0
x=249
y=37
width=57
height=47
trans=0
scriptcmp=1/3
scripts=5/261/0
model=com_i18794
activemodel=com_i18796
zoom=400
xan=519
yan=0
buttontext=Attach/Detach Pipe

[com_38]
type=6
buttontype=1
clientcode=0
x=37
y=240
width=59
height=42
trans=0
scriptcmp=1/4
scripts=5/261/0
model=com_i18790
activemodel=com_i18792
zoom=400
xan=517
yan=0
buttontext=Attach/Detach Pipe

[com_39]
type=6
buttontype=1
clientcode=0
x=140
y=239
width=58
height=45
trans=0
scriptcmp=1/5
scripts=5/261/0
model=com_i18790
activemodel=com_i18792
zoom=400
xan=517
yan=0
buttontext=Attach/Detach Pipe

[com_40]
type=6
buttontype=1
clientcode=0
x=249
y=239
width=56
height=45
trans=0
scriptcmp=1/6
scripts=5/261/0
model=com_i18790
activemodel=com_i18792
zoom=400
xan=517
yan=0
buttontext=Attach/Detach Pipe

[com_41]
type=6
buttontype=1
clientcode=0
x=35
y=37
width=61
height=47
trans=0
scriptcmp=1/1
scripts=5/261/0
model=com_i18794
activemodel=com_i18796
zoom=400
xan=512
yan=0
buttontext=Attach/Detach Pipe

[com_42]
type=6
buttontype=1
clientcode=0
x=141
y=36
width=57
height=48
trans=0
scriptcmp=1/2
scripts=5/261/0
model=com_i18794
activemodel=com_i18796
zoom=400
xan=512
yan=0
buttontext=Attach/Detach Pipe

[com_43]
type=6
buttontype=0
clientcode=0
x=220
y=145
width=36
height=36
trans=0
model=com_i18788
activemodel=-1
zoom=442
xan=517
yan=0

[com_44]
type=5
buttontype=0
clientcode=0
x=475
y=6
width=26
height=23
overlayer=46
trans=0
graphic=535
activegraphic=-1

[com_45]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_46
overlayer=46
trans=0
graphic=536
activegraphic=-1

[com_46]
type=0
buttontype=0
clientcode=0
x=472
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
