// interface 263

[com_0]
fmt=v3
type=6
clientcode=0
x=244
y=152
width=32
height=32
hide=0
model=com_i14966
modelxof=0
modelyof=0
xan=519
yan=0
zan=0
zoom=499
anim=4016
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=370
y=237
width=100
height=20
hide=0
font=496
text=Score: 0
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xffff00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:87,i:-2147483645
onvartransmitlist=727
