// interface 264

[com_0]
type=6
buttontype=0
clientcode=0
x=290
y=154
width=32
height=32
trans=0
model=com_i8276
activemodel=-1
zoom=117
xan=520
yan=504

[com_1]
type=4
buttontype=1
clientcode=0
x=377
y=225
width=35
height=58
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Aim left

[com_2]
type=4
buttontype=1
clientcode=0
x=471
y=224
width=35
height=58
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Aim right

[com_3]
type=4
buttontype=1
clientcode=0
x=410
y=192
width=63
height=34
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Aim up

[com_4]
type=4
buttontype=1
clientcode=0
x=412
y=281
width=61
height=34
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Aim down

[com_5]
type=4
buttontype=1
clientcode=0
x=429
y=242
width=24
height=24
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=FIRE!

[com_6]
type=3
buttontype=0
clientcode=0
x=15
y=18
width=107
height=85
trans=0
fill=1
colour=0xf251a09
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=3
buttontype=0
clientcode=0
x=20
y=23
width=97
height=75
trans=0
fill=1
colour=0xf926c1a
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=6
buttontype=0
clientcode=0
x=59
y=46
width=32
height=32
trans=0
model=com_i8277
activemodel=com_i8277
anim=2328
zoom=514
xan=199
yan=1950

[com_9]
type=5
buttontype=3
clientcode=0
x=468
y=10
width=26
height=23
trans=0
graphic=539
activegraphic=-1
