// interface 268

[com_0]
type=2
buttontype=1
clientcode=0
x=57
y=39
width=6
height=1
trans=0
eventcode=0xc00000
marginx=32
marginy=0
iop1=Pick
targetverb=
targetbase=
buttontext=

[com_1]
type=4
buttontype=0
clientcode=0
x=171
y=3
width=132
height=18
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Pick a kitten
activetext=
colour=0xaa0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=5
buttontype=0
clientcode=0
x=304
y=5
width=57
height=13
trans=0
graphic=301
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=111
y=5
width=57
height=13
trans=0
graphic=302
activegraphic=-1
