// interface 27

[com_0]
type=6
buttontype=0
clientcode=0
x=241
y=127
width=35
height=35
trans=0
model=com_i6746
activemodel=-1
zoom=477
xan=498
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=241
y=127
width=35
height=35
trans=0
model=com_i6747
activemodel=com_i6749
zoom=477
xan=498
yan=1

[com_2]
type=6
buttontype=0
clientcode=0
x=241
y=127
width=35
height=35
trans=0
model=com_i6748
activemodel=com_i6750
zoom=477
xan=498
yan=1

[com_3]
type=4
buttontype=0
clientcode=0
x=10
y=10
width=496
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=0
buttontype=0
clientcode=0
x=28
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_5]
type=6
buttontype=0
clientcode=0
x=87
y=-9
width=32
height=32
layer=com_4
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_6]
type=0
buttontype=0
clientcode=0
x=29
y=56
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_7]
type=6
buttontype=0
clientcode=0
x=86
y=6
width=32
height=32
layer=com_6
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_8]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_9]
type=6
buttontype=0
clientcode=0
x=87
y=24
width=32
height=32
layer=com_8
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_10]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_11]
type=6
buttontype=0
clientcode=0
x=87
y=40
width=32
height=32
layer=com_10
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_12]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_13]
type=6
buttontype=0
clientcode=0
x=87
y=56
width=32
height=32
layer=com_12
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_14]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_15]
type=6
buttontype=0
clientcode=0
x=87
y=72
width=32
height=32
layer=com_14
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_16]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_17]
type=6
buttontype=0
clientcode=0
x=87
y=87
width=32
height=32
layer=com_16
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_18]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_19]
type=6
buttontype=0
clientcode=0
x=87
y=104
width=32
height=32
layer=com_18
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_20]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_21]
type=6
buttontype=0
clientcode=0
x=87
y=120
width=32
height=32
layer=com_20
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_22]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=87
y=136
width=32
height=32
layer=com_22
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_24]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_25]
type=6
buttontype=0
clientcode=0
x=87
y=154
width=32
height=32
layer=com_24
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_26]
type=0
buttontype=0
clientcode=0
x=29
y=56
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_27]
type=6
buttontype=0
clientcode=0
x=86
y=168
width=32
height=32
layer=com_26
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_28]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_29]
type=6
buttontype=0
clientcode=0
x=86
y=184
width=32
height=32
layer=com_28
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_30]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_31]
type=6
buttontype=0
clientcode=0
x=87
y=201
width=32
height=32
layer=com_30
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_32]
type=0
buttontype=0
clientcode=0
x=28
y=54
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_33]
type=4
buttontype=0
clientcode=0
x=27
y=54
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line1
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=4
buttontype=0
clientcode=0
x=27
y=70
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line2
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=4
buttontype=0
clientcode=0
x=27
y=86
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line3
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=4
buttontype=0
clientcode=0
x=27
y=102
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line4
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=4
buttontype=0
clientcode=0
x=27
y=118
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line5
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=27
y=134
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line6
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=4
buttontype=0
clientcode=0
x=27
y=150
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line7
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=4
buttontype=0
clientcode=0
x=27
y=166
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line8
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=4
buttontype=0
clientcode=0
x=27
y=182
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line9
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_42]
type=4
buttontype=0
clientcode=0
x=27
y=198
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line10
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_43]
type=4
buttontype=0
clientcode=0
x=27
y=214
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line11
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_44]
type=4
buttontype=0
clientcode=0
x=27
y=230
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line12
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=27
y=246
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line13
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=4
buttontype=0
clientcode=0
x=27
y=262
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line14
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_47]
type=4
buttontype=0
clientcode=0
x=27
y=278
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line15
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=4
buttontype=0
clientcode=0
x=283
y=54
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line16
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_49]
type=4
buttontype=0
clientcode=0
x=283
y=70
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line17
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_50]
type=4
buttontype=0
clientcode=0
x=283
y=86
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line18
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_51]
type=4
buttontype=0
clientcode=0
x=283
y=102
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line19
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_52]
type=4
buttontype=0
clientcode=0
x=283
y=118
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line20
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_53]
type=4
buttontype=0
clientcode=0
x=283
y=134
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line21
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_54]
type=4
buttontype=0
clientcode=0
x=283
y=150
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line22
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_55]
type=4
buttontype=0
clientcode=0
x=283
y=166
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line23
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_56]
type=4
buttontype=0
clientcode=0
x=283
y=182
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line24
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_57]
type=4
buttontype=0
clientcode=0
x=283
y=198
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line25
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_58]
type=4
buttontype=0
clientcode=0
x=283
y=214
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line26
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_59]
type=4
buttontype=0
clientcode=0
x=283
y=230
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line27
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_60]
type=4
buttontype=0
clientcode=0
x=283
y=246
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line28
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_61]
type=4
buttontype=0
clientcode=0
x=283
y=262
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line28
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_62]
type=4
buttontype=0
clientcode=0
x=283
y=278
width=202
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=line29
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_63]
type=6
buttontype=0
clientcode=0
x=88
y=217
width=32
height=32
layer=com_32
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_64]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_65]
type=6
buttontype=0
clientcode=0
x=88
y=-8
width=32
height=32
layer=com_64
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_66]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_67]
type=6
buttontype=0
clientcode=0
x=88
y=5
width=32
height=32
layer=com_66
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_68]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_69]
type=6
buttontype=0
clientcode=0
x=88
y=23
width=32
height=32
layer=com_68
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_70]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_71]
type=6
buttontype=0
clientcode=0
x=88
y=39
width=32
height=32
layer=com_70
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_72]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_73]
type=6
buttontype=0
clientcode=0
x=88
y=56
width=32
height=32
layer=com_72
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_74]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_75]
type=6
buttontype=0
clientcode=0
x=88
y=72
width=32
height=32
layer=com_74
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_76]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_77]
type=6
buttontype=0
clientcode=0
x=89
y=63
width=32
height=32
layer=com_76
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_78]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_79]
type=6
buttontype=0
clientcode=0
x=89
y=104
width=32
height=32
layer=com_78
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_80]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_81]
type=6
buttontype=0
clientcode=0
x=89
y=120
width=32
height=32
layer=com_80
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_82]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_83]
type=6
buttontype=0
clientcode=0
x=89
y=135
width=32
height=32
layer=com_82
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_84]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_85]
type=6
buttontype=0
clientcode=0
x=88
y=151
width=32
height=32
layer=com_84
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_86]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_87]
type=6
buttontype=0
clientcode=0
x=88
y=168
width=32
height=32
layer=com_86
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_88]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_89]
type=6
buttontype=0
clientcode=0
x=88
y=184
width=32
height=32
layer=com_88
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_90]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_91]
type=6
buttontype=0
clientcode=0
x=88
y=199
width=32
height=32
layer=com_90
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_92]
type=0
buttontype=0
clientcode=0
x=282
y=55
width=201
height=241
trans=0
scrollheight=0
hide=1

[com_93]
type=6
buttontype=0
clientcode=0
x=88
y=215
width=32
height=32
layer=com_92
trans=0
model=com_i3389
activemodel=-1
zoom=500
xan=200
yan=0

[com_94]
type=5
buttontype=6
clientcode=0
x=0
y=-1
width=45
height=36
layer=com_95
trans=0
graphic=308
activegraphic=-1
buttontext=

[com_95]
type=0
buttontype=0
clientcode=0
x=94
y=298
width=45
height=36
trans=0
scrollheight=0
hide=0

[com_96]
type=5
buttontype=6
clientcode=0
x=0
y=0
width=45
height=36
layer=com_97
trans=0
graphic=309
activegraphic=-1
buttontext=

[com_97]
type=0
buttontype=0
clientcode=0
x=366
y=295
width=45
height=36
trans=0
scrollheight=0
hide=0

[com_98]
type=4
buttontype=0
clientcode=0
x=9
y=300
width=80
height=20
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=page%1
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_99]
type=4
buttontype=0
clientcode=0
x=427
y=301
width=80
height=20
trans=0
halign=2
valign=0
lineheight=0
font=497
shadowed=0
text=page%2
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_100]
type=0
buttontype=0
clientcode=0
x=27
y=54
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_101]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_100
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_102]
type=0
buttontype=0
clientcode=0
x=27
y=70
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_103]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_102
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_104]
type=0
buttontype=0
clientcode=0
x=27
y=86
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_105]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_104
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_106]
type=0
buttontype=0
clientcode=0
x=27
y=102
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_107]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_106
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_108]
type=0
buttontype=0
clientcode=0
x=27
y=118
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_109]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_108
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_110]
type=0
buttontype=0
clientcode=0
x=27
y=134
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_111]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_110
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_112]
type=0
buttontype=0
clientcode=0
x=27
y=150
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_113]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_112
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_114]
type=0
buttontype=0
clientcode=0
x=27
y=166
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_115]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_114
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_116]
type=0
buttontype=0
clientcode=0
x=27
y=182
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_117]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_116
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_118]
type=0
buttontype=0
clientcode=0
x=27
y=198
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_119]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_118
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_120]
type=0
buttontype=0
clientcode=0
x=27
y=214
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_121]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_120
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_122]
type=0
buttontype=0
clientcode=0
x=27
y=230
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_123]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_122
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_124]
type=0
buttontype=0
clientcode=0
x=27
y=246
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_125]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_124
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_126]
type=0
buttontype=0
clientcode=0
x=27
y=262
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_127]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_126
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_128]
type=0
buttontype=0
clientcode=0
x=27
y=278
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_129]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_128
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_130]
type=0
buttontype=0
clientcode=0
x=283
y=54
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_131]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_130
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_132]
type=0
buttontype=0
clientcode=0
x=283
y=70
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_133]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_132
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_134]
type=0
buttontype=0
clientcode=0
x=283
y=86
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_135]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_134
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_136]
type=0
buttontype=0
clientcode=0
x=283
y=102
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_137]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_136
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_138]
type=0
buttontype=0
clientcode=0
x=283
y=118
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_139]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_138
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_140]
type=0
buttontype=0
clientcode=0
x=283
y=134
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_141]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_140
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_142]
type=0
buttontype=0
clientcode=0
x=283
y=150
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_143]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_142
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_144]
type=0
buttontype=0
clientcode=0
x=283
y=166
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_145]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_144
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_146]
type=0
buttontype=0
clientcode=0
x=283
y=182
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_147]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_146
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_148]
type=0
buttontype=0
clientcode=0
x=283
y=198
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_149]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_148
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_150]
type=0
buttontype=0
clientcode=0
x=283
y=214
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_151]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_150
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_152]
type=0
buttontype=0
clientcode=0
x=283
y=230
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_153]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_152
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_154]
type=0
buttontype=0
clientcode=0
x=283
y=246
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_155]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_154
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_156]
type=0
buttontype=0
clientcode=0
x=283
y=262
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_157]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_156
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_158]
type=0
buttontype=0
clientcode=0
x=283
y=278
width=202
height=22
trans=0
scrollheight=0
hide=0

[com_159]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=202
height=16
layer=com_158
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_160]
type=4
buttontype=6
clientcode=0
x=403
y=9
width=82
height=12
trans=0
halign=2
valign=0
lineheight=0
font=494
shadowed=1
text=First Page
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xfab360
colour2over=0x000000
buttontext=

[com_161]
type=5
buttontype=0
clientcode=0
x=484
y=3
width=26
height=23
overlayer=163
trans=0
graphic=539
activegraphic=-1

[com_162]
type=5
buttontype=1
clientcode=0
x=4
y=1
width=26
height=23
layer=com_163
trans=0
graphic=540
activegraphic=-1
buttontext=Close

[com_163]
type=0
buttontype=0
clientcode=0
x=480
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
