// interface 270

[com_0]
type=3
buttontype=0
clientcode=0
x=-15
y=-3
width=527
height=340
trans=66
fill=0
colour=0x3300cc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=123
y=290
width=32
height=34
trans=0
model=com_i18531
activemodel=-1
zoom=753
xan=624
yan=6

[com_2]
type=6
buttontype=0
clientcode=0
x=240
y=155
width=32
height=32
trans=0
model=com_i3024
activemodel=-1
zoom=613
xan=345
yan=84

[com_3]
type=4
buttontype=0
clientcode=0
x=67
y=297
width=139
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Misthalin & Asgarnia
activetext=
colour=0x0f172f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=6
buttontype=0
clientcode=0
x=41
y=43
width=32
height=32
trans=0
model=com_i18536
activemodel=-1
zoom=999
xan=302
yan=175

[com_5]
type=6
buttontype=0
clientcode=0
x=95
y=197
width=32
height=32
trans=0
scriptcmp=1/0
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_6]
type=6
buttontype=0
clientcode=0
x=128
y=200
width=32
height=32
trans=0
scriptcmp=1/1
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_7]
type=6
buttontype=0
clientcode=0
x=156
y=218
width=32
height=32
trans=0
scriptcmp=1/2
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_8]
type=6
buttontype=0
clientcode=0
x=232
y=222
width=32
height=32
trans=0
scriptcmp=1/3
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_9]
type=6
buttontype=0
clientcode=0
x=253
y=239
width=32
height=32
trans=0
scriptcmp=1/4
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_10]
type=6
buttontype=0
clientcode=0
x=290
y=246
width=32
height=32
trans=0
scriptcmp=1/5
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_11]
type=6
buttontype=0
clientcode=0
x=336
y=264
width=32
height=32
trans=0
scriptcmp=1/6
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_12]
type=6
buttontype=0
clientcode=0
x=94
y=164
width=32
height=32
trans=0
scriptcmp=1/7
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_13]
type=6
buttontype=0
clientcode=0
x=121
y=169
width=32
height=32
trans=0
scriptcmp=1/8
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_14]
type=6
buttontype=0
clientcode=0
x=159
y=177
width=32
height=32
trans=0
scriptcmp=1/9
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_15]
type=6
buttontype=0
clientcode=0
x=223
y=190
width=32
height=32
trans=0
scriptcmp=1/10
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_16]
type=6
buttontype=0
clientcode=0
x=261
y=204
width=32
height=32
trans=0
scriptcmp=1/11
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_17]
type=6
buttontype=0
clientcode=0
x=304
y=214
width=32
height=32
trans=0
scriptcmp=1/12
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_18]
type=6
buttontype=0
clientcode=0
x=343
y=225
width=32
height=32
trans=0
scriptcmp=1/13
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_19]
type=6
buttontype=0
clientcode=0
x=121
y=129
width=32
height=32
trans=0
scriptcmp=1/14
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_20]
type=6
buttontype=0
clientcode=0
x=154
y=138
width=32
height=32
trans=0
scriptcmp=1/15
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_21]
type=6
buttontype=0
clientcode=0
x=193
y=149
width=32
height=32
trans=0
scriptcmp=1/16
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_22]
type=6
buttontype=0
clientcode=0
x=233
y=159
width=32
height=32
trans=0
scriptcmp=1/17
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_23]
type=6
buttontype=0
clientcode=0
x=272
y=168
width=32
height=32
trans=0
scriptcmp=1/18
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_24]
type=6
buttontype=0
clientcode=0
x=311
y=175
width=32
height=32
trans=0
scriptcmp=1/19
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_25]
type=6
buttontype=0
clientcode=0
x=346
y=185
width=32
height=32
trans=0
scriptcmp=1/20
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_26]
type=6
buttontype=0
clientcode=0
x=139
y=98
width=32
height=32
trans=0
scriptcmp=1/21
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_27]
type=6
buttontype=0
clientcode=0
x=172
y=112
width=32
height=32
trans=0
scriptcmp=1/22
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_28]
type=6
buttontype=0
clientcode=0
x=205
y=118
width=32
height=32
trans=0
scriptcmp=1/23
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_29]
type=6
buttontype=0
clientcode=0
x=242
y=126
width=32
height=32
trans=0
scriptcmp=1/24
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_30]
type=6
buttontype=0
clientcode=0
x=278
y=134
width=32
height=32
trans=0
scriptcmp=1/25
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_31]
type=6
buttontype=0
clientcode=0
x=316
y=145
width=32
height=32
trans=0
scriptcmp=1/26
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_32]
type=6
buttontype=0
clientcode=0
x=354
y=151
width=32
height=32
trans=0
scriptcmp=1/27
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_33]
type=6
buttontype=0
clientcode=0
x=147
y=75
width=32
height=32
trans=0
scriptcmp=1/28
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_34]
type=6
buttontype=0
clientcode=0
x=183
y=83
width=32
height=32
trans=0
scriptcmp=1/29
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_35]
type=6
buttontype=0
clientcode=0
x=215
y=88
width=32
height=32
trans=0
scriptcmp=1/30
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_36]
type=6
buttontype=0
clientcode=0
x=252
y=96
width=32
height=32
trans=0
scriptcmp=1/31
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_37]
type=6
buttontype=0
clientcode=0
x=285
y=104
width=32
height=32
trans=0
scriptcmp=1/32
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_38]
type=6
buttontype=0
clientcode=0
x=326
y=112
width=32
height=32
trans=0
scriptcmp=1/33
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_39]
type=6
buttontype=0
clientcode=0
x=361
y=120
width=32
height=32
trans=0
scriptcmp=1/34
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_40]
type=6
buttontype=0
clientcode=0
x=151
y=44
width=32
height=32
trans=0
scriptcmp=1/35
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_41]
type=6
buttontype=0
clientcode=0
x=184
y=51
width=32
height=32
trans=0
scriptcmp=1/36
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_42]
type=6
buttontype=0
clientcode=0
x=214
y=58
width=32
height=32
trans=0
scriptcmp=1/37
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_43]
type=6
buttontype=0
clientcode=0
x=241
y=62
width=32
height=32
trans=0
scriptcmp=1/38
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_44]
type=6
buttontype=0
clientcode=0
x=288
y=75
width=32
height=32
trans=0
scriptcmp=1/39
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_45]
type=6
buttontype=0
clientcode=0
x=329
y=81
width=32
height=32
trans=0
scriptcmp=1/40
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_46]
type=6
buttontype=0
clientcode=0
x=367
y=89
width=32
height=32
trans=0
scriptcmp=1/41
scripts=5/106/0
model=-1
activemodel=com_i3062
activeanim=646
zoom=1526
xan=528
yan=68

[com_47]
type=4
buttontype=0
clientcode=0
x=275
y=213
width=139
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Lumbridge
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=4
buttontype=0
clientcode=0
x=192
y=177
width=101
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Draynor
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_49]
type=4
buttontype=0
clientcode=0
x=294
y=97
width=120
height=20
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Varrock
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_50]
type=4
buttontype=0
clientcode=0
x=146
y=105
width=93
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Falador
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_51]
type=4
buttontype=0
clientcode=0
x=133
y=188
width=77
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Port
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_52]
type=4
buttontype=0
clientcode=0
x=122
y=203
width=113
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Sarim
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_53]
type=4
buttontype=0
clientcode=0
x=86
y=162
width=127
height=18
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Rimmington
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_54]
type=4
buttontype=0
clientcode=0
x=170
y=63
width=123
height=21
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Edgeville
activetext=
colour=0xc9a041
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_55]
type=4
buttontype=0
clientcode=0
x=281
y=260
width=124
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Al Kharid
activetext=
colour=0xc9a341
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_56]
type=6
buttontype=0
clientcode=0
x=316
y=105
width=32
height=32
layer=com_60
trans=0
model=com_i18511
activemodel=-1
zoom=3088
xan=489
yan=162

[com_57]
type=6
buttontype=0
clientcode=0
x=287
y=205
width=32
height=32
layer=com_60
trans=0
model=com_i18511
activemodel=-1
zoom=3088
xan=381
yan=186

[com_58]
type=6
buttontype=0
clientcode=0
x=264
y=226
width=32
height=32
layer=com_60
trans=0
model=com_i18511
activemodel=-1
zoom=3088
xan=489
yan=162

[com_59]
type=6
buttontype=0
clientcode=0
x=444
y=241
width=32
height=32
trans=0
model=com_i18511
activemodel=-1
zoom=2064
xan=474
yan=18

[com_60]
type=0
buttontype=0
clientcode=0
x=8
y=10
width=494
height=319
trans=0
scrollheight=0
hide=1

[com_61]
type=0
buttontype=1
clientcode=0
x=425
y=220
width=72
height=64
overlayer=60
trans=0
scrollheight=0
hide=0
buttontext=

[com_62]
type=4
buttontype=0
clientcode=0
x=424
y=213
width=73
height=29
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Show Tutors
activetext=
colour=0xaba346
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_63]
type=5
buttontype=0
clientcode=0
x=480
y=5
width=26
height=23
overlayer=65
trans=0
graphic=539
activegraphic=-1

[com_64]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_65
trans=0
graphic=540
activegraphic=-1

[com_65]
type=0
buttontype=0
clientcode=0
x=477
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
