// interface 271

[com_0]
fmt=v3
type=5
clientcode=0
x=63
y=238
width=17
height=18
hide=0
graphic=651
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=87
y=238
width=48
height=18
hide=0
font=495
text=
lineheight=0
halign=0
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onstattransmit=i:53,i:-2147483645
onstattransmitlist=5

[com_2]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=0
clientcode=0
x=0
y=1
width=190
height=230
layer=com_2
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=4
y=8
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=6
y=10
width=30
height=30
layer=com_3
hide=0
graphic=135
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Thick Skin
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760260
onstattransmit=i:52,i:1,i:135,i:115,i:-2147483645
onop=i:50,i:-2147483645,i:17760260
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 01<br>Thick Skin<br>Increases your defence by 5%,i:25,i:190
onvartransmitlist=83 86 92
onstattransmitlist=5

[com_6]
fmt=v3
type=5
clientcode=0
x=41
y=8
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=43
y=10
width=30
height=30
layer=com_3
hide=0
graphic=136
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Burst of Strength
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760262
onstattransmit=i:52,i:4,i:136,i:116,i:-2147483645
onop=i:50,i:-2147483645,i:17760262
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 04<br>Burst of Strength<br>Increases your strength by 5%,i:25,i:190
onvartransmitlist=84 87 93 862 863 864 865 866 867
onstattransmitlist=5

[com_8]
fmt=v3
type=5
clientcode=0
x=78
y=8
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=80
y=10
width=30
height=30
layer=com_3
hide=0
graphic=137
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Clarity of Thought
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760264
onstattransmit=i:52,i:7,i:137,i:117,i:-2147483645
onop=i:50,i:-2147483645,i:17760264
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 07<br>Clarity of Thought<br>Increases your attack by 5%,i:25,i:190
onvartransmitlist=85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_10]
fmt=v3
type=5
clientcode=0
x=115
y=8
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=117
y=10
width=30
height=30
layer=com_3
hide=0
graphic=153
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Sharp Eye
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760266
onstattransmit=i:52,i:8,i:153,i:133,i:-2147483645
onop=i:50,i:-2147483645,i:17760266
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 08<br>Sharp Eye<br>Increases your Ranging by 5%,i:25,i:190
onvartransmitlist=84 87 93 85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_12]
fmt=v3
type=5
clientcode=0
x=152
y=8
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=154
y=10
width=30
height=30
layer=com_3
hide=0
graphic=154
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Mystic Will
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760268
onstattransmit=i:52,i:9,i:154,i:134,i:-2147483645
onop=i:50,i:-2147483645,i:17760268
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 09<br>Mystic Will<br>Increases your Magic by 5%,i:25,i:190
onvartransmitlist=84 87 93 85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_14]
fmt=v3
type=5
clientcode=0
x=4
y=45
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=5
clientcode=0
x=6
y=47
width=30
height=30
layer=com_3
hide=0
graphic=138
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Rock Skin
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760270
onstattransmit=i:52,i:10,i:138,i:118,i:-2147483645
onop=i:50,i:-2147483645,i:17760270
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 10<br>Rock Skin<br>Increases your defence by 10%,i:25,i:190
onvartransmitlist=83 86 92
onstattransmitlist=5

[com_16]
fmt=v3
type=5
clientcode=0
x=41
y=45
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=5
clientcode=0
x=43
y=47
width=30
height=30
layer=com_3
hide=0
graphic=139
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Superhuman Strength
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760272
onstattransmit=i:52,i:13,i:139,i:119,i:-2147483645
onop=i:50,i:-2147483645,i:17760272
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 13<br>Superhuman Strength<br>Increases your strength by 10%,i:25,i:190
onvartransmitlist=84 87 93 862 863 864 865 866 867
onstattransmitlist=5

[com_18]
fmt=v3
type=5
clientcode=0
x=78
y=45
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=5
clientcode=0
x=80
y=47
width=30
height=30
layer=com_3
hide=0
graphic=140
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Improved Reflexes
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760274
onstattransmit=i:52,i:16,i:140,i:120,i:-2147483645
onop=i:50,i:-2147483645,i:17760274
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 16<br>Improved Reflexes<br>Increases your attack by 10%,i:25,i:190
onvartransmitlist=85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_20]
fmt=v3
type=5
clientcode=0
x=115
y=45
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=5
clientcode=0
x=117
y=47
width=30
height=30
layer=com_3
hide=0
graphic=141
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Rapid Restore
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760276
onstattransmit=i:52,i:19,i:141,i:121,i:-2147483645
onop=i:50,i:-2147483645,i:17760276
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 19<br>Rapid Restore<br>2x restore rate for all stats<br>except hitpoints and prayer,i:25,i:190
onvartransmitlist=89
onstattransmitlist=5

[com_22]
fmt=v3
type=5
clientcode=0
x=152
y=45
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=5
clientcode=0
x=154
y=47
width=30
height=30
layer=com_3
hide=0
graphic=142
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Rapid Heal
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760278
onstattransmit=i:52,i:22,i:142,i:122,i:-2147483645
onop=i:50,i:-2147483645,i:17760278
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 22<br>Rapid Heal<br>2x restore rate for <br>hitpoints stat,i:25,i:190
onvartransmitlist=90
onstattransmitlist=5

[com_24]
fmt=v3
type=5
clientcode=0
x=4
y=82
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=5
clientcode=0
x=6
y=84
width=30
height=30
layer=com_3
hide=0
graphic=143
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Protect Item
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760280
onstattransmit=i:52,i:25,i:143,i:123,i:-2147483645
onop=i:50,i:-2147483645,i:17760280
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 25<br>Protect Items<br>Keep 1 extra item if you die,i:25,i:190
onvartransmitlist=91
onstattransmitlist=5

[com_26]
fmt=v3
type=5
clientcode=0
x=41
y=82
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=5
clientcode=0
x=43
y=84
width=30
height=30
layer=com_3
hide=0
graphic=506
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Hawk Eye
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760282
onstattransmit=i:52,i:26,i:506,i:502,i:-2147483645
onop=i:50,i:-2147483645,i:17760282
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 26<br>Hawk Eye<br>Increases your Ranging by 10%,i:25,i:190
onvartransmitlist=84 87 93 85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_28]
fmt=v3
type=5
clientcode=0
x=78
y=82
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=5
clientcode=0
x=80
y=84
width=30
height=30
layer=com_3
hide=0
graphic=507
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Mystic Lore
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760284
onstattransmit=i:52,i:27,i:507,i:503,i:-2147483645
onop=i:50,i:-2147483645,i:17760284
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 27<br>Mystic Lore<br>Increases your Magic by 10%,i:25,i:190
onvartransmitlist=84 87 93 85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_30]
fmt=v3
type=5
clientcode=0
x=115
y=82
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=5
clientcode=0
x=117
y=84
width=30
height=30
layer=com_3
hide=0
graphic=144
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Steel Skin
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760286
onstattransmit=i:52,i:28,i:144,i:124,i:-2147483645
onop=i:50,i:-2147483645,i:17760286
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 28<br>Steel Skin<br>Increases your defence by 15%,i:25,i:190
onvartransmitlist=83 86 92
onstattransmitlist=5

[com_32]
fmt=v3
type=5
clientcode=0
x=152
y=82
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=5
clientcode=0
x=154
y=84
width=30
height=30
layer=com_3
hide=0
graphic=145
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Ultimate Strength
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760288
onstattransmit=i:52,i:31,i:145,i:125,i:-2147483645
onop=i:50,i:-2147483645,i:17760288
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 31<br>Ultimate Strength<br>Increases your strength by 15%,i:25,i:190
onvartransmitlist=84 87 93 862 863 864 865 866 867
onstattransmitlist=5

[com_34]
fmt=v3
type=5
clientcode=0
x=4
y=119
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=5
clientcode=0
x=6
y=121
width=30
height=30
layer=com_3
hide=0
graphic=146
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Incredible Reflexes
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760290
onstattransmit=i:52,i:34,i:146,i:126,i:-2147483645
onop=i:50,i:-2147483645,i:17760290
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 34<br>Incredible Reflexes<br>Increases your attack by 15%,i:25,i:190
onvartransmitlist=85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_36]
fmt=v3
type=5
clientcode=0
x=41
y=119
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=5
clientcode=0
x=43
y=121
width=30
height=30
layer=com_3
hide=0
graphic=147
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Protect from Magic
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760292
onstattransmit=i:52,i:37,i:147,i:127,i:-2147483645
onop=i:50,i:-2147483645,i:17760292
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 37<br>Protect from Magic<br>Protection from magical attacks,i:25,i:190
onvartransmitlist=95 96 97 98 99 100
onstattransmitlist=5

[com_38]
fmt=v3
type=5
clientcode=0
x=78
y=119
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=5
clientcode=0
x=80
y=121
width=30
height=30
layer=com_3
hide=0
graphic=148
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Protect from Missiles
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760294
onstattransmit=i:52,i:40,i:148,i:128,i:-2147483645
onop=i:50,i:-2147483645,i:17760294
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 40<br>Protect from Missiles<br>Protection from ranged attacks,i:25,i:190
onvartransmitlist=95 96 97 98 99 100
onstattransmitlist=5

[com_40]
fmt=v3
type=5
clientcode=0
x=115
y=119
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=5
clientcode=0
x=117
y=121
width=30
height=30
layer=com_3
hide=0
graphic=149
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Protect from Melee
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760296
onstattransmit=i:52,i:43,i:149,i:129,i:-2147483645
onop=i:50,i:-2147483645,i:17760296
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 43<br>Protect from Melee<br>Protection from close attacks,i:25,i:190
onvartransmitlist=95 96 97 98 99 100
onstattransmitlist=5

[com_42]
fmt=v3
type=5
clientcode=0
x=152
y=119
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=5
clientcode=0
x=154
y=121
width=30
height=30
layer=com_3
hide=0
graphic=508
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Eagle Eye
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760298
onstattransmit=i:52,i:44,i:508,i:504,i:-2147483645
onop=i:50,i:-2147483645,i:17760298
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 44<br>Eagle Eye<br>Increases your Ranging by 15%,i:25,i:190
onvartransmitlist=84 87 93 85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_44]
fmt=v3
type=5
clientcode=0
x=4
y=156
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=5
clientcode=0
x=6
y=158
width=30
height=30
layer=com_3
hide=0
graphic=509
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Mystic Might
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760300
onstattransmit=i:52,i:45,i:509,i:505,i:-2147483645
onop=i:50,i:-2147483645,i:17760300
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 45<br>Mystic Might<br>Increases your Magic by 15%,i:25,i:190
onvartransmitlist=84 87 93 85 88 94 862 863 864 865 866 867
onstattransmitlist=5

[com_46]
fmt=v3
type=5
clientcode=0
x=41
y=156
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_47]
fmt=v3
type=5
clientcode=0
x=43
y=158
width=30
height=30
layer=com_3
hide=0
graphic=151
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Retribution
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760302
onstattransmit=i:52,i:46,i:151,i:131,i:-2147483645
onop=i:50,i:-2147483645,i:17760302
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 46<br>Retribution<br>Inflicts damage to nearby<br>targets if you die,i:25,i:190
onvartransmitlist=95 96 97 98 99 100
onstattransmitlist=5

[com_48]
fmt=v3
type=5
clientcode=0
x=78
y=156
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_49]
fmt=v3
type=5
clientcode=0
x=80
y=158
width=30
height=30
layer=com_3
hide=0
graphic=150
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Redemption
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760304
onstattransmit=i:52,i:49,i:150,i:130,i:-2147483645
onop=i:50,i:-2147483645,i:17760304
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 49<br>Redemption<br>Heals you when damaged<br>and health falls<br>below 10%,i:25,i:190
onvartransmitlist=95 96 97 98 99 100
onstattransmitlist=5

[com_50]
fmt=v3
type=5
clientcode=0
x=115
y=156
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_51]
fmt=v3
type=5
clientcode=0
x=117
y=158
width=30
height=30
layer=com_3
hide=0
graphic=152
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Smite
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760306
onstattransmit=i:52,i:52,i:152,i:132,i:-2147483645
onop=i:50,i:-2147483645,i:17760306
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 52<br>Smite<br>1/4 of damage dealt is <br>also removed from <br>opponent's Prayer,i:25,i:190
onvartransmitlist=95 96 97 98 99 100
onstattransmitlist=5

[com_52]
fmt=v3
type=5
clientcode=0
x=152
y=156
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_53]
fmt=v3
type=5
clientcode=0
x=154
y=158
width=30
height=30
layer=com_3
hide=0
graphic=949
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Chivalry
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760308
onstattransmit=i:52,i:60,i:949,i:945,i:-2147483645
onop=i:50,i:-2147483645,i:17760308
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 60<br>Chivalry<br>Increases your defence by 20%\, strength by 18%\, and attack by 15%.,i:25,i:190
onvartransmitlist=83 84 85 86 87 88 92 94 95 862 863 864 865 866 867 1052 1053
onstattransmitlist=5

[com_54]
fmt=v3
type=5
clientcode=0
x=4
y=193
width=34
height=34
layer=com_3
hide=1
graphic=155
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=5
clientcode=0
x=6
y=195
width=30
height=30
layer=com_3
hide=0
graphic=950
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=<col=ff9040>Piety
op1=Activate
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:40,i:17760312
onvartransmit=i:49,i:-2147483645,i:17760310
onstattransmit=i:52,i:70,i:950,i:946,i:-2147483645
onop=i:50,i:-2147483645,i:17760310
onmouserepeat=i:38,i:-2147483645,i:17760312,s:Level 70<br>Piety<br>Increases your defence by 25%\, strength by 23%\, and attack by 20%.,i:26,i:190
onvartransmitlist=83 84 85 86 87 88 92 94 95 862 863 864 865 866 867 1052 1053
onstattransmitlist=5

[com_56]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=1
height=1
layer=com_2
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
