// interface 273

[com_0]
type=6
buttontype=0
clientcode=0
x=246
y=281
width=32
height=32
trans=0
model=com_i10753
activemodel=-1
zoom=272
xan=0
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=60
y=276
width=404
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Pop the correct balloon animal to find a key
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=0
buttontype=1
clientcode=0
x=0
y=0
width=511
height=334
trans=0
scrollheight=0
hide=0
buttontext=

[com_3]
type=6
buttontype=0
clientcode=0
x=243
y=140
width=32
height=32
layer=com_2
trans=0
model=com_i10749
activemodel=-1
zoom=185
xan=26
yan=412

[com_4]
type=5
buttontype=0
clientcode=0
x=485
y=4
width=26
height=23
overlayer=6
trans=0
graphic=539
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_6
trans=0
graphic=540
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=481
y=0
width=32
height=32
trans=0
scrollheight=0
hide=1
