// interface 276

[com_0]
type=6
buttontype=0
clientcode=0
x=243
y=138
width=35
height=35
trans=0
model=com_i3032
activemodel=-1
zoom=650
xan=400
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=116
y=109
width=292
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Congratulations!
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=0
y=134
width=512
height=2
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=117
y=169
width=85
height=105
trans=0
model=-1
activemodel=-1
zoom=1500
xan=11
yan=1849

[com_4]
type=4
buttontype=0
clientcode=0
x=202
y=237
width=89
height=26
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Total Points:
activetext=
colour=0x0099ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=296
y=237
width=17
height=14
trans=0
scripts=5/101/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0x0099ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=6
buttontype=0
clientcode=0
x=341
y=195
width=32
height=32
trans=0
model=com_i3037
activemodel=-1
zoom=800
xan=500
yan=0

[com_7]
type=4
buttontype=0
clientcode=0
x=202
y=183
width=121
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=You are awarded
activetext=
colour=0x00c000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=256
y=198
width=8
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=202
y=215
width=120
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Quest points.
activetext=
colour=0x00c000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=5
buttontype=0
clientcode=0
x=485
y=3
width=26
height=23
overlayer=12
trans=0
graphic=539
activegraphic=-1

[com_11]
type=5
buttontype=3
clientcode=0
x=5
y=3
width=26
height=23
layer=com_12
trans=0
graphic=540
activegraphic=-1

[com_12]
type=0
buttontype=0
clientcode=0
x=480
y=0
width=32
height=32
trans=0
scrollheight=0
hide=1
