// interface 277

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=139
width=32
height=28
trans=0
model=com_i3032
activemodel=-1
zoom=554
xan=502
yan=2047

[com_1]
type=4
buttontype=0
clientcode=0
x=157
y=75
width=220
height=18
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Congratulations!
activetext=
colour=0xff9933
colour2=0x453c26
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=96
y=92
width=325
height=29
trans=0
halign=1
valign=1
lineheight=14
font=495
shadowed=0
text=You have completed Death Plateau!
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=72
y=133
width=85
height=105
trans=0
model=-1
activemodel=-1
zoom=1500
xan=11
yan=1849

[com_4]
type=4
buttontype=0
clientcode=0
x=181
y=254
width=131
height=13
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Quest Points:
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=316
y=254
width=17
height=14
trans=0
scripts=5/101/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=6
buttontype=0
clientcode=0
x=390
y=206
width=32
height=32
trans=0
model=com_i3037
activemodel=-1
zoom=800
xan=500
yan=0

[com_7]
type=4
buttontype=0
clientcode=0
x=157
y=123
width=213
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=You are awarded:
activetext=
colour=0x3b242c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=157
y=141
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 1
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=157
y=156
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 2
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=157
y=171
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 3  
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=157
y=186
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 4
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=157
y=201
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 5
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=157
y=216
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 6
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=157
y=231
width=213
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Line 7
activetext=
colour=0x3b2e22
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=5
buttontype=0
clientcode=0
x=424
y=62
width=26
height=23
overlayer=17
trans=0
graphic=537
activegraphic=-1

[com_16]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_17
trans=0
graphic=538
activegraphic=-1

[com_17]
type=0
buttontype=0
clientcode=0
x=420
y=58
width=32
height=32
trans=0
scrollheight=0
hide=1
