// interface 279

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=512
height=334
hide=0
colour=0x2e211b
fill=0
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=86
y=85
width=32
height=32
hide=0
model=com_i6435
modelxof=0
modelyof=0
xan=9
yan=1950
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=411
y=80
width=32
height=32
hide=0
model=com_i10036
modelxof=0
modelyof=0
xan=17
yan=125
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=381
y=226
width=32
height=32
hide=0
model=com_i9853
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1834
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=98
y=226
width=32
height=32
hide=0
model=com_i9853
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1834
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=6
clientcode=0
x=243
y=77
width=32
height=32
hide=0
model=com_i10119
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=909
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=220
y=188
width=72
height=36
hide=0
graphic=293
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=220
y=239
width=72
height=36
hide=0
graphic=293
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=4
clientcode=0
x=43
y=184
width=142
height=18
hide=0
font=497
text=Player's Cat
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=4
clientcode=0
x=327
y=184
width=142
height=19
hide=0
font=497
text=Opponent's Cat
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=4
clientcode=0
x=212
y=87
width=94
height=15
hide=0
font=496
text=Vs
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=4
clientcode=0
x=220
y=188
width=72
height=36
hide=0
font=495
text=ACCEPT
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x11d311
eventcode=0x2
baseop=
op1=Accept
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=4
clientcode=0
x=220
y=239
width=72
height=36
hide=0
font=495
text=DECLINE
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xac1414
eventcode=0x2
baseop=
op1=Decline
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=4
clientcode=0
x=43
y=208
width=142
height=16
hide=0
font=497
text=Amount
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xbf751d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=4
clientcode=0
x=327
y=209
width=142
height=16
hide=0
font=497
text=Amount
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xbf751d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=4
clientcode=0
x=62
y=235
width=100
height=14
hide=0
font=495
text=0
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xe1981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=4
clientcode=0
x=352
y=235
width=100
height=14
hide=0
font=495
text=0
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xe1981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=6
clientcode=0
x=50
y=252
width=32
height=32
hide=0
model=com_i10044
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=600
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=6
clientcode=0
x=146
y=252
width=32
height=32
hide=0
model=com_i10044
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=600
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=6
clientcode=0
x=50
y=252
width=32
height=32
hide=0
model=com_i10040
modelxof=0
modelyof=0
xan=450
yan=0
zan=0
zoom=600
orthog=0
eventcode=0x2
baseop=
op1=Decrease
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=6
clientcode=0
x=146
y=252
width=32
height=32
hide=0
model=com_i10042
modelxof=0
modelyof=0
xan=450
yan=0
zan=0
zoom=600
orthog=0
eventcode=0x2
baseop=
op1=Increase
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
