// interface 280

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=1
clientcode=0
x=220
y=188
width=72
height=36
trans=0
graphic=293
activegraphic=-1
buttontext=Yes.

[com_2]
type=5
buttontype=1
clientcode=0
x=220
y=238
width=72
height=36
trans=0
graphic=293
activegraphic=-1
buttontext=No.

[com_3]
type=4
buttontype=0
clientcode=0
x=220
y=188
width=72
height=36
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=YES
activetext=
colour=0x11d311
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=220
y=238
width=72
height=36
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=NO
activetext=
colour=0xac1414
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=108
y=146
width=300
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Do you really want to bet X!
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
