// interface 281

[com_0]
type=4
buttontype=0
clientcode=0
x=342
y=24
width=109
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Text
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=342
y=74
width=110
height=18
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Text
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=6
buttontype=0
clientcode=0
x=465
y=24
width=32
height=32
trans=0
model=com_i6435
activemodel=-1
zoom=1165
xan=10
yan=37

[com_3]
type=6
buttontype=0
clientcode=0
x=466
y=72
width=32
height=32
trans=0
model=com_i6438
activemodel=-1
zoom=1165
xan=32
yan=56

[com_4]
type=4
buttontype=0
clientcode=0
x=443
y=43
width=14
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=10
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=442
y=91
width=14
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=10
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=5
buttontype=0
clientcode=0
x=480
y=302
width=25
height=25
trans=0
graphic=219
activegraphic=-1

[com_7]
type=0
buttontype=0
clientcode=0
x=136
y=120
width=268
height=121
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=119
y=32
width=32
height=32
layer=com_7
trans=0
model=com_i10119
activemodel=-1
zoom=576
xan=512
yan=0

[com_9]
type=4
buttontype=0
clientcode=0
x=72
y=28
width=124
height=17
layer=com_7
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Your cat has been
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=110
y=49
width=59
height=17
layer=com_7
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Defeated
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
