// interface 282

[com_0]
type=6
buttontype=0
clientcode=0
x=254
y=135
width=32
height=32
trans=0
model=com_i4652
activemodel=-1
zoom=891
xan=492
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=26
y=147
width=32
height=32
trans=0
model=com_i10097
activemodel=-1
zoom=720
xan=443
yan=2

[com_2]
type=6
buttontype=0
clientcode=0
x=119
y=102
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=160
y=110
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=202
y=109
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=246
y=101
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=290
y=96
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=335
y=101
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=381
y=106
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=426
y=110
width=32
height=195
trans=0
model=com_i10098
activemodel=-1
zoom=400
xan=512
yan=0

[com_10]
type=4
buttontype=0
clientcode=0
x=313
y=35
width=163
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Page 1 of 8
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=6
buttontype=4
clientcode=0
x=138
y=36
width=70
height=60
trans=0
scriptcmp=1/1
scripts=14/1413/0
model=com_i10115
activemodel=com_i10116
zoom=400
xan=512
yan=0
buttontext=Raise an Octave.

[com_12]
type=6
buttontype=4
clientcode=0
x=119
y=107
width=32
height=195
trans=0
scriptcmp=1/63
scripts=14/1412/0
model=com_i10099
activemodel=com_i10100
zoom=400
xan=512
yan=0
buttontext=D

[com_13]
type=6
buttontype=4
clientcode=0
x=160
y=115
width=32
height=195
trans=0
scriptcmp=1/62
scripts=14/1412/0
model=com_i10101
activemodel=com_i10102
zoom=400
xan=460
yan=0
buttontext=E

[com_14]
type=6
buttontype=4
clientcode=0
x=202
y=114
width=32
height=195
trans=0
scriptcmp=1/60
scripts=14/1412/0
model=com_i10103
activemodel=com_i10104
zoom=400
xan=460
yan=0
buttontext=F#

[com_15]
type=6
buttontype=4
clientcode=0
x=246
y=106
width=32
height=195
trans=0
scriptcmp=1/56
scripts=14/1412/0
model=com_i10105
activemodel=com_i10106
zoom=400
xan=460
yan=0
buttontext=G

[com_16]
type=6
buttontype=4
clientcode=0
x=290
y=101
width=32
height=195
trans=0
scriptcmp=1/48
scripts=14/1412/0
model=com_i10107
activemodel=com_i10108
zoom=400
xan=460
yan=0
buttontext=A

[com_17]
type=6
buttontype=4
clientcode=0
x=335
y=105
width=32
height=195
trans=0
scriptcmp=1/32
scripts=14/1412/0
model=com_i10109
activemodel=com_i10110
zoom=400
xan=460
yan=0
buttontext=B

[com_18]
type=6
buttontype=4
clientcode=0
x=381
y=112
width=32
height=195
trans=0
scriptcmp=1/1
scripts=14/1412/0
model=com_i10111
activemodel=com_i10112
zoom=400
xan=460
yan=0
buttontext=C#

[com_19]
type=6
buttontype=4
clientcode=0
x=426
y=115
width=32
height=195
trans=0
scriptcmp=1/24
scripts=14/1412/0
model=com_i10113
activemodel=com_i10114
zoom=400
xan=460
yan=0
buttontext=C

[com_20]
type=4
buttontype=1
clientcode=0
x=208
y=55
width=149
height=21
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=PLAY
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xff0000
colour2over=0x000000
buttontext=Play your tune.

[com_21]
type=6
buttontype=1
clientcode=0
x=1
y=1
width=40
height=40
layer=com_24
trans=0
model=com_i10117
activemodel=com_i10118
zoom=220
xan=512
yan=0
buttontext=Next page.

[com_22]
type=6
buttontype=1
clientcode=0
x=2
y=1
width=40
height=38
layer=com_23
trans=0
model=com_i10117
activemodel=com_i10118
zoom=220
xan=522
yan=1024
buttontext=Previous Page.

[com_23]
type=0
buttontype=0
clientcode=0
x=358
y=55
width=44
height=42
trans=0
scrollheight=0
hide=0

[com_24]
type=0
buttontype=0
clientcode=0
x=410
y=57
width=44
height=42
trans=0
scrollheight=0
hide=0

[com_25]
type=5
buttontype=0
clientcode=0
x=484
y=4
width=26
height=23
overlayer=27
trans=0
graphic=539
activegraphic=-1

[com_26]
type=5
buttontype=3
clientcode=0
x=4
y=5
width=26
height=23
layer=com_27
trans=0
graphic=540
activegraphic=-1

[com_27]
type=0
buttontype=0
clientcode=0
x=480
y=-1
width=32
height=32
trans=0
scrollheight=0
hide=1
