// interface 283

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=512
height=334
hide=0
colour=0x46341d
fill=1
trans=160
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=242
y=176
width=32
height=32
hide=0
model=com_i26397
modelxof=0
modelyof=0
xan=495
yan=2047
zan=0
zoom=1002
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=74
y=76
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=119
y=82
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=168
y=77
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=6
clientcode=0
x=216
y=71
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=6
clientcode=0
x=266
y=71
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=6
clientcode=0
x=316
y=76
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=6
clientcode=0
x=359
y=81
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=6
clientcode=0
x=404
y=84
width=32
height=195
hide=0
model=com_i10098
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=6
clientcode=0
x=74
y=81
width=32
height=195
hide=0
model=com_i10100
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=6
clientcode=0
x=119
y=87
width=32
height=195
hide=0
model=com_i10106
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=6
clientcode=0
x=168
y=83
width=32
height=195
hide=0
model=com_i10102
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=6
clientcode=0
x=216
y=76
width=32
height=195
hide=0
model=com_i10104
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=6
clientcode=0
x=266
y=77
width=32
height=195
hide=0
model=com_i10100
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=6
clientcode=0
x=316
y=81
width=32
height=195
hide=0
model=com_i10110
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=6
clientcode=0
x=359
y=85
width=32
height=195
hide=0
model=com_i10112
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=6
clientcode=0
x=404
y=89
width=32
height=195
hide=0
model=com_i10108
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=6
clientcode=0
x=272
y=39
width=32
height=32
hide=0
model=com_i10116
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=541
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=5
clientcode=0
x=443
y=40
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:18546707,i:542
onmouseleave=i:44,i:18546707,i:541
onop=i:29
