// interface 287

[com_0]
type=0
buttontype=0
clientcode=0
x=163
y=48
width=194
height=192
trans=0
scriptcmp=1/2
scripts=5/261/0
scrollheight=0
hide=1

[com_1]
type=6
buttontype=0
clientcode=0
x=247
y=145
width=32
height=32
trans=0
model=com_i3437
activemodel=-1
zoom=430
xan=512
yan=0

[com_2]
type=2
buttontype=0
clientcode=0
x=171
y=54
width=5
height=5
trans=0
eventcode=0x40000000
marginx=5
marginy=5
targetverb=
targetbase=

[com_3]
type=6
buttontype=0
clientcode=0
x=247
y=145
width=32
height=32
trans=0
model=com_i4695
activemodel=-1
zoom=444
xan=512
yan=0

[com_4]
type=5
buttontype=0
clientcode=0
x=484
y=4
width=26
height=23
overlayer=6
trans=0
graphic=539
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=4
y=3
width=26
height=23
layer=com_6
trans=0
graphic=540
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=480
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
