// interface 288

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0xf622c0c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=3
buttontype=0
clientcode=0
x=0
y=150
width=511
height=19
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=3
buttontype=0
clientcode=0
x=5
y=89
width=86
height=145
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=3
buttontype=0
clientcode=0
x=470
y=90
width=86
height=145
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=3
buttontype=0
clientcode=0
x=99
y=0
width=359
height=334
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=3
buttontype=0
clientcode=0
x=107
y=0
width=343
height=334
trans=0
fill=1
colour=0xf585858
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=3
buttontype=0
clientcode=0
x=12
y=98
width=71
height=130
trans=0
fill=1
colour=0xf585858
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=3
buttontype=0
clientcode=0
x=479
y=99
width=71
height=130
trans=0
fill=1
colour=0xf585858
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=3
buttontype=0
clientcode=0
x=7
y=53
width=84
height=24
trans=0
fill=1
colour=0xf312314
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=1
clientcode=0
x=6
y=52
width=86
height=26
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=open casket
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_10]
type=3
buttontype=1
clientcode=0
x=114
y=4
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_11]
type=3
buttontype=1
clientcode=0
x=151
y=4
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_12]
type=3
buttontype=1
clientcode=0
x=188
y=4
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_13]
type=3
buttontype=1
clientcode=0
x=225
y=4
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_14]
type=3
buttontype=1
clientcode=0
x=262
y=4
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_15]
type=3
buttontype=1
clientcode=0
x=299
y=4
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_16]
type=3
buttontype=1
clientcode=0
x=336
y=4
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_17]
type=3
buttontype=1
clientcode=0
x=373
y=4
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_18]
type=3
buttontype=1
clientcode=0
x=410
y=4
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_19]
type=3
buttontype=1
clientcode=0
x=114
y=41
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_20]
type=3
buttontype=1
clientcode=0
x=151
y=41
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_21]
type=3
buttontype=1
clientcode=0
x=188
y=41
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_22]
type=3
buttontype=1
clientcode=0
x=225
y=41
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_23]
type=3
buttontype=1
clientcode=0
x=262
y=41
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_24]
type=3
buttontype=1
clientcode=0
x=299
y=41
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_25]
type=3
buttontype=1
clientcode=0
x=336
y=41
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_26]
type=3
buttontype=1
clientcode=0
x=373
y=41
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_27]
type=3
buttontype=1
clientcode=0
x=410
y=41
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_28]
type=3
buttontype=1
clientcode=0
x=114
y=78
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_29]
type=3
buttontype=1
clientcode=0
x=151
y=78
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_30]
type=3
buttontype=1
clientcode=0
x=188
y=78
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_31]
type=3
buttontype=1
clientcode=0
x=225
y=78
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_32]
type=3
buttontype=1
clientcode=0
x=262
y=78
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_33]
type=3
buttontype=1
clientcode=0
x=299
y=78
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_34]
type=3
buttontype=1
clientcode=0
x=336
y=78
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_35]
type=3
buttontype=1
clientcode=0
x=373
y=78
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_36]
type=3
buttontype=1
clientcode=0
x=410
y=78
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_37]
type=3
buttontype=1
clientcode=0
x=114
y=115
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_38]
type=3
buttontype=1
clientcode=0
x=151
y=115
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_39]
type=3
buttontype=1
clientcode=0
x=188
y=115
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_40]
type=3
buttontype=1
clientcode=0
x=225
y=115
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_41]
type=3
buttontype=1
clientcode=0
x=262
y=115
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_42]
type=3
buttontype=1
clientcode=0
x=299
y=115
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_43]
type=3
buttontype=1
clientcode=0
x=336
y=115
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_44]
type=3
buttontype=1
clientcode=0
x=373
y=115
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_45]
type=3
buttontype=1
clientcode=0
x=410
y=115
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_46]
type=3
buttontype=1
clientcode=0
x=114
y=152
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_47]
type=3
buttontype=1
clientcode=0
x=151
y=152
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_48]
type=3
buttontype=1
clientcode=0
x=188
y=152
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_49]
type=3
buttontype=1
clientcode=0
x=225
y=152
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_50]
type=3
buttontype=1
clientcode=0
x=262
y=152
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_51]
type=3
buttontype=1
clientcode=0
x=299
y=152
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_52]
type=3
buttontype=1
clientcode=0
x=336
y=152
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_53]
type=3
buttontype=1
clientcode=0
x=373
y=152
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_54]
type=3
buttontype=1
clientcode=0
x=410
y=152
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_55]
type=3
buttontype=1
clientcode=0
x=114
y=189
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_56]
type=3
buttontype=1
clientcode=0
x=151
y=189
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_57]
type=3
buttontype=1
clientcode=0
x=188
y=189
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_58]
type=3
buttontype=1
clientcode=0
x=225
y=189
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_59]
type=3
buttontype=1
clientcode=0
x=262
y=189
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_60]
type=3
buttontype=1
clientcode=0
x=299
y=189
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_61]
type=3
buttontype=1
clientcode=0
x=336
y=189
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_62]
type=3
buttontype=1
clientcode=0
x=373
y=189
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_63]
type=3
buttontype=1
clientcode=0
x=410
y=189
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_64]
type=3
buttontype=1
clientcode=0
x=114
y=226
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_65]
type=3
buttontype=1
clientcode=0
x=151
y=226
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_66]
type=3
buttontype=1
clientcode=0
x=188
y=226
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_67]
type=3
buttontype=1
clientcode=0
x=225
y=226
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_68]
type=3
buttontype=1
clientcode=0
x=262
y=226
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_69]
type=3
buttontype=1
clientcode=0
x=299
y=226
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_70]
type=3
buttontype=1
clientcode=0
x=336
y=226
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_71]
type=3
buttontype=1
clientcode=0
x=373
y=226
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_72]
type=3
buttontype=1
clientcode=0
x=410
y=226
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_73]
type=3
buttontype=1
clientcode=0
x=114
y=263
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_74]
type=3
buttontype=1
clientcode=0
x=151
y=263
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_75]
type=3
buttontype=1
clientcode=0
x=188
y=263
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_76]
type=3
buttontype=1
clientcode=0
x=225
y=263
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_77]
type=3
buttontype=1
clientcode=0
x=262
y=263
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_78]
type=3
buttontype=1
clientcode=0
x=299
y=263
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_79]
type=3
buttontype=1
clientcode=0
x=336
y=263
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_80]
type=3
buttontype=1
clientcode=0
x=373
y=263
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_81]
type=3
buttontype=1
clientcode=0
x=410
y=263
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_82]
type=3
buttontype=1
clientcode=0
x=115
y=300
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_83]
type=3
buttontype=1
clientcode=0
x=151
y=300
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_84]
type=3
buttontype=1
clientcode=0
x=189
y=300
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_85]
type=3
buttontype=1
clientcode=0
x=225
y=300
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_86]
type=3
buttontype=1
clientcode=0
x=262
y=300
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_87]
type=3
buttontype=1
clientcode=0
x=299
y=300
width=32
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_88]
type=3
buttontype=1
clientcode=0
x=336
y=300
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_89]
type=3
buttontype=1
clientcode=0
x=373
y=300
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_90]
type=3
buttontype=1
clientcode=0
x=410
y=300
width=32
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_91]
type=0
buttontype=0
clientcode=0
x=4
y=284
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_92]
type=0
buttontype=0
clientcode=0
x=3
y=234
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_93]
type=0
buttontype=0
clientcode=0
x=3
y=184
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_94]
type=0
buttontype=0
clientcode=0
x=3
y=134
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_95]
type=0
buttontype=0
clientcode=0
x=3
y=84
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_96]
type=0
buttontype=0
clientcode=0
x=52
y=134
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_97]
type=0
buttontype=0
clientcode=0
x=52
y=184
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_98]
type=0
buttontype=0
clientcode=0
x=52
y=234
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_99]
type=0
buttontype=0
clientcode=0
x=53
y=284
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_100]
type=0
buttontype=0
clientcode=0
x=52
y=84
width=47
height=48
trans=0
scrollheight=0
hide=0

[com_101]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_91
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_102]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_92
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_103]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_93
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_104]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_94
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_105]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_95
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_106]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_96
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_107]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_97
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_108]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_98
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_109]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_99
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_110]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_100
trans=0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_111]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_91
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_112]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_92
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_113]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_93
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_114]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_94
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_115]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_95
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_116]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_96
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_117]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_97
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_118]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_98
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_119]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_99
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_120]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_100
trans=0
model=-1
activemodel=com_i8985
zoom=600
xan=500
yan=0

[com_121]
type=6
buttontype=1
clientcode=0
x=12
y=292
width=32
height=32
trans=0
model=com_i8979
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_122]
type=6
buttontype=1
clientcode=0
x=11
y=242
width=32
height=32
trans=0
model=com_i8987
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_123]
type=6
buttontype=1
clientcode=0
x=9
y=193
width=32
height=32
trans=0
model=com_i8975
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_124]
type=6
buttontype=1
clientcode=0
x=9
y=92
width=32
height=32
trans=0
model=com_i8982
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_125]
type=6
buttontype=1
clientcode=0
x=10
y=142
width=32
height=32
trans=0
model=com_i8980
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_126]
type=6
buttontype=1
clientcode=0
x=59
y=143
width=32
height=32
trans=0
model=com_i8976
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_127]
type=6
buttontype=1
clientcode=0
x=59
y=193
width=32
height=32
trans=0
model=com_i8978
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_128]
type=6
buttontype=1
clientcode=0
x=60
y=242
width=32
height=32
trans=0
model=com_i8977
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_129]
type=6
buttontype=1
clientcode=0
x=61
y=292
width=32
height=32
trans=0
model=com_i8981
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_130]
type=6
buttontype=1
clientcode=0
x=60
y=92
width=32
height=32
trans=0
model=com_i8985
activemodel=-1
zoom=600
xan=500
yan=0
buttontext=

[com_131]
type=2
buttontype=0
clientcode=0
x=114
y=4
width=9
height=9
trans=0
eventcode=0x0
marginx=5
marginy=5
targetverb=
targetbase=

[com_132]
type=5
buttontype=0
clientcode=0
x=4
y=5
width=26
height=23
overlayer=134
trans=0
graphic=539
activegraphic=-1

[com_133]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_134
trans=0
graphic=540
activegraphic=-1

[com_134]
type=0
buttontype=0
clientcode=0
x=1
y=0
width=32
height=32
trans=0
scrollheight=0
hide=1
