// interface 289

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0xf622c0c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=3
buttontype=0
clientcode=0
x=0
y=144
width=512
height=20
trans=0
fill=1
colour=0x00000f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=3
buttontype=0
clientcode=0
x=138
y=30
width=232
height=236
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=3
buttontype=0
clientcode=0
x=144
y=37
width=220
height=222
trans=0
fill=1
colour=0xf585858
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=3
buttontype=0
clientcode=0
x=155
y=48
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=3
buttontype=0
clientcode=0
x=259
y=48
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=3
buttontype=0
clientcode=0
x=207
y=48
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=3
buttontype=0
clientcode=0
x=154
y=99
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=3
buttontype=0
clientcode=0
x=311
y=48
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=3
buttontype=0
clientcode=0
x=206
y=100
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=3
buttontype=0
clientcode=0
x=258
y=100
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=3
buttontype=0
clientcode=0
x=310
y=100
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=3
buttontype=0
clientcode=0
x=155
y=152
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=3
buttontype=0
clientcode=0
x=206
y=151
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=3
buttontype=0
clientcode=0
x=259
y=151
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=3
buttontype=0
clientcode=0
x=310
y=152
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=3
buttontype=0
clientcode=0
x=154
y=204
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=3
buttontype=0
clientcode=0
x=206
y=204
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=3
buttontype=0
clientcode=0
x=259
y=203
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=3
buttontype=0
clientcode=0
x=311
y=203
width=43
height=43
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=3
buttontype=1
clientcode=0
x=160
y=53
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_21]
type=3
buttontype=1
clientcode=0
x=212
y=53
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_22]
type=3
buttontype=1
clientcode=0
x=264
y=53
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_23]
type=3
buttontype=1
clientcode=0
x=316
y=53
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_24]
type=3
buttontype=1
clientcode=0
x=159
y=105
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_25]
type=3
buttontype=1
clientcode=0
x=211
y=105
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_26]
type=3
buttontype=1
clientcode=0
x=263
y=105
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_27]
type=3
buttontype=1
clientcode=0
x=315
y=105
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_28]
type=3
buttontype=1
clientcode=0
x=160
y=157
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_29]
type=3
buttontype=1
clientcode=0
x=211
y=157
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_30]
type=3
buttontype=1
clientcode=0
x=264
y=157
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_31]
type=3
buttontype=1
clientcode=0
x=315
y=157
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_32]
type=3
buttontype=1
clientcode=0
x=159
y=209
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_33]
type=3
buttontype=1
clientcode=0
x=211
y=209
width=33
height=32
trans=0
fill=1
colour=0xfe9c001
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_34]
type=3
buttontype=1
clientcode=0
x=264
y=209
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_35]
type=3
buttontype=1
clientcode=0
x=316
y=209
width=33
height=32
trans=0
fill=1
colour=0xfa9907
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place-rune

[com_36]
type=3
buttontype=0
clientcode=0
x=280
y=295
width=89
height=31
trans=0
fill=1
colour=0x202020
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=3
buttontype=0
clientcode=0
x=391
y=67
width=113
height=174
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=3
buttontype=0
clientcode=0
x=402
y=79
width=93
height=149
trans=0
fill=1
colour=0xf585858
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=3
buttontype=0
clientcode=0
x=9
y=63
width=113
height=174
trans=0
fill=1
colour=0xf303030
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=3
buttontype=0
clientcode=0
x=19
y=76
width=93
height=149
trans=0
fill=1
colour=0xf585858
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=4
buttontype=1
clientcode=0
x=279
y=294
width=91
height=32
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=open casket
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_42]
type=0
buttontype=0
clientcode=0
x=7
y=283
width=42
height=42
trans=0
scrollheight=0
hide=0

[com_43]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_42
trans=0
scriptcmp=1/5
scripts=5/261/0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_44]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_42
trans=0
scriptcmp=1/1
scripts=5/261/0
model=-1
activemodel=com_i8986
zoom=600
xan=500
yan=0

[com_45]
type=0
buttontype=0
clientcode=0
x=64
y=283
width=42
height=42
trans=0
scrollheight=0
hide=0

[com_46]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_45
trans=0
scriptcmp=1/1
scripts=5/261/0
model=-1
activemodel=com_i8986
zoom=600
xan=500
yan=0

[com_47]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_45
trans=0
scriptcmp=1/5
scripts=5/261/0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_48]
type=0
buttontype=0
clientcode=0
x=117
y=283
width=42
height=42
trans=0
scrollheight=0
hide=0

[com_49]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_48
trans=0
scriptcmp=1/1
scripts=5/261/0
model=-1
activemodel=com_i8986
zoom=600
xan=500
yan=0

[com_50]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_48
trans=0
scriptcmp=1/5
scripts=5/261/0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_51]
type=0
buttontype=0
clientcode=0
x=171
y=282
width=42
height=42
trans=0
scrollheight=0
hide=0

[com_52]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_51
trans=0
scriptcmp=1/1
scripts=5/261/0
model=-1
activemodel=com_i8986
zoom=600
xan=500
yan=0

[com_53]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_51
trans=0
scriptcmp=1/5
scripts=5/261/0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_54]
type=0
buttontype=0
clientcode=0
x=226
y=282
width=42
height=42
trans=0
scrollheight=0
hide=0

[com_55]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_54
trans=0
scriptcmp=1/1
scripts=5/261/0
model=-1
activemodel=com_i8986
zoom=600
xan=500
yan=0

[com_56]
type=6
buttontype=0
clientcode=0
x=5
y=5
width=32
height=32
layer=com_54
trans=0
scriptcmp=1/5
scripts=5/261/0
model=com_i8986
activemodel=-1
zoom=600
xan=500
yan=0

[com_57]
type=6
buttontype=1
clientcode=0
x=11
y=289
width=32
height=32
trans=0
model=com_i8979
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_58]
type=6
buttontype=1
clientcode=0
x=68
y=288
width=32
height=32
trans=0
model=com_i8987
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_59]
type=6
buttontype=1
clientcode=0
x=121
y=289
width=32
height=32
trans=0
model=com_i8975
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_60]
type=6
buttontype=1
clientcode=0
x=176
y=288
width=32
height=32
trans=0
model=com_i8980
activemodel=-1
zoom=600
xan=500
yan=1050
buttontext=

[com_61]
type=6
buttontype=1
clientcode=0
x=230
y=287
width=32
height=32
trans=0
model=com_i8985
activemodel=-1
zoom=652
xan=500
yan=1050
buttontext=

[com_62]
type=2
buttontype=0
clientcode=0
x=159
y=53
width=4
height=4
trans=0
eventcode=0x0
marginx=20
marginy=20
targetverb=
targetbase=

[com_63]
type=5
buttontype=0
clientcode=0
x=484
y=5
width=26
height=23
overlayer=65
trans=0
graphic=539
activegraphic=-1

[com_64]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_65
trans=0
graphic=540
activegraphic=-1

[com_65]
type=0
buttontype=0
clientcode=0
x=481
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
