// interface 29

[com_0]
type=6
buttontype=0
clientcode=0
x=219
y=136
width=32
height=32
trans=0
model=com_i9082
activemodel=-1
zoom=886
xan=420
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=360
y=170
width=32
height=32
trans=0
model=com_i9095
activemodel=-1
anim=2449
zoom=1808
xan=420
yan=1

[com_2]
type=4
buttontype=0
clientcode=0
x=85
y=57
width=342
height=21
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Blast Furnace Plan
activetext=
colour=0x2b210f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=306
y=168
width=49
height=32
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Stove
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=315
y=225
width=37
height=32
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Air Pump
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=244
y=228
width=61
height=33
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Temp Gauge
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=188
y=170
width=55
height=28
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Furnace
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=124
y=167
width=62
height=35
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Dispenser
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=181
y=108
width=65
height=38
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Conveyor<br>Belt
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=245
y=114
width=37
height=29
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cogs
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=194
y=208
width=44
height=27
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Pipes
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=350
y=142
width=41
height=24
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Coke
activetext=
colour=0xfac864
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=6
buttontype=0
clientcode=0
x=301
y=114
width=32
height=32
trans=0
model=com_i9095
activemodel=-1
anim=2449
zoom=1808
xan=420
yan=1

[com_13]
type=6
buttontype=0
clientcode=0
x=362
y=226
width=32
height=32
trans=0
model=com_i9095
activemodel=-1
anim=2449
zoom=1808
xan=420
yan=1

[com_14]
type=6
buttontype=0
clientcode=0
x=258
y=263
width=32
height=32
trans=0
model=com_i9095
activemodel=-1
anim=2449
zoom=1808
xan=420
yan=1
