// interface 290

[com_0]
type=3
buttontype=0
clientcode=0
x=106
y=-15
width=400
height=400
trans=0
fill=1
colour=0x1a1a1a
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=178
y=-32
width=32
height=32
trans=0
model=com_i7635
activemodel=-1
anim=2235
activeanim=2235
zoom=482
xan=351
yan=24

[com_2]
type=6
buttontype=0
clientcode=0
x=428
y=237
width=32
height=32
trans=0
model=com_i7629
activemodel=-1
anim=2232
activeanim=2232
zoom=443
xan=537
yan=509

[com_3]
type=6
buttontype=0
clientcode=0
x=39
y=-47
width=32
height=32
trans=0
model=com_i7638
activemodel=-1
anim=2237
activeanim=2237
zoom=361
xan=419
yan=89

[com_4]
type=6
buttontype=0
clientcode=0
x=227
y=-214
width=32
height=32
trans=0
model=com_i7633
activemodel=-1
anim=2234
activeanim=2234
zoom=455
xan=369
yan=3

[com_5]
type=0
buttontype=0
clientcode=0
x=34
y=34
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_6]
type=6
buttontype=0
clientcode=0
x=244
y=152
width=32
height=32
trans=0
model=com_i7623
activemodel=-1
zoom=603
xan=528
yan=3

[com_7]
type=6
buttontype=0
clientcode=0
x=245
y=158
width=32
height=32
trans=0
model=com_i7625
activemodel=-1
zoom=625
xan=500
yan=0

[com_8]
type=2
buttontype=0
clientcode=0
x=129
y=44
width=3
height=3
trans=0
eventcode=0x1800000
marginx=83
marginy=83
iop1=Rotate-Clockwise
iop2=Rotate-AntiClockwise
targetverb=
targetbase=

[com_9]
type=6
buttontype=0
clientcode=0
x=129
y=48
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_10]
type=6
buttontype=0
clientcode=0
x=245
y=48
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_11]
type=6
buttontype=0
clientcode=0
x=358
y=48
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_12]
type=6
buttontype=0
clientcode=0
x=129
y=162
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_13]
type=6
buttontype=0
clientcode=0
x=245
y=162
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_14]
type=6
buttontype=0
clientcode=0
x=358
y=162
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_15]
type=6
buttontype=0
clientcode=0
x=129
y=274
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_16]
type=6
buttontype=0
clientcode=0
x=245
y=274
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_17]
type=6
buttontype=0
clientcode=0
x=358
y=274
width=32
height=32
trans=0
model=com_i7624
activemodel=-1
anim=2221
zoom=800
xan=491
yan=522

[com_18]
type=6
buttontype=0
clientcode=0
x=423
y=96
width=32
height=32
trans=0
model=com_i7622
activemodel=-1
zoom=1126
xan=571
yan=269

[com_19]
type=6
buttontype=0
clientcode=0
x=425
y=224
width=32
height=32
trans=0
model=com_i7622
activemodel=-1
zoom=1126
xan=484
yan=1945

[com_20]
type=6
buttontype=0
clientcode=0
x=62
y=89
width=32
height=32
trans=0
model=com_i7622
activemodel=-1
zoom=1126
xan=512
yan=22

[com_21]
type=6
buttontype=0
clientcode=0
x=60
y=223
width=32
height=32
trans=0
model=com_i7622
activemodel=-1
zoom=1126
xan=569
yan=1737

[com_22]
type=5
buttontype=0
clientcode=0
x=483
y=6
width=26
height=23
overlayer=24
trans=0
graphic=539
activegraphic=-1

[com_23]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_24
trans=0
graphic=540
activegraphic=-1

[com_24]
type=0
buttontype=0
clientcode=0
x=479
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
