// interface 292

[com_0]
type=6
buttontype=0
clientcode=0
x=295
y=279
width=32
height=32
trans=0
model=com_i7619
activemodel=-1
zoom=288
xan=139
yan=144

[com_1]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7632
activemodel=-1
zoom=500
xan=80
yan=650

[com_2]
type=6
buttontype=0
clientcode=0
x=400
y=135
width=32
height=32
trans=0
model=com_i7632
activemodel=-1
zoom=500
xan=89
yan=650

[com_3]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7628
activemodel=-1
zoom=500
xan=80
yan=650

[com_4]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7634
activemodel=-1
zoom=500
xan=80
yan=650

[com_5]
type=6
buttontype=0
clientcode=0
x=352
y=149
width=32
height=32
trans=0
model=com_i7634
activemodel=-1
zoom=325
xan=87
yan=714

[com_6]
type=6
buttontype=0
clientcode=0
x=209
y=158
width=32
height=32
trans=0
model=com_i7634
activemodel=-1
zoom=566
xan=148
yan=644

[com_7]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7637
activemodel=-1
activeanim=2236
zoom=500
xan=80
yan=650

[com_8]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7635
activemodel=-1
anim=2235
zoom=500
xan=80
yan=650

[com_9]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_37
trans=0
model=com_i7631
activemodel=-1
anim=2233
activeanim=2233
zoom=500
xan=80
yan=650

[com_10]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_38
trans=0
model=com_i7648
activemodel=-1
anim=2233
activeanim=2233
zoom=500
xan=80
yan=650

[com_11]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_39
trans=0
model=com_i7649
activemodel=-1
anim=2233
activeanim=2233
zoom=500
xan=80
yan=650

[com_12]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_40
trans=0
model=com_i7650
activemodel=-1
anim=2233
activeanim=2233
zoom=500
xan=80
yan=650

[com_13]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_41
trans=0
model=com_i7651
activemodel=-1
anim=2233
activeanim=2233
zoom=500
xan=80
yan=650

[com_14]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_42
trans=0
model=com_i7652
activemodel=-1
anim=2233
activeanim=2233
zoom=500
xan=80
yan=650

[com_15]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_31
trans=0
model=com_i7633
activemodel=-1
anim=2234
activeanim=2234
zoom=500
xan=80
yan=650

[com_16]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_32
trans=0
model=com_i7642
activemodel=-1
anim=2234
activeanim=2234
zoom=500
xan=80
yan=650

[com_17]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_33
trans=0
model=com_i7643
activemodel=-1
anim=2234
activeanim=2234
zoom=500
xan=80
yan=650

[com_18]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_34
trans=0
model=com_i7644
activemodel=-1
anim=2234
activeanim=2234
zoom=500
xan=80
yan=650

[com_19]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_35
trans=0
model=com_i7645
activemodel=-1
anim=2234
activeanim=2234
zoom=500
xan=80
yan=650

[com_20]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_36
trans=0
model=com_i7646
activemodel=-1
anim=2234
activeanim=2234
zoom=500
xan=80
yan=650

[com_21]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7629
activemodel=-1
activeanim=2232
zoom=500
xan=80
yan=650

[com_22]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7640
activemodel=-1
activeanim=2238
zoom=500
xan=80
yan=650

[com_23]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7638
activemodel=-1
activeanim=2237
zoom=500
xan=80
yan=650

[com_24]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
trans=0
model=com_i7626
activemodel=-1
activeanim=2230
zoom=500
xan=80
yan=650

[com_25]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_43
trans=0
model=com_i7627
activemodel=-1
anim=2231
activeanim=2231
zoom=500
xan=80
yan=650

[com_26]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_44
trans=0
model=com_i7654
activemodel=-1
anim=2231
activeanim=2231
zoom=500
xan=80
yan=650

[com_27]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_45
trans=0
model=com_i7655
activemodel=-1
anim=2231
activeanim=2231
zoom=500
xan=80
yan=650

[com_28]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_46
trans=0
model=com_i7656
activemodel=-1
anim=2231
activeanim=2231
zoom=500
xan=80
yan=650

[com_29]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_47
trans=0
model=com_i7657
activemodel=-1
anim=2231
activeanim=2231
zoom=500
xan=80
yan=650

[com_30]
type=6
buttontype=0
clientcode=0
x=310
y=115
width=32
height=32
layer=com_48
trans=0
model=com_i7658
activemodel=-1
anim=2231
activeanim=2231
zoom=500
xan=80
yan=650

[com_31]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_32]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_33]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_34]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_35]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_36]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_37]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_38]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_39]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_40]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_41]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_42]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_43]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_44]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_45]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_46]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_47]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_48]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=512
height=320
trans=0
scrollheight=0
hide=1

[com_49]
type=3
buttontype=1
clientcode=0
x=98
y=160
width=120
height=80
trans=0
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place a gear here!

[com_50]
type=3
buttontype=1
clientcode=0
x=351
y=125
width=120
height=120
trans=0
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place a gear here!

[com_51]
type=3
buttontype=1
clientcode=0
x=135
y=39
width=120
height=120
trans=0
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Place a gear here!

[com_52]
type=5
buttontype=0
clientcode=0
x=483
y=6
width=26
height=23
overlayer=54
trans=0
graphic=539
activegraphic=-1

[com_53]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_54
trans=0
graphic=540
activegraphic=-1

[com_54]
type=0
buttontype=0
clientcode=0
x=479
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
