// interface 295

[com_0]
type=6
buttontype=0
clientcode=0
x=230
y=142
width=32
height=32
trans=0
model=com_i16964
activemodel=-1
zoom=510
xan=560
yan=2037

[com_1]
type=4
buttontype=0
clientcode=0
x=50
y=92
width=165
height=51
trans=0
halign=2
valign=2
lineheight=0
font=646
shadowed=1
text=Rum
activetext=
colour=0x676725
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=262
y=85
width=119
height=57
trans=0
halign=0
valign=2
lineheight=0
font=646
shadowed=1
text=Deal
activetext=
colour=0x676725
colour2=0x000000
colourover=0x000000
colour2over=0x000000
