// interface 296

[com_0]
type=6
buttontype=0
clientcode=0
x=174
y=94
width=32
height=32
trans=0
model=com_i16343
activemodel=-1
anim=4333
zoom=138
xan=0
yan=0
