// interface 3

[com_0]
type=6
buttontype=0
clientcode=0
x=73
y=284
width=32
height=32
layer=com_7
trans=0
model=com_i13369
activemodel=com_i13369
anim=3453
zoom=656
xan=0
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=73
y=292
width=32
height=32
layer=com_8
trans=0
model=com_i13366
activemodel=-1
anim=3454
zoom=656
xan=147
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=73
y=296
width=32
height=32
layer=com_9
trans=0
model=com_i13365
activemodel=-1
anim=3454
zoom=656
xan=147
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=73
y=288
width=32
height=32
layer=com_10
trans=0
model=com_i13364
activemodel=-1
anim=3454
zoom=656
xan=147
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=73
y=287
width=32
height=32
layer=com_11
trans=0
model=com_i13363
activemodel=-1
anim=3454
zoom=656
xan=147
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=73
y=289
width=32
height=32
layer=com_12
trans=0
model=com_i13362
activemodel=-1
anim=3455
zoom=656
xan=147
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=73
y=291
width=32
height=32
layer=com_13
trans=0
model=com_i13367
activemodel=-1
zoom=656
xan=147
yan=0

[com_7]
type=0
buttontype=0
clientcode=0
x=351
y=-3
width=164
height=326
trans=0
scrollheight=0
hide=1

[com_8]
type=0
buttontype=0
clientcode=0
x=351
y=-11
width=195
height=334
trans=0
scrollheight=0
hide=1

[com_9]
type=0
buttontype=0
clientcode=0
x=351
y=-15
width=170
height=338
trans=0
scrollheight=0
hide=1

[com_10]
type=0
buttontype=0
clientcode=0
x=351
y=-7
width=168
height=330
trans=0
scrollheight=0
hide=1

[com_11]
type=0
buttontype=0
clientcode=0
x=351
y=-6
width=178
height=329
trans=0
scrollheight=0
hide=1

[com_12]
type=0
buttontype=0
clientcode=0
x=351
y=-8
width=173
height=331
trans=0
scrollheight=0
hide=1

[com_13]
type=0
buttontype=0
clientcode=0
x=351
y=-10
width=177
height=333
trans=0
scrollheight=0
hide=0
