// interface 30

[com_0]
type=4
buttontype=0
clientcode=0
x=7
y=7
width=500
height=16
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Blast Furnace Temp Gauge
activetext=
colour=0xffaa44
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=303
y=174
width=32
height=32
trans=0
model=com_i9096
activemodel=-1
zoom=908
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=172
y=181
width=32
height=32
trans=0
model=com_i9097
activemodel=-1
zoom=960
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=235
y=150
width=32
height=32
trans=0
model=com_i9083
activemodel=-1
zoom=172
xan=0
yan=0

[com_4]
type=5
buttontype=0
clientcode=0
x=482
y=5
width=26
height=23
overlayer=6
trans=0
graphic=539
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_6
trans=0
graphic=540
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=479
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
