// interface 302

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=520
height=400
trans=64
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=231
y=147
width=32
height=32
trans=0
model=com_i17341
activemodel=-1
zoom=594
xan=456
yan=2041

[com_2]
type=6
buttontype=0
clientcode=0
x=231
y=147
width=32
height=32
trans=0
model=com_i17340
activemodel=-1
zoom=594
xan=456
yan=2041

[com_3]
type=5
buttontype=0
clientcode=0
x=482
y=6
width=26
height=23
overlayer=5
trans=0
graphic=539
activegraphic=-1

[com_4]
type=5
buttontype=3
clientcode=0
x=4
y=5
width=26
height=23
layer=com_5
trans=0
graphic=540
activegraphic=-1

[com_5]
type=0
buttontype=0
clientcode=0
x=478
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
