// interface 304

[com_0]
type=5
buttontype=0
clientcode=0
x=2
y=5
width=57
height=13
trans=0
graphic=302
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=421
y=5
width=57
height=13
trans=0
graphic=301
activegraphic=-1

[com_2]
type=6
buttontype=0
clientcode=0
x=56
y=13
width=67
height=82
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=207
y=13
width=67
height=82
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=360
y=13
width=67
height=82
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_5]
type=4
buttontype=6
clientcode=0
x=1
y=15
width=160
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make X

[com_6]
type=4
buttontype=6
clientcode=0
x=1
y=15
width=160
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 10

[com_7]
type=4
buttontype=6
clientcode=0
x=1
y=15
width=160
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 5

[com_8]
type=4
buttontype=6
clientcode=0
x=1
y=15
width=160
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 1

[com_9]
type=4
buttontype=6
clientcode=0
x=171
y=10
width=138
height=85
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make X

[com_10]
type=4
buttontype=6
clientcode=0
x=171
y=10
width=138
height=85
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 10

[com_11]
type=4
buttontype=6
clientcode=0
x=171
y=10
width=138
height=85
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 5

[com_12]
type=4
buttontype=6
clientcode=0
x=171
y=10
width=138
height=85
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 1

[com_13]
type=4
buttontype=6
clientcode=0
x=315
y=13
width=160
height=82
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make X

[com_14]
type=4
buttontype=6
clientcode=0
x=315
y=13
width=160
height=82
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 10

[com_15]
type=4
buttontype=6
clientcode=0
x=315
y=13
width=160
height=82
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 5

[com_16]
type=4
buttontype=6
clientcode=0
x=315
y=13
width=160
height=82
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 1

[com_17]
type=4
buttontype=0
clientcode=0
x=8
y=3
width=464
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=What would you like to make?
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
