// interface 313

[com_0]
type=6
buttontype=0
clientcode=0
x=241
y=172
width=32
height=32
trans=0
model=com_i6234
activemodel=-1
anim=1921
zoom=64
xan=2047
yan=2

[com_1]
type=6
buttontype=0
clientcode=0
x=248
y=412
width=32
height=32
trans=0
model=-1
activemodel=-1
anim=1921
zoom=64
xan=2047
yan=2

[com_2]
type=6
buttontype=0
clientcode=0
x=257
y=39
width=32
height=32
trans=0
model=-1
activemodel=-1
anim=1921
zoom=64
xan=2047
yan=2
