// interface 320

[com_0]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_1]
type=5
buttontype=0
clientcode=0
x=-1
y=0
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=29
y=0
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=62
y=0
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=92
y=0
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=125
y=0
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=155
y=0
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_7]
type=0
buttontype=0
clientcode=0
x=0
y=31
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_8]
type=5
buttontype=0
clientcode=0
x=-1
y=31
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=29
y=31
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=62
y=31
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=92
y=31
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=125
y=31
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=155
y=31
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_14]
type=0
buttontype=0
clientcode=0
x=0
y=62
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_15]
type=5
buttontype=0
clientcode=0
x=-1
y=62
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=29
y=62
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=62
y=62
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=92
y=62
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=125
y=62
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=155
y=62
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_21]
type=0
buttontype=0
clientcode=0
x=0
y=93
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_22]
type=5
buttontype=0
clientcode=0
x=-1
y=93
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=29
y=93
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=62
y=93
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=92
y=93
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=125
y=93
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=155
y=93
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_28]
type=0
buttontype=0
clientcode=0
x=0
y=124
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_29]
type=5
buttontype=0
clientcode=0
x=-1
y=124
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=29
y=124
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=62
y=124
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=92
y=124
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=155
y=124
width=30
height=36
trans=0
graphic=175
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=125
y=124
width=33
height=36
trans=0
graphic=174
activegraphic=-1

[com_35]
type=0
buttontype=0
clientcode=0
x=0
y=155
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_36]
type=5
buttontype=0
clientcode=0
x=-1
y=155
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=29
y=155
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=62
y=155
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=92
y=155
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=125
y=155
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=155
y=155
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_42]
type=0
buttontype=0
clientcode=0
x=0
y=219
width=190
height=36
trans=0
scrollheight=0
hide=0

[com_43]
type=5
buttontype=0
clientcode=0
x=-1
y=217
width=36
height=36
trans=0
graphic=174
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=29
y=217
width=36
height=36
trans=0
graphic=175
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=4
y=223
width=25
height=25
trans=0
graphic=221
activegraphic=-1

[com_46]
type=4
buttontype=0
clientcode=0
x=44
y=236
width=15
height=12
trans=0
scripts=2/22/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_47]
type=4
buttontype=0
clientcode=0
x=33
y=225
width=15
height=12
trans=0
scripts=1/22/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=5
buttontype=0
clientcode=0
x=4
y=5
width=25
height=25
trans=0
graphic=197
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=68
y=5
width=25
height=25
trans=0
graphic=203
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=132
y=5
width=25
height=25
trans=0
graphic=209
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=4
y=36
width=25
height=25
trans=0
graphic=198
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=68
y=36
width=25
height=25
trans=0
graphic=204
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=132
y=36
width=25
height=25
trans=0
graphic=210
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=4
y=67
width=25
height=25
trans=0
graphic=199
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=68
y=68
width=25
height=25
trans=0
graphic=205
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=131
y=67
width=25
height=25
trans=0
graphic=211
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=5
y=98
width=25
height=25
trans=0
graphic=200
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=69
y=98
width=25
height=25
trans=0
graphic=206
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=133
y=98
width=25
height=25
trans=0
graphic=212
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=5
y=129
width=25
height=25
trans=0
graphic=201
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=69
y=129
width=25
height=25
trans=0
graphic=207
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=132
y=129
width=25
height=25
trans=0
graphic=213
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=5
y=160
width=25
height=25
trans=0
graphic=202
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=69
y=160
width=25
height=25
trans=0
graphic=208
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=132
y=160
width=25
height=25
trans=0
graphic=214
activegraphic=-1

[com_66]
type=4
buttontype=0
clientcode=0
x=33
y=5
width=15
height=12
trans=0
scripts=1/0/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_67]
type=4
buttontype=0
clientcode=0
x=45
y=17
width=15
height=12
trans=0
scripts=2/0/0 0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_68]
type=4
buttontype=0
clientcode=0
x=33
y=36
width=15
height=12
trans=0
scripts=1/2/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_69]
type=4
buttontype=0
clientcode=0
x=45
y=48
width=15
height=12
trans=0
scripts=2/2/0 0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_70]
type=4
buttontype=0
clientcode=0
x=33
y=67
width=15
height=12
trans=0
scripts=1/1/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_71]
type=4
buttontype=0
clientcode=0
x=45
y=79
width=15
height=12
trans=0
scripts=2/1/0 0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_72]
type=4
buttontype=0
clientcode=0
x=33
y=98
width=15
height=12
trans=0
scripts=1/4/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_73]
type=4
buttontype=0
clientcode=0
x=45
y=110
width=15
height=12
trans=0
scripts=2/4/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_74]
type=4
buttontype=0
clientcode=0
x=33
y=129
width=15
height=12
trans=0
scripts=1/5/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_75]
type=4
buttontype=0
clientcode=0
x=45
y=141
width=15
height=12
trans=0
scripts=2/5/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_76]
type=4
buttontype=0
clientcode=0
x=33
y=160
width=15
height=12
trans=0
scripts=1/6/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_77]
type=4
buttontype=0
clientcode=0
x=45
y=172
width=15
height=12
trans=0
scripts=2/6/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_78]
type=4
buttontype=0
clientcode=0
x=96
y=5
width=15
height=12
trans=0
scripts=1/3/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_79]
type=4
buttontype=0
clientcode=0
x=108
y=17
width=15
height=12
trans=0
scripts=2/3/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_80]
type=4
buttontype=0
clientcode=0
x=96
y=36
width=15
height=12
trans=0
scripts=1/16/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_81]
type=4
buttontype=0
clientcode=0
x=108
y=48
width=15
height=12
trans=0
scripts=2/16/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_82]
type=4
buttontype=0
clientcode=0
x=96
y=67
width=15
height=12
trans=0
scripts=1/15/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_83]
type=4
buttontype=0
clientcode=0
x=108
y=79
width=15
height=12
trans=0
scripts=2/15/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_84]
type=4
buttontype=0
clientcode=0
x=97
y=98
width=15
height=12
trans=0
scripts=1/17/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_85]
type=4
buttontype=0
clientcode=0
x=109
y=110
width=15
height=12
trans=0
scripts=2/17/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_86]
type=4
buttontype=0
clientcode=0
x=96
y=130
width=15
height=12
trans=0
scripts=1/12/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_87]
type=4
buttontype=0
clientcode=0
x=109
y=141
width=15
height=12
trans=0
scripts=2/12/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_88]
type=4
buttontype=0
clientcode=0
x=97
y=160
width=15
height=12
trans=0
scripts=1/9/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=4
buttontype=0
clientcode=0
x=109
y=172
width=15
height=12
trans=0
scripts=2/9/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_90]
type=4
buttontype=0
clientcode=0
x=160
y=5
width=15
height=12
trans=0
scripts=1/14/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_91]
type=4
buttontype=0
clientcode=0
x=172
y=17
width=15
height=12
trans=0
scripts=2/14/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_92]
type=4
buttontype=0
clientcode=0
x=160
y=36
width=15
height=12
trans=0
scripts=1/13/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_93]
type=4
buttontype=0
clientcode=0
x=172
y=48
width=15
height=12
trans=0
scripts=2/13/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_94]
type=4
buttontype=0
clientcode=0
x=160
y=67
width=15
height=12
trans=0
scripts=1/10/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_95]
type=4
buttontype=0
clientcode=0
x=172
y=79
width=15
height=12
trans=0
scripts=2/10/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_96]
type=4
buttontype=0
clientcode=0
x=160
y=98
width=15
height=12
trans=0
scripts=1/7/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_97]
type=4
buttontype=0
clientcode=0
x=172
y=110
width=15
height=12
trans=0
scripts=2/7/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_98]
type=4
buttontype=0
clientcode=0
x=161
y=129
width=15
height=12
trans=0
scripts=1/11/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_99]
type=4
buttontype=0
clientcode=0
x=172
y=141
width=15
height=12
trans=0
scripts=2/11/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=161
y=160
width=15
height=12
trans=0
scripts=1/8/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_101]
type=4
buttontype=0
clientcode=0
x=172
y=172
width=15
height=12
trans=0
scripts=2/8/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_102]
type=0
buttontype=0
clientcode=0
x=0
y=186
width=193
height=36
trans=0
scrollheight=0
hide=0

[com_103]
type=5
buttontype=0
clientcode=0
x=-1
y=186
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_104]
type=5
buttontype=0
clientcode=0
x=29
y=186
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_105]
type=5
buttontype=0
clientcode=0
x=5
y=191
width=25
height=25
trans=0
graphic=215
activegraphic=-1

[com_106]
type=4
buttontype=0
clientcode=0
x=33
y=191
width=15
height=12
trans=0
scripts=1/20/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_107]
type=4
buttontype=0
clientcode=0
x=45
y=203
width=15
height=12
trans=0
scripts=2/20/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_108]
type=5
buttontype=0
clientcode=0
x=62
y=186
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_109]
type=5
buttontype=0
clientcode=0
x=92
y=186
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_110]
type=5
buttontype=0
clientcode=0
x=66
y=191
width=25
height=25
trans=0
graphic=216
activegraphic=-1

[com_111]
type=4
buttontype=0
clientcode=0
x=97
y=191
width=15
height=11
trans=0
scripts=1/18/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_112]
type=4
buttontype=0
clientcode=0
x=109
y=202
width=15
height=11
trans=0
scripts=2/18/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_113]
type=5
buttontype=0
clientcode=0
x=125
y=186
width=30
height=36
trans=0
graphic=174
activegraphic=-1

[com_114]
type=5
buttontype=0
clientcode=0
x=155
y=186
width=33
height=36
trans=0
graphic=175
activegraphic=-1

[com_115]
type=5
buttontype=0
clientcode=0
x=131
y=191
width=25
height=25
trans=0
graphic=217
activegraphic=-1

[com_116]
type=4
buttontype=0
clientcode=0
x=161
y=192
width=15
height=11
trans=0
scripts=1/19/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_117]
type=4
buttontype=0
clientcode=0
x=172
y=204
width=15
height=11
trans=0
scripts=2/19/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_118]
type=5
buttontype=0
clientcode=0
x=62
y=217
width=36
height=36
trans=0
graphic=174
activegraphic=-1

[com_119]
type=5
buttontype=0
clientcode=0
x=92
y=217
width=36
height=36
trans=0
graphic=175
activegraphic=-1

[com_120]
type=5
buttontype=0
clientcode=0
x=67
y=223
width=25
height=25
trans=0
graphic=220
activegraphic=-1

[com_121]
type=4
buttontype=0
clientcode=0
x=107
y=236
width=15
height=12
trans=0
scripts=2/21/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_122]
type=4
buttontype=0
clientcode=0
x=96
y=225
width=15
height=12
trans=0
scripts=1/21/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_123]
type=8
buttontype=1
clientcode=0
x=0
y=2
width=64
height=31
trans=0
scripts=3/0/0 6/0/0
text=Attack XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Attack<col=ffffff> guide

[com_124]
type=8
buttontype=1
clientcode=0
x=64
y=2
width=64
height=31
trans=0
scripts=3/3/0 6/3/0
text=Hitpoints XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Hitpoints<col=ffffff> guide

[com_125]
type=8
buttontype=1
clientcode=0
x=126
y=2
width=64
height=31
trans=0
scripts=3/14/0 6/14/0
text=Mining XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Mining<col=ffffff> guide

[com_126]
type=8
buttontype=1
clientcode=0
x=0
y=33
width=64
height=31
trans=0
scripts=3/2/0 6/2/0
text=Strength XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Strength<col=ffffff> guide

[com_127]
type=8
buttontype=1
clientcode=0
x=64
y=33
width=64
height=31
trans=0
scripts=3/16/0 6/16/0
text=Agility XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Agility<col=ffffff> guide

[com_128]
type=8
buttontype=1
clientcode=0
x=125
y=33
width=64
height=31
trans=0
scripts=3/13/0 6/13/0
text=Smithing XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Smithing<col=ffffff> guide

[com_129]
type=8
buttontype=1
clientcode=0
x=0
y=64
width=64
height=31
trans=0
scripts=3/1/0 6/1/0
text=Defence XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Defence<col=ffffff> guide

[com_130]
type=8
buttontype=1
clientcode=0
x=64
y=64
width=64
height=31
trans=0
scripts=3/15/0 6/15/0
text=Herblore XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Herblore<col=ffffff> guide

[com_131]
type=8
buttontype=1
clientcode=0
x=129
y=66
width=64
height=31
trans=0
scripts=3/10/0 6/10/0
text=Fishing XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Fishing<col=ffffff> guide

[com_132]
type=8
buttontype=1
clientcode=0
x=0
y=95
width=64
height=31
trans=0
scripts=3/4/0 6/4/0
text=Ranged XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Ranged<col=ffffff> guide

[com_133]
type=8
buttontype=1
clientcode=0
x=64
y=95
width=64
height=31
trans=0
scripts=3/17/0 6/17/0
text=Thieving XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Thieving<col=ffffff> guide

[com_134]
type=8
buttontype=1
clientcode=0
x=125
y=95
width=64
height=31
trans=0
scripts=3/7/0 6/7/0
text=Cooking XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Cooking<col=ffffff> guide

[com_135]
type=8
buttontype=1
clientcode=0
x=0
y=126
width=64
height=31
trans=0
scripts=3/5/0 6/5/0
text=Prayer XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Prayer<col=ffffff> guide

[com_136]
type=8
buttontype=1
clientcode=0
x=66
y=125
width=64
height=31
trans=0
scripts=3/12/0 6/12/0
text=Crafting XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Crafting<col=ffffff> guide

[com_137]
type=8
buttontype=1
clientcode=0
x=125
y=125
width=64
height=31
trans=0
scripts=3/11/0 6/11/0
text=Firemaking XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Firemaking<col=ffffff> guide

[com_138]
type=3
buttontype=0
clientcode=0
x=127
y=222
width=62
height=31
trans=0
fill=0
colour=0x726451
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_139]
type=3
buttontype=0
clientcode=0
x=128
y=223
width=60
height=29
trans=0
fill=0
colour=0x2e2b23
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_140]
type=3
buttontype=0
clientcode=0
x=129
y=224
width=59
height=27
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_141]
type=4
buttontype=0
clientcode=0
x=129
y=223
width=60
height=30
trans=0
scripts=9/0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Total<br>Level: %1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_142]
type=8
buttontype=1
clientcode=0
x=1
y=153
width=64
height=31
trans=0
scripts=3/6/0 6/6/0
text=Magic XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Magic<col=ffffff> guide

[com_143]
type=8
buttontype=1
clientcode=0
x=63
y=157
width=64
height=31
trans=0
scripts=3/9/0 6/9/0
text=Fletching XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Fletching<col=ffffff> guide

[com_144]
type=8
buttontype=1
clientcode=0
x=126
y=157
width=64
height=31
trans=0
scripts=3/8/0 6/8/0
text=Woodcutting XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Woodcutting<col=ffffff> guide

[com_145]
type=8
buttontype=1
clientcode=0
x=-1
y=187
width=64
height=31
trans=0
scripts=3/20/0 6/20/0
text=Runecrafting XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Runecrafting<col=ffffff> guide

[com_146]
type=8
buttontype=1
clientcode=0
x=64
y=187
width=64
height=31
trans=0
scripts=3/18/0 6/18/0
text=Slayer XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Slayer<col=ffffff> guide

[com_147]
type=8
buttontype=1
clientcode=0
x=125
y=189
width=64
height=31
trans=0
scripts=3/19/0 6/19/0
text=Farming XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Farming<col=ffffff> guide

[com_148]
type=8
buttontype=1
clientcode=0
x=1
y=219
width=64
height=31
trans=0
scripts=3/22/0 6/22/0
text=Construction XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Construction<col=ffffff> guide

[com_149]
type=8
buttontype=1
clientcode=0
x=64
y=219
width=64
height=31
trans=0
scripts=3/21/0 6/21/0
text=Hunter XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Hunter<col=ffffff> guide
