// interface 322

[com_0]
type=3
buttontype=0
clientcode=0
x=-1
y=0
width=512
height=334
trans=0
fill=1
colour=0x433621
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=236
y=128
width=32
height=32
trans=0
model=com_i4652
activemodel=-1
zoom=926
xan=271
yan=63

[com_2]
type=6
buttontype=0
clientcode=0
x=236
y=128
width=32
height=32
trans=0
model=com_i4980
activemodel=-1
zoom=926
xan=271
yan=63
