// interface 323

[com_0]
type=3
buttontype=0
clientcode=0
x=95
y=37
width=300
height=170
trans=0
fill=1
colour=0x808040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=223
y=215
width=32
height=32
trans=0
model=com_i8949
activemodel=-1
zoom=404
xan=523
yan=0

[com_2]
type=2
buttontype=0
clientcode=0
x=102
y=41
width=7
height=4
trans=0
eventcode=0x1f800000
marginx=10
marginy=4
iop1=<col=00ff00>Value
iop2=Pack <col=ff0000>1
iop3=Pack <col=ff0000>5
iop4=Pack <col=ff0000>All
iop5=Pack <col=ff0000>X
targetverb=
targetbase=

[com_3]
type=4
buttontype=0
clientcode=0
x=102
y=195
width=286
height=26
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=<col=ffff00>Tai Bwo Wannai <col=ff0000> Parcel Service
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=5
buttontype=0
clientcode=0
x=463
y=11
width=23
height=23
overlayer=6
trans=0
graphic=539
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=23
height=23
layer=com_6
trans=0
graphic=540
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=458
y=7
width=32
height=32
trans=0
scrollheight=0
hide=1
