// interface 324

[com_0]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=12
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=12
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=12
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=12
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=100
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=188
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=100
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=188
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=276
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=364
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=276
y=259
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=364
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=364
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=364
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=364
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=412
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=412
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=412
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=412
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=412
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=-3
y=49
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=-3
y=85
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=-3
y=121
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=-3
y=157
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=-3
y=193
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=-3
y=229
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=-3
y=265
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=479
y=50
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=479
y=86
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=479
y=122
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=479
y=158
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=479
y=194
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=479
y=230
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=479
y=266
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=73
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=109
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=145
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=181
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=217
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=253
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=289
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=325
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=361
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=397
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=433
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=72
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=108
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=144
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=180
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=216
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=252
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=288
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=324
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=360
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=396
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=432
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=252
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=37
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=37
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=12
y=290
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=475
y=20
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=439
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=475
y=290
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_74]
type=5
buttontype=0
clientcode=0
x=288
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_75]
type=5
buttontype=0
clientcode=0
x=439
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_76]
type=5
buttontype=0
clientcode=0
x=324
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_77]
type=5
buttontype=0
clientcode=0
x=360
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_78]
type=5
buttontype=0
clientcode=0
x=396
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_79]
type=5
buttontype=0
clientcode=0
x=432
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_80]
type=5
buttontype=0
clientcode=0
x=459
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_81]
type=5
buttontype=0
clientcode=0
x=216
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_82]
type=5
buttontype=0
clientcode=0
x=180
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_83]
type=5
buttontype=0
clientcode=0
x=144
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_84]
type=5
buttontype=0
clientcode=0
x=108
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_85]
type=5
buttontype=0
clientcode=0
x=72
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_86]
type=5
buttontype=0
clientcode=0
x=36
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_87]
type=5
buttontype=0
clientcode=0
x=17
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_88]
type=4
buttontype=0
clientcode=0
x=15
y=25
width=477
height=24
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=What hides would you like tanning?
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=5
buttontype=0
clientcode=0
x=472
y=25
width=23
height=23
overlayer=91
trans=0
graphic=535
activegraphic=-1

[com_90]
type=5
buttontype=3
clientcode=0
x=7
y=3
width=23
height=23
layer=com_91
trans=0
graphic=536
activegraphic=-1

[com_91]
type=0
buttontype=0
clientcode=0
x=465
y=22
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_92]
type=0
buttontype=0
clientcode=0
x=40
y=56
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_93]
type=0
buttontype=0
clientcode=0
x=152
y=56
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_94]
type=0
buttontype=0
clientcode=0
x=264
y=56
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_95]
type=0
buttontype=0
clientcode=0
x=376
y=56
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_96]
type=0
buttontype=0
clientcode=0
x=40
y=184
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_97]
type=0
buttontype=0
clientcode=0
x=152
y=184
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_98]
type=0
buttontype=0
clientcode=0
x=264
y=184
width=96
height=128
trans=0
scrollheight=0
hide=0

[com_99]
type=0
buttontype=0
clientcode=0
x=369
y=184
width=115
height=128
trans=0
scrollheight=0
hide=0

[com_100]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_92
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_101]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_93
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_102]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_94
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_103]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_95
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_104]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_96
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_105]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_97
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_106]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=96
height=96
layer=com_98
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_107]
type=6
buttontype=0
clientcode=0
x=7
y=0
width=96
height=96
layer=com_99
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_108]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_92
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_109]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_93
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_110]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_94
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_111]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_95
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_112]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_96
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_113]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_97
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_114]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=96
height=14
layer=com_98
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_115]
type=4
buttontype=0
clientcode=0
x=7
y=96
width=96
height=14
layer=com_99
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Hide
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_116]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_92
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_117]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_93
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_118]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_94
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_119]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_95
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_120]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_96
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_121]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_97
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_122]
type=4
buttontype=0
clientcode=0
x=0
y=111
width=96
height=14
layer=com_98
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_123]
type=4
buttontype=0
clientcode=0
x=7
y=111
width=96
height=14
layer=com_99
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=Cost
activetext=
colour=0x00cfff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_124]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_92
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_125]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_93
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_126]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_94
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_127]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_95
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_128]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_96
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_129]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_97
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_130]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_98
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_131]
type=4
buttontype=1
clientcode=0
x=7
y=0
width=96
height=112
layer=com_99
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>All

[com_132]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_92
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_133]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_93
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_134]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_94
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_135]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_95
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_136]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_96
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_137]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_97
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_138]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_98
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_139]
type=4
buttontype=1
clientcode=0
x=7
y=0
width=96
height=112
layer=com_99
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>X

[com_140]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_92
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_141]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_93
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_142]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_94
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_143]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_95
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_144]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_96
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_145]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_97
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_146]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_98
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_147]
type=4
buttontype=1
clientcode=0
x=7
y=0
width=96
height=112
layer=com_99
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>5

[com_148]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_92
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_149]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_93
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_150]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_94
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_151]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_95
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_152]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_96
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_153]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_97
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_154]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=96
height=112
layer=com_98
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1

[com_155]
type=4
buttontype=1
clientcode=0
x=7
y=0
width=96
height=112
layer=com_99
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Tan <col=ff7000>1
