// interface 328

[com_0]
type=4
buttontype=0
clientcode=0
x=4
y=16
width=93
height=13
layer=com_7
trans=0
halign=2
valign=1
lineheight=0
font=494
shadowed=1
text=Repair State :
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=100
y=17
width=26
height=11
layer=com_7
trans=0
scripts=5/343/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=%1%
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=4
y=30
width=93
height=12
layer=com_7
trans=0
halign=2
valign=1
lineheight=0
font=494
shadowed=1
text=Resources :
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=100
y=31
width=26
height=11
layer=com_7
trans=0
scripts=5/344/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=%1%
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=4
y=45
width=92
height=13
layer=com_7
trans=0
halign=2
valign=1
lineheight=0
font=494
shadowed=1
text=Sanctity:
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=100
y=45
width=26
height=11
layer=com_7
trans=0
scripts=5/345/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=%1%
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=139
height=16
layer=com_7
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=* Temple Repair *
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=0
buttontype=0
clientcode=0
x=366
y=19
width=139
height=62
trans=0
scrollheight=0
hide=0
