// interface 329

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=516
height=388
trans=0
fill=1
colour=0x35382c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=294
y=108
width=32
height=32
trans=0
model=com_i14124
activemodel=-1
zoom=656
xan=216
yan=2047

[com_2]
type=5
buttontype=0
clientcode=0
x=468
y=9
width=26
height=23
overlayer=4
trans=0
graphic=539
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=5
y=3
width=26
height=23
layer=com_4
trans=0
graphic=540
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=463
y=6
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_5]
type=4
buttontype=0
clientcode=0
x=408
y=241
width=85
height=42
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=Burgh DeRott
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=308
y=159
width=96
height=18
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Mort'ton
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=335
y=19
width=64
height=15
trans=0
halign=0
valign=1
lineheight=0
font=497
shadowed=0
text=Canifis
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=246
y=96
width=52
height=16
trans=0
halign=2
valign=1
lineheight=0
font=497
shadowed=0
text=Mort
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=241
y=113
width=64
height=16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Myre
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=232
y=130
width=76
height=17
trans=0
halign=2
valign=1
lineheight=0
font=497
shadowed=0
text=Swamp
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=374
y=100
width=71
height=65
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=The Hollows
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=6
buttontype=0
clientcode=0
x=66
y=14
width=86
height=44
trans=0
model=com_i14125
activemodel=-1
zoom=1106
xan=459
yan=2035

[com_13]
type=6
buttontype=0
clientcode=0
x=64
y=86
width=79
height=38
trans=0
model=com_i14125
activemodel=-1
zoom=1106
xan=498
yan=1005

[com_14]
type=6
buttontype=0
clientcode=0
x=39
y=170
width=87
height=36
trans=0
model=com_i14125
activemodel=-1
zoom=1106
xan=474
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=72
y=253
width=32
height=32
layer=com_31
trans=0
model=com_i14126
activemodel=-1
zoom=728
xan=483
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=72
y=253
width=32
height=32
layer=com_23
trans=0
model=com_i14126
activemodel=-1
zoom=728
xan=483
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=72
y=253
width=32
height=32
layer=com_27
trans=0
model=com_i14126
activemodel=-1
zoom=728
xan=483
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=92
y=265
width=32
height=32
trans=0
model=com_i14126
activemodel=-1
zoom=728
xan=483
yan=0

[com_19]
type=4
buttontype=0
clientcode=0
x=52
y=271
width=100
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Choose a route
activetext=
colour=0x35382c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=6
buttontype=1
clientcode=0
x=274
y=96
width=32
height=32
layer=com_23
trans=0
model=com_i14121
activemodel=-1
zoom=656
xan=216
yan=2047
buttontext=

[com_21]
type=4
buttontype=1
clientcode=0
x=53
y=18
width=109
height=29
overlayer=23
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Route One
activetext=
colour=0x343412
colour2=0x000000
colourover=0x343412
colour2over=0x000000
buttontext=

[com_22]
type=4
buttontype=0
clientcode=0
x=33
y=6
width=109
height=29
layer=com_23
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Route One
activetext=
colour=0x0000cc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=0
buttontype=0
clientcode=0
x=20
y=12
width=464
height=304
trans=0
scrollheight=0
hide=1

[com_24]
type=6
buttontype=0
clientcode=0
x=274
y=96
width=32
height=32
layer=com_27
trans=0
model=com_i14123
activemodel=-1
zoom=656
xan=216
yan=2047

[com_25]
type=4
buttontype=1
clientcode=0
x=50
y=94
width=100
height=28
overlayer=27
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Route Two
activetext=
colour=0x343412
colour2=0x000000
colourover=0x343412
colour2over=0x000000
buttontext=

[com_26]
type=4
buttontype=0
clientcode=0
x=30
y=82
width=100
height=28
layer=com_27
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Route Two
activetext=
colour=0xcdcb4d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=0
buttontype=0
clientcode=0
x=20
y=12
width=464
height=304
trans=0
scrollheight=0
hide=1

[com_28]
type=6
buttontype=0
clientcode=0
x=274
y=96
width=32
height=32
layer=com_31
trans=0
model=com_i14122
activemodel=-1
zoom=656
xan=216
yan=2047

[com_29]
type=4
buttontype=1
clientcode=0
x=34
y=169
width=102
height=32
overlayer=31
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Route Three
activetext=
colour=0x343412
colour2=0x000000
colourover=0x343412
colour2over=0x000000
buttontext=

[com_30]
type=4
buttontype=0
clientcode=0
x=14
y=157
width=102
height=32
layer=com_31
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Route Three
activetext=
colour=0xd13c3c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=0
buttontype=0
clientcode=0
x=20
y=12
width=464
height=304
trans=0
scrollheight=0
hide=1

[com_32]
type=6
buttontype=0
clientcode=0
x=294
y=108
width=32
height=32
trans=0
model=com_i14128
activemodel=-1
zoom=656
xan=216
yan=2047

[com_33]
type=4
buttontype=0
clientcode=0
x=193
y=27
width=72
height=14
trans=0
halign=2
valign=1
lineheight=0
font=497
shadowed=0
text=Temple
activetext=
colour=0x343412
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=6
buttontype=0
clientcode=0
x=361
y=166
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_35]
type=6
buttontype=0
clientcode=0
x=247
y=187
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_36]
type=6
buttontype=0
clientcode=0
x=245
y=126
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_37]
type=6
buttontype=0
clientcode=0
x=272
y=25
width=32
height=32
trans=0
scriptcmp=1/10
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_38]
type=6
buttontype=0
clientcode=0
x=283
y=112
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_39]
type=6
buttontype=0
clientcode=0
x=320
y=98
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_40]
type=6
buttontype=0
clientcode=0
x=308
y=77
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_41]
type=6
buttontype=0
clientcode=0
x=253
y=55
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_42]
type=6
buttontype=0
clientcode=0
x=305
y=35
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_43]
type=6
buttontype=0
clientcode=0
x=265
y=34
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/1958/0
model=-1
activemodel=com_i14129
activeanim=3777
zoom=1907
xan=610
yan=3

[com_44]
type=6
buttontype=0
clientcode=0
x=230
y=93
width=32
height=32
trans=0
scriptcmp=1/11
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_45]
type=6
buttontype=0
clientcode=0
x=240
y=83
width=32
height=32
trans=0
scriptcmp=1/12
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_46]
type=6
buttontype=0
clientcode=0
x=245
y=76
width=32
height=32
trans=0
scriptcmp=1/13
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_47]
type=6
buttontype=0
clientcode=0
x=246
y=67
width=32
height=32
trans=0
scriptcmp=1/14
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_48]
type=6
buttontype=0
clientcode=0
x=232
y=44
width=32
height=32
trans=0
scriptcmp=1/15
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_49]
type=6
buttontype=0
clientcode=0
x=236
y=29
width=32
height=32
trans=0
scriptcmp=1/16
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_50]
type=6
buttontype=0
clientcode=0
x=395
y=115
width=32
height=32
trans=0
scriptcmp=1/17
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_51]
type=6
buttontype=0
clientcode=0
x=382
y=75
width=32
height=32
trans=0
scriptcmp=1/18
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_52]
type=6
buttontype=0
clientcode=0
x=368
y=61
width=32
height=32
trans=0
scriptcmp=1/19
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_53]
type=6
buttontype=0
clientcode=0
x=361
y=55
width=32
height=32
trans=0
scriptcmp=1/20
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_54]
type=6
buttontype=0
clientcode=0
x=359
y=49
width=32
height=32
trans=0
scriptcmp=1/21
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_55]
type=6
buttontype=0
clientcode=0
x=359
y=44
width=32
height=32
trans=0
scriptcmp=1/22
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_56]
type=6
buttontype=0
clientcode=0
x=365
y=37
width=32
height=32
trans=0
scriptcmp=1/23
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_57]
type=6
buttontype=0
clientcode=0
x=368
y=25
width=32
height=32
trans=0
scriptcmp=1/24
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_58]
type=6
buttontype=0
clientcode=0
x=345
y=12
width=32
height=32
trans=0
scriptcmp=1/25
scripts=14/1958/0
model=-1
activemodel=com_i14129
anim=3777
zoom=1907
xan=592
yan=12

[com_59]
type=4
buttontype=0
clientcode=0
x=13
y=236
width=137
height=66
layer=com_23
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Slow plod, <br>can evade <br>encounters.
activetext=
colour=0x35382c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_60]
type=4
buttontype=0
clientcode=0
x=15
y=239
width=138
height=64
layer=com_27
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Leisurely walk, <br>harder to evade <br>encounters.
activetext=
colour=0x35382c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_61]
type=4
buttontype=0
clientcode=0
x=14
y=239
width=140
height=65
layer=com_31
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Brisk walk, <br>impossible to <br>evade encounters.
activetext=
colour=0x35382c
colour2=0x000000
colourover=0x000000
colour2over=0x000000
