// interface 331

[com_0]
type=0
buttontype=0
clientcode=0
x=34
y=34
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_1]
type=6
buttontype=0
clientcode=0
x=306
y=119
width=32
height=32
trans=0
model=com_i6049
activemodel=-1
zoom=543
xan=427
yan=13

[com_2]
type=4
buttontype=0
clientcode=0
x=95
y=114
width=239
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Whatever text you need goes here!
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=179
y=218
width=96
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Combi for lock
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=95
y=140
width=239
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Text
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=95
y=166
width=239
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Text
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=95
y=192
width=239
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Text
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=5
buttontype=0
clientcode=0
x=480
y=6
width=26
height=23
overlayer=9
trans=0
graphic=541
activegraphic=-1

[com_8]
type=5
buttontype=3
clientcode=0
x=2
y=4
width=26
height=23
layer=com_9
trans=0
graphic=542
activegraphic=-1

[com_9]
type=0
buttontype=0
clientcode=0
x=478
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
