// interface 339

[com_0]
type=5
buttontype=0
clientcode=0
x=473
y=12
width=26
height=23
overlayer=2
trans=0
graphic=539
activegraphic=-1

[com_1]
type=5
buttontype=3
clientcode=0
x=3
y=3
width=26
height=23
layer=com_2
trans=0
graphic=540
activegraphic=-1

[com_2]
type=0
buttontype=0
clientcode=0
x=470
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_3]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_4]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_5]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_6]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_7]
type=6
buttontype=0
clientcode=0
x=253
y=138
width=32
height=32
trans=0
model=com_i11368
activemodel=-1
zoom=999
xan=512
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=321
y=250
width=47
height=34
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=512
yan=1556

[com_9]
type=6
buttontype=0
clientcode=0
x=185
y=196
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=272
y=178
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1215
xan=512
yan=1778

[com_11]
type=6
buttontype=0
clientcode=0
x=325
y=204
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2279
xan=512
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=349
y=171
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=230
y=238
width=32
height=32
trans=0
model=com_i11368
activemodel=-1
zoom=999
xan=512
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=197
y=138
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=325
y=109
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=197
y=110
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=222
y=92
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=159
y=109
width=32
height=32
trans=0
model=com_i3394
activemodel=-1
zoom=2023
xan=512
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=175
y=72
width=32
height=32
trans=0
model=com_i3394
activemodel=-1
zoom=2023
xan=512
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=231
y=218
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=231
y=202
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=0

[com_22]
type=6
buttontype=0
clientcode=0
x=231
y=186
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=253
y=178
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=512

[com_24]
type=6
buttontype=0
clientcode=0
x=253
y=179
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=512

[com_25]
type=6
buttontype=0
clientcode=0
x=238
y=178
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=512

[com_26]
type=6
buttontype=0
clientcode=0
x=238
y=179
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1255
xan=512
yan=512

[com_27]
type=4
buttontype=0
clientcode=0
x=229
y=213
width=13
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=3N
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=255
y=180
width=12
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=2E
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=6
buttontype=0
clientcode=0
x=319
y=92
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=656
yan=360

[com_30]
type=6
buttontype=0
clientcode=0
x=309
y=95
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=605
yan=411

[com_31]
type=6
buttontype=0
clientcode=0
x=285
y=96
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=674
yan=570

[com_32]
type=6
buttontype=0
clientcode=0
x=259
y=91
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=487
xan=677
yan=615

[com_33]
type=6
buttontype=0
clientcode=0
x=237
y=82
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=487
xan=710
yan=699

[com_34]
type=6
buttontype=0
clientcode=0
x=219
y=70
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=737
yan=783

[com_35]
type=6
buttontype=0
clientcode=0
x=199
y=58
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=487
xan=740
yan=654

[com_36]
type=6
buttontype=0
clientcode=0
x=176
y=53
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=761
yan=507

[com_37]
type=6
buttontype=0
clientcode=0
x=331
y=57
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=695
yan=1020

[com_38]
type=6
buttontype=0
clientcode=0
x=305
y=88
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=617
yan=441

[com_39]
type=6
buttontype=0
clientcode=0
x=286
y=88
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=674
yan=570

[com_40]
type=6
buttontype=0
clientcode=0
x=260
y=83
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=487
xan=677
yan=615

[com_41]
type=6
buttontype=0
clientcode=0
x=238
y=74
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=487
xan=710
yan=699

[com_42]
type=6
buttontype=0
clientcode=0
x=220
y=62
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=737
yan=780

[com_43]
type=6
buttontype=0
clientcode=0
x=200
y=51
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=740
yan=654

[com_44]
type=6
buttontype=0
clientcode=0
x=177
y=47
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=761
yan=507

[com_45]
type=6
buttontype=0
clientcode=0
x=254
y=48
width=32
height=32
trans=0
model=com_i3394
activemodel=-1
zoom=2023
xan=512
yan=0

[com_46]
type=6
buttontype=0
clientcode=0
x=330
y=75
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=701
yan=1068

[com_47]
type=6
buttontype=0
clientcode=0
x=329
y=64
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=487
xan=680
yan=513

[com_48]
type=6
buttontype=0
clientcode=0
x=312
y=53
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=695
yan=1020

[com_49]
type=6
buttontype=0
clientcode=0
x=325
y=55
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=695
yan=1020

[com_50]
type=6
buttontype=0
clientcode=0
x=324
y=70
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=701
yan=1068

[com_51]
type=6
buttontype=0
clientcode=0
x=161
y=50
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=615
xan=674
yan=1452

[com_52]
type=6
buttontype=0
clientcode=0
x=321
y=83
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=999
xan=623
yan=333

[com_53]
type=6
buttontype=0
clientcode=0
x=300
y=54
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0
