// interface 341

[com_0]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=2
trans=0
graphic=539
activegraphic=-1

[com_1]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_2
trans=0
graphic=540
activegraphic=-1

[com_2]
type=0
buttontype=0
clientcode=0
x=470
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_3]
type=6
buttontype=0
clientcode=0
x=224
y=126
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=126

[com_4]
type=6
buttontype=0
clientcode=0
x=230
y=171
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=582
xan=500
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=326
y=255
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=500
yan=1542

[com_6]
type=6
buttontype=0
clientcode=0
x=141
y=248
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=500
yan=2042

[com_7]
type=6
buttontype=0
clientcode=0
x=243
y=226
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=147
y=51
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=500
yan=533

[com_9]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=500
yan=1030

[com_10]
type=6
buttontype=0
clientcode=0
x=251
y=203
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=153
y=203
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=126

[com_12]
type=6
buttontype=0
clientcode=0
x=284
y=233
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_13]
type=6
buttontype=0
clientcode=0
x=182
y=126
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=197
y=63
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=881

[com_15]
type=6
buttontype=0
clientcode=0
x=157
y=113
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=524
yan=1682

[com_16]
type=6
buttontype=0
clientcode=0
x=168
y=176
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=198

[com_17]
type=6
buttontype=0
clientcode=0
x=174
y=153
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=2045

[com_18]
type=6
buttontype=0
clientcode=0
x=167
y=127
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=486
yan=1873

[com_19]
type=6
buttontype=0
clientcode=0
x=153
y=107
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=595
yan=2002

[com_20]
type=6
buttontype=0
clientcode=0
x=153
y=99
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=599
yan=92

[com_21]
type=6
buttontype=0
clientcode=0
x=156
y=92
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=202

[com_22]
type=6
buttontype=0
clientcode=0
x=149
y=70
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=1824

[com_23]
type=6
buttontype=0
clientcode=0
x=158
y=86
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=2023

[com_24]
type=6
buttontype=0
clientcode=0
x=146
y=154
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=442
yan=1034

[com_25]
type=6
buttontype=0
clientcode=0
x=138
y=182
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=459
yan=1191

[com_26]
type=6
buttontype=0
clientcode=0
x=144
y=134
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=564
yan=890

[com_27]
type=6
buttontype=0
clientcode=0
x=148
y=183
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_28]
type=6
buttontype=0
clientcode=0
x=156
y=171
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_29]
type=6
buttontype=0
clientcode=0
x=156
y=131
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_30]
type=6
buttontype=0
clientcode=0
x=144
y=115
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_31]
type=6
buttontype=0
clientcode=0
x=138
y=126
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=554
yan=749

[com_32]
type=6
buttontype=0
clientcode=0
x=190
y=140
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_33]
type=6
buttontype=0
clientcode=0
x=194
y=158
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_34]
type=6
buttontype=0
clientcode=0
x=205
y=143
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=208
y=164
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_36]
type=6
buttontype=0
clientcode=0
x=221
y=151
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=682
yan=2041

[com_37]
type=6
buttontype=0
clientcode=0
x=175
y=109
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_38]
type=6
buttontype=0
clientcode=0
x=186
y=113
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_39]
type=6
buttontype=0
clientcode=0
x=193
y=179
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_40]
type=6
buttontype=0
clientcode=0
x=207
y=186
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_41]
type=6
buttontype=0
clientcode=0
x=220
y=158
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_42]
type=6
buttontype=0
clientcode=0
x=240
y=188
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_43]
type=6
buttontype=0
clientcode=0
x=220
y=168
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_44]
type=6
buttontype=0
clientcode=0
x=193
y=198
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_45]
type=6
buttontype=0
clientcode=0
x=207
y=205
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_46]
type=6
buttontype=0
clientcode=0
x=222
y=203
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_47]
type=6
buttontype=0
clientcode=0
x=235
y=61
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=1969

[com_48]
type=6
buttontype=0
clientcode=0
x=234
y=78
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=305

[com_49]
type=6
buttontype=0
clientcode=0
x=227
y=81
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=397

[com_50]
type=6
buttontype=0
clientcode=0
x=216
y=83
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=567

[com_51]
type=6
buttontype=0
clientcode=0
x=221
y=83
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=397

[com_52]
type=6
buttontype=0
clientcode=0
x=211
y=53
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_53]
type=6
buttontype=0
clientcode=0
x=207
y=79
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=749

[com_54]
type=6
buttontype=0
clientcode=0
x=216
y=63
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_55]
type=6
buttontype=0
clientcode=0
x=276
y=59
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=881

[com_56]
type=6
buttontype=0
clientcode=0
x=282
y=78
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=1064

[com_57]
type=6
buttontype=0
clientcode=0
x=273
y=96
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=1201

[com_58]
type=6
buttontype=0
clientcode=0
x=300
y=121
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=406

[com_59]
type=6
buttontype=0
clientcode=0
x=321
y=95
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=500
yan=53

[com_60]
type=6
buttontype=0
clientcode=0
x=319
y=59
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=483
yan=1994

[com_61]
type=6
buttontype=0
clientcode=0
x=269
y=119
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=775

[com_62]
type=6
buttontype=0
clientcode=0
x=267
y=111
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=1146

[com_63]
type=6
buttontype=0
clientcode=0
x=278
y=124
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=485
yan=525

[com_64]
type=6
buttontype=0
clientcode=0
x=316
y=112
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=457
yan=171

[com_65]
type=6
buttontype=0
clientcode=0
x=321
y=76
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=435
yan=2033

[com_66]
type=6
buttontype=0
clientcode=0
x=290
y=59
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_67]
type=6
buttontype=0
clientcode=0
x=147
y=232
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=498
yan=16

[com_68]
type=6
buttontype=0
clientcode=0
x=299
y=73
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=2380
xan=500
yan=0

[com_69]
type=6
buttontype=0
clientcode=0
x=143
y=251
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=500
yan=170

[com_70]
type=6
buttontype=0
clientcode=0
x=237
y=205
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_71]
type=6
buttontype=0
clientcode=0
x=294
y=201
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_72]
type=6
buttontype=0
clientcode=0
x=299
y=184
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_73]
type=6
buttontype=0
clientcode=0
x=323
y=207
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_74]
type=6
buttontype=0
clientcode=0
x=314
y=184
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_75]
type=6
buttontype=0
clientcode=0
x=343
y=136
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_76]
type=6
buttontype=0
clientcode=0
x=350
y=154
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_77]
type=6
buttontype=0
clientcode=0
x=350
y=173
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_78]
type=6
buttontype=0
clientcode=0
x=341
y=187
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_79]
type=6
buttontype=0
clientcode=0
x=308
y=207
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_80]
type=6
buttontype=0
clientcode=0
x=301
y=228
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_81]
type=6
buttontype=0
clientcode=0
x=318
y=233
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_82]
type=6
buttontype=0
clientcode=0
x=331
y=234
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_83]
type=6
buttontype=0
clientcode=0
x=338
y=208
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_84]
type=6
buttontype=0
clientcode=0
x=290
y=97
width=32
height=32
trans=0
model=com_i3390
activemodel=-1
zoom=1358
xan=492
yan=2004

[com_85]
type=6
buttontype=0
clientcode=0
x=285
y=124
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=485
yan=525

[com_86]
type=6
buttontype=0
clientcode=0
x=275
y=242
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=5000
xan=500
yan=1998

[com_87]
type=6
buttontype=0
clientcode=0
x=284
y=246
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=5000
xan=500
yan=1998

[com_88]
type=6
buttontype=0
clientcode=0
x=285
y=241
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=5000
xan=500
yan=1998

[com_89]
type=6
buttontype=0
clientcode=0
x=218
y=179
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1349
xan=500
yan=1775

[com_90]
type=6
buttontype=0
clientcode=0
x=284
y=223
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_91]
type=6
buttontype=0
clientcode=0
x=284
y=213
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_92]
type=6
buttontype=0
clientcode=0
x=284
y=202
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_93]
type=6
buttontype=0
clientcode=0
x=283
y=179
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_94]
type=6
buttontype=0
clientcode=0
x=283
y=190
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_95]
type=6
buttontype=0
clientcode=0
x=283
y=158
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_96]
type=6
buttontype=0
clientcode=0
x=283
y=169
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=500
yan=1578

[com_97]
type=6
buttontype=0
clientcode=0
x=277
y=151
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=682
yan=2041

[com_98]
type=6
buttontype=0
clientcode=0
x=266
y=151
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=682
yan=2041

[com_99]
type=6
buttontype=0
clientcode=0
x=255
y=151
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=682
yan=2041

[com_100]
type=6
buttontype=0
clientcode=0
x=243
y=151
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=682
yan=2041

[com_101]
type=6
buttontype=0
clientcode=0
x=232
y=151
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1154
xan=682
yan=2041

[com_102]
type=6
buttontype=0
clientcode=0
x=183
y=210
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_103]
type=6
buttontype=0
clientcode=0
x=196
y=222
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_104]
type=6
buttontype=0
clientcode=0
x=212
y=224
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_105]
type=6
buttontype=0
clientcode=0
x=228
y=225
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_106]
type=6
buttontype=0
clientcode=0
x=336
y=155
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_107]
type=6
buttontype=0
clientcode=0
x=329
y=131
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_108]
type=6
buttontype=0
clientcode=0
x=336
y=113
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_109]
type=6
buttontype=0
clientcode=0
x=178
y=89
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_110]
type=6
buttontype=0
clientcode=0
x=253
y=256
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_111]
type=6
buttontype=0
clientcode=0
x=178
y=188
width=32
height=32
trans=0
model=com_i11369
activemodel=-1
zoom=1518
xan=500
yan=0

[com_112]
type=4
buttontype=0
clientcode=0
x=279
y=214
width=14
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=8N
activetext=
colour=0x2f2a25
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_113]
type=4
buttontype=0
clientcode=0
x=261
y=153
width=16
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=6W
activetext=
colour=0x2f2a25
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_114]
type=4
buttontype=0
clientcode=0
x=236
y=173
width=14
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=2S
activetext=
colour=0x2f2a25
colour2=0x000000
colourover=0x000000
colour2over=0x000000
