// interface 342

[com_0]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=2
trans=0
graphic=539
activegraphic=-1

[com_1]
type=5
buttontype=3
clientcode=0
x=4
y=3
width=26
height=23
layer=com_2
trans=0
graphic=540
activegraphic=-1

[com_2]
type=0
buttontype=0
clientcode=0
x=469
y=10
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_3]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_4]
type=6
buttontype=0
clientcode=0
x=188
y=115
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_6]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_7]
type=6
buttontype=0
clientcode=0
x=226
y=216
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=530
yan=519

[com_8]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_9]
type=6
buttontype=0
clientcode=0
x=321
y=250
width=47
height=34
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=512
yan=1556

[com_10]
type=6
buttontype=0
clientcode=0
x=180
y=130
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=231
y=49
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=514
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=242
y=137
width=28
height=65
trans=0
model=com_i11367
activemodel=-1
zoom=656
xan=479
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=195
y=242
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=244
y=153
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=321
y=211
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=290
y=241
width=32
height=32
trans=0
model=com_i11366
activemodel=-1
zoom=2023
xan=512
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=261
y=208
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=999
xan=512
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=260
y=205
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1127
xan=512
yan=517

[com_19]
type=6
buttontype=0
clientcode=0
x=208
y=195
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1215
xan=512
yan=1778
