// interface 343

[com_0]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=148
trans=0
graphic=539
activegraphic=-1

[com_1]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_148
trans=0
graphic=540
activegraphic=-1

[com_2]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_3]
type=6
buttontype=0
clientcode=0
x=311
y=88
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=400
yan=496

[com_4]
type=6
buttontype=0
clientcode=0
x=321
y=88
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=400
yan=496

[com_5]
type=6
buttontype=0
clientcode=0
x=326
y=85
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=283
yan=271

[com_6]
type=6
buttontype=0
clientcode=0
x=329
y=80
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=310
yan=58

[com_7]
type=6
buttontype=0
clientcode=0
x=208
y=97
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=599
yan=747

[com_8]
type=6
buttontype=0
clientcode=0
x=300
y=97
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1863
xan=508
yan=2010

[com_9]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_10]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_11]
type=6
buttontype=0
clientcode=0
x=327
y=73
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=286
yan=1844

[com_12]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_13]
type=6
buttontype=0
clientcode=0
x=221
y=103
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=530
yan=519

[com_14]
type=6
buttontype=0
clientcode=0
x=321
y=250
width=47
height=34
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=512
yan=1556

[com_15]
type=6
buttontype=0
clientcode=0
x=303
y=91
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=691
yan=189

[com_16]
type=6
buttontype=0
clientcode=0
x=289
y=170
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=204
y=168
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1215
xan=512
yan=1778

[com_18]
type=6
buttontype=0
clientcode=0
x=306
y=101
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=355
yan=1742

[com_19]
type=6
buttontype=0
clientcode=0
x=312
y=108
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=406
yan=1988

[com_20]
type=6
buttontype=0
clientcode=0
x=312
y=117
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=403
yan=55

[com_21]
type=6
buttontype=0
clientcode=0
x=307
y=125
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=397
yan=310

[com_22]
type=6
buttontype=0
clientcode=0
x=298
y=127
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=502
yan=523

[com_23]
type=6
buttontype=0
clientcode=0
x=195
y=90
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=599
yan=609

[com_24]
type=6
buttontype=0
clientcode=0
x=292
y=128
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=697
yan=348

[com_25]
type=6
buttontype=0
clientcode=0
x=283
y=130
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=709
yan=492

[com_26]
type=6
buttontype=0
clientcode=0
x=277
y=132
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=562
yan=328

[com_27]
type=6
buttontype=0
clientcode=0
x=269
y=137
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=583
yan=265

[com_28]
type=6
buttontype=0
clientcode=0
x=268
y=143
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=517
yan=1937

[com_29]
type=6
buttontype=0
clientcode=0
x=274
y=149
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=475
yan=1709

[com_30]
type=6
buttontype=0
clientcode=0
x=284
y=151
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=442
yan=1577

[com_31]
type=6
buttontype=0
clientcode=0
x=290
y=151
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=442
yan=1577

[com_32]
type=6
buttontype=0
clientcode=0
x=298
y=154
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=553
yan=1796

[com_33]
type=6
buttontype=0
clientcode=0
x=302
y=162
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=586
yan=2009

[com_34]
type=6
buttontype=0
clientcode=0
x=302
y=171
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=586
yan=2009

[com_35]
type=6
buttontype=0
clientcode=0
x=298
y=179
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=406
yan=283

[com_36]
type=6
buttontype=0
clientcode=0
x=290
y=182
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=409
yan=487

[com_37]
type=6
buttontype=0
clientcode=0
x=281
y=180
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=412
yan=706

[com_38]
type=6
buttontype=0
clientcode=0
x=274
y=178
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=409
yan=487

[com_39]
type=6
buttontype=0
clientcode=0
x=269
y=174
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=424
yan=862

[com_40]
type=6
buttontype=0
clientcode=0
x=262
y=169
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=442
yan=595

[com_41]
type=6
buttontype=0
clientcode=0
x=252
y=168
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=409
yan=487

[com_42]
type=6
buttontype=0
clientcode=0
x=247
y=168
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=412
yan=421

[com_43]
type=6
buttontype=0
clientcode=0
x=238
y=171
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=418
yan=361

[com_44]
type=6
buttontype=0
clientcode=0
x=235
y=174
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=448
yan=193

[com_45]
type=6
buttontype=0
clientcode=0
x=228
y=179
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=394
yan=358

[com_46]
type=6
buttontype=0
clientcode=0
x=321
y=70
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=259
yan=1679

[com_47]
type=6
buttontype=0
clientcode=0
x=313
y=66
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=334
yan=1808

[com_48]
type=6
buttontype=0
clientcode=0
x=305
y=61
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=319
yan=1685

[com_49]
type=6
buttontype=0
clientcode=0
x=299
y=56
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=370
yan=1859

[com_50]
type=6
buttontype=0
clientcode=0
x=291
y=51
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=358
yan=1634

[com_51]
type=6
buttontype=0
clientcode=0
x=281
y=51
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=268
yan=1529

[com_52]
type=6
buttontype=0
clientcode=0
x=271
y=51
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=253
yan=1589

[com_53]
type=6
buttontype=0
clientcode=0
x=265
y=48
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=247
yan=1829

[com_54]
type=6
buttontype=0
clientcode=0
x=258
y=46
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=229
yan=1565

[com_55]
type=6
buttontype=0
clientcode=0
x=248
y=46
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=256
yan=1382

[com_56]
type=6
buttontype=0
clientcode=0
x=240
y=49
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=298
yan=1304

[com_57]
type=6
buttontype=0
clientcode=0
x=232
y=54
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=307
yan=1346

[com_58]
type=6
buttontype=0
clientcode=0
x=225
y=56
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=268
yan=1448

[com_59]
type=6
buttontype=0
clientcode=0
x=218
y=58
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=280
yan=1520

[com_60]
type=6
buttontype=0
clientcode=0
x=213
y=55
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=328
yan=1805

[com_61]
type=6
buttontype=0
clientcode=0
x=210
y=52
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=247
yan=1913

[com_62]
type=6
buttontype=0
clientcode=0
x=222
y=183
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=304
yan=244

[com_63]
type=6
buttontype=0
clientcode=0
x=340
y=64
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1863
xan=640
yan=875

[com_64]
type=6
buttontype=0
clientcode=0
x=216
y=189
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=358
yan=247

[com_65]
type=6
buttontype=0
clientcode=0
x=212
y=196
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=358
yan=49

[com_66]
type=6
buttontype=0
clientcode=0
x=208
y=202
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=388
yan=247

[com_67]
type=6
buttontype=0
clientcode=0
x=205
y=208
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=325
yan=28

[com_68]
type=6
buttontype=0
clientcode=0
x=204
y=216
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=367
yan=94

[com_69]
type=6
buttontype=0
clientcode=0
x=200
y=222
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=430
yan=340

[com_70]
type=6
buttontype=0
clientcode=0
x=191
y=223
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=460
yan=487

[com_71]
type=6
buttontype=0
clientcode=0
x=182
y=221
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=520
yan=667

[com_72]
type=6
buttontype=0
clientcode=0
x=175
y=219
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=472
yan=535

[com_73]
type=6
buttontype=0
clientcode=0
x=168
y=215
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=556
yan=829

[com_74]
type=6
buttontype=0
clientcode=0
x=162
y=209
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=541
yan=730

[com_75]
type=6
buttontype=0
clientcode=0
x=158
y=202
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=589
yan=1021

[com_76]
type=6
buttontype=0
clientcode=0
x=159
y=193
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=610
yan=1090

[com_77]
type=6
buttontype=0
clientcode=0
x=162
y=185
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=658
yan=1225

[com_78]
type=6
buttontype=0
clientcode=0
x=166
y=179
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=658
yan=1195

[com_79]
type=6
buttontype=0
clientcode=0
x=170
y=172
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=670
yan=1135

[com_80]
type=6
buttontype=0
clientcode=0
x=174
y=166
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=712
yan=1291

[com_81]
type=6
buttontype=0
clientcode=0
x=179
y=160
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=667
yan=1039

[com_82]
type=6
buttontype=0
clientcode=0
x=180
y=154
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=646
yan=958

[com_83]
type=6
buttontype=0
clientcode=0
x=175
y=147
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=550
yan=733

[com_84]
type=6
buttontype=0
clientcode=0
x=167
y=145
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=490
yan=508

[com_85]
type=6
buttontype=0
clientcode=0
x=157
y=143
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=568
yan=670

[com_86]
type=6
buttontype=0
clientcode=0
x=152
y=136
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=649
yan=937

[com_87]
type=6
buttontype=0
clientcode=0
x=170
y=114
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_88]
type=6
buttontype=0
clientcode=0
x=229
y=121
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_89]
type=6
buttontype=0
clientcode=0
x=221
y=90
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_90]
type=6
buttontype=0
clientcode=0
x=275
y=104
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2023
xan=512
yan=0

[com_91]
type=6
buttontype=0
clientcode=0
x=182
y=82
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=668
yan=804

[com_92]
type=6
buttontype=0
clientcode=0
x=175
y=72
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=662
yan=915

[com_93]
type=6
buttontype=0
clientcode=0
x=237
y=100
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=392
yan=414

[com_94]
type=6
buttontype=0
clientcode=0
x=250
y=94
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=320
yan=270

[com_95]
type=6
buttontype=0
clientcode=0
x=261
y=86
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=335
yan=312

[com_96]
type=6
buttontype=0
clientcode=0
x=274
y=81
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=239
yan=405

[com_97]
type=6
buttontype=0
clientcode=0
x=287
y=76
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=200
yan=255

[com_98]
type=6
buttontype=0
clientcode=0
x=299
y=71
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=230
yan=387

[com_99]
type=6
buttontype=0
clientcode=0
x=238
y=106
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=230
yan=387

[com_100]
type=6
buttontype=0
clientcode=0
x=203
y=104
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=599
yan=747

[com_101]
type=6
buttontype=0
clientcode=0
x=178
y=88
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=599
yan=747

[com_102]
type=6
buttontype=0
clientcode=0
x=217
y=109
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=476
yan=522

[com_103]
type=6
buttontype=0
clientcode=0
x=225
y=109
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=476
yan=522

[com_104]
type=6
buttontype=0
clientcode=0
x=191
y=96
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=521
yan=651

[com_105]
type=6
buttontype=0
clientcode=0
x=243
y=111
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=305
yan=69

[com_106]
type=6
buttontype=0
clientcode=0
x=239
y=122
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=290
yan=123

[com_107]
type=6
buttontype=0
clientcode=0
x=232
y=132
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=302
yan=207

[com_108]
type=6
buttontype=0
clientcode=0
x=222
y=140
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=326
yan=294

[com_109]
type=6
buttontype=0
clientcode=0
x=213
y=148
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=365
yan=201

[com_110]
type=6
buttontype=0
clientcode=0
x=205
y=158
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=371
yan=195

[com_111]
type=6
buttontype=0
clientcode=0
x=225
y=146
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=326
yan=294

[com_112]
type=6
buttontype=0
clientcode=0
x=236
y=137
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=311
yan=222

[com_113]
type=6
buttontype=0
clientcode=0
x=243
y=126
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=290
yan=84

[com_114]
type=6
buttontype=0
clientcode=0
x=248
y=115
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=305
yan=129

[com_115]
type=6
buttontype=0
clientcode=0
x=251
y=105
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=305
yan=60

[com_116]
type=6
buttontype=0
clientcode=0
x=314
y=70
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=638
yan=477

[com_117]
type=6
buttontype=0
clientcode=0
x=257
y=97
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=389
yan=297

[com_118]
type=6
buttontype=0
clientcode=0
x=269
y=90
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=410
yan=354

[com_119]
type=6
buttontype=0
clientcode=0
x=277
y=86
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=443
yan=381

[com_120]
type=6
buttontype=0
clientcode=0
x=290
y=81
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=473
yan=351

[com_121]
type=6
buttontype=0
clientcode=0
x=218
y=154
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=311
yan=162

[com_122]
type=6
buttontype=0
clientcode=0
x=212
y=163
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=329
yan=159

[com_123]
type=6
buttontype=0
clientcode=0
x=203
y=169
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1519
xan=587
yan=480

[com_124]
type=6
buttontype=0
clientcode=0
x=199
y=162
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1391
xan=659
yan=1173

[com_125]
type=6
buttontype=0
clientcode=0
x=328
y=70
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=674
yan=504

[com_126]
type=6
buttontype=0
clientcode=0
x=303
y=76
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=647
yan=444

[com_127]
type=6
buttontype=0
clientcode=0
x=322
y=72
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=659
yan=510

[com_128]
type=6
buttontype=0
clientcode=0
x=334
y=70
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=674
yan=504

[com_129]
type=6
buttontype=0
clientcode=0
x=334
y=77
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=674
yan=504

[com_130]
type=6
buttontype=0
clientcode=0
x=321
y=74
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=659
yan=510

[com_131]
type=6
buttontype=0
clientcode=0
x=317
y=76
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=659
yan=510

[com_132]
type=6
buttontype=0
clientcode=0
x=334
y=72
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=659
yan=510

[com_133]
type=6
buttontype=0
clientcode=0
x=334
y=74
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=659
yan=510

[com_134]
type=6
buttontype=0
clientcode=0
x=334
y=76
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=659
yan=510

[com_135]
type=6
buttontype=0
clientcode=0
x=338
y=77
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=653
yan=480

[com_136]
type=6
buttontype=0
clientcode=0
x=338
y=70
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1007
xan=653
yan=480

[com_137]
type=6
buttontype=0
clientcode=0
x=337
y=59
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1863
xan=640
yan=875

[com_138]
type=6
buttontype=0
clientcode=0
x=335
y=55
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1863
xan=655
yan=809

[com_139]
type=6
buttontype=0
clientcode=0
x=342
y=76
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1863
xan=694
yan=911

[com_140]
type=6
buttontype=0
clientcode=0
x=345
y=80
width=32
height=38
trans=0
model=com_i4154
activemodel=-1
zoom=1863
xan=622
yan=713

[com_141]
type=6
buttontype=0
clientcode=0
x=289
y=228
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1639
xan=464
yan=1919

[com_142]
type=6
buttontype=0
clientcode=0
x=309
y=224
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1615
xan=556
yan=2007

[com_143]
type=6
buttontype=0
clientcode=0
x=240
y=204
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1639
xan=464
yan=1919

[com_144]
type=6
buttontype=0
clientcode=0
x=260
y=204
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1615
xan=554
yan=105

[com_145]
type=6
buttontype=0
clientcode=0
x=319
y=143
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1639
xan=464
yan=1919

[com_146]
type=6
buttontype=0
clientcode=0
x=339
y=143
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1585
xan=537
yan=97

[com_147]
type=6
buttontype=0
clientcode=0
x=329
y=226
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1585
xan=537
yan=97

[com_148]
type=0
buttontype=0
clientcode=0
x=470
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1
