// interface 347

[com_0]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_2]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_3]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_4]
type=6
buttontype=0
clientcode=0
x=321
y=245
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=576
yan=1544

[com_5]
type=6
buttontype=0
clientcode=0
x=76
y=125
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=437
yan=2030

[com_6]
type=6
buttontype=0
clientcode=0
x=70
y=114
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=514
yan=481

[com_7]
type=6
buttontype=0
clientcode=0
x=89
y=125
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=437
yan=2030

[com_8]
type=6
buttontype=0
clientcode=0
x=70
y=102
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=514
yan=481

[com_9]
type=6
buttontype=0
clientcode=0
x=70
y=91
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=514
yan=481

[com_10]
type=6
buttontype=0
clientcode=0
x=70
y=80
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=514
yan=481

[com_11]
type=6
buttontype=0
clientcode=0
x=70
y=69
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=514
yan=481

[com_12]
type=6
buttontype=0
clientcode=0
x=142
y=28
width=32
height=32
layer=com_44
trans=0
model=com_i3389
activemodel=-1
zoom=1349
xan=474
yan=1775

[com_13]
type=6
buttontype=0
clientcode=0
x=70
y=58
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=514
yan=481

[com_14]
type=6
buttontype=0
clientcode=0
x=79
y=51
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=548
yan=970

[com_15]
type=6
buttontype=0
clientcode=0
x=90
y=51
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=548
yan=970

[com_16]
type=6
buttontype=0
clientcode=0
x=102
y=51
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=548
yan=970

[com_17]
type=6
buttontype=0
clientcode=0
x=114
y=51
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=548
yan=970

[com_18]
type=6
buttontype=0
clientcode=0
x=126
y=51
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=548
yan=970

[com_19]
type=6
buttontype=0
clientcode=0
x=137
y=51
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=548
yan=970

[com_20]
type=6
buttontype=0
clientcode=0
x=141
y=44
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=551
yan=517

[com_21]
type=4
buttontype=0
clientcode=0
x=128
y=153
width=11
height=11
layer=com_44
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=1N
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=104
y=74
width=12
height=11
layer=com_44
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=6E
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=84
y=148
width=16
height=11
layer=com_44
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=2W
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=66
y=102
width=14
height=11
layer=com_44
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=6N
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=6
buttontype=0
clientcode=0
x=136
y=25
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1075
xan=387
yan=3

[com_26]
type=6
buttontype=0
clientcode=0
x=22
y=38
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=983
xan=387
yan=3

[com_27]
type=6
buttontype=0
clientcode=0
x=13
y=75
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1062
xan=428
yan=177

[com_28]
type=6
buttontype=0
clientcode=0
x=2
y=105
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1399
xan=463
yan=2

[com_29]
type=6
buttontype=0
clientcode=0
x=10
y=126
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1794
xan=453
yan=1801

[com_30]
type=6
buttontype=0
clientcode=0
x=29
y=135
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1727
xan=322
yan=1552

[com_31]
type=6
buttontype=0
clientcode=0
x=66
y=123
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1972
xan=442
yan=1525

[com_32]
type=6
buttontype=0
clientcode=0
x=101
y=136
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1972
xan=442
yan=1525

[com_33]
type=6
buttontype=0
clientcode=0
x=136
y=149
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1972
xan=401
yan=1546

[com_34]
type=6
buttontype=0
clientcode=0
x=163
y=137
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=3481
xan=401
yan=1546

[com_35]
type=6
buttontype=0
clientcode=0
x=175
y=113
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1972
xan=410
yan=1030

[com_36]
type=6
buttontype=0
clientcode=0
x=146
y=67
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1972
xan=410
yan=1030

[com_37]
type=6
buttontype=0
clientcode=0
x=160
y=90
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=984
xan=418
yan=778

[com_38]
type=6
buttontype=0
clientcode=0
x=48
y=128
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=2014
xan=370
yan=1312

[com_39]
type=6
buttontype=0
clientcode=0
x=86
y=128
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1891
xan=478
yan=1752

[com_40]
type=6
buttontype=0
clientcode=0
x=120
y=142
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1984
xan=483
yan=1773

[com_41]
type=6
buttontype=0
clientcode=0
x=150
y=143
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=2440
xan=523
yan=1284

[com_42]
type=6
buttontype=0
clientcode=0
x=172
y=129
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=2396
xan=484
yan=1183

[com_43]
type=6
buttontype=0
clientcode=0
x=141
y=50
width=32
height=32
layer=com_45
trans=0
model=com_i3398
activemodel=-1
zoom=1972
xan=455
yan=808

[com_44]
type=0
buttontype=0
clientcode=0
x=141
y=28
width=229
height=225
trans=0
scrollheight=0
hide=0

[com_45]
type=0
buttontype=0
clientcode=0
x=158
y=96
width=201
height=172
trans=0
scrollheight=0
hide=0

[com_46]
type=6
buttontype=0
clientcode=0
x=244
y=172
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2322
xan=500
yan=0

[com_47]
type=6
buttontype=0
clientcode=0
x=279
y=144
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2220
xan=500
yan=0

[com_48]
type=6
buttontype=0
clientcode=0
x=298
y=190
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2321
xan=500
yan=0

[com_49]
type=6
buttontype=0
clientcode=0
x=281
y=220
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2087
xan=500
yan=0

[com_50]
type=6
buttontype=0
clientcode=0
x=299
y=220
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2321
xan=500
yan=0

[com_51]
type=6
buttontype=0
clientcode=0
x=315
y=206
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2087
xan=500
yan=0

[com_52]
type=6
buttontype=0
clientcode=0
x=252
y=211
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2321
xan=500
yan=0

[com_53]
type=6
buttontype=0
clientcode=0
x=262
y=156
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2087
xan=500
yan=0

[com_54]
type=6
buttontype=0
clientcode=0
x=282
y=117
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2087
xan=500
yan=0

[com_55]
type=6
buttontype=0
clientcode=0
x=247
y=102
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2220
xan=500
yan=0

[com_56]
type=6
buttontype=0
clientcode=0
x=215
y=189
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2419
xan=500
yan=0

[com_57]
type=6
buttontype=0
clientcode=0
x=192
y=144
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2419
xan=500
yan=0

[com_58]
type=6
buttontype=0
clientcode=0
x=191
y=129
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2581
xan=500
yan=0

[com_59]
type=6
buttontype=0
clientcode=0
x=227
y=105
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2087
xan=500
yan=0

[com_60]
type=6
buttontype=0
clientcode=0
x=227
y=121
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2220
xan=500
yan=0

[com_61]
type=6
buttontype=0
clientcode=0
x=156
y=133
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2087
xan=500
yan=0

[com_62]
type=6
buttontype=0
clientcode=0
x=200
y=168
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=2419
xan=500
yan=0

[com_63]
type=6
buttontype=0
clientcode=0
x=199
y=155
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2581
xan=500
yan=0

[com_64]
type=6
buttontype=0
clientcode=0
x=214
y=177
width=32
height=32
trans=0
model=com_i3401
activemodel=-1
zoom=2581
xan=500
yan=0

[com_65]
type=6
buttontype=0
clientcode=0
x=101
y=129
width=32
height=32
layer=com_44
trans=0
model=com_i3400
activemodel=-1
zoom=1416
xan=608
yan=490

[com_66]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=68
trans=0
graphic=539
activegraphic=-1

[com_67]
type=5
buttontype=3
clientcode=0
x=2
y=5
width=26
height=23
layer=com_68
trans=0
graphic=540
activegraphic=-1

[com_68]
type=0
buttontype=0
clientcode=0
x=471
y=8
width=32
height=32
trans=0
scrollheight=0
hide=1
