// interface 348

[com_0]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=210
y=90
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1322
xan=642
yan=787

[com_2]
type=6
buttontype=0
clientcode=0
x=226
y=114
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1322
xan=658
yan=875

[com_3]
type=6
buttontype=0
clientcode=0
x=236
y=141
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1322
xan=682
yan=942

[com_4]
type=6
buttontype=0
clientcode=0
x=241
y=168
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1322
xan=686
yan=974

[com_5]
type=6
buttontype=0
clientcode=0
x=247
y=193
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=692
yan=929

[com_6]
type=6
buttontype=0
clientcode=0
x=255
y=212
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=702
yan=877

[com_7]
type=6
buttontype=0
clientcode=0
x=323
y=166
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1349
xan=474
yan=1775

[com_8]
type=6
buttontype=0
clientcode=0
x=133
y=20
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=675
yan=744

[com_9]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_10]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_11]
type=6
buttontype=0
clientcode=0
x=189
y=71
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=679
yan=758

[com_12]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_13]
type=6
buttontype=0
clientcode=0
x=152
y=36
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=693
yan=793

[com_14]
type=6
buttontype=0
clientcode=0
x=170
y=54
width=32
height=32
layer=com_16
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=693
yan=793

[com_15]
type=6
buttontype=0
clientcode=0
x=321
y=245
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=576
yan=1544

[com_16]
type=0
buttontype=0
clientcode=0
x=34
y=32
width=313
height=239
trans=0
scrollheight=0
hide=0

[com_17]
type=6
buttontype=0
clientcode=0
x=257
y=151
width=32
height=32
trans=0
model=com_i3390
activemodel=-1
zoom=1130
xan=575
yan=2041

[com_18]
type=6
buttontype=0
clientcode=0
x=325
y=85
width=32
height=32
trans=0
model=com_i3391
activemodel=-1
zoom=1340
xan=524
yan=2044

[com_19]
type=6
buttontype=0
clientcode=0
x=274
y=125
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1577
xan=467
yan=2031

[com_20]
type=6
buttontype=0
clientcode=0
x=290
y=162
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1694
xan=467
yan=2031

[com_21]
type=6
buttontype=0
clientcode=0
x=279
y=87
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1609
xan=467
yan=2031

[com_22]
type=6
buttontype=0
clientcode=0
x=252
y=91
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1580
xan=467
yan=2031

[com_23]
type=6
buttontype=0
clientcode=0
x=227
y=76
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1645
xan=467
yan=2031

[com_24]
type=6
buttontype=0
clientcode=0
x=306
y=83
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=526
yan=2046

[com_25]
type=6
buttontype=0
clientcode=0
x=295
y=83
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=526
yan=2046

[com_26]
type=6
buttontype=0
clientcode=0
x=291
y=90
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_27]
type=6
buttontype=0
clientcode=0
x=291
y=101
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_28]
type=6
buttontype=0
clientcode=0
x=291
y=112
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_29]
type=6
buttontype=0
clientcode=0
x=291
y=122
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_30]
type=6
buttontype=0
clientcode=0
x=295
y=128
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=526
yan=2046

[com_31]
type=6
buttontype=0
clientcode=0
x=305
y=128
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=526
yan=2046

[com_32]
type=6
buttontype=0
clientcode=0
x=315
y=128
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=526
yan=2046

[com_33]
type=6
buttontype=0
clientcode=0
x=323
y=134
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_34]
type=6
buttontype=0
clientcode=0
x=323
y=144
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_35]
type=6
buttontype=0
clientcode=0
x=323
y=154
width=32
height=32
trans=0
model=com_i3400
activemodel=-1
zoom=1713
xan=551
yan=1563

[com_36]
type=4
buttontype=0
clientcode=0
x=310
y=85
width=16
height=11
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=2W
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=4
buttontype=0
clientcode=0
x=291
y=117
width=12
height=11
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=4S
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=316
y=130
width=11
height=11
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=3E
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=4
buttontype=0
clientcode=0
x=342
y=155
width=13
height=11
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=3S
activetext=
colour=0x4c3d26
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=6
buttontype=0
clientcode=0
x=166
y=182
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1587
xan=463
yan=2005

[com_41]
type=6
buttontype=0
clientcode=0
x=209
y=181
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1615
xan=554
yan=105

[com_42]
type=6
buttontype=0
clientcode=0
x=166
y=121
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1639
xan=464
yan=1919

[com_43]
type=6
buttontype=0
clientcode=0
x=187
y=180
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1431
xan=500
yan=0

[com_44]
type=6
buttontype=0
clientcode=0
x=184
y=119
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1585
xan=537
yan=97

[com_45]
type=6
buttontype=0
clientcode=0
x=208
y=229
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1611
xan=407
yan=1966

[com_46]
type=6
buttontype=0
clientcode=0
x=226
y=226
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1594
xan=525
yan=94

[com_47]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=49
trans=0
graphic=539
activegraphic=-1

[com_48]
type=5
buttontype=3
clientcode=0
x=2
y=5
width=26
height=23
layer=com_49
trans=0
graphic=540
activegraphic=-1

[com_49]
type=0
buttontype=0
clientcode=0
x=471
y=8
width=32
height=32
trans=0
scrollheight=0
hide=1
