// interface 353

[com_0]
type=6
buttontype=0
clientcode=0
x=228
y=163
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=332
y=183
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=453
yan=384

[com_2]
type=6
buttontype=0
clientcode=0
x=341
y=180
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=457
yan=455

[com_3]
type=6
buttontype=0
clientcode=0
x=293
y=185
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=460
yan=440

[com_4]
type=6
buttontype=0
clientcode=0
x=285
y=189
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=495
yan=310

[com_5]
type=6
buttontype=0
clientcode=0
x=261
y=222
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=495
yan=310

[com_6]
type=6
buttontype=0
clientcode=0
x=269
y=216
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=481
yan=231

[com_7]
type=6
buttontype=0
clientcode=0
x=275
y=207
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=459
yan=146

[com_8]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_9]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_10]
type=6
buttontype=0
clientcode=0
x=279
y=195
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=459
yan=146

[com_11]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_12]
type=6
buttontype=0
clientcode=0
x=276
y=202
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=455
yan=110

[com_13]
type=6
buttontype=0
clientcode=0
x=314
y=184
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1332
xan=660
yan=519

[com_14]
type=6
buttontype=0
clientcode=0
x=321
y=245
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=576
yan=1544

[com_15]
type=6
buttontype=0
clientcode=0
x=214
y=248
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=513
yan=319

[com_16]
type=6
buttontype=0
clientcode=0
x=207
y=254
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=392
yan=189

[com_17]
type=6
buttontype=0
clientcode=0
x=223
y=244
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=542
yan=402

[com_18]
type=6
buttontype=0
clientcode=0
x=233
y=243
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=579
yan=479

[com_19]
type=6
buttontype=0
clientcode=0
x=242
y=240
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=530
yan=357

[com_20]
type=6
buttontype=0
clientcode=0
x=284
y=233
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1587
xan=463
yan=2005

[com_21]
type=6
buttontype=0
clientcode=0
x=328
y=208
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1615
xan=554
yan=105

[com_22]
type=6
buttontype=0
clientcode=0
x=304
y=232
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1431
xan=500
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=311
y=208
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1611
xan=407
yan=1966

[com_24]
type=6
buttontype=0
clientcode=0
x=249
y=234
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=479
yan=195

[com_25]
type=6
buttontype=0
clientcode=0
x=253
y=228
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=550
yan=230

[com_26]
type=6
buttontype=0
clientcode=0
x=283
y=124
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=0

[com_27]
type=6
buttontype=0
clientcode=0
x=274
y=174
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=553
xan=535
yan=233

[com_28]
type=6
buttontype=0
clientcode=0
x=223
y=186
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=513

[com_29]
type=6
buttontype=0
clientcode=0
x=180
y=186
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=513

[com_30]
type=6
buttontype=0
clientcode=0
x=283
y=79
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=0

[com_31]
type=6
buttontype=0
clientcode=0
x=260
y=164
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=772
xan=535
yan=233

[com_32]
type=6
buttontype=0
clientcode=0
x=251
y=143
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1730
xan=467
yan=2031

[com_33]
type=6
buttontype=0
clientcode=0
x=266
y=118
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=0

[com_34]
type=6
buttontype=0
clientcode=0
x=266
y=80
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=214
y=172
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=513

[com_36]
type=6
buttontype=0
clientcode=0
x=180
y=172
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=553
xan=512
yan=513

[com_37]
type=6
buttontype=0
clientcode=0
x=234
y=137
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=512
yan=230

[com_38]
type=6
buttontype=0
clientcode=0
x=221
y=151
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=512
yan=234

[com_39]
type=6
buttontype=0
clientcode=0
x=247
y=124
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=512
yan=230

[com_40]
type=6
buttontype=0
clientcode=0
x=216
y=137
width=9
height=61
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=519
yan=745

[com_41]
type=6
buttontype=0
clientcode=0
x=255
y=97
width=9
height=61
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=519
yan=745

[com_42]
type=6
buttontype=0
clientcode=0
x=240
y=85
width=9
height=61
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=519
yan=745

[com_43]
type=6
buttontype=0
clientcode=0
x=226
y=74
width=9
height=61
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=519
yan=745

[com_44]
type=6
buttontype=0
clientcode=0
x=201
y=125
width=9
height=61
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=519
yan=745

[com_45]
type=6
buttontype=0
clientcode=0
x=188
y=115
width=9
height=61
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=519
yan=745

[com_46]
type=6
buttontype=0
clientcode=0
x=177
y=117
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=512
yan=234

[com_47]
type=6
buttontype=0
clientcode=0
x=202
y=90
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=809
xan=512
yan=234

[com_48]
type=6
buttontype=0
clientcode=0
x=223
y=60
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=1005
xan=512
yan=513

[com_49]
type=6
buttontype=0
clientcode=0
x=155
y=139
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=1005
xan=512
yan=1025

[com_50]
type=6
buttontype=0
clientcode=0
x=149
y=160
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1013
xan=512
yan=493

[com_51]
type=6
buttontype=0
clientcode=0
x=148
y=119
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1013
xan=512
yan=493

[com_52]
type=6
buttontype=0
clientcode=0
x=202
y=48
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=804
xan=512
yan=1023

[com_53]
type=6
buttontype=0
clientcode=0
x=242
y=50
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=804
xan=512
yan=1023

[com_54]
type=6
buttontype=0
clientcode=0
x=310
y=76
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1730
xan=467
yan=2031

[com_55]
type=6
buttontype=0
clientcode=0
x=341
y=125
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1796
xan=467
yan=2031

[com_56]
type=6
buttontype=0
clientcode=0
x=232
y=213
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1796
xan=467
yan=2031

[com_57]
type=6
buttontype=0
clientcode=0
x=200
y=234
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1796
xan=467
yan=2031

[com_58]
type=6
buttontype=0
clientcode=0
x=178
y=214
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2301
xan=467
yan=2031

[com_59]
type=6
buttontype=0
clientcode=0
x=161
y=215
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2259
xan=467
yan=2031

[com_60]
type=6
buttontype=0
clientcode=0
x=169
y=203
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2301
xan=467
yan=2031

[com_61]
type=6
buttontype=0
clientcode=0
x=150
y=202
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2301
xan=467
yan=2031

[com_62]
type=6
buttontype=0
clientcode=0
x=238
y=151
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1349
xan=474
yan=1775

[com_63]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=65
trans=0
graphic=539
activegraphic=-1

[com_64]
type=5
buttontype=3
clientcode=0
x=3
y=7
width=26
height=23
layer=com_65
trans=0
graphic=540
activegraphic=-1

[com_65]
type=0
buttontype=0
clientcode=0
x=470
y=6
width=32
height=32
trans=0
scrollheight=0
hide=1
