// interface 358

[com_0]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=237
y=149
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=622
xan=512
yan=517

[com_2]
type=6
buttontype=0
clientcode=0
x=229
y=188
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_3]
type=6
buttontype=0
clientcode=0
x=300
y=78
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_4]
type=6
buttontype=0
clientcode=0
x=289
y=84
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=667
xan=512
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=243
y=159
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=314
y=90
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=314
y=111
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=289
y=91
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=667
xan=512
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=274
y=96
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_10]
type=6
buttontype=0
clientcode=0
x=263
y=109
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_12]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_13]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_14]
type=6
buttontype=0
clientcode=0
x=205
y=126
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_15]
type=6
buttontype=0
clientcode=0
x=205
y=188
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_16]
type=6
buttontype=0
clientcode=0
x=213
y=167
width=32
height=32
trans=0
model=com_i3392
activemodel=-1
zoom=1189
xan=512
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=321
y=250
width=50
height=34
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=512
yan=1556

[com_18]
type=6
buttontype=0
clientcode=0
x=193
y=136
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=193
y=160
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=193
y=176
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=221
y=188
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_22]
type=6
buttontype=0
clientcode=0
x=217
y=126
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_23]
type=6
buttontype=0
clientcode=0
x=231
y=137
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_24]
type=6
buttontype=0
clientcode=0
x=274
y=123
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_25]
type=6
buttontype=0
clientcode=0
x=306
y=123
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=622
xan=512
yan=517

[com_26]
type=6
buttontype=0
clientcode=0
x=255
y=85
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_27]
type=6
buttontype=0
clientcode=0
x=236
y=93
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_28]
type=6
buttontype=0
clientcode=0
x=322
y=194
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=0
yan=0

[com_29]
type=6
buttontype=0
clientcode=0
x=322
y=219
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=0
yan=0

[com_30]
type=6
buttontype=0
clientcode=0
x=181
y=186
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_31]
type=6
buttontype=0
clientcode=0
x=166
y=149
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_32]
type=6
buttontype=0
clientcode=0
x=179
y=110
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_33]
type=6
buttontype=0
clientcode=0
x=343
y=132
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=736
xan=462
yan=1792

[com_34]
type=6
buttontype=0
clientcode=0
x=335
y=116
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=174
y=165
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=736
xan=462
yan=1792

[com_36]
type=6
buttontype=0
clientcode=0
x=322
y=186
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=0
yan=0

[com_37]
type=6
buttontype=0
clientcode=0
x=170
y=127
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=736
xan=518
yan=1251

[com_38]
type=6
buttontype=0
clientcode=0
x=322
y=186
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_39]
type=6
buttontype=0
clientcode=0
x=335
y=93
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_40]
type=6
buttontype=0
clientcode=0
x=335
y=74
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_41]
type=6
buttontype=0
clientcode=0
x=339
y=52
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=736
xan=518
yan=1251

[com_42]
type=6
buttontype=0
clientcode=0
x=322
y=211
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_43]
type=6
buttontype=0
clientcode=0
x=225
y=248
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_44]
type=6
buttontype=0
clientcode=0
x=183
y=160
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_45]
type=6
buttontype=0
clientcode=0
x=322
y=220
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_46]
type=6
buttontype=0
clientcode=0
x=191
y=98
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_47]
type=6
buttontype=0
clientcode=0
x=195
y=72
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_48]
type=6
buttontype=0
clientcode=0
x=219
y=53
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=1753
xan=467
yan=2031

[com_49]
type=6
buttontype=0
clientcode=0
x=313
y=176
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=622
xan=512
yan=517

[com_50]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=52
trans=0
graphic=539
activegraphic=-1

[com_51]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_52
trans=0
graphic=540
activegraphic=-1

[com_52]
type=0
buttontype=0
clientcode=0
x=469
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_53]
type=6
buttontype=0
clientcode=0
x=307
y=186
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_54]
type=6
buttontype=0
clientcode=0
x=299
y=198
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=622
xan=512
yan=517

[com_55]
type=6
buttontype=0
clientcode=0
x=294
y=193
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=667
xan=512
yan=0

[com_56]
type=6
buttontype=0
clientcode=0
x=286
y=190
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=622
xan=512
yan=517

[com_57]
type=6
buttontype=0
clientcode=0
x=280
y=200
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=667
xan=512
yan=0

[com_58]
type=6
buttontype=0
clientcode=0
x=280
y=226
width=32
height=32
trans=0
model=com_i4155
activemodel=-1
zoom=667
xan=512
yan=0

[com_59]
type=6
buttontype=0
clientcode=0
x=291
y=233
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517

[com_60]
type=6
buttontype=0
clientcode=0
x=308
y=233
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=622
xan=512
yan=517
