// interface 360

[com_0]
type=6
buttontype=0
clientcode=0
x=227
y=162
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=599
xan=520
yan=1

[com_1]
type=6
buttontype=0
clientcode=0
x=232
y=95
width=32
height=32
trans=0
model=com_i3396
activemodel=-1
zoom=1351
xan=512
yan=1473

[com_2]
type=6
buttontype=0
clientcode=0
x=220
y=167
width=32
height=32
trans=0
model=com_i3389
activemodel=-1
zoom=1349
xan=474
yan=1775

[com_3]
type=6
buttontype=0
clientcode=0
x=150
y=229
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=493
yan=18

[com_4]
type=6
buttontype=0
clientcode=0
x=165
y=49
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=527
yan=515

[com_5]
type=6
buttontype=0
clientcode=0
x=289
y=205
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=529
yan=342

[com_6]
type=6
buttontype=0
clientcode=0
x=350
y=209
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=528
yan=570

[com_7]
type=6
buttontype=0
clientcode=0
x=194
y=89
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=512
yan=1693

[com_8]
type=6
buttontype=0
clientcode=0
x=321
y=250
width=50
height=34
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=512
yan=1556

[com_9]
type=6
buttontype=0
clientcode=0
x=202
y=46
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=277
yan=172

[com_10]
type=6
buttontype=0
clientcode=0
x=183
y=62
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=277
yan=172

[com_11]
type=6
buttontype=0
clientcode=0
x=261
y=62
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=513
yan=1141

[com_12]
type=6
buttontype=0
clientcode=0
x=291
y=45
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=518
yan=1477

[com_13]
type=6
buttontype=0
clientcode=0
x=298
y=235
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1587
xan=463
yan=2005

[com_14]
type=6
buttontype=0
clientcode=0
x=335
y=233
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1615
xan=554
yan=105

[com_15]
type=6
buttontype=0
clientcode=0
x=219
y=65
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1639
xan=464
yan=1919

[com_16]
type=6
buttontype=0
clientcode=0
x=315
y=233
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1431
xan=500
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=239
y=65
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1585
xan=537
yan=97

[com_18]
type=6
buttontype=0
clientcode=0
x=264
y=245
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=558
yan=96

[com_19]
type=6
buttontype=0
clientcode=0
x=262
y=255
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=561
yan=52

[com_20]
type=6
buttontype=0
clientcode=0
x=274
y=218
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=618
yan=139

[com_21]
type=6
buttontype=0
clientcode=0
x=272
y=226
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=626
yan=56

[com_22]
type=6
buttontype=0
clientcode=0
x=268
y=237
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=543
yan=168

[com_23]
type=6
buttontype=0
clientcode=0
x=278
y=212
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=653
yan=288

[com_24]
type=6
buttontype=0
clientcode=0
x=281
y=210
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=673
yan=297

[com_25]
type=6
buttontype=0
clientcode=0
x=299
y=202
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=516
yan=475

[com_26]
type=6
buttontype=0
clientcode=0
x=310
y=202
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=516
yan=475

[com_27]
type=6
buttontype=0
clientcode=0
x=317
y=203
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=514
yan=591

[com_28]
type=6
buttontype=0
clientcode=0
x=332
y=205
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=539
yan=583

[com_29]
type=6
buttontype=0
clientcode=0
x=342
y=207
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=539
yan=620

[com_30]
type=6
buttontype=0
clientcode=0
x=271
y=231
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=546
yan=112

[com_31]
type=6
buttontype=0
clientcode=0
x=326
y=204
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=522
yan=545

[com_32]
type=6
buttontype=0
clientcode=0
x=201
y=93
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=525
yan=1614

[com_33]
type=6
buttontype=0
clientcode=0
x=206
y=95
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=499
yan=1607

[com_34]
type=6
buttontype=0
clientcode=0
x=216
y=97
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=488
yan=1536

[com_35]
type=6
buttontype=0
clientcode=0
x=257
y=84
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=482
yan=1261

[com_36]
type=6
buttontype=0
clientcode=0
x=260
y=78
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=528
yan=1104

[com_37]
type=6
buttontype=0
clientcode=0
x=261
y=70
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=535
yan=1025

[com_38]
type=6
buttontype=0
clientcode=0
x=266
y=55
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=561
yan=1296

[com_39]
type=6
buttontype=0
clientcode=0
x=274
y=50
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=573
yan=1357

[com_40]
type=6
buttontype=0
clientcode=0
x=282
y=47
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=587
yan=1454

[com_41]
type=6
buttontype=0
clientcode=0
x=301
y=43
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=519
yan=1417

[com_42]
type=6
buttontype=0
clientcode=0
x=310
y=41
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=525
yan=1460

[com_43]
type=6
buttontype=0
clientcode=0
x=186
y=84
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=529
yan=1756

[com_44]
type=6
buttontype=0
clientcode=0
x=182
y=77
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=576
yan=1889

[com_45]
type=6
buttontype=0
clientcode=0
x=180
y=69
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=623
yan=43

[com_46]
type=6
buttontype=0
clientcode=0
x=189
y=56
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=665
yan=294

[com_47]
type=6
buttontype=0
clientcode=0
x=196
y=51
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=665
yan=294

[com_48]
type=6
buttontype=0
clientcode=0
x=204
y=42
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=692
yan=48

[com_49]
type=6
buttontype=0
clientcode=0
x=252
y=89
width=32
height=32
trans=0
model=com_i4154
activemodel=-1
zoom=1351
xan=484
yan=1326

[com_50]
type=6
buttontype=0
clientcode=0
x=201
y=148
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2109
xan=467
yan=2031

[com_51]
type=6
buttontype=0
clientcode=0
x=199
y=119
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2109
xan=467
yan=2031

[com_52]
type=6
buttontype=0
clientcode=0
x=177
y=123
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2109
xan=467
yan=2031

[com_53]
type=6
buttontype=0
clientcode=0
x=168
y=140
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2109
xan=467
yan=2031

[com_54]
type=6
buttontype=0
clientcode=0
x=158
y=117
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2109
xan=467
yan=2031

[com_55]
type=6
buttontype=0
clientcode=0
x=151
y=79
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2109
xan=467
yan=2031

[com_56]
type=6
buttontype=0
clientcode=0
x=250
y=207
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_57]
type=6
buttontype=0
clientcode=0
x=271
y=195
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_58]
type=6
buttontype=0
clientcode=0
x=261
y=177
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_59]
type=6
buttontype=0
clientcode=0
x=246
y=192
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_60]
type=6
buttontype=0
clientcode=0
x=271
y=154
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_61]
type=6
buttontype=0
clientcode=0
x=229
y=187
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_62]
type=6
buttontype=0
clientcode=0
x=302
y=142
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_63]
type=6
buttontype=0
clientcode=0
x=310
y=166
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_64]
type=6
buttontype=0
clientcode=0
x=313
y=184
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_65]
type=6
buttontype=0
clientcode=0
x=340
y=62
width=32
height=32
trans=0
model=com_i3388
activemodel=-1
zoom=531
xan=578
yan=1030

[com_66]
type=6
buttontype=0
clientcode=0
x=330
y=163
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_67]
type=6
buttontype=0
clientcode=0
x=323
y=136
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_68]
type=6
buttontype=0
clientcode=0
x=276
y=92
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_69]
type=6
buttontype=0
clientcode=0
x=295
y=86
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_70]
type=6
buttontype=0
clientcode=0
x=300
y=105
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_71]
type=6
buttontype=0
clientcode=0
x=302
y=64
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_72]
type=6
buttontype=0
clientcode=0
x=168
y=230
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_73]
type=6
buttontype=0
clientcode=0
x=159
y=204
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_74]
type=6
buttontype=0
clientcode=0
x=153
y=188
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_75]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=77
trans=0
graphic=539
activegraphic=-1

[com_76]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_77
trans=0
graphic=540
activegraphic=-1

[com_77]
type=0
buttontype=0
clientcode=0
x=470
y=8
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_78]
type=6
buttontype=0
clientcode=0
x=230
y=207
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_79]
type=6
buttontype=0
clientcode=0
x=226
y=249
width=32
height=32
trans=0
model=com_i3386
activemodel=-1
zoom=123
xan=611
yan=0

[com_80]
type=6
buttontype=0
clientcode=0
x=197
y=232
width=32
height=32
trans=0
model=com_i3398
activemodel=-1
zoom=1168
xan=808
yan=178

[com_81]
type=6
buttontype=0
clientcode=0
x=147
y=205
width=32
height=32
trans=0
model=com_i3397
activemodel=-1
zoom=2540
xan=467
yan=2031

[com_82]
type=6
buttontype=0
clientcode=0
x=214
y=223
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=858
xan=494
yan=1536

[com_83]
type=6
buttontype=0
clientcode=0
x=188
y=248
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=1168
xan=512
yan=0

[com_84]
type=6
buttontype=0
clientcode=0
x=240
y=248
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=912
xan=512
yan=0

[com_85]
type=6
buttontype=0
clientcode=0
x=230
y=232
width=32
height=32
trans=0
model=com_i3399
activemodel=-1
zoom=658
xan=359
yan=784
