// interface 363

[com_0]
type=6
buttontype=0
clientcode=0
x=247
y=145
width=32
height=32
trans=0
model=com_i3437
activemodel=-1
zoom=430
xan=512
yan=0

[com_1]
type=2
buttontype=0
clientcode=0
x=171
y=54
width=5
height=5
trans=0
eventcode=0x40000000
marginx=5
marginy=5
targetverb=
targetbase=

[com_2]
type=6
buttontype=1
clientcode=0
x=3
y=3
width=30
height=30
layer=com_4
overlayer=5
trans=0
model=com_i3374
activemodel=-1
zoom=1010
xan=360
yan=672
buttontext=Hint

[com_3]
type=4
buttontype=0
clientcode=0
x=3
y=32
width=41
height=17
layer=com_4
trans=0
halign=0
valign=1
lineheight=0
font=494
shadowed=0
text=Hint
activetext=
colour=0xfad782
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=0
buttontype=0
clientcode=0
x=110
y=249
width=42
height=47
trans=0
scrollheight=0
hide=0

[com_5]
type=0
buttontype=0
clientcode=0
x=156
y=40
width=210
height=210
trans=0
scriptcmp=1/2
scripts=5/261/0
scrollheight=0
hide=1

[com_6]
type=6
buttontype=0
clientcode=0
x=90
y=107
width=32
height=32
layer=com_5
trans=0
model=com_i3437
activemodel=-1
zoom=430
xan=512
yan=0

[com_7]
type=2
buttontype=0
clientcode=0
x=15
y=14
width=5
height=5
layer=com_5
trans=0
eventcode=0x0
marginx=5
marginy=5
targetverb=
targetbase=

[com_8]
type=6
buttontype=0
clientcode=0
x=247
y=145
width=32
height=32
trans=0
model=com_i3438
activemodel=-1
zoom=444
xan=512
yan=0

[com_9]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=11
trans=0
graphic=539
activegraphic=-1

[com_10]
type=5
buttontype=3
clientcode=0
x=4
y=6
width=26
height=23
layer=com_11
trans=0
graphic=540
activegraphic=-1

[com_11]
type=0
buttontype=0
clientcode=0
x=469
y=7
width=32
height=32
trans=0
scrollheight=0
hide=1
