// interface 364

[com_0]
type=6
buttontype=0
clientcode=0
x=232
y=158
width=32
height=32
trans=0
model=com_i3395
activemodel=-1
zoom=639
xan=511
yan=2047

[com_1]
type=2
buttontype=0
clientcode=0
x=239
y=89
width=3
height=3
trans=0
eventcode=0x0
marginx=0
marginy=0
targetverb=
targetbase=

[com_2]
type=6
buttontype=0
clientcode=0
x=174
y=212
width=32
height=32
trans=0
model=com_i1226
activemodel=-1
zoom=914
xan=104
yan=761

[com_3]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=5
trans=0
graphic=539
activegraphic=-1

[com_4]
type=5
buttontype=3
clientcode=0
x=1
y=4
width=26
height=23
layer=com_5
trans=0
graphic=540
activegraphic=-1

[com_5]
type=0
buttontype=0
clientcode=0
x=472
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1
