// interface 365

[com_0]
type=6
buttontype=0
clientcode=0
x=273
y=70
width=32
height=32
trans=0
model=com_i3408
activemodel=-1
zoom=162
xan=500
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=419
y=141
width=32
height=32
trans=0
model=com_i3407
activemodel=-1
zoom=353
xan=500
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=419
y=141
width=32
height=32
trans=0
model=com_i3403
activemodel=-1
zoom=898
xan=500
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=419
y=141
width=32
height=32
trans=0
model=com_i3402
activemodel=-1
zoom=201
xan=500
yan=0

[com_4]
type=6
buttontype=1
clientcode=0
x=313
y=275
width=30
height=51
trans=0
model=com_i3405
activemodel=-1
zoom=1389
xan=275
yan=2029
buttontext=

[com_5]
type=6
buttontype=1
clientcode=0
x=315
y=13
width=27
height=43
trans=0
model=com_i3404
activemodel=-1
zoom=1418
xan=478
yan=14
buttontext=

[com_6]
type=6
buttontype=1
clientcode=0
x=258
y=258
width=44
height=52
trans=0
model=com_i3409
activemodel=-1
zoom=1228
xan=300
yan=285
buttontext=

[com_7]
type=6
buttontype=1
clientcode=0
x=21
y=264
width=47
height=49
trans=0
model=com_i3406
activemodel=-1
zoom=1219
xan=308
yan=695
buttontext=

[com_8]
type=6
buttontype=0
clientcode=0
x=152
y=180
width=32
height=32
trans=0
model=com_i3411
activemodel=-1
zoom=566
xan=500
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=152
y=180
width=32
height=32
trans=0
model=com_i3410
activemodel=-1
zoom=566
xan=500
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=152
y=180
width=32
height=32
trans=0
model=com_i3412
activemodel=-1
zoom=566
xan=500
yan=0

[com_11]
type=4
buttontype=1
clientcode=0
x=131
y=313
width=71
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Get Location
activetext=
colour=0x7c6035
colour2=0x000000
colourover=0xc8b08a
colour2over=0x000000
buttontext=

[com_12]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=14
trans=0
graphic=539
activegraphic=-1

[com_13]
type=5
buttontype=3
clientcode=0
x=5
y=5
width=26
height=23
layer=com_14
trans=0
graphic=540
activegraphic=-1

[com_14]
type=0
buttontype=0
clientcode=0
x=468
y=8
width=32
height=32
trans=0
scrollheight=0
hide=1
