// interface 368

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=141
width=32
height=32
trans=0
model=com_i3033
activemodel=-1
zoom=491
xan=484
yan=3

[com_1]
type=6
buttontype=0
clientcode=0
x=96
y=97
width=32
height=32
trans=0
model=com_i1842
activemodel=-1
zoom=591
xan=155
yan=2037

[com_2]
type=6
buttontype=0
clientcode=0
x=98
y=154
width=32
height=32
trans=0
model=com_i2386
activemodel=-1
zoom=385
xan=218
yan=115

[com_3]
type=6
buttontype=0
clientcode=0
x=93
y=254
width=32
height=32
trans=0
model=com_i2504
activemodel=-1
zoom=478
xan=148
yan=1752

[com_4]
type=4
buttontype=0
clientcode=0
x=150
y=92
width=299
height=49
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Use rope to repair the Trawler's nets.
activetext=
colour=0x4a4028
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=150
y=152
width=301
height=48
trans=0
halign=0
valign=0
lineheight=20
font=497
shadowed=0
text=Use Swamp Paste to repair leaks in the Ship's hull.
activetext=
colour=0x4a4028
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=148
y=225
width=235
height=47
trans=0
halign=0
valign=0
lineheight=20
font=497
shadowed=0
text=If all else fails you can always try and bail the water out as well!
activetext=
colour=0x4a4028
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=203
y=60
width=141
height=17
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=1
text=How to play:
activetext=
colour=0xe5bd5d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=5
buttontype=0
clientcode=0
x=449
y=42
width=26
height=23
overlayer=10
trans=0
graphic=539
activegraphic=-1

[com_9]
type=5
buttontype=3
clientcode=0
x=2
y=3
width=26
height=23
layer=com_10
trans=0
graphic=540
activegraphic=-1

[com_10]
type=0
buttontype=0
clientcode=0
x=447
y=39
width=32
height=32
trans=0
scrollheight=0
hide=1
