// interface 370

[com_0]
type=6
buttontype=0
clientcode=0
x=0
y=200
width=511
height=334
trans=0
model=-1
activemodel=-1
zoom=200
xan=0
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=0
y=200
width=511
height=334
trans=0
model=-1
activemodel=-1
zoom=200
xan=0
yan=0
