// interface 373

[com_0]
fmt=v3
type=4
clientcode=0
x=146
y=25
width=240
height=11
hide=0
font=494
text=Current Champion: TzHaar-Xil-Huz
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xcccccc
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=0
y=6
width=184
height=12
layer=com_2
hide=0
font=494
text=Foes Remaining:
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff0000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:70
onvartransmitlist=560

[com_2]
fmt=v3
type=0
clientcode=0
x=170
y=31
width=191
height=27
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
