// interface 375

[com_0]
type=5
buttontype=0
clientcode=0
x=74
y=100
width=36
height=36
trans=0
graphic=177
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=48
y=100
width=36
height=36
trans=0
graphic=177
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=22
y=100
width=36
height=36
trans=0
graphic=177
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=104
y=100
width=36
height=36
trans=0
graphic=178
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=130
y=100
width=36
height=36
trans=0
graphic=178
activegraphic=-1

[com_5]
type=4
buttontype=1
clientcode=205
x=24
y=103
width=141
height=31
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Unmorph
activetext=
colour=0xffffff
colour2=0x000000
colourover=0xff0000
colour2over=0x000000
buttontext=
