// interface 376

[com_0]
type=6
buttontype=0
clientcode=0
x=241
y=160
width=32
height=32
trans=0
model=com_i4238
activemodel=-1
zoom=151
xan=509
yan=1536

[com_1]
type=6
buttontype=0
clientcode=0
x=235
y=150
width=32
height=32
trans=0
model=com_i4237
activemodel=-1
zoom=137
xan=493
yan=355

[com_2]
type=6
buttontype=0
clientcode=0
x=231
y=159
width=32
height=32
trans=0
model=com_i4239
activemodel=-1
zoom=150
xan=474
yan=32

[com_3]
type=6
buttontype=0
clientcode=0
x=232
y=157
width=32
height=32
trans=0
model=com_i4239
activemodel=-1
zoom=99
xan=474
yan=32

[com_4]
type=6
buttontype=0
clientcode=0
x=236
y=159
width=32
height=32
trans=0
model=com_i4239
activemodel=-1
zoom=307
xan=474
yan=32

[com_5]
type=6
buttontype=0
clientcode=0
x=236
y=159
width=32
height=32
trans=0
model=com_i4240
activemodel=-1
zoom=197
xan=159
yan=57

[com_6]
type=0
buttontype=0
clientcode=0
x=110
y=38
width=335
height=259
trans=0
scrollheight=0
hide=0

[com_7]
type=6
buttontype=0
clientcode=0
x=233
y=148
width=32
height=32
trans=0
model=com_i4240
activemodel=-1
zoom=127
xan=159
yan=57

[com_8]
type=6
buttontype=0
clientcode=0
x=74
y=-5
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=0
xan=0
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=37
y=57
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=353
yan=1927

[com_10]
type=6
buttontype=0
clientcode=0
x=29
y=131
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=328
yan=1916

[com_11]
type=6
buttontype=0
clientcode=0
x=55
y=199
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=311
yan=1735

[com_12]
type=6
buttontype=0
clientcode=0
x=301
y=117
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=361
yan=1883

[com_13]
type=6
buttontype=0
clientcode=0
x=271
y=193
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=360
yan=1905

[com_14]
type=6
buttontype=0
clientcode=0
x=241
y=-11
width=32
height=32
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=380
yan=1870

[com_15]
type=6
buttontype=0
clientcode=0
x=292
y=39
width=25
height=45
layer=com_6
trans=0
model=com_i2484
activemodel=-1
zoom=306
xan=351
yan=1844

[com_16]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=18
trans=0
graphic=539
activegraphic=-1

[com_17]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_18
trans=0
graphic=540
activegraphic=-1

[com_18]
type=0
buttontype=0
clientcode=0
x=470
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1
