// interface 377

[com_0]
type=6
buttontype=0
clientcode=0
x=372
y=14
width=32
height=32
trans=0
model=com_i8854
activemodel=-1
zoom=400
xan=247
yan=2030

[com_1]
type=6
buttontype=0
clientcode=0
x=456
y=19
width=32
height=32
trans=0
model=com_i8855
activemodel=-1
zoom=537
xan=236
yan=2046

[com_2]
type=4
buttontype=0
clientcode=0
x=131
y=2
width=29
height=12
layer=com_3
trans=0
scripts=14/907/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=%1 %
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=0
buttontype=0
clientcode=0
x=328
y=17
width=165
height=20
trans=0
scrollheight=0
hide=0

[com_4]
type=4
buttontype=0
clientcode=0
x=6
y=2
width=116
height=12
layer=com_3
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=<col=00ff00>* <col=ffff00>Tai Bwo Favour <col=00ff00>*
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
