// interface 378

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=765
height=503
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=0
clientcode=0
x=132
y=13
width=503
height=47
trans=0
graphic=436
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=29
y=74
width=343
height=90
trans=0
graphic=438
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=394
y=74
width=343
height=90
trans=0
graphic=438
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=394
y=183
width=343
height=90
trans=0
graphic=438
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=29
y=183
width=343
height=90
trans=0
graphic=438
activegraphic=-1

[com_6 play_runescape]
type=5
buttontype=1
clientcode=0
x=271
y=292
width=229
height=90
trans=0
graphic=429
activegraphic=-1
buttontext=Play RuneScape

[com_7]
type=5
buttontype=0
clientcode=0
x=398
y=78
width=79
height=82
trans=0
graphic=437
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=29
y=79
width=69
height=82
trans=0
graphic=432
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=398
y=188
width=77
height=82
trans=0
graphic=431
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=32
y=188
width=66
height=82
trans=0
graphic=430
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=276
y=295
width=66
height=83
trans=0
graphic=435
activegraphic=-1

[com_12]
type=4
buttontype=0
clientcode=0
x=150
y=17
width=467
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Welcome to RuneScape
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=150
y=39
width=467
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=97
y=74
width=275
height=90
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=0
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=478
y=98
width=257
height=42
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=99
y=183
width=273
height=90
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=344
y=292
width=156
height=90
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=CLICK HERE TO PLAY
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=476
y=183
width=261
height=90
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=8
buttontype=0
clientcode=0
x=394
y=74
width=343
height=90
trans=0
text=To view your messages:<br>1) Logout and return to the front page of this website.<br>2) Choose 'Profile & Settings' from the footer.<br>3) Log in and then select 'Messages'.

[com_20]
type=8
buttontype=0
clientcode=0
x=393
y=183
width=344
height=90
trans=0
text=

[com_21]
type=8
buttontype=0
clientcode=0
x=29
y=74
width=343
height=90
trans=0
text=

