// interface 381

[com_0]
fmt=v3
type=5
clientcode=0
x=15
y=0
width=25
height=25
layer=com_2
hide=0
graphic=439
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=1
y=26
width=52
height=6
layer=com_2
hide=0
font=495
text=
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xffff00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
ontimer=i:54

[com_2]
fmt=v3
type=0
clientcode=0
x=457
y=256
width=53
height=41
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
