// interface 382

[com_0]
fmt=v3
type=3
clientcode=0
x=78
y=28
width=373
height=243
hide=0
colour=0x000000
fill=1
trans=200
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=76
y=24
width=361
height=236
hide=0
graphic=297
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=57
y=53
width=32
height=202
hide=0
graphic=821
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=70
y=20
width=32
height=32
hide=0
graphic=824
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=424
y=51
width=32
height=205
hide=0
graphic=823
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=83
y=7
width=349
height=34
hide=0
graphic=820
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=86
y=245
width=341
height=32
hide=0
graphic=822
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=70
y=233
width=32
height=32
hide=0
graphic=826
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=412
y=20
width=32
height=32
hide=0
graphic=825
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=412
y=233
width=32
height=32
hide=0
graphic=827
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=80
y=35
width=358
height=32
hide=0
graphic=828
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=70
y=37
width=32
height=32
hide=0
graphic=829
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=412
y=37
width=32
height=32
hide=0
graphic=830
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=417
y=30
width=16
height=16
hide=0
graphic=831
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:832
onmouseleave=i:44,i:-2147483645,i:831
onclick=i:29

[com_14]
fmt=v3
type=6
clientcode=0
x=405
y=55
width=35
height=35
hide=0
model=com_i24206
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=6000
orthog=1
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=6
clientcode=0
x=77
y=57
width=35
height=35
hide=0
model=com_i24207
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=6000
orthog=1
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=6
clientcode=0
x=75
y=224
width=38
height=35
hide=0
model=com_i24207
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=6000
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=6
clientcode=0
x=406
y=226
width=32
height=32
hide=0
model=com_i24206
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=6000
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=5
clientcode=0
x=144
y=200
width=90
height=56
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Ok
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:834
onmouseleave=i:44,i:-2147483645,i:833

[com_19]
fmt=v3
type=5
clientcode=0
x=275
y=200
width=90
height=56
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:834
onmouseleave=i:44,i:-2147483645,i:833
onclick=i:29

[com_20]
fmt=v3
type=5
clientcode=0
x=196
y=28
width=19
height=19
hide=0
graphic=940
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=5
clientcode=0
x=302
y=28
width=19
height=19
hide=0
graphic=940
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=4
clientcode=0
x=186
y=30
width=146
height=19
hide=0
font=496
text=WARNING!
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xe19900
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=4
clientcode=0
x=107
y=50
width=300
height=144
hide=0
font=495
text=If you go any further you will enter the Wilderness. This is a very dangerous area where other players can attack you! The further north you go the more dangerous it becomes. An indicator at the bottom-right of the screen will show the current level of danger.
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff7d1f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=4
clientcode=0
x=144
y=201
width=90
height=55
hide=0
font=496
text=Enter Wilderness
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xc8c8c8
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=4
clientcode=0
x=274
y=200
width=91
height=56
hide=0
font=496
text=Don't go
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xc8c8c8
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=4
clientcode=0
x=28
y=3
width=227
height=15
layer=com_28
hide=0
font=495
text=Don't ask me this again
lineheight=0
halign=0
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=5
clientcode=0
x=3
y=1
width=19
height=19
layer=com_28
hide=0
graphic=941
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Off/On
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:164,i:25034779,i:7
onclick=i:163,i:25034779
onvartransmitlist=1045

[com_28]
fmt=v3
type=0
clientcode=0
x=159
y=175
width=255
height=20
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
