// interface 383

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=541
height=373
trans=24
fill=1
colour=0x53340c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10557
activemodel=-1
zoom=340
xan=249
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10425
activemodel=-1
zoom=340
xan=249
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=7
y=205
width=32
height=32
layer=com_6
trans=0
model=com_i10426
activemodel=-1
zoom=340
xan=249
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10422
activemodel=-1
zoom=340
xan=249
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=297
y=217
width=32
height=32
trans=0
model=com_i10416
activemodel=-1
zoom=400
xan=228
yan=2047

[com_6]
type=0
buttontype=0
clientcode=0
x=229
y=114
width=123
height=279
trans=0
scrollheight=0
hide=1

[com_7]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10427
activemodel=-1
zoom=340
xan=249
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=90
y=212
width=32
height=32
layer=com_9
trans=0
model=com_i10428
activemodel=-1
zoom=340
xan=249
yan=0

[com_9]
type=0
buttontype=0
clientcode=0
x=146
y=107
width=206
height=341
trans=0
scrollheight=0
hide=1

[com_10]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10414
activemodel=-1
zoom=340
xan=249
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=178
y=201
width=32
height=32
layer=com_12
trans=0
model=com_i10415
activemodel=-1
zoom=340
xan=249
yan=0

[com_12]
type=0
buttontype=0
clientcode=0
x=58
y=118
width=294
height=288
trans=0
scrollheight=0
hide=1

[com_13]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10423
activemodel=-1
zoom=340
xan=249
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=194
y=145
width=32
height=32
layer=com_15
trans=0
model=com_i10424
activemodel=-1
zoom=340
xan=249
yan=0

[com_15]
type=0
buttontype=0
clientcode=0
x=42
y=174
width=310
height=267
trans=0
scrollheight=0
hide=1

[com_16]
type=6
buttontype=0
clientcode=0
x=236
y=319
width=32
height=32
trans=0
model=com_i10412
activemodel=-1
zoom=340
xan=249
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=119
y=164
width=32
height=32
layer=com_18
trans=0
model=com_i10413
activemodel=-1
zoom=340
xan=249
yan=0

[com_18]
type=0
buttontype=0
clientcode=0
x=117
y=155
width=235
height=266
trans=0
scrollheight=0
hide=1

[com_19]
type=3
buttontype=1
clientcode=0
x=154
y=115
width=65
height=56
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Paint yellow

[com_20]
type=3
buttontype=1
clientcode=0
x=188
y=171
width=31
height=31
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Paint yellow

[com_21]
type=3
buttontype=1
clientcode=0
x=236
y=118
width=45
height=68
trans=255
fill=0
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Paint red

[com_22]
type=3
buttontype=1
clientcode=0
x=65
y=125
width=62
height=54
trans=255
fill=0
colour=0x00ff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Paint green

[com_23]
type=3
buttontype=1
clientcode=0
x=71
y=181
width=46
height=52
trans=255
fill=0
colour=0xff00ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Paint pink

[com_24]
type=3
buttontype=1
clientcode=0
x=127
y=175
width=61
height=49
trans=255
fill=0
colour=0x0000ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Paint blue

[com_25]
type=6
buttontype=0
clientcode=0
x=234
y=47
width=32
height=32
trans=0
model=com_i10094
activemodel=-1
zoom=656
xan=524
yan=0

[com_26]
type=4
buttontype=0
clientcode=0
x=189
y=54
width=122
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Pick a colour
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=6
buttontype=0
clientcode=0
x=68
y=103
width=32
height=32
layer=com_6
trans=0
model=com_i10420
activemodel=-1
zoom=400
xan=228
yan=2047

[com_28]
type=6
buttontype=0
clientcode=0
x=151
y=110
width=32
height=32
layer=com_9
trans=0
model=com_i10421
activemodel=-1
zoom=400
xan=228
yan=2047

[com_29]
type=6
buttontype=0
clientcode=0
x=239
y=99
width=32
height=32
layer=com_12
trans=0
model=com_i10418
activemodel=-1
zoom=400
xan=228
yan=2047

[com_30]
type=6
buttontype=0
clientcode=0
x=255
y=43
width=32
height=32
layer=com_15
trans=0
model=com_i10419
activemodel=-1
zoom=400
xan=228
yan=2047

[com_31]
type=6
buttontype=0
clientcode=0
x=180
y=62
width=32
height=32
layer=com_18
trans=0
model=com_i10417
activemodel=-1
zoom=400
xan=228
yan=2047

[com_32]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=34
trans=0
graphic=539
activegraphic=-1

[com_33]
type=5
buttontype=3
clientcode=0
x=2
y=3
width=26
height=23
layer=com_34
trans=0
graphic=540
activegraphic=-1

[com_34]
type=0
buttontype=0
clientcode=0
x=471
y=10
width=32
height=32
trans=0
scrollheight=0
hide=1
