// interface 384

[com_0]
type=6
buttontype=0
clientcode=0
x=220
y=137
width=32
height=32
trans=0
model=com_i4652
activemodel=-1
zoom=914
xan=481
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=88
y=44
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom1
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=88
y=60
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom2
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=88
y=76
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom3
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=88
y=92
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom4
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=88
y=108
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom5
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=88
y=124
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom6
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=88
y=140
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom7
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=88
y=156
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom8
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=88
y=172
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom9
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=88
y=188
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom10
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=88
y=204
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom11
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=88
y=220
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom12
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=88
y=236
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom13
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=88
y=252
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom14
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=88
y=268
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom15
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=88
y=284
width=335
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=wom16
activetext=
colour=0xf0bb5e
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=19
trans=0
graphic=539
activegraphic=-1

[com_18]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_19
trans=0
graphic=540
activegraphic=-1

[com_19]
type=0
buttontype=0
clientcode=0
x=470
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1
