// interface 385

[com_0]
type=6
buttontype=0
clientcode=0
x=234
y=133
width=54
height=37
trans=0
model=com_i9104
activemodel=-1
zoom=95
xan=436
yan=307
