// interface 387

[com_0]
type=5
buttontype=0
clientcode=0
x=78
y=39
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=78
y=68
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=78
y=105
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=78
y=146
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=22
y=118
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=22
y=154
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=134
y=118
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=134
y=154
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=48
y=81
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=107
y=81
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=58
y=42
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=112
y=41
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=78
y=4
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=37
y=43
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=78
y=43
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=119
y=43
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=22
y=82
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=78
y=82
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=134
y=82
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=78
y=122
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=78
y=162
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=22
y=162
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=134
y=162
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=41
y=238
width=9
height=9
trans=0
graphic=915
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=41
y=208
width=9
height=9
trans=0
graphic=913
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=72
y=238
width=9
height=9
trans=0
graphic=916
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=72
y=208
width=9
height=9
trans=0
graphic=914
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=50
y=208
width=9
height=9
trans=0
graphic=918
activegraphic=-1

[com_28]
type=2
buttontype=0
clientcode=0
x=24
y=44
width=3
height=5
trans=0
eventcode=0x1800000
marginx=24
marginy=8
bg0=56,-38,156
bg1=-41,1,157
bg2=-56,1,158
bg3=0,0,159
bg4=0,0,161
bg5=0,0,162
bg7=0,0,163
bg9=0,0,164
bg10=0,0,165
bg11=-55,40,-1
bg12=112,-40,160
bg13=41,-159,166
iop1=Remove
iop2=Operate
targetverb=
targetbase=

[com_29]
type=5
buttontype=0
clientcode=0
x=59
y=208
width=9
height=9
trans=0
graphic=918
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=63
y=208
width=9
height=9
trans=0
graphic=918
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=111
y=238
width=9
height=9
trans=0
graphic=915
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=111
y=208
width=9
height=9
trans=0
graphic=913
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=142
y=238
width=9
height=9
trans=0
graphic=916
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=142
y=208
width=9
height=9
trans=0
graphic=914
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=120
y=208
width=9
height=9
trans=0
graphic=918
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=50
y=238
width=9
height=9
trans=0
graphic=920
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=59
y=238
width=9
height=9
trans=0
graphic=920
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=64
y=238
width=9
height=9
trans=0
graphic=920
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=129
y=208
width=9
height=9
trans=0
graphic=918
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=133
y=208
width=9
height=9
trans=0
graphic=918
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=120
y=238
width=9
height=9
trans=0
graphic=920
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=129
y=238
width=9
height=9
trans=0
graphic=920
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=134
y=238
width=9
height=9
trans=0
graphic=920
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=41
y=217
width=9
height=9
trans=0
graphic=917
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=41
y=226
width=9
height=9
trans=0
graphic=917
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=41
y=229
width=9
height=9
trans=0
graphic=917
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=72
y=217
width=9
height=9
trans=0
graphic=919
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=72
y=226
width=9
height=9
trans=0
graphic=919
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=72
y=229
width=9
height=9
trans=0
graphic=919
activegraphic=-1

[com_50]
type=5
buttontype=1
clientcode=0
x=113
y=211
width=34
height=34
trans=0
graphic=912
activegraphic=-1
buttontext=Show Items Kept on Death

[com_51]
type=5
buttontype=1
clientcode=0
x=45
y=210
width=34
height=34
trans=0
graphic=675
activegraphic=-1
buttontext=Show Equipment Stats

[com_52]
type=5
buttontype=0
clientcode=0
x=111
y=217
width=9
height=9
trans=0
graphic=917
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=111
y=226
width=9
height=9
trans=0
graphic=917
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=111
y=229
width=9
height=9
trans=0
graphic=917
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=142
y=217
width=9
height=9
trans=0
graphic=919
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=142
y=226
width=9
height=9
trans=0
graphic=919
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=142
y=229
width=9
height=9
trans=0
graphic=919
activegraphic=-1

[com_58]
type=8
buttontype=0
clientcode=0
x=38
y=205
width=34
height=34
trans=0
text=Show Equipment Stats

[com_59]
type=8
buttontype=0
clientcode=0
x=123
y=204
width=34
height=34
trans=0
text=Show Items Kept on Death
