// interface 390

[com_0]
fmt=v3
type=6
clientcode=0
x=6
y=26
width=497
height=454
hide=0
model=com_i27488
modelxof=0
modelyof=0
xan=163
yan=2047
zan=0
zoom=583
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=5
y=25
width=497
height=454
hide=0
model=com_i27484
modelxof=0
modelyof=0
xan=163
yan=2047
zan=0
zoom=583
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=0
clientcode=0
x=106
y=-2
width=371
height=354
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=46
y=26
width=308
height=324
layer=com_2
hide=0
model=com_i27218
modelxof=0
modelyof=0
xan=519
yan=1534
zan=0
zoom=784
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=34
y=28
width=32
height=32
hide=0
model=com_i27223
modelxof=0
modelyof=0
xan=517
yan=1530
zan=0
zoom=3244
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=0
clientcode=0
x=427
y=34
width=16
height=275
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=4
clientcode=0
x=1
y=2
width=276
height=276
layer=com_7
hide=0
font=497
text=
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=0
clientcode=0
x=41
y=34
width=280
height=279
layer=com_2
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=4
clientcode=0
x=4
y=6
width=94
height=71
hide=0
font=497
text=Show riddle
lineheight=0
halign=1
valign=1
shadowed=0
colour=0xd2be64
eventcode=0x2
baseop=
op1=Show
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:45,i:-2147483645,i:13811300
onmouserepeat=i:45,i:-2147483645,i:14784543

[com_9]
fmt=v3
type=0
clientcode=0
x=23
y=117
width=54
height=56
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=0
clientcode=0
x=91
y=145
width=45
height=34
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=0
clientcode=0
x=144
y=141
width=32
height=37
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=0
clientcode=0
x=180
y=110
width=43
height=73
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=0
clientcode=0
x=230
y=143
width=40
height=32
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=0
clientcode=0
x=279
y=144
width=41
height=34
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=0
clientcode=0
x=340
y=118
width=42
height=61
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=0
clientcode=0
x=390
y=150
width=36
height=27
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onclick=i:67,i:25559041,i:27494

[com_17]
fmt=v3
type=0
clientcode=0
x=433
y=146
width=50
height=29
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=5
clientcode=0
x=479
y=7
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:542
onmouseleave=i:44,i:-2147483645,i:541
onop=i:29
