// interface 393

[com_0]
type=4
buttontype=1
clientcode=0
x=200
y=8
width=9
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=A
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_1]
type=4
buttontype=1
clientcode=0
x=232
y=8
width=11
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=B
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_2]
type=4
buttontype=1
clientcode=0
x=264
y=8
width=10
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=C
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_3]
type=4
buttontype=1
clientcode=0
x=296
y=8
width=13
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=D
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_4]
type=4
buttontype=1
clientcode=0
x=328
y=8
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=E
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_5]
type=4
buttontype=1
clientcode=0
x=360
y=8
width=10
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=F
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_6]
type=4
buttontype=1
clientcode=0
x=392
y=8
width=11
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=G
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_7]
type=4
buttontype=1
clientcode=0
x=424
y=8
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=H
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_8]
type=4
buttontype=1
clientcode=0
x=456
y=8
width=7
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=I
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_9]
type=4
buttontype=1
clientcode=0
x=216
y=28
width=8
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=J
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_10]
type=4
buttontype=1
clientcode=0
x=248
y=28
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=K
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_11]
type=4
buttontype=1
clientcode=0
x=280
y=28
width=9
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=L
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_12]
type=4
buttontype=1
clientcode=0
x=312
y=28
width=15
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=M
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_13]
type=4
buttontype=1
clientcode=0
x=344
y=28
width=14
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=N
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_14]
type=4
buttontype=1
clientcode=0
x=376
y=28
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=O
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_15]
type=4
buttontype=1
clientcode=0
x=408
y=28
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=P
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_16]
type=4
buttontype=1
clientcode=0
x=440
y=28
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=Q
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_17]
type=4
buttontype=1
clientcode=0
x=200
y=48
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=R
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_18]
type=4
buttontype=1
clientcode=0
x=232
y=48
width=9
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=S
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_19]
type=4
buttontype=1
clientcode=0
x=264
y=48
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=T
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_20]
type=4
buttontype=1
clientcode=0
x=296
y=48
width=11
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=U
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_21]
type=4
buttontype=1
clientcode=0
x=328
y=48
width=11
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=V
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_22]
type=4
buttontype=1
clientcode=0
x=360
y=48
width=16
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=W
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_23]
type=4
buttontype=1
clientcode=0
x=392
y=48
width=12
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=X
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_24]
type=4
buttontype=1
clientcode=0
x=424
y=48
width=11
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=Y
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_25]
type=4
buttontype=1
clientcode=0
x=456
y=48
width=10
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=Z
activetext=
colour=0xccccff
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_26]
type=5
buttontype=0
clientcode=0
x=405
y=64
width=72
height=36
trans=0
graphic=295
activegraphic=296

[com_27]
type=4
buttontype=1
clientcode=0
x=407
y=75
width=68
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=GUESS
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcc0000
colour2over=0x000000
buttontext=

[com_28]
type=4
buttontype=1
clientcode=0
x=24
y=40
width=4
height=2
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x0000ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_29]
type=4
buttontype=1
clientcode=0
x=24
y=8
width=145
height=17
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=__________
activetext=
colour=0x6633ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_30]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=465
height=17
layer=com_31
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=Enter up to five letters in any order then click 'guess' again.
activetext=
colour=0x6633ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=0
buttontype=0
clientcode=0
x=0
y=72
width=406
height=24
trans=0
scrollheight=0
hide=0
