// interface 397

[com_0]
type=3
buttontype=0
clientcode=0
x=-2
y=-3
width=568
height=369
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=0
clientcode=0
x=12
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=12
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=12
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=12
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=188
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=100
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=188
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=276
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=364
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=276
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=364
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=364
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=364
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=364
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=412
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=412
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=412
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=412
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=412
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=-3
y=85
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=-3
y=121
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=-3
y=157
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=-3
y=193
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=-3
y=229
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=-3
y=265
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=479
y=50
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=479
y=86
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=479
y=122
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=479
y=158
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=479
y=194
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=479
y=230
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=479
y=266
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=145
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=181
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=217
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=253
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=289
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=325
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=361
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=397
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=433
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=216
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=252
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=288
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=324
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=360
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=396
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=432
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=252
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=475
y=20
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=439
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=475
y=290
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=439
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=288
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=324
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=360
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=396
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=432
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=459
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=216
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_70]
type=0
buttontype=0
clientcode=0
x=32
y=80
width=250
height=222
trans=0
scrollheight=981
hide=0

[com_71]
type=6
buttontype=1
clientcode=0
x=10
y=109
width=49
height=34
layer=com_70
trans=0
model=com_i12409
activemodel=-1
zoom=2075
xan=202
yan=385
buttontext=

[com_72]
type=6
buttontype=1
clientcode=0
x=11
y=45
width=49
height=34
layer=com_70
trans=0
model=com_i12444
activemodel=-1
zoom=1643
xan=79
yan=1841
buttontext=

[com_73]
type=6
buttontype=1
clientcode=0
x=6
y=165
width=49
height=34
layer=com_70
trans=0
model=com_i12384
activemodel=-1
zoom=2282
xan=174
yan=1852
buttontext=

[com_74]
type=6
buttontype=1
clientcode=0
x=22
y=213
width=33
height=39
layer=com_70
trans=0
model=com_i12492
activemodel=-1
zoom=2626
xan=117
yan=1123
buttontext=

[com_75]
type=6
buttontype=1
clientcode=0
x=23
y=277
width=35
height=29
layer=com_70
trans=0
model=com_i12457
activemodel=-1
zoom=2985
xan=106
yan=714
buttontext=

[com_76]
type=6
buttontype=1
clientcode=0
x=17
y=344
width=32
height=32
layer=com_70
trans=0
model=com_i12405
activemodel=-1
zoom=1842
xan=152
yan=1827
buttontext=

[com_77]
type=6
buttontype=1
clientcode=0
x=19
y=405
width=32
height=32
layer=com_70
trans=0
model=com_i12393
activemodel=-1
zoom=3000
xan=100
yan=1831
buttontext=

[com_78]
type=6
buttontype=1
clientcode=0
x=20
y=462
width=32
height=32
layer=com_70
trans=0
model=com_i12466
activemodel=-1
zoom=2168
xan=151
yan=1869
buttontext=

[com_79]
type=6
buttontype=1
clientcode=0
x=20
y=530
width=31
height=28
layer=com_70
trans=0
model=com_i11125
activemodel=-1
zoom=2401
xan=127
yan=1831
buttontext=

[com_80]
type=6
buttontype=1
clientcode=0
x=13
y=583
width=38
height=41
layer=com_70
trans=0
model=com_i12972
activemodel=-1
zoom=2211
xan=152
yan=1937
buttontext=

[com_81]
type=6
buttontype=1
clientcode=0
x=13
y=650
width=38
height=29
layer=com_70
trans=0
model=com_i19002
activemodel=-1
zoom=2211
xan=24
yan=1808
buttontext=

[com_82]
type=6
buttontype=1
clientcode=0
x=13
y=763
width=38
height=41
layer=com_70
trans=0
model=com_i18994
activemodel=-1
zoom=2677
xan=86
yan=292
buttontext=

[com_83]
type=6
buttontype=1
clientcode=0
x=13
y=814
width=38
height=41
layer=com_70
trans=0
model=com_i19041
activemodel=-1
zoom=2677
xan=106
yan=1898
buttontext=

[com_84]
type=6
buttontype=1
clientcode=0
x=7
y=872
width=38
height=41
layer=com_70
trans=0
model=com_i19011
activemodel=-1
zoom=2277
xan=111
yan=1933
buttontext=

[com_85]
type=6
buttontype=1
clientcode=0
x=12
y=937
width=38
height=41
layer=com_70
trans=0
model=com_i19032
activemodel=-1
zoom=2277
xan=111
yan=1933
buttontext=

[com_86]
type=6
buttontype=1
clientcode=0
x=18
y=711
width=38
height=23
layer=com_70
trans=0
model=com_i19023
activemodel=-1
zoom=2977
xan=62
yan=238
buttontext=

[com_87]
type=3
buttontype=0
clientcode=0
x=32
y=80
width=267
height=222
trans=0
fill=0
colour=0x333333
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_88]
type=4
buttontype=0
clientcode=0
x=78
y=33
width=159
height=15
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Armchairs
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=4
buttontype=0
clientcode=0
x=78
y=93
width=159
height=17
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Bookcases
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_90]
type=4
buttontype=0
clientcode=0
x=78
y=154
width=159
height=15
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Beer Barrels
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_91]
type=4
buttontype=0
clientcode=0
x=78
y=214
width=159
height=16
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Kitchen Tables
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_92]
type=4
buttontype=0
clientcode=0
x=78
y=274
width=159
height=19
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Dining Tables
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_93]
type=4
buttontype=0
clientcode=0
x=78
y=334
width=160
height=17
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Dining Benches
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_94]
type=4
buttontype=0
clientcode=0
x=78
y=394
width=159
height=17
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Beds
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_95]
type=4
buttontype=0
clientcode=0
x=78
y=454
width=160
height=18
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Dressers
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_96]
type=4
buttontype=0
clientcode=0
x=78
y=513
width=160
height=16
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Wardrobes
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_97]
type=4
buttontype=0
clientcode=0
x=78
y=575
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Clocks
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_98]
type=4
buttontype=0
clientcode=0
x=78
y=634
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Cape Racks
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_99]
type=4
buttontype=0
clientcode=0
x=78
y=695
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Magic Wardrobes
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=78
y=755
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Armour cases 
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_101]
type=4
buttontype=0
clientcode=0
x=78
y=816
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Treasure trail chests
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_102]
type=4
buttontype=0
clientcode=0
x=78
y=878
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Fancy dress boxes 
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_103]
type=4
buttontype=0
clientcode=0
x=78
y=937
width=160
height=14
layer=com_70
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Toy boxes 
activetext=
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_104]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_105]
type=5
buttontype=0
clientcode=0
x=37
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_106]
type=5
buttontype=0
clientcode=0
x=17
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_107]
type=5
buttontype=0
clientcode=0
x=36
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_108]
type=5
buttontype=0
clientcode=0
x=-3
y=49
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_109]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_110]
type=3
buttontype=0
clientcode=0
x=20
y=-3
width=374
height=23
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_111]
type=3
buttontype=1
clientcode=0
x=2
y=8
width=238
height=61
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_112]
type=3
buttontype=1
clientcode=0
x=2
y=70
width=238
height=61
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_113]
type=3
buttontype=1
clientcode=0
x=2
y=132
width=238
height=61
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_114]
type=3
buttontype=1
clientcode=0
x=2
y=194
width=238
height=56
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_115]
type=3
buttontype=1
clientcode=0
x=2
y=251
width=238
height=61
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_116]
type=3
buttontype=1
clientcode=0
x=2
y=313
width=238
height=58
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_117]
type=3
buttontype=1
clientcode=0
x=2
y=372
width=238
height=61
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_118]
type=3
buttontype=1
clientcode=0
x=2
y=434
width=238
height=56
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_119]
type=3
buttontype=1
clientcode=0
x=2
y=491
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_120]
type=3
buttontype=1
clientcode=0
x=2
y=551
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_121]
type=3
buttontype=1
clientcode=0
x=2
y=611
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_122]
type=3
buttontype=1
clientcode=0
x=2
y=671
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_123]
type=3
buttontype=1
clientcode=0
x=2
y=731
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_124]
type=3
buttontype=1
clientcode=0
x=2
y=791
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_125]
type=3
buttontype=1
clientcode=0
x=2
y=851
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_126]
type=3
buttontype=1
clientcode=0
x=2
y=911
width=238
height=59
layer=com_70
trans=0
fill=0
colour=0x333300
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_127]
type=5
buttontype=0
clientcode=0
x=100
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_128]
type=4
buttontype=0
clientcode=0
x=21
y=60
width=380
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Select a piece of furniture to build
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_129]
type=5
buttontype=0
clientcode=0
x=108
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_130]
type=5
buttontype=0
clientcode=0
x=144
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_131]
type=5
buttontype=0
clientcode=0
x=72
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_132]
type=5
buttontype=0
clientcode=0
x=180
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_133]
type=4
buttontype=0
clientcode=0
x=51
y=30
width=408
height=13
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Furniture  Creation Menu
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_134]
type=5
buttontype=0
clientcode=0
x=72
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_135]
type=5
buttontype=0
clientcode=0
x=144
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_136]
type=5
buttontype=0
clientcode=0
x=108
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_137]
type=5
buttontype=0
clientcode=0
x=31
y=302
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_138]
type=5
buttontype=0
clientcode=0
x=180
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_139]
type=5
buttontype=0
clientcode=0
x=12
y=290
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_140]
type=5
buttontype=0
clientcode=0
x=37
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_141]
type=5
buttontype=0
clientcode=0
x=109
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_142]
type=5
buttontype=0
clientcode=0
x=73
y=299
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_143]
type=3
buttontype=0
clientcode=0
x=29
y=319
width=96
height=60
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_144]
type=5
buttontype=0
clientcode=0
x=470
y=26
width=26
height=23
overlayer=146
trans=0
graphic=535
activegraphic=-1

[com_145]
type=5
buttontype=3
clientcode=0
x=6
y=5
width=26
height=23
layer=com_146
trans=0
graphic=536
activegraphic=-1

[com_146]
type=0
buttontype=0
clientcode=0
x=464
y=21
width=32
height=32
trans=0
scrollheight=0
hide=1
