// interface 398

[com_0]
type=5
buttontype=0
clientcode=0
x=40
y=136
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_1]
type=5
buttontype=1
clientcode=0
x=104
y=90
width=36
height=36
trans=0
scriptcmp=1/0
scripts=5/261/0
graphic=170
activegraphic=179
buttontext=

[com_2]
type=4
buttontype=0
clientcode=0
x=104
y=90
width=36
height=36
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Off
activetext=
colour=0xff981f
colour2=0xffb359
colourover=0x000000
colour2over=0x000000

[com_3]
type=5
buttontype=0
clientcode=0
x=66
y=136
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_4]
type=5
buttontype=0
clientcode=0
x=92
y=136
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_5]
type=5
buttontype=0
clientcode=0
x=118
y=136
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_6]
type=5
buttontype=0
clientcode=0
x=144
y=136
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_7]
type=4
buttontype=0
clientcode=0
x=16
y=4
width=162
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=House Options
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=5
buttontype=0
clientcode=0
x=40
y=173
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_9]
type=5
buttontype=0
clientcode=0
x=66
y=173
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_10]
type=5
buttontype=0
clientcode=0
x=92
y=173
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_11]
type=5
buttontype=0
clientcode=0
x=118
y=173
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_12]
type=5
buttontype=0
clientcode=0
x=144
y=173
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_13]
type=5
buttontype=1
clientcode=0
x=10
y=173
width=170
height=36
trans=0
graphic=174
activegraphic=177
buttontext=

[com_14]
type=5
buttontype=1
clientcode=0
x=50
y=90
width=36
height=36
trans=0
scriptcmp=1/1
scripts=5/261/0
graphic=170
activegraphic=179
buttontext=

[com_15]
type=5
buttontype=1
clientcode=0
x=10
y=136
width=170
height=36
trans=0
graphic=174
activegraphic=177
buttontext=

[com_16]
type=4
buttontype=0
clientcode=0
x=10
y=183
width=170
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Leave House
activetext=
colour=0xff981f
colour2=0xffb359
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=10
y=70
width=170
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Building Mode
activetext=
colour=0xff981f
colour2=0xffb359
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=10
y=148
width=170
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Expel Guests
activetext=
colour=0xff981f
colour2=0xffb359
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=50
y=90
width=36
height=36
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=On
activetext=
colour=0xff981f
colour2=0xffb359
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=10
y=216
width=170
height=14
trans=0
scripts=5/262/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Number Of Rooms: %1
activetext=
colour=0xff981f
colour2=0xffb359
colourover=0x000000
colour2over=0x000000

[com_21]
type=5
buttontype=0
clientcode=0
x=163
y=17
width=26
height=23
overlayer=23
trans=0
graphic=535
activegraphic=-1

[com_22]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_23
trans=0
graphic=536
activegraphic=-1

[com_23]
type=0
buttontype=0
clientcode=0
x=160
y=13
width=32
height=32
trans=0
scrollheight=0
hide=1
