// interface 4

[com_0]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
model=com_i6555
activemodel=-1
zoom=400
xan=437
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/454/0
model=-1
activemodel=com_i6557
zoom=400
xan=437
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/454/0
model=-1
activemodel=com_i6559
zoom=400
xan=437
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/454/0
model=-1
activemodel=com_i6560
zoom=400
xan=437
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/454/0
model=-1
activemodel=com_i6561
zoom=400
xan=437
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/454/0
model=-1
activemodel=com_i6562
zoom=400
xan=437
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/454/0
model=-1
activemodel=com_i6563
zoom=400
xan=437
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/454/0
model=-1
activemodel=com_i6564
zoom=400
xan=437
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/454/0
model=-1
activemodel=com_i6565
zoom=400
xan=437
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/454/0
model=-1
activemodel=com_i6566
zoom=400
xan=437
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=61
y=83
width=32
height=32
trans=0
scriptcmp=1/10
scripts=14/454/0
model=-1
activemodel=com_i6558
zoom=400
xan=437
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=64
y=173
width=32
height=32
trans=0
model=com_i6556
activemodel=-1
zoom=400
xan=468
yan=2045

[com_12]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=1/1
scripts=14/455/0
model=-1
activemodel=com_i6545
zoom=400
xan=468
yan=2045

[com_13]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/1 2/4
scripts=14/455/0
model=-1
activemodel=com_i6547
zoom=400
xan=468
yan=2045

[com_14]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/3 2/7
scripts=14/455/0
model=-1
activemodel=com_i6548
zoom=400
xan=468
yan=2045

[com_15]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/6 2/11
scripts=14/455/0
model=-1
activemodel=com_i6549
zoom=400
xan=468
yan=2045

[com_16]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/10 2/16
scripts=14/455/0
model=-1
activemodel=com_i6550
zoom=400
xan=468
yan=2045

[com_17]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/15 2/22
scripts=14/455/0
model=-1
activemodel=com_i6551
zoom=400
xan=468
yan=2045

[com_18]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/21 2/29
scripts=14/455/0
model=-1
activemodel=com_i6552
zoom=400
xan=468
yan=2045

[com_19]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/28 2/37
scripts=14/455/0
model=-1
activemodel=com_i6553
zoom=400
xan=468
yan=2045

[com_20]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/36 2/46
scripts=14/455/0
model=-1
activemodel=com_i6554
zoom=400
xan=468
yan=2045

[com_21]
type=6
buttontype=0
clientcode=0
x=65
y=173
width=31
height=32
trans=0
scriptcmp=3/45
scripts=14/455/0
model=-1
activemodel=com_i6546
zoom=400
xan=468
yan=2045

[com_22]
type=4
buttontype=0
clientcode=0
x=8
y=129
width=136
height=17
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Water Collected
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=34
y=45
width=85
height=14
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Time Left
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=6
buttontype=0
clientcode=0
x=120
y=211
width=32
height=32
trans=0
model=com_i6544
activemodel=-1
zoom=400
xan=409
yan=97

[com_25]
type=4
buttontype=0
clientcode=0
x=126
y=216
width=17
height=14
trans=0
scripts=14/455/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=0
buttontype=0
clientcode=0
x=4
y=60
width=145
height=190
trans=0
scrollheight=0
hide=0
