// interface 400

[com_0]
type=6
buttontype=0
clientcode=0
x=16
y=22
width=473
height=298
trans=0
model=com_i15194
activemodel=-1
zoom=300
xan=514
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=241
y=151
width=32
height=32
trans=0
model=com_i15195
activemodel=-1
zoom=430
xan=514
yan=0

[com_2]
type=6
buttontype=1
clientcode=0
x=297
y=135
width=69
height=67
trans=0
scriptcmp=2/2
scripts=5/261/0
model=com_i15178
activemodel=com_i15177
zoom=200
xan=514
yan=0
buttontext=Ardougne Teleport

[com_3]
type=6
buttontype=1
clientcode=0
x=381
y=136
width=71
height=66
trans=0
scriptcmp=1/0
scripts=5/262/0
model=com_i15180
activemodel=com_i15179
zoom=200
xan=514
yan=0
buttontext=Bones to Bananas

[com_4]
type=6
buttontype=1
clientcode=0
x=381
y=217
width=70
height=69
trans=0
scriptcmp=2/3
scripts=5/262/0
model=com_i15182
activemodel=com_i15181
zoom=200
xan=514
yan=0
buttontext=Bones to Peaches

[com_5]
type=6
buttontype=1
clientcode=0
x=298
y=217
width=67
height=67
trans=0
scriptcmp=2/2
scripts=5/261/0
model=com_i15184
activemodel=com_i15183
zoom=200
xan=514
yan=0
buttontext=Camelot Teleport

[com_6]
type=6
buttontype=1
clientcode=0
x=214
y=53
width=66
height=68
trans=0
scriptcmp=2/2
scripts=5/262/0
model=com_i15186
activemodel=com_i15185
zoom=200
xan=514
yan=0
buttontext=Enchant Diamond

[com_7]
type=6
buttontype=1
clientcode=0
x=48
y=214
width=66
height=68
trans=0
scriptcmp=2/3
scripts=5/262/0
model=com_i15188
activemodel=com_i15185
zoom=200
xan=514
yan=0
buttontext=Enchant Dragonstone

[com_8]
type=6
buttontype=1
clientcode=0
x=49
y=132
width=66
height=66
trans=0
scriptcmp=1/0
scripts=5/262/0
model=com_i15189
activemodel=com_i15185
zoom=200
xan=514
yan=0
buttontext=Enchant Emerald

[com_9]
type=6
buttontype=1
clientcode=0
x=50
y=51
width=66
height=67
trans=0
scriptcmp=2/3
scripts=5/262/0
model=com_i15190
activemodel=com_i15185
zoom=200
xan=514
yan=0
buttontext=Enchant Onyx

[com_10]
type=6
buttontype=1
clientcode=0
x=130
y=214
width=67
height=68
trans=0
scriptcmp=2/2
scripts=5/262/0
model=com_i15191
activemodel=com_i15185
zoom=200
xan=514
yan=0
buttontext=Enchant Ruby

[com_11]
type=6
buttontype=1
clientcode=0
x=131
y=134
width=67
height=67
trans=0
model=com_i15192
activemodel=com_i15185
zoom=200
xan=514
yan=0
buttontext=Enchant Sapphire

[com_12]
type=6
buttontype=1
clientcode=0
x=214
y=133
width=67
height=67
trans=0
scriptcmp=1/0
scripts=5/261/0
model=com_i15193
activemodel=com_i15187
zoom=200
xan=514
yan=0
buttontext=Falador Teleport

[com_13]
type=6
buttontype=1
clientcode=0
x=132
y=52
width=66
height=67
trans=0
scriptcmp=2/1
scripts=5/261/0
model=com_i15197
activemodel=com_i15196
zoom=200
xan=514
yan=0
buttontext=Lumbridge Teleport

[com_14]
type=6
buttontype=1
clientcode=0
x=383
y=54
width=69
height=69
trans=0
scriptcmp=2/3
scripts=5/261/0
model=com_i15201
activemodel=com_i15200
zoom=200
xan=514
yan=0
buttontext=Teleport to house

[com_15]
type=6
buttontype=1
clientcode=0
x=215
y=215
width=65
height=68
trans=0
model=com_i15203
activemodel=com_i15202
zoom=200
xan=514
yan=0
buttontext=Varrock Teleport

[com_16]
type=6
buttontype=1
clientcode=0
x=298
y=54
width=69
height=66
trans=0
scriptcmp=2/3
scripts=5/261/0
model=com_i15205
activemodel=com_i15204
zoom=200
xan=514
yan=0
buttontext=Watchtower teleport

[com_17]
type=5
buttontype=0
clientcode=0
x=487
y=4
width=26
height=23
overlayer=19
trans=0
graphic=535
activegraphic=-1

[com_18]
type=5
buttontype=3
clientcode=0
x=5
y=5
width=26
height=23
layer=com_19
trans=0
graphic=536
activegraphic=-1

[com_19]
type=0
buttontype=0
clientcode=0
x=482
y=-1
width=32
height=32
trans=0
scrollheight=0
hide=1
