// interface 401

[com_0]
type=6
buttontype=0
clientcode=0
x=186
y=306
width=32
height=32
trans=0
model=com_i18879
activemodel=-1
zoom=1360
xan=512
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=186
y=284
width=32
height=32
trans=0
model=com_i18879
activemodel=-1
zoom=1360
xan=512
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=186
y=261
width=32
height=32
trans=0
model=com_i18878
activemodel=-1
zoom=1360
xan=512
yan=0

[com_3]
type=4
buttontype=0
clientcode=0
x=22
y=269
width=88
height=18
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=PLAYER 
activetext=
colour=0xd1b47f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=22
y=293
width=106
height=16
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=SHOTS
activetext=
colour=0xd1b47f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=22
y=315
width=115
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=SCORE
activetext=
colour=0xd1b47f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=167
y=272
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=251
y=272
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=332
y=272
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=415
y=272
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=167
y=293
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=251
y=294
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=332
y=292
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=415
y=294
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=167
y=316
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=251
y=317
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=332
y=314
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=415
y=315
width=6
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=167
y=258
width=5
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=
activetext=
colour=0xcc0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=251
y=258
width=5
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=
activetext=
colour=0xcc0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=332
y=258
width=5
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=
activetext=
colour=0xcc0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=415
y=258
width=5
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=
activetext=
colour=0xcc0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=20
y=241
width=6
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=0
text=
activetext=
colour=0xbbaf35
colour2=0x000000
colourover=0x000000
colour2over=0x000000
