// interface 405

[com_0]
type=6
buttontype=0
clientcode=0
x=369
y=424
width=32
height=32
trans=0
model=com_i9630
activemodel=-1
zoom=692
xan=512
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=190
y=431
width=400
height=40
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=190
y=411
width=400
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Message of the week
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=65
y=461
width=32
height=32
trans=0
model=com_i15274
activemodel=-1
zoom=1583
xan=129
yan=1261

[com_4]
type=6
buttontype=0
clientcode=0
x=673
y=462
width=32
height=32
trans=0
model=com_i15275
activemodel=-1
zoom=1552
xan=135
yan=1786
