// interface 407

[com_0]
type=3
buttontype=0
clientcode=0
x=499
y=315
width=10
height=14
layer=com_10
trans=35
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=3
buttontype=0
clientcode=0
x=489
y=315
width=10
height=14
layer=com_10
trans=50
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=3
buttontype=0
clientcode=0
x=479
y=315
width=10
height=14
layer=com_10
trans=75
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=3
buttontype=0
clientcode=0
x=469
y=315
width=10
height=14
layer=com_10
trans=90
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=3
buttontype=0
clientcode=0
x=459
y=315
width=10
height=14
layer=com_10
trans=105
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=3
buttontype=0
clientcode=0
x=449
y=315
width=10
height=14
layer=com_10
trans=120
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=3
buttontype=0
clientcode=0
x=439
y=315
width=10
height=14
layer=com_10
trans=135
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=3
buttontype=0
clientcode=0
x=429
y=315
width=10
height=14
layer=com_10
trans=150
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=3
buttontype=0
clientcode=0
x=419
y=315
width=10
height=14
layer=com_10
trans=165
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=3
buttontype=0
clientcode=0
x=409
y=315
width=10
height=14
layer=com_10
trans=180
fill=1
colour=0x503800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=0
buttontype=0
clientcode=0
x=1
y=0
width=510
height=334
trans=0
scrollheight=0
hide=0

[com_11]
type=4
buttontype=0
clientcode=0
x=14
y=23
width=251
height=17
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Next Departure: 5 min
activetext=
colour=0xcccccc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=14
y=40
width=251
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Players Ready: 5
activetext=
colour=0x59d231
colour2=0xc31a0b
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=14
y=57
width=249
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=(Need 5 to 25 players)
activetext=
colour=0xded36a
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=14
y=73
width=249
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Points:pest_points
activetext=
colour=0x99ffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=6
buttontype=0
clientcode=0
x=466
y=311
width=32
height=32
trans=0
model=com_i27182
activemodel=-1
zoom=1296
xan=1972
yan=132

[com_16]
type=4
buttontype=0
clientcode=0
x=400
y=313
width=109
height=16
trans=0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=eeeeeeeeeeeeee
activetext=
colour=0xff9966
colour2=0x000000
colourover=0x000000
colour2over=0x000000
