// interface 408

[com_0]
type=4
buttontype=0
clientcode=0
x=5
y=87
width=87
height=13
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=%1 Min
activetext=
colour=0xcccccc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=29
y=32
width=29
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=%100
activetext=
colour=0x5ebb29
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=6
buttontype=0
clientcode=0
x=350
y=39
width=32
height=32
trans=0
model=com_i15285
activemodel=-1
zoom=5000
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=387
y=39
width=32
height=32
trans=0
model=com_i15286
activemodel=-1
zoom=5000
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=425
y=39
width=32
height=32
trans=0
model=com_i15287
activemodel=-1
zoom=5000
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=463
y=39
width=32
height=32
trans=0
model=com_i15288
activemodel=-1
zoom=5000
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=0
y=76
width=32
height=32
trans=0
model=com_i15289
activemodel=-1
zoom=1800
xan=3
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=350
y=24
width=32
height=32
trans=0
scriptcmp=3/0
scripts=14/2226/0
model=-1
activemodel=com_i4856
zoom=3000
xan=540
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=387
y=24
width=32
height=32
trans=0
scriptcmp=3/0
scripts=14/2227/0
model=-1
activemodel=com_i4856
zoom=3000
xan=540
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=425
y=24
width=32
height=32
trans=0
scriptcmp=3/0
scripts=14/2228/0
model=-1
activemodel=com_i4856
zoom=3000
xan=546
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=463
y=24
width=32
height=32
trans=0
scriptcmp=3/0
scripts=14/2229/0
model=-1
activemodel=com_i4856
zoom=3000
xan=540
yan=0

[com_11]
type=4
buttontype=0
clientcode=0
x=29
y=60
width=7
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=0
activetext=
colour=0x8b1313
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=6
buttontype=0
clientcode=0
x=0
y=49
width=32
height=32
trans=0
model=com_i15284
activemodel=-1
zoom=2056
xan=579
yan=0

[com_13]
type=4
buttontype=0
clientcode=0
x=356
y=10
width=18
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=100
activetext=
colour=0xff00ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=393
y=10
width=18
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=100
activetext=
colour=0x6666ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=431
y=10
width=18
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=100
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=470
y=10
width=18
height=12
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=100
activetext=
colour=0xff3333
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_18
trans=0
model=com_i27167
activemodel=-1
zoom=3500
xan=0
yan=0

[com_18]
type=0
buttontype=0
clientcode=0
x=350
y=46
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_19]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_20
trans=0
model=com_i27167
activemodel=-1
zoom=3500
xan=0
yan=0

[com_20]
type=0
buttontype=0
clientcode=0
x=387
y=46
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_21]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_22
trans=0
model=com_i27167
activemodel=-1
zoom=3500
xan=0
yan=0

[com_22]
type=0
buttontype=0
clientcode=0
x=425
y=46
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_23]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_24
trans=0
model=com_i27167
activemodel=-1
zoom=3500
xan=0
yan=0

[com_24]
type=0
buttontype=0
clientcode=0
x=463
y=46
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_25]
type=4
buttontype=0
clientcode=0
x=361
y=60
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=W
activetext=
colour=0xff00ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=399
y=60
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=E
activetext=
colour=0x6666ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=433
y=60
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=SE
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=470
y=60
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=SW
activetext=
colour=0xff3333
colour2=0x000000
colourover=0x000000
colour2over=0x000000
