// interface 41

[com_0]
type=5
buttontype=0
clientcode=0
x=90
y=61
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=91
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=89
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=87
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=90
y=213
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=100
y=63
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=188
y=64
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=102
y=216
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=276
y=60
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=188
y=213
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=326
y=82
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=276
y=213
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=326
y=142
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=325
y=62
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=325
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=325
y=214
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=85
y=58
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=70
y=88
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=70
y=124
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=70
y=160
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=70
y=196
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=70
y=224
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=394
y=84
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=394
y=106
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=394
y=140
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=394
y=176
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=394
y=212
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=110
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=146
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=182
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=218
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=254
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=290
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=326
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=362
y=257
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=218
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=254
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=289
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=325
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=357
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=264
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=182
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=85
y=248
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=390
y=58
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=390
y=248
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=300
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=336
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=372
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=377
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=228
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=192
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=156
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=89
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=123
y=69
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=110
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=146
y=43
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_65]
type=0
buttontype=0
clientcode=0
x=308
y=197
width=78
height=42
trans=0
scrollheight=0
hide=0

[com_66]
type=4
buttontype=0
clientcode=0
x=97
y=65
width=310
height=16
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Runesquares: Options
activetext=
colour=0xffaa44
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_67]
type=3
buttontype=1
clientcode=0
x=6
y=6
width=66
height=31
layer=com_65
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Challenge player

[com_68]
type=4
buttontype=0
clientcode=0
x=6
y=5
width=66
height=32
layer=com_65
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Challenge
activetext=
colour=0x008000
colour2=0x000000
colourover=0x00ff00
colour2over=0x000000

[com_69]
type=5
buttontype=0
clientcode=0
x=21
y=-15
width=36
height=36
layer=com_65
trans=0
graphic=314
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=0
y=0
width=25
height=30
layer=com_65
trans=0
graphic=310
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=53
y=0
width=25
height=30
layer=com_65
trans=0
graphic=311
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=0
y=13
width=25
height=30
layer=com_65
trans=0
graphic=312
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=53
y=13
width=25
height=30
layer=com_65
trans=0
graphic=313
activegraphic=-1

[com_74]
type=5
buttontype=0
clientcode=0
x=21
y=22
width=36
height=36
layer=com_65
trans=0
graphic=173
activegraphic=-1

[com_75]
type=4
buttontype=5
clientcode=0
x=327
y=134
width=80
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=30 seconds
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Select option

[com_76]
type=5
buttontype=5
clientcode=0
x=306
y=134
width=14
height=15
trans=0
scriptcmp=1/1
scripts=14/49/0
graphic=180
activegraphic=181
buttontext=Select option

[com_77]
type=0
buttontype=0
clientcode=0
x=296
y=94
width=113
height=94
trans=0
scrollheight=0
hide=0

[com_78]
type=5
buttontype=5
clientcode=0
x=10
y=60
width=14
height=15
layer=com_77
trans=0
scriptcmp=1/2
scripts=14/49/0
graphic=180
activegraphic=181
buttontext=Select option

[com_79]
type=5
buttontype=5
clientcode=0
x=10
y=80
width=14
height=15
layer=com_77
trans=0
scriptcmp=1/3
scripts=14/49/0
graphic=180
activegraphic=181
buttontext=Select option

[com_80]
type=5
buttontype=5
clientcode=0
x=10
y=20
width=14
height=15
layer=com_77
trans=0
scriptcmp=1/0
scripts=14/49/0
graphic=180
activegraphic=181
buttontext=Select option

[com_81]
type=4
buttontype=5
clientcode=0
x=32
y=60
width=80
height=14
layer=com_77
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=1 minute
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Select option

[com_82]
type=4
buttontype=5
clientcode=0
x=32
y=80
width=80
height=14
layer=com_77
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=2 minutes
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Select option

[com_83]
type=4
buttontype=5
clientcode=0
x=32
y=20
width=79
height=14
layer=com_77
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=15 seconds
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Select option

[com_84]
type=4
buttontype=0
clientcode=0
x=11
y=1
width=101
height=15
layer=com_77
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Time per move:
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_85]
type=0
buttontype=0
clientcode=0
x=97
y=89
width=191
height=179
trans=0
scrollheight=0
hide=0

[com_86]
type=5
buttontype=5
clientcode=0
x=10
y=34
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/1
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_87]
type=6
buttontype=5
clientcode=0
x=29
y=25
width=34
height=32
layer=com_85
trans=0
model=com_i2399
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_88]
type=4
buttontype=0
clientcode=0
x=10
y=3
width=178
height=16
layer=com_85
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Choose piece:
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=6
buttontype=5
clientcode=0
x=29
y=65
width=34
height=32
layer=com_85
trans=0
model=com_i2652
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_90]
type=6
buttontype=5
clientcode=0
x=29
y=105
width=34
height=32
layer=com_85
trans=0
model=com_i2737
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_91]
type=6
buttontype=5
clientcode=0
x=29
y=145
width=34
height=32
layer=com_85
trans=0
model=com_i2405
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_92]
type=6
buttontype=5
clientcode=0
x=92
y=25
width=34
height=32
layer=com_85
trans=0
model=com_i2481
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_93]
type=6
buttontype=5
clientcode=0
x=92
y=65
width=34
height=32
layer=com_85
trans=0
model=com_i2340
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_94]
type=6
buttontype=5
clientcode=0
x=92
y=105
width=34
height=32
layer=com_85
trans=0
model=com_i2734
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_95]
type=6
buttontype=5
clientcode=0
x=92
y=145
width=34
height=32
layer=com_85
trans=0
model=com_i2707
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_96]
type=6
buttontype=5
clientcode=0
x=155
y=24
width=34
height=32
layer=com_85
trans=0
model=com_i2382
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_97]
type=6
buttontype=5
clientcode=0
x=155
y=65
width=34
height=31
layer=com_85
trans=0
model=com_i2735
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_98]
type=6
buttontype=5
clientcode=0
x=155
y=105
width=34
height=32
layer=com_85
trans=0
model=com_i2665
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_99]
type=6
buttontype=5
clientcode=0
x=155
y=145
width=34
height=32
layer=com_85
trans=0
model=com_i2434
activemodel=-1
zoom=622
xan=452
yan=1024
buttontext=Select piece

[com_100]
type=5
buttontype=5
clientcode=0
x=10
y=74
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/2
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_101]
type=5
buttontype=5
clientcode=0
x=10
y=114
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/3
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_102]
type=5
buttontype=5
clientcode=0
x=10
y=154
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/4
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_103]
type=5
buttontype=5
clientcode=0
x=73
y=34
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/5
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_104]
type=5
buttontype=5
clientcode=0
x=73
y=74
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/6
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_105]
type=5
buttontype=5
clientcode=0
x=73
y=114
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/7
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_106]
type=5
buttontype=5
clientcode=0
x=73
y=154
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/8
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_107]
type=5
buttontype=5
clientcode=0
x=136
y=34
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/9
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_108]
type=5
buttontype=5
clientcode=0
x=136
y=74
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/10
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_109]
type=5
buttontype=5
clientcode=0
x=136
y=114
width=15
height=15
layer=com_85
trans=0
scriptcmp=1/11
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_110]
type=5
buttontype=5
clientcode=0
x=136
y=154
width=14
height=15
layer=com_85
trans=0
scriptcmp=1/12
scripts=14/50/0
graphic=180
activegraphic=181
buttontext=Select piece

[com_111]
type=4
buttontype=1
clientcode=0
x=329
y=248
width=66
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Ranked
activetext=
colour=0xaa8822
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Select option

[com_112]
type=5
buttontype=4
clientcode=0
x=307
y=248
width=14
height=15
trans=0
scriptcmp=1/1
scripts=14/68/0
graphic=180
activegraphic=181
buttontext=Select option

[com_113]
type=5
buttontype=0
clientcode=0
x=388
y=62
width=26
height=23
overlayer=115
trans=0
graphic=535
activegraphic=-1

[com_114]
type=5
buttontype=3
clientcode=0
x=3
y=2
width=26
height=23
layer=com_115
trans=0
graphic=536
activegraphic=-1

[com_115]
type=0
buttontype=0
clientcode=0
x=385
y=60
width=32
height=32
trans=0
scrollheight=0
hide=1
