// interface 413

[com_0]
type=6
buttontype=0
clientcode=0
x=241
y=145
width=32
height=32
trans=0
model=com_i15705
activemodel=-1
zoom=400
xan=514
yan=0
