// interface 414

[com_0]
type=6
buttontype=0
clientcode=0
x=242
y=165
width=32
height=32
trans=0
model=com_i9853
activemodel=-1
zoom=800
xan=514
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=388
y=180
width=32
height=32
trans=0
model=com_i15665
activemodel=-1
zoom=400
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=94
y=180
width=32
height=32
trans=0
model=com_i15664
activemodel=-1
zoom=400
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=401
y=264
width=32
height=32
trans=0
model=com_i15719
activemodel=-1
zoom=400
xan=514
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=357
y=259
width=32
height=32
trans=0
model=com_i15720
activemodel=-1
zoom=400
xan=514
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=331
y=236
width=32
height=32
trans=0
model=com_i15721
activemodel=-1
zoom=400
xan=514
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=177
y=256
width=32
height=32
trans=0
model=com_i15719
activemodel=-1
zoom=400
xan=514
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=129
y=249
width=32
height=32
trans=0
model=com_i15720
activemodel=-1
zoom=400
xan=514
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=151
y=232
width=32
height=32
trans=0
model=com_i15721
activemodel=-1
zoom=400
xan=514
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=327
y=262
width=32
height=32
trans=0
model=com_i15719
activemodel=-1
zoom=400
xan=514
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=94
y=264
width=32
height=32
trans=0
model=com_i15720
activemodel=-1
zoom=400
xan=514
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=289
y=247
width=32
height=32
trans=0
model=com_i15721
activemodel=-1
zoom=400
xan=514
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=136
y=265
width=32
height=32
trans=0
model=com_i15719
activemodel=-1
zoom=600
xan=514
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=259
y=261
width=32
height=32
trans=0
model=com_i15720
activemodel=-1
zoom=400
xan=514
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=194
y=253
width=32
height=32
trans=0
model=com_i15721
activemodel=-1
zoom=400
xan=514
yan=918

[com_15]
type=6
buttontype=0
clientcode=0
x=429
y=265
width=32
height=32
trans=0
model=com_i15720
activemodel=-1
zoom=400
xan=514
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=41
y=259
width=32
height=32
trans=0
model=com_i15721
activemodel=-1
zoom=400
xan=514
yan=883

[com_17]
type=6
buttontype=0
clientcode=0
x=154
y=266
width=32
height=32
trans=0
model=com_i15719
activemodel=-1
zoom=600
xan=514
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=234
y=261
width=32
height=32
trans=0
model=com_i15719
activemodel=-1
zoom=600
xan=514
yan=0

[com_19]
type=4
buttontype=0
clientcode=0
x=65
y=59
width=382
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Congratulations!  Your team won!
activetext=
colour=0x333308
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=171
y=96
width=170
height=34
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=The final score was:
activetext=
colour=0x333308
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=172
y=163
width=168
height=51
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=You were awarded 999 Pieces of Eight!
activetext=
colour=0x333308
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=213
y=131
width=16
height=14
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=99
activetext=
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=277
y=131
width=16
height=14
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=99
activetext=
colour=0x0000ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=253
y=132
width=4
height=14
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=:
activetext=
colour=0x333308
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=177
y=200
width=158
height=28
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x333308
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=5
buttontype=0
clientcode=0
x=482
y=5
width=26
height=23
overlayer=28
trans=0
graphic=539
activegraphic=-1

[com_27]
type=5
buttontype=3
clientcode=0
x=2
y=3
width=26
height=23
layer=com_28
trans=0
graphic=540
activegraphic=-1

[com_28]
type=0
buttontype=0
clientcode=0
x=480
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
