// interface 415

[com_0]
type=0
buttontype=0
clientcode=0
x=2
y=86
width=76
height=113
trans=0
scrollheight=0
hide=0

[com_1]
type=6
buttontype=0
clientcode=0
x=14
y=18
width=32
height=32
layer=com_0
trans=0
model=com_i15694
activemodel=-1
zoom=360
xan=515
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=15
y=50
width=32
height=32
layer=com_0
trans=0
model=com_i15695
activemodel=-1
zoom=600
xan=534
yan=2047

[com_3]
type=6
buttontype=0
clientcode=0
x=17
y=90
width=32
height=32
layer=com_0
trans=0
model=com_i15688
activemodel=-1
zoom=1007
xan=531
yan=2041

[com_4]
type=4
buttontype=0
clientcode=0
x=62
y=25
width=9
height=14
layer=com_0
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=62
y=60
width=9
height=14
layer=com_0
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=62
y=94
width=9
height=14
layer=com_0
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=0
buttontype=0
clientcode=0
x=16
y=84
width=33
height=35
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=2
y=24
width=32
height=32
layer=com_7
trans=0
model=com_i15693
activemodel=-1
zoom=400
xan=327
yan=3

[com_9]
type=0
buttontype=0
clientcode=0
x=15
y=122
width=36
height=28
trans=0
scrollheight=0
hide=1

[com_10]
type=6
buttontype=0
clientcode=0
x=3
y=10
width=32
height=46
layer=com_9
trans=0
model=com_i15693
activemodel=-1
zoom=400
xan=327
yan=3

[com_11]
type=0
buttontype=0
clientcode=0
x=14
y=160
width=39
height=31
trans=0
scrollheight=0
hide=1

[com_12]
type=6
buttontype=0
clientcode=0
x=3
y=-31
width=35
height=131
layer=com_11
trans=0
model=com_i15693
activemodel=-1
zoom=400
xan=327
yan=3

[com_13]
type=0
buttontype=0
clientcode=0
x=8
y=28
width=498
height=52
trans=0
scrollheight=0
hide=0

[com_14]
type=6
buttontype=0
clientcode=0
x=168
y=37
width=32
height=32
trans=0
model=com_i15666
activemodel=-1
zoom=700
xan=348
yan=15

[com_15]
type=6
buttontype=0
clientcode=0
x=214
y=38
width=32
height=32
trans=0
model=com_i15703
activemodel=-1
zoom=700
xan=405
yan=42

[com_16]
type=6
buttontype=0
clientcode=0
x=263
y=46
width=32
height=32
trans=0
model=com_i15689
activemodel=com_i15667
zoom=600
xan=444
yan=3

[com_17]
type=6
buttontype=0
clientcode=0
x=310
y=35
width=32
height=32
trans=0
model=com_i15699
activemodel=-1
zoom=790
xan=483
yan=18

[com_18]
type=6
buttontype=0
clientcode=0
x=358
y=40
width=32
height=32
trans=0
model=com_i15659
activemodel=-1
zoom=700
xan=390
yan=30

[com_19]
type=6
buttontype=0
clientcode=0
x=17
y=38
width=32
height=32
trans=0
model=com_i15677
activemodel=-1
zoom=700
xan=402
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=68
y=38
width=32
height=32
trans=0
model=com_i15679
activemodel=-1
zoom=700
xan=402
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=117
y=38
width=32
height=32
trans=0
model=com_i15681
activemodel=-1
zoom=700
xan=402
yan=0

[com_22]
type=0
buttontype=0
clientcode=0
x=154
y=24
width=56
height=56
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=14
y=14
width=32
height=32
layer=com_22
trans=0
model=com_i15669
activemodel=-1
zoom=700
xan=348
yan=15

[com_24]
type=0
buttontype=0
clientcode=0
x=206
y=29
width=53
height=50
trans=0
scrollheight=0
hide=1

[com_25]
type=6
buttontype=0
clientcode=0
x=8
y=10
width=32
height=32
layer=com_24
trans=0
model=com_i15704
activemodel=-1
zoom=700
xan=405
yan=42

[com_26]
type=0
buttontype=0
clientcode=0
x=298
y=30
width=54
height=50
trans=0
scrollheight=0
hide=1

[com_27]
type=6
buttontype=0
clientcode=0
x=12
y=5
width=32
height=32
layer=com_26
trans=0
model=com_i15700
activemodel=-1
zoom=790
xan=483
yan=18

[com_28]
type=0
buttontype=0
clientcode=0
x=349
y=31
width=52
height=48
trans=0
scrollheight=0
hide=1

[com_29]
type=6
buttontype=0
clientcode=0
x=10
y=8
width=32
height=32
layer=com_28
trans=0
model=com_i15667
activemodel=-1
zoom=700
xan=390
yan=30

[com_30]
type=0
buttontype=0
clientcode=0
x=6
y=25
width=52
height=54
trans=0
scrollheight=0
hide=1

[com_31]
type=6
buttontype=0
clientcode=0
x=11
y=14
width=32
height=32
layer=com_30
trans=0
model=com_i15678
activemodel=-1
zoom=700
xan=402
yan=0

[com_32]
type=0
buttontype=0
clientcode=0
x=49
y=25
width=63
height=55
trans=0
scrollheight=0
hide=1

[com_33]
type=6
buttontype=0
clientcode=0
x=19
y=13
width=32
height=32
layer=com_32
trans=0
model=com_i15680
activemodel=-1
zoom=700
xan=402
yan=0

[com_34]
type=0
buttontype=0
clientcode=0
x=102
y=25
width=57
height=55
trans=0
scrollheight=0
hide=1

[com_35]
type=6
buttontype=0
clientcode=0
x=16
y=13
width=32
height=32
layer=com_34
trans=0
model=com_i15682
activemodel=-1
zoom=700
xan=402
yan=0

[com_36]
type=0
buttontype=0
clientcode=0
x=250
y=27
width=54
height=53
overlayer=0
trans=0
scrollheight=0
hide=1

[com_37]
type=6
buttontype=0
clientcode=0
x=13
y=20
width=32
height=32
layer=com_36
trans=0
model=com_i15690
activemodel=com_i15667
zoom=600
xan=444
yan=3

[com_38]
type=0
buttontype=0
clientcode=0
x=299
y=28
width=52
height=50
overlayer=26
trans=0
scrollheight=0
hide=1

[com_39]
type=6
buttontype=0
clientcode=0
x=11
y=7
width=32
height=32
layer=com_38
trans=0
model=com_i15673
activemodel=-1
zoom=790
xan=483
yan=18

[com_40]
type=0
buttontype=0
clientcode=0
x=298
y=30
width=54
height=50
trans=0
scrollheight=0
hide=1

[com_41]
type=6
buttontype=0
clientcode=0
x=12
y=6
width=32
height=32
layer=com_40
trans=0
model=com_i15674
activemodel=-1
zoom=790
xan=483
yan=18

[com_42]
type=0
buttontype=0
clientcode=0
x=329
y=263
width=184
height=73
trans=0
scrollheight=0
hide=0

[com_43]
type=6
buttontype=0
clientcode=0
x=409
y=276
width=32
height=32
trans=0
model=com_i10119
activemodel=-1
zoom=912
xan=288
yan=2029

[com_44]
type=4
buttontype=0
clientcode=0
x=400
y=288
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=0
text=0
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=435
y=287
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=0
text=0
activetext=
colour=0x0000cc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=0
buttontype=0
clientcode=0
x=420
y=13
width=69
height=68
trans=0
scrollheight=0
hide=0

[com_47]
type=6
buttontype=0
clientcode=0
x=19
y=22
width=32
height=32
layer=com_46
trans=0
model=com_i15696
activemodel=-1
zoom=850
xan=468
yan=0

[com_48]
type=0
buttontype=0
clientcode=0
x=420
y=13
width=69
height=68
trans=0
scrollheight=0
hide=1

[com_49]
type=6
buttontype=0
clientcode=0
x=19
y=22
width=32
height=32
layer=com_48
trans=0
model=com_i15670
activemodel=-1
zoom=850
xan=468
yan=0

[com_50]
type=0
buttontype=0
clientcode=0
x=420
y=13
width=69
height=68
trans=0
scrollheight=0
hide=1

[com_51]
type=6
buttontype=0
clientcode=0
x=19
y=22
width=32
height=32
layer=com_50
trans=0
model=com_i15723
activemodel=-1
anim=4262
zoom=850
xan=468
yan=0

[com_52]
type=0
buttontype=0
clientcode=0
x=420
y=13
width=69
height=68
trans=0
scrollheight=0
hide=1

[com_53]
type=6
buttontype=0
clientcode=0
x=19
y=22
width=32
height=32
layer=com_52
trans=0
model=com_i15722
activemodel=-1
anim=4262
zoom=850
xan=468
yan=0

[com_54]
type=0
buttontype=0
clientcode=0
x=420
y=13
width=69
height=68
trans=0
scrollheight=0
hide=1

[com_55]
type=6
buttontype=0
clientcode=0
x=19
y=22
width=32
height=32
layer=com_54
trans=0
model=com_i15698
activemodel=-1
anim=4262
zoom=850
xan=468
yan=0

[com_56]
type=0
buttontype=0
clientcode=0
x=420
y=13
width=69
height=68
trans=0
scrollheight=0
hide=1

[com_57]
type=6
buttontype=0
clientcode=0
x=19
y=22
width=32
height=32
layer=com_56
trans=0
model=com_i15668
activemodel=-1
anim=4262
zoom=656
xan=468
yan=0

[com_58]
type=4
buttontype=0
clientcode=0
x=29
y=23
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_59]
type=4
buttontype=0
clientcode=0
x=80
y=23
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_60]
type=4
buttontype=0
clientcode=0
x=129
y=23
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_61]
type=4
buttontype=0
clientcode=0
x=180
y=23
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_62]
type=4
buttontype=0
clientcode=0
x=225
y=23
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_63]
type=4
buttontype=0
clientcode=0
x=276
y=23
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_64]
type=4
buttontype=0
clientcode=0
x=322
y=24
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_65]
type=4
buttontype=0
clientcode=0
x=371
y=24
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0x910000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_66]
type=4
buttontype=0
clientcode=0
x=33
y=2
width=120
height=14
layer=com_42
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Current Score
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_67]
type=4
buttontype=0
clientcode=0
x=358
y=310
width=141
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Time Left : 20 Mins
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
