// interface 418

[com_0]
type=0
buttontype=0
clientcode=0
x=331
y=270
width=183
height=66
trans=0
scrollheight=0
hide=0

[com_1]
type=6
buttontype=0
clientcode=0
x=390
y=272
width=32
height=32
trans=0
model=com_i10119
activemodel=-1
zoom=784
xan=321
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=390
y=291
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=0
text=0
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=413
y=291
width=9
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=0
text=0
activetext=
colour=0x0000cc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=323
y=312
width=155
height=18
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Next Game In :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=348
y=274
width=116
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Players waiting
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
