// interface 421

[com_0]
type=0
buttontype=0
clientcode=0
x=9
y=5
width=447
height=81
trans=0
scrollheight=200
hide=0

[com_1]
type=4
buttontype=0
clientcode=0
x=0
y=0
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line1
activetext=
colour=0x0000ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=0
y=16
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line2
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=0
y=32
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line3
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=0
y=48
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line4
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=0
y=64
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line5
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=0
y=80
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line6
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=0
y=96
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line7
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=0
y=112
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line8
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=0
y=128
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line9
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=0
y=144
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line10
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=0
y=160
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line11
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=0
y=176
width=447
height=17
layer=com_0
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Line12
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
