// interface 423

[com_0]
type=6
buttontype=0
clientcode=0
x=258
y=159
width=32
height=32
trans=0
model=com_i16050
activemodel=-1
zoom=179
xan=0
yan=2047

[com_1]
type=4
buttontype=0
clientcode=0
x=120
y=98
width=276
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Certificate of Advanced Healing
activetext=
colour=0xeb9a2f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=120
y=115
width=276
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=From PoxStead College.
activetext=
colour=0xeb9a2f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=209
y=192
width=193
height=41
trans=0
halign=1
valign=0
lineheight=14
font=494
shadowed=1
text=Signed Dr Foster-MMD, PRD <br> Head of<br>Magical Healing.
activetext=
colour=0xeb9a2f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=5
buttontype=0
clientcode=0
x=480
y=7
width=23
height=23
overlayer=6
trans=0
graphic=539
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=4
y=5
width=23
height=23
layer=com_6
trans=0
graphic=540
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=476
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
