// interface 424

[com_0]
type=6
buttontype=0
clientcode=0
x=216
y=169
width=45
height=16
trans=0
model=com_i16051
activemodel=-1
zoom=126
xan=0
yan=0

[com_1]
type=5
buttontype=0
clientcode=0
x=482
y=1
width=26
height=23
overlayer=3
trans=0
graphic=541
activegraphic=-1

[com_2]
type=5
buttontype=3
clientcode=0
x=3
y=1
width=26
height=23
layer=com_3
trans=0
graphic=542
activegraphic=-1

[com_3]
type=0
buttontype=0
clientcode=0
x=479
y=0
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_4]
type=4
buttontype=0
clientcode=0
x=239
y=37
width=32
height=32
trans=0
halign=1
valign=0
lineheight=29
font=647
shadowed=1
text=THE GODFATHER<br>ATTACKED US.<br> WE HAVE<br>FLED TO SAFETY.<br> IF YOU ARE LOYAL TO <br> HER MAJESTY, FIND<br>US BY USING<br>COORDINATES<br>AIR DLR DJQ AJS
activetext=
colour=0x989686
colour2=0x000000
colourover=0x000000
colour2over=0x000000
