// interface 425

[com_0]
type=6
buttontype=0
clientcode=0
x=244
y=160
width=32
height=32
trans=0
model=com_i16067
activemodel=-1
zoom=266
xan=0
yan=2047

[com_1]
type=4
buttontype=0
clientcode=0
x=114
y=70
width=285
height=206
trans=0
halign=1
valign=1
lineheight=0
font=648
shadowed=1
text=COSMIC<br>RUNEe<br>ALTAR
activetext=
colour=0xcccccc
colour2=0x666666
colourover=0x000000
colour2over=0x000000

[com_2]
type=5
buttontype=0
clientcode=0
x=461
y=21
width=26
height=23
overlayer=4
trans=0
graphic=541
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_4
trans=0
graphic=542
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=457
y=17
width=32
height=32
overlayer=4
trans=0
scrollheight=0
hide=1
