// interface 426

[com_0]
type=3
buttontype=0
clientcode=0
x=-2
y=0
width=514
height=334
trans=0
fill=1
colour=0x404640
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=72
y=150
width=32
height=32
trans=0
model=com_i16240
activemodel=-1
zoom=1000
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=242
y=150
width=32
height=32
trans=0
model=com_i16240
activemodel=-1
zoom=1000
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=409
y=150
width=32
height=32
trans=0
model=com_i16240
activemodel=-1
zoom=1000
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_16
trans=0
model=com_i16242
activemodel=-1
zoom=1000
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_16
trans=0
model=com_i16246
activemodel=-1
zoom=1000
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_16
trans=0
model=com_i16250
activemodel=-1
zoom=1000
xan=0
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_16
trans=0
model=com_i16254
activemodel=-1
zoom=1000
xan=0
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_20
trans=0
model=com_i16258
activemodel=-1
zoom=1000
xan=0
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_20
trans=0
model=com_i16262
activemodel=-1
zoom=1000
xan=0
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_20
trans=0
model=com_i16266
activemodel=-1
zoom=1000
xan=0
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_20
trans=0
model=com_i16270
activemodel=-1
zoom=1000
xan=0
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_24
trans=0
model=com_i16274
activemodel=-1
zoom=1000
xan=0
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_24
trans=0
model=com_i16278
activemodel=-1
zoom=1000
xan=0
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_24
trans=0
model=com_i16235
activemodel=-1
zoom=1000
xan=0
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_24
trans=0
model=com_i16282
activemodel=-1
zoom=1000
xan=0
yan=0

[com_16]
type=0
buttontype=0
clientcode=0
x=2
y=89
width=169
height=160
trans=0
scrollheight=0
hide=0

[com_17]
type=0
buttontype=0
clientcode=0
x=2
y=89
width=169
height=160
trans=0
scrollheight=0
hide=0

[com_18]
type=0
buttontype=0
clientcode=0
x=2
y=89
width=169
height=160
trans=0
scrollheight=0
hide=0

[com_19]
type=0
buttontype=0
clientcode=0
x=2
y=89
width=169
height=160
trans=0
scrollheight=0
hide=0

[com_20]
type=0
buttontype=0
clientcode=0
x=171
y=89
width=169
height=160
trans=0
scrollheight=0
hide=1

[com_21]
type=0
buttontype=0
clientcode=0
x=171
y=89
width=169
height=160
trans=0
scrollheight=0
hide=1

[com_22]
type=0
buttontype=0
clientcode=0
x=171
y=89
width=169
height=160
trans=0
scrollheight=0
hide=1

[com_23]
type=0
buttontype=0
clientcode=0
x=171
y=89
width=169
height=160
trans=0
scrollheight=0
hide=0

[com_24]
type=0
buttontype=0
clientcode=0
x=340
y=89
width=169
height=160
trans=0
scrollheight=0
hide=1

[com_25]
type=0
buttontype=0
clientcode=0
x=340
y=89
width=169
height=160
trans=0
scrollheight=0
hide=1

[com_26]
type=0
buttontype=0
clientcode=0
x=340
y=89
width=169
height=160
trans=0
scrollheight=0
hide=1

[com_27]
type=0
buttontype=0
clientcode=0
x=340
y=89
width=169
height=160
trans=0
scrollheight=0
hide=0

[com_28]
type=6
buttontype=0
clientcode=0
x=242
y=157
width=32
height=32
trans=0
model=com_i16236
activemodel=-1
zoom=1000
xan=1952
yan=0

[com_29]
type=5
buttontype=0
clientcode=0
x=455
y=21
width=23
height=23
overlayer=73
trans=0
graphic=539
activegraphic=-1

[com_30]
type=6
buttontype=0
clientcode=0
x=242
y=34
width=32
height=32
trans=0
model=com_i10119
activemodel=-1
zoom=680
xan=514
yan=0

[com_31]
type=4
buttontype=0
clientcode=0
x=186
y=27
width=142
height=45
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Choose a combination
activetext=
colour=0x402000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=6
buttontype=0
clientcode=0
x=242
y=265
width=32
height=32
trans=0
model=com_i10119
activemodel=-1
zoom=600
xan=514
yan=0

[com_33]
type=4
buttontype=1
clientcode=0
x=172
y=254
width=169
height=53
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Teleport to this location
activetext=
colour=0x402000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_34]
type=3
buttontype=1
clientcode=0
x=3
y=90
width=167
height=158
trans=255
fill=0
colour=0xff0000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Rotate-clockwise

[com_35]
type=3
buttontype=1
clientcode=0
x=172
y=90
width=167
height=158
trans=255
fill=0
colour=0x00ff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Rotate-clockwise

[com_36]
type=3
buttontype=1
clientcode=0
x=341
y=90
width=167
height=158
trans=255
fill=0
colour=0x0000ff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Rotate-clockwise

[com_37]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_17
trans=0
model=com_i16245
activemodel=-1
zoom=1000
xan=0
yan=0

[com_38]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_17
trans=0
model=com_i16249
activemodel=-1
zoom=1000
xan=0
yan=0

[com_39]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_17
trans=0
model=com_i16253
activemodel=-1
zoom=1000
xan=0
yan=0

[com_40]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_17
trans=0
model=com_i16257
activemodel=-1
zoom=1000
xan=0
yan=0

[com_41]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_18
trans=0
model=com_i16243
activemodel=-1
zoom=1000
xan=0
yan=0

[com_42]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_18
trans=0
model=com_i16247
activemodel=-1
zoom=1000
xan=0
yan=0

[com_43]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_18
trans=0
model=com_i16251
activemodel=-1
zoom=1000
xan=0
yan=0

[com_44]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_18
trans=0
model=com_i16255
activemodel=-1
zoom=1000
xan=0
yan=0

[com_45]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_19
trans=0
model=com_i16244
activemodel=-1
zoom=1000
xan=0
yan=0

[com_46]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_19
trans=0
model=com_i16248
activemodel=-1
zoom=1000
xan=0
yan=0

[com_47]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_19
trans=0
model=com_i16252
activemodel=-1
zoom=1000
xan=0
yan=0

[com_48]
type=6
buttontype=0
clientcode=0
x=70
y=61
width=32
height=32
layer=com_19
trans=0
model=com_i16256
activemodel=-1
zoom=1000
xan=0
yan=0

[com_49]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_21
trans=0
model=com_i16261
activemodel=-1
zoom=1000
xan=0
yan=0

[com_50]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_21
trans=0
model=com_i16265
activemodel=-1
zoom=1000
xan=0
yan=0

[com_51]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_21
trans=0
model=com_i16269
activemodel=-1
zoom=1000
xan=0
yan=0

[com_52]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_21
trans=0
model=com_i16273
activemodel=-1
zoom=1000
xan=0
yan=0

[com_53]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_22
trans=0
model=com_i16259
activemodel=-1
zoom=1000
xan=0
yan=0

[com_54]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_22
trans=0
model=com_i16263
activemodel=-1
zoom=1000
xan=0
yan=0

[com_55]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_22
trans=0
model=com_i16267
activemodel=-1
zoom=1000
xan=0
yan=0

[com_56]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_22
trans=0
model=com_i16271
activemodel=-1
zoom=1000
xan=0
yan=0

[com_57]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_23
trans=0
model=com_i16260
activemodel=-1
zoom=1000
xan=0
yan=0

[com_58]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_23
trans=0
model=com_i16264
activemodel=-1
zoom=1000
xan=0
yan=0

[com_59]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_23
trans=0
model=com_i16268
activemodel=-1
zoom=1000
xan=0
yan=0

[com_60]
type=6
buttontype=0
clientcode=0
x=71
y=61
width=32
height=32
layer=com_23
trans=0
model=com_i16272
activemodel=-1
zoom=1000
xan=0
yan=0

[com_61]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_25
trans=0
model=com_i16277
activemodel=-1
zoom=1000
xan=0
yan=0

[com_62]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_25
trans=0
model=com_i16281
activemodel=-1
zoom=1000
xan=0
yan=0

[com_63]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_25
trans=0
model=com_i16239
activemodel=-1
zoom=1000
xan=0
yan=0

[com_64]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_25
trans=0
model=com_i16285
activemodel=-1
zoom=1000
xan=0
yan=0

[com_65]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_26
trans=0
model=com_i16275
activemodel=-1
zoom=1000
xan=0
yan=0

[com_66]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_26
trans=0
model=com_i16279
activemodel=-1
zoom=1000
xan=0
yan=0

[com_67]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_26
trans=0
model=com_i16237
activemodel=-1
zoom=1000
xan=0
yan=0

[com_68]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_26
trans=0
model=com_i16283
activemodel=-1
zoom=1000
xan=0
yan=0

[com_69]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_27
trans=0
model=com_i16276
activemodel=-1
zoom=1000
xan=0
yan=0

[com_70]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_27
trans=0
model=com_i16280
activemodel=-1
zoom=1000
xan=0
yan=0

[com_71]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_27
trans=0
model=com_i16238
activemodel=-1
zoom=1000
xan=0
yan=0

[com_72]
type=6
buttontype=0
clientcode=0
x=69
y=61
width=32
height=32
layer=com_27
trans=0
model=com_i16284
activemodel=-1
zoom=1000
xan=0
yan=0

[com_73]
type=0
buttontype=0
clientcode=0
x=450
y=17
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_74]
type=5
buttontype=3
clientcode=0
x=5
y=4
width=23
height=23
layer=com_73
trans=0
graphic=540
activegraphic=-1
