// interface 427

[com_0]
type=6
buttontype=0
clientcode=0
x=238
y=168
width=46
height=32
trans=0
model=com_i9853
activemodel=-1
zoom=800
xan=490
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=81
y=89
width=344
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=I (insert full name here) do hereby swear fealty   
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=82
y=113
width=344
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=and indebtedness to the Fairy Godfather until
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=82
y=137
width=295
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=such time as he releases me from my bond.
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=82
y=160
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=82
y=182
width=44
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Signed
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=82
y=204
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=82
y=226
width=214
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=(insert full name and date here)
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=82
y=249
width=340
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x362407
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=5
buttontype=0
clientcode=0
x=421
y=52
width=26
height=23
overlayer=11
trans=0
graphic=537
activegraphic=-1

[com_10]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_11
trans=0
graphic=538
activegraphic=-1

[com_11]
type=0
buttontype=0
clientcode=0
x=417
y=48
width=32
height=32
trans=0
scrollheight=0
hide=1
