// interface 429

[com_0]
fmt=v3
type=5
clientcode=0
x=12
y=20
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=12
y=80
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=12
y=140
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=12
y=200
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=12
y=260
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=100
y=20
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=100
y=80
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=100
y=140
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=100
y=200
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=188
y=20
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=100
y=260
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=188
y=80
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=188
y=140
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=188
y=200
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=5
clientcode=0
x=188
y=260
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=5
clientcode=0
x=276
y=20
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=5
clientcode=0
x=364
y=80
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=5
clientcode=0
x=276
y=80
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=5
clientcode=0
x=276
y=140
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=5
clientcode=0
x=276
y=200
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=5
clientcode=0
x=276
y=260
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=5
clientcode=0
x=364
y=140
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=5
clientcode=0
x=364
y=20
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=5
clientcode=0
x=364
y=200
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=5
clientcode=0
x=364
y=260
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=5
clientcode=0
x=412
y=20
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=5
clientcode=0
x=412
y=80
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=5
clientcode=0
x=412
y=140
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=5
clientcode=0
x=-3
y=49
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=5
clientcode=0
x=412
y=200
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=5
clientcode=0
x=412
y=260
width=88
height=60
hide=0
graphic=297
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=5
clientcode=0
x=12
y=20
width=25
height=30
hide=0
graphic=310
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_32]
fmt=v3
type=5
clientcode=0
x=-3
y=85
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=5
clientcode=0
x=-3
y=121
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=5
clientcode=0
x=-3
y=157
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=5
clientcode=0
x=-3
y=193
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_36]
fmt=v3
type=5
clientcode=0
x=-3
y=229
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=5
clientcode=0
x=-3
y=265
width=36
height=36
hide=0
graphic=172
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=5
clientcode=0
x=479
y=50
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=5
clientcode=0
x=479
y=86
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_40]
fmt=v3
type=5
clientcode=0
x=479
y=122
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=5
clientcode=0
x=479
y=158
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_42]
fmt=v3
type=5
clientcode=0
x=479
y=194
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=5
clientcode=0
x=479
y=230
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_44]
fmt=v3
type=5
clientcode=0
x=479
y=266
width=36
height=36
hide=0
graphic=315
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=5
clientcode=0
x=73
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_46]
fmt=v3
type=5
clientcode=0
x=109
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_47]
fmt=v3
type=5
clientcode=0
x=145
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_48]
fmt=v3
type=5
clientcode=0
x=181
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_49]
fmt=v3
type=5
clientcode=0
x=217
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_50]
fmt=v3
type=5
clientcode=0
x=253
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_51]
fmt=v3
type=5
clientcode=0
x=289
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_52]
fmt=v3
type=5
clientcode=0
x=325
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_53]
fmt=v3
type=5
clientcode=0
x=361
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_54]
fmt=v3
type=5
clientcode=0
x=397
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=5
clientcode=0
x=433
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_56]
fmt=v3
type=5
clientcode=0
x=72
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_57]
fmt=v3
type=5
clientcode=0
x=108
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_58]
fmt=v3
type=5
clientcode=0
x=144
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_59]
fmt=v3
type=5
clientcode=0
x=180
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_60]
fmt=v3
type=5
clientcode=0
x=216
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_61]
fmt=v3
type=5
clientcode=0
x=252
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_62]
fmt=v3
type=5
clientcode=0
x=288
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_63]
fmt=v3
type=5
clientcode=0
x=324
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_64]
fmt=v3
type=5
clientcode=0
x=360
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_65]
fmt=v3
type=5
clientcode=0
x=396
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_66]
fmt=v3
type=5
clientcode=0
x=432
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_67]
fmt=v3
type=5
clientcode=0
x=37
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_68]
fmt=v3
type=5
clientcode=0
x=37
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_69]
fmt=v3
type=5
clientcode=0
x=12
y=295
width=25
height=30
hide=0
graphic=312
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_70]
fmt=v3
type=5
clientcode=0
x=475
y=20
width=25
height=30
hide=0
graphic=311
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_71]
fmt=v3
type=5
clientcode=0
x=439
y=5
width=36
height=36
hide=0
graphic=314
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_72]
fmt=v3
type=5
clientcode=0
x=475
y=295
width=25
height=30
hide=0
graphic=313
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_73]
fmt=v3
type=5
clientcode=0
x=439
y=304
width=36
height=36
hide=0
graphic=173
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_74]
fmt=v3
type=6
clientcode=0
x=40
y=110
width=32
height=32
hide=0
model=com_i16802
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1307
orthog=0
eventcode=0x2
baseop=
op1=Honest Jimmy
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_75]
fmt=v3
type=6
clientcode=0
x=118
y=111
width=32
height=32
hide=0
model=com_i16808
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1240
orthog=0
eventcode=0x2
baseop=
op1=Bert the Sandman
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_76]
fmt=v3
type=6
clientcode=0
x=193
y=111
width=32
height=32
hide=0
model=com_i16800
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1307
orthog=0
eventcode=0x2
baseop=
op1=Advisor Ghrim
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_77]
fmt=v3
type=6
clientcode=0
x=271
y=111
width=32
height=32
hide=0
model=com_i16810
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1307
orthog=0
eventcode=0x2
baseop=
op1=Turael
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_78]
fmt=v3
type=6
clientcode=0
x=350
y=111
width=32
height=32
hide=0
model=com_i16804
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1307
orthog=0
eventcode=0x2
baseop=
op1=Lanthus
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_79]
fmt=v3
type=6
clientcode=0
x=425
y=110
width=32
height=32
hide=0
model=com_i16811
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1307
orthog=0
eventcode=0x2
baseop=
op1=Mazchna
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_80]
fmt=v3
type=6
clientcode=0
x=39
y=221
width=32
height=32
hide=0
model=com_i16817
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1200
orthog=0
eventcode=0x2
baseop=
op1=Duradel
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_81]
fmt=v3
type=6
clientcode=0
x=118
y=221
width=32
height=32
hide=0
model=com_i16813
modelxof=0
modelyof=0
xan=36
yan=0
zan=0
zoom=1200
orthog=0
eventcode=0x2
baseop=
op1=Vannaka
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_82]
fmt=v3
type=6
clientcode=0
x=196
y=222
width=32
height=32
hide=0
model=com_i16806
modelxof=0
modelyof=0
xan=3
yan=69
zan=0
zoom=1200
orthog=0
eventcode=0x2
baseop=
op1=Murphy
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_83]
fmt=v3
type=6
clientcode=0
x=271
y=222
width=32
height=32
hide=0
model=com_i16815
modelxof=0
modelyof=0
xan=21
yan=126
zan=0
zoom=1200
orthog=0
eventcode=0x2
baseop=
op1=Chaeldar
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_84]
fmt=v3
type=6
clientcode=0
x=352
y=221
width=32
height=32
hide=0
model=com_i24978
modelxof=0
modelyof=0
xan=3
yan=1930
zan=0
zoom=1210
orthog=0
eventcode=0x2
baseop=
op1=Cyrisus
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_85]
fmt=v3
type=6
clientcode=0
x=431
y=221
width=32
height=32
hide=0
model=com_i24991
modelxof=0
modelyof=0
xan=60
yan=1918
zan=0
zoom=1307
orthog=0
eventcode=0x2
baseop=
op1=Random
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_86]
fmt=v3
type=4
clientcode=0
x=21
y=150
width=64
height=32
hide=0
font=495
text=Honest<br>Jimmy
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Honest Jimmy
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_87]
fmt=v3
type=4
clientcode=0
x=101
y=151
width=65
height=31
hide=0
font=495
text=Bert the<br>Sandman
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Bert the Sandman
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_88]
fmt=v3
type=4
clientcode=0
x=178
y=151
width=67
height=31
hide=0
font=495
text=Advisor<br>Ghrim
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Advisor Ghrim
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_89]
fmt=v3
type=4
clientcode=0
x=261
y=151
width=51
height=31
hide=0
font=495
text=Turael
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Turael
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_90]
fmt=v3
type=4
clientcode=0
x=337
y=151
width=57
height=31
hide=0
font=495
text=Lanthus
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Lanthus
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_91]
fmt=v3
type=4
clientcode=0
x=409
y=151
width=65
height=31
hide=0
font=495
text=Mazchna
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Mazchna
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_92]
fmt=v3
type=4
clientcode=0
x=22
y=266
width=63
height=26
hide=0
font=495
text=Duradel
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Duradel
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_93]
fmt=v3
type=4
clientcode=0
x=105
y=266
width=61
height=26
hide=0
font=495
text=Vannaka
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Vannake
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_94]
fmt=v3
type=4
clientcode=0
x=178
y=266
width=68
height=26
hide=0
font=495
text=Murphy
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Murphy
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_95]
fmt=v3
type=4
clientcode=0
x=255
y=266
width=73
height=26
hide=0
font=495
text=Chaeldar
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Chaeldar
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_96]
fmt=v3
type=4
clientcode=0
x=335
y=266
width=67
height=26
hide=0
font=495
text=Cyrisus
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Cyrisus
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_97]
fmt=v3
type=4
clientcode=0
x=414
y=266
width=67
height=26
hide=0
font=495
text=Random
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Random
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:15840880
onmouseleave=i:45,i:-2147483645,i:16750623

[com_98]
fmt=v3
type=0
clientcode=0
x=21
y=62
width=64
height=120
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_99]
fmt=v3
type=0
clientcode=0
x=100
y=94
width=65
height=88
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_100]
fmt=v3
type=0
clientcode=0
x=179
y=94
width=60
height=88
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_101]
fmt=v3
type=0
clientcode=0
x=255
y=91
width=64
height=91
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_102]
fmt=v3
type=0
clientcode=0
x=337
y=91
width=57
height=91
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_103]
fmt=v3
type=0
clientcode=0
x=408
y=91
width=66
height=91
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_104]
fmt=v3
type=0
clientcode=0
x=23
y=192
width=62
height=100
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_105]
fmt=v3
type=0
clientcode=0
x=105
y=196
width=61
height=96
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_106]
fmt=v3
type=0
clientcode=0
x=178
y=195
width=68
height=97
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_107]
fmt=v3
type=0
clientcode=0
x=255
y=192
width=73
height=100
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_108]
fmt=v3
type=0
clientcode=0
x=335
y=192
width=67
height=99
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_109]
fmt=v3
type=0
clientcode=0
x=411
y=192
width=67
height=99
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_110]
fmt=v3
type=5
clientcode=0
x=471
y=26
width=23
height=23
hide=0
graphic=535
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:536
onmouseleave=i:44,i:-2147483645,i:535

[com_111]
fmt=v3
type=0
clientcode=0
x=468
y=24
width=32
height=32
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_112]
fmt=v3
type=5
clientcode=0
x=3
y=2
width=23
height=23
layer=com_111
hide=0
graphic=536
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_113]
fmt=v3
type=4
clientcode=0
x=79
y=33
width=352
height=17
hide=0
font=496
text=Choose a character
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
