// interface 430

[com_0]
fmt=v3
type=5
clientcode=0
x=101
y=66
width=24
height=24
hide=0
graphic=597
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:547,i:597,i:75,s:Barbarian Teleport,s:Teleports you to the Barbarian Outpost,i:9075,i:2,i:563,i:2,i:554,i:3,i:-1,i:0

[com_1]
fmt=v3
type=5
clientcode=0
x=163
y=8
width=24
height=24
hide=0
graphic=609
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:559,i:609,i:68,s:Cure Other,s:Cure poisoned players,i:9075,i:1,i:563,i:1,i:557,i:10,i:-1,i:0

[com_2]
fmt=v3
type=5
clientcode=0
x=8
y=124
width=24
height=24
hide=0
graphic=603
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:553,i:603,i:83,s:Fertile Soil,s:Fertilise a farming patch with super compost,i:9075,i:3,i:561,i:2,i:557,i:15,i:-1,i:0

[com_3]
fmt=v3
type=5
clientcode=0
x=37
y=66
width=24
height=24
hide=0
graphic=615
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:565,i:615,i:74,s:Cure Group,s:Cure poison on players,i:9075,i:2,i:564,i:2,i:563,i:2,i:-1,i:0

[com_4]
fmt=v3
type=5
clientcode=0
x=133
y=8
width=24
height=24
hide=0
graphic=618
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:568,i:618,i:67,s:NPC Contact,s:Speak with varied NPCs,i:9075,i:1,i:564,i:1,i:556,i:2,i:-1,i:0

[com_5]
fmt=v3
type=5
clientcode=0
x=101
y=153
width=24
height=24
hide=0
graphic=608
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:558,i:608,i:91,s:Energy Transfer,s:Spend hitpoints and SA energy to give another SA and run energy,i:9075,i:3,i:563,i:2,i:561,i:1,i:-1,i:0

[com_6]
fmt=v3
type=5
clientcode=0
x=101
y=8
width=24
height=24
hide=0
graphic=627
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:577,i:627,i:66,s:Monster Examine,s:Detect the combat statistics of a monster,i:9075,i:1,i:564,i:1,i:558,i:1,i:-1,i:0

[com_7]
fmt=v3
type=5
clientcode=0
x=8
y=37
width=24
height=24
hide=0
graphic=628
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:578,i:628,i:68,s:Humidify,s:Fills certain vessels with water,i:9075,i:1,i:555,i:3,i:554,i:1,i:-1,i:0

[com_8]
fmt=v3
type=5
clientcode=0
x=133
y=37
width=24
height=24
hide=0
graphic=629
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:579,i:629,i:71,s:Hunter Kit,s:Get a kit of hunter gear,i:9075,i:2,i:557,i:2,i:-1,i:0,i:-1,i:0

[com_9]
fmt=v3
type=5
clientcode=0
x=69
y=66
width=24
height=24
hide=0
graphic=626
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:576,i:626,i:75,s:Stat Spy,s:Cast on another player to see their skill levels,i:9075,i:2,i:564,i:2,i:559,i:5,i:-1,i:0

[com_10]
fmt=v3
type=5
clientcode=0
x=69
y=95
width=24
height=24
hide=0
graphic=630
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:580,i:630,i:79,s:Dream,s:Take a rest and restore hitpoints 3 times faster,i:9075,i:2,i:564,i:1,i:559,i:5,i:-1,i:0

[com_11]
fmt=v3
type=5
clientcode=0
x=133
y=124
width=24
height=24
hide=0
graphic=631
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:581,i:631,i:86,s:Plank Make,s:Turn logs into planks,i:9075,i:2,i:557,i:15,i:561,i:1,i:-1,i:0

[com_12]
fmt=v3
type=5
clientcode=0
x=69
y=182
width=24
height=24
hide=0
graphic=632
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:582,i:632,i:96,s:Spellbook Swap,s:Change to another spellbook for 1 spell cast,i:9075,i:3,i:564,i:2,i:563,i:1,i:-1,i:0

[com_13]
fmt=v3
type=5
clientcode=0
x=163
y=95
width=24
height=24
hide=0
graphic=602
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:552,i:602,i:82,s:Magic Imbue,s:Combine runes without a talisman,i:9075,i:2,i:554,i:7,i:555,i:7,i:-1,i:0

[com_14]
fmt=v3
type=5
clientcode=0
x=8
y=181
width=24
height=24
hide=0
graphic=614
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:564,i:614,i:94,s:Vengeance,s:Rebound damage to an opponent,i:9075,i:4,i:560,i:2,i:557,i:10,i:-1,i:0

[com_15]
fmt=v3
type=5
clientcode=0
x=37
y=8
width=24
height=24
hide=0
graphic=593
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:543,i:593,i:65,s:Bake Pie,s:Bake pies without a stove,i:9075,i:1,i:554,i:5,i:555,i:4,i:-1,i:0

[com_16]
fmt=v3
type=5
clientcode=0
x=8
y=8
width=24
height=24
hide=0
graphic=356
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:356,i:406,i:0,s:Lunar Home Teleport,s:Requires no runes - recharge time 30 mins. Warning: This spell takes a long time to cast and will be interrupted by combat.,i:-1,i:0,i:-1,i:0,i:-1,i:0,i:-1,i:0

[com_17]
fmt=v3
type=5
clientcode=0
x=69
y=124
width=24
height=24
hide=0
graphic=605
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:555,i:605,i:85,s:Fishing Guild Teleport,s:Teleports you to the Fishing Guild,i:9075,i:3,i:563,i:3,i:555,i:10,i:-1,i:0

[com_18]
fmt=v3
type=5
clientcode=0
x=8
y=95
width=24
height=24
hide=0
graphic=599
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:549,i:599,i:78,s:Khazard Teleport,s:Teleports you to Port Khazard,i:9075,i:2,i:563,i:2,i:555,i:4,i:-1,i:0

[com_19]
fmt=v3
type=5
clientcode=0
x=163
y=153
width=24
height=24
hide=0
graphic=611
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=bb
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:561,i:611,i:93,s:Vengeance Other,s:Allows another player to rebound damage to an opponent,i:9075,i:3,i:560,i:2,i:557,i:10,i:-1,i:0

[com_20]
fmt=v3
type=5
clientcode=0
x=37
y=37
width=24
height=24
hide=0
graphic=594
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:544,i:594,i:69,s:Moonclan Teleport,s:Teleports you to Moonclan Island,i:9075,i:2,i:563,i:1,i:557,i:2,i:-1,i:0

[com_21]
fmt=v3
type=5
clientcode=0
x=163
y=124
width=24
height=24
hide=0
graphic=606
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:556,i:606,i:87,s:Catherby Teleport,s:Teleports you to Catherby,i:9075,i:3,i:563,i:3,i:555,i:10,i:-1,i:0

[com_22]
fmt=v3
type=5
clientcode=0
x=101
y=95
width=24
height=24
hide=0
graphic=600
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:550,i:600,i:80,s:String Jewellery,s:String amulets without wool,i:9075,i:2,i:557,i:10,i:555,i:5,i:-1,i:0

[com_23]
fmt=v3
type=5
clientcode=0
x=101
y=37
width=24
height=24
hide=0
graphic=612
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:562,i:612,i:71,s:Cure Me,s:Cure Poison,i:9075,i:2,i:564,i:2,i:563,i:1,i:-1,i:0

[com_24]
fmt=v3
type=5
clientcode=0
x=163
y=37
width=24
height=24
hide=0
graphic=595
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:545,i:595,i:72,s:Waterbirth Teleport,s:Teleports you to Waterbirth Island,i:9075,i:2,i:563,i:1,i:555,i:1,i:-1,i:0

[com_25]
fmt=v3
type=5
clientcode=0
x=163
y=66
width=24
height=24
hide=0
graphic=598
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:548,i:598,i:77,s:Superglass Make,s:Make glass without a furnace,i:9075,i:2,i:554,i:6,i:556,i:10,i:-1,i:0

[com_26]
fmt=v3
type=5
clientcode=0
x=37
y=124
width=24
height=24
hide=0
graphic=601
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:551,i:601,i:84,s:Boost Potion Share,s:Shares a potion with up to 4 nearby players,i:9075,i:3,i:557,i:12,i:555,i:10,i:-1,i:0

[com_27]
fmt=v3
type=5
clientcode=0
x=133
y=95
width=24
height=24
hide=0
graphic=604
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x8000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:554,i:604,i:81,s:Stat Restore Pot Share,s:Shares a potion with up to 4 nearby players,i:9075,i:2,i:557,i:10,i:555,i:10,i:-1,i:0

[com_28]
fmt=v3
type=5
clientcode=0
x=37
y=153
width=24
height=24
hide=0
graphic=607
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:557,i:607,i:89,s:Ice Plateau Teleport,s:Teleports you to Ice Plateau,i:9075,i:3,i:563,i:3,i:555,i:8,i:-1,i:0

[com_29]
fmt=v3
type=5
clientcode=0
x=133
y=153
width=24
height=24
hide=0
graphic=610
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x5000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:560,i:610,i:92,s:Heal Other,s:Transfers up to 75% of hitpoints to another player,i:9075,i:3,i:563,i:3,i:565,i:1,i:-1,i:0

[com_30]
fmt=v3
type=5
clientcode=0
x=37
y=182
width=24
height=24
hide=0
graphic=616
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:566,i:616,i:95,s:Heal Group,s:Transfers up to 75% of hitpoints to a group,i:9075,i:4,i:565,i:3,i:563,i:6,i:-1,i:0

[com_31]
fmt=v3
type=5
clientcode=0
x=69
y=8
width=24
height=24
hide=0
graphic=617
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2000
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=Cast
onload=i:6,i:-2147483645,i:28180519,i:567,i:617,i:66,s:Cure Plant,s:Cures disease on farming patch,i:9075,i:1,i:557,i:8,i:-1,i:0,i:-1,i:0

[com_32]
fmt=v3
type=5
clientcode=0
x=69
y=37
width=24
height=24
hide=0
graphic=619
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:569,i:619,i:70,s:Tele Group Moonclan,s:Teleports players to Moonclan Island,i:9075,i:2,i:563,i:1,i:557,i:4,i:-1,i:0

[com_33]
fmt=v3
type=5
clientcode=0
x=8
y=66
width=24
height=24
hide=0
graphic=620
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:570,i:620,i:73,s:Tele Group Waterbirth,s:Teleports players to Waterbirth Island,i:9075,i:2,i:563,i:1,i:555,i:5,i:-1,i:0

[com_34]
fmt=v3
type=5
clientcode=0
x=133
y=66
width=24
height=24
hide=0
graphic=621
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:571,i:621,i:76,s:Tele Group Barbarian,s:Teleports players to the Barbarian Outpost,i:9075,i:2,i:563,i:2,i:554,i:6,i:-1,i:0

[com_35]
fmt=v3
type=5
clientcode=0
x=37
y=95
width=24
height=24
hide=0
graphic=622
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:572,i:622,i:79,s:Tele Group Khazard,s:Teleports players to Port Khazard,i:9075,i:2,i:563,i:2,i:555,i:8,i:-1,i:0

[com_36]
fmt=v3
type=5
clientcode=0
x=100
y=123
width=24
height=24
hide=0
graphic=623
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:573,i:623,i:86,s:Tele Group Fishing Guild,s:Teleports players to the Fishing Guild,i:9075,i:3,i:563,i:3,i:555,i:14,i:-1,i:0

[com_37]
fmt=v3
type=5
clientcode=0
x=8
y=153
width=24
height=24
hide=0
graphic=624
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:574,i:624,i:88,s:Tele Group Catherby,s:Teleports players to Catherby,i:9075,i:3,i:563,i:3,i:555,i:15,i:-1,i:0

[com_38]
fmt=v3
type=5
clientcode=0
x=69
y=153
width=24
height=24
hide=0
graphic=625
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Cast
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:6,i:-2147483645,i:28180519,i:575,i:625,i:90,s:Tele Group Ice Plateau,s:Teleports players to Ice Plateau,i:9075,i:3,i:563,i:3,i:555,i:16,i:-1,i:0

[com_39]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=bb
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
