// interface 431

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=400
trans=0
fill=1
colour=0x282822
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=227
y=140
width=32
height=32
trans=0
model=com_i4652
activemodel=-1
zoom=899
xan=366
yan=6

[com_2]
type=4
buttontype=0
clientcode=0
x=290
y=184
width=81
height=50
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Pirates'<br> Cove
activetext=
colour=0x2e2125
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=122
y=136
width=121
height=66
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Moonclan<br> Island
activetext=
colour=0x2e2125
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=6
buttontype=0
clientcode=0
x=250
y=154
width=32
height=32
trans=0
model=com_i16740
activemodel=-1
zoom=1406
xan=338
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=124
y=263
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=801
xan=304
yan=1885

[com_6]
type=6
buttontype=0
clientcode=0
x=159
y=259
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=801
xan=370
yan=195

[com_7]
type=6
buttontype=0
clientcode=0
x=337
y=131
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=815
xan=232
yan=1891

[com_8]
type=6
buttontype=0
clientcode=0
x=376
y=126
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=815
xan=364
yan=111

[com_9]
type=6
buttontype=0
clientcode=0
x=179
y=261
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=801
xan=304
yan=1885

[com_10]
type=6
buttontype=0
clientcode=0
x=214
y=257
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=801
xan=370
yan=195

[com_11]
type=6
buttontype=0
clientcode=0
x=139
y=65
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1071
xan=232
yan=1891

[com_12]
type=6
buttontype=0
clientcode=0
x=164
y=62
width=32
height=32
trans=0
model=com_i3387
activemodel=-1
zoom=1327
xan=364
yan=111

[com_13]
type=6
buttontype=0
clientcode=0
x=297
y=183
width=32
height=32
trans=0
model=com_i16741
activemodel=-1
anim=4403
zoom=2406
xan=376
yan=0
