// interface 433

[com_0]
type=6
buttontype=0
clientcode=0
x=148
y=39
width=32
height=32
trans=0
model=com_i16961
activemodel=-1
zoom=475
xan=340
yan=104

[com_1]
type=5
buttontype=0
clientcode=0
x=16
y=33
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_2]
type=6
buttontype=0
clientcode=0
x=18
y=35
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_3]
type=4
buttontype=1
clientcode=0
x=16
y=33
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Wield bolts

[com_4]
type=4
buttontype=1
clientcode=0
x=16
y=33
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Remove from Pouch

[com_5]
type=5
buttontype=0
clientcode=0
x=16
y=69
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_6]
type=6
buttontype=0
clientcode=0
x=18
y=71
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_7]
type=4
buttontype=1
clientcode=0
x=16
y=69
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Wield bolts

[com_8]
type=4
buttontype=1
clientcode=0
x=16
y=69
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Remove from Pouch

[com_9]
type=5
buttontype=0
clientcode=0
x=16
y=105
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_10]
type=6
buttontype=0
clientcode=0
x=18
y=107
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_11]
type=4
buttontype=1
clientcode=0
x=16
y=105
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Wield bolts

[com_12]
type=4
buttontype=1
clientcode=0
x=16
y=105
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Remove from Pouch

[com_13]
type=5
buttontype=0
clientcode=0
x=16
y=141
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_14]
type=6
buttontype=0
clientcode=0
x=18
y=143
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_15]
type=4
buttontype=1
clientcode=0
x=16
y=141
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Wield bolts

[com_16]
type=4
buttontype=1
clientcode=0
x=16
y=141
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Remove from Pouch

[com_17]
type=5
buttontype=0
clientcode=0
x=16
y=199
width=36
height=36
trans=0
graphic=170
activegraphic=-1

[com_18]
type=6
buttontype=0
clientcode=0
x=18
y=201
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_19]
type=4
buttontype=1
clientcode=0
x=16
y=199
width=36
height=36
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x00c000
colour2over=0x000000
buttontext=Unwield bolts

[com_20]
type=4
buttontype=0
clientcode=0
x=58
y=35
width=17
height=14
trans=0
scriptcmp=3/0
scripts=14/2469/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xff0033
colour2=0x00c000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=58
y=71
width=17
height=14
trans=0
scriptcmp=3/0
scripts=14/2470/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=%1
colour=0xff0033
colour2=0x00c000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=58
y=106
width=17
height=14
trans=0
scriptcmp=3/0
scripts=14/2471/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=%1
colour=0xff0033
colour2=0x00c000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=58
y=143
width=17
height=14
trans=0
scriptcmp=3/0
scripts=14/2472/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=%1
colour=0xff0033
colour2=0x00c000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=54
y=201
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=0
colour=0xff0033
colour2=0x00c000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=58
y=54
width=122
height=13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Text
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=58
y=89
width=122
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Text
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=58
y=125
width=122
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Text
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=58
y=161
width=124
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Text
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=54
y=219
width=129
height=13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Text
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=4
buttontype=0
clientcode=0
x=6
y=12
width=175
height=13
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Crossbow Bolt Pouch
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=4
buttontype=0
clientcode=0
x=17
y=183
width=158
height=14
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Current Ammo
activetext=
colour=0xff9933
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=5
buttontype=0
clientcode=0
x=159
y=232
width=26
height=23
overlayer=34
trans=0
graphic=539
activegraphic=-1

[com_33]
type=5
buttontype=3
clientcode=0
x=2
y=6
width=26
height=23
layer=com_34
trans=0
graphic=540
activegraphic=-1

[com_34]
type=0
buttontype=0
clientcode=0
x=157
y=226
width=32
height=32
trans=0
scrollheight=0
hide=1
