// interface 434

[com_0]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=12
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=12
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=12
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=12
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=100
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=100
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=100
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=100
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=188
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=100
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=188
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=188
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=188
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=188
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=276
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=364
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=276
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=276
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=276
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=276
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=364
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=364
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=364
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=364
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=412
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=412
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=412
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=-3
y=49
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=412
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=412
y=260
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=12
y=20
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=-3
y=85
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=-3
y=121
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=-3
y=157
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=-3
y=193
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=-3
y=229
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=-3
y=265
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=479
y=50
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=479
y=86
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=479
y=122
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=479
y=158
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=479
y=194
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=479
y=230
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=479
y=266
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=73
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=109
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=145
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=181
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=217
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=253
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=289
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=325
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=361
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=397
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=433
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=72
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=108
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=144
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=180
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=216
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=252
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=288
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=324
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=360
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=396
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=432
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=252
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=37
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=37
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=12
y=295
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=475
y=20
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=439
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=475
y=295
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_74]
type=5
buttontype=0
clientcode=0
x=439
y=304
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_75]
type=5
buttontype=0
clientcode=0
x=288
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_76]
type=5
buttontype=0
clientcode=0
x=324
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_77]
type=5
buttontype=0
clientcode=0
x=360
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_78]
type=5
buttontype=0
clientcode=0
x=396
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_79]
type=5
buttontype=0
clientcode=0
x=432
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_80]
type=5
buttontype=0
clientcode=0
x=459
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_81]
type=5
buttontype=0
clientcode=0
x=216
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_82]
type=5
buttontype=0
clientcode=0
x=180
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_83]
type=5
buttontype=0
clientcode=0
x=144
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_84]
type=5
buttontype=0
clientcode=0
x=108
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_85]
type=5
buttontype=0
clientcode=0
x=72
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_86]
type=5
buttontype=0
clientcode=0
x=36
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_87]
type=5
buttontype=0
clientcode=0
x=17
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_88]
type=3
buttontype=0
clientcode=0
x=104
y=231
width=315
height=82
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_89]
type=3
buttontype=0
clientcode=0
x=103
y=230
width=317
height=83
trans=0
fill=0
colour=0x726451
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_90]
type=4
buttontype=0
clientcode=0
x=25
y=30
width=467
height=18
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Gnome Battas
activetext=
colour=0xff9900
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_91]
type=6
buttontype=1
clientcode=0
x=165
y=89
width=50
height=51
overlayer=101
trans=0
model=-1
activemodel=-1
zoom=400
xan=165
yan=1894
buttontext=

[com_92]
type=6
buttontype=0
clientcode=0
x=246
y=24
width=32
height=32
layer=com_101
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_93]
type=6
buttontype=0
clientcode=0
x=46
y=27
width=32
height=32
layer=com_101
trans=0
model=com_i2573
activemodel=-1
zoom=784
xan=336
yan=1891

[com_94]
type=6
buttontype=0
clientcode=0
x=113
y=27
width=32
height=32
layer=com_101
trans=0
model=com_i2573
activemodel=-1
zoom=784
xan=336
yan=1891

[com_95]
type=6
buttontype=0
clientcode=0
x=183
y=27
width=32
height=32
layer=com_101
trans=0
model=com_i2573
activemodel=-1
zoom=784
xan=336
yan=1891

[com_96]
type=4
buttontype=0
clientcode=0
x=254
y=60
width=30
height=14
layer=com_101
trans=0
scriptcmp=3/3
scripts=4/149/0/2128/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/4
activetext=%1/4
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_97]
type=4
buttontype=0
clientcode=0
x=58
y=60
width=29
height=14
layer=com_101
trans=0
scriptcmp=3/0
scripts=4/149/0/2116/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_98]
type=4
buttontype=0
clientcode=0
x=125
y=60
width=29
height=14
layer=com_101
trans=0
scriptcmp=3/0
scripts=4/149/0/2110/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_99]
type=4
buttontype=0
clientcode=0
x=194
y=60
width=29
height=14
layer=com_101
trans=0
scriptcmp=3/0
scripts=4/149/0/2122/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=5
y=5
width=310
height=15
layer=com_101
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Fruit Batta
activetext=
colour=0xd6a046
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_101]
type=0
buttontype=0
clientcode=0
x=99
y=229
width=318
height=82
trans=0
scrollheight=0
hide=1

[com_102]
type=6
buttontype=1
clientcode=0
x=286
y=89
width=50
height=50
overlayer=112
trans=0
model=-1
activemodel=-1
zoom=400
xan=165
yan=1894
buttontext=

[com_103]
type=6
buttontype=0
clientcode=0
x=44
y=23
width=32
height=32
layer=com_112
trans=0
model=-1
activemodel=-1
zoom=528
xan=327
yan=1909

[com_104]
type=6
buttontype=0
clientcode=0
x=100
y=17
width=32
height=32
layer=com_112
trans=0
model=com_i2668
activemodel=-1
zoom=338
xan=376
yan=2047

[com_105]
type=6
buttontype=0
clientcode=0
x=186
y=34
width=32
height=32
layer=com_112
trans=0
model=com_i2431
activemodel=-1
zoom=656
xan=321
yan=1885

[com_106]
type=6
buttontype=0
clientcode=0
x=253
y=33
width=32
height=32
layer=com_112
trans=0
model=com_i2365
activemodel=-1
zoom=784
xan=228
yan=1885

[com_107]
type=4
buttontype=0
clientcode=0
x=48
y=60
width=29
height=14
layer=com_112
trans=0
scriptcmp=3/0
scripts=4/149/0/2128/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_108]
type=4
buttontype=0
clientcode=0
x=114
y=60
width=29
height=14
layer=com_112
trans=0
scriptcmp=3/0
scripts=4/149/0/2152/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_109]
type=4
buttontype=0
clientcode=0
x=190
y=60
width=29
height=14
layer=com_112
trans=0
scriptcmp=3/0
scripts=4/149/0/2169/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_110]
type=4
buttontype=0
clientcode=0
x=261
y=60
width=29
height=14
layer=com_112
trans=0
scriptcmp=3/0
scripts=4/149/0/1985/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_111]
type=4
buttontype=0
clientcode=0
x=9
y=4
width=314
height=15
layer=com_112
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Toad Batta
activetext=
colour=0xd6a046
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_112]
type=0
buttontype=0
clientcode=0
x=96
y=230
width=322
height=82
trans=0
scrollheight=0
hide=1

[com_113]
type=6
buttontype=1
clientcode=0
x=126
y=163
width=50
height=50
overlayer=121
trans=0
model=-1
activemodel=-1
zoom=400
xan=165
yan=1894
buttontext=

[com_114]
type=6
buttontype=0
clientcode=0
x=76
y=34
width=32
height=32
layer=com_121
trans=0
model=com_i2431
activemodel=-1
zoom=656
xan=321
yan=1885

[com_115]
type=6
buttontype=0
clientcode=0
x=142
y=23
width=32
height=32
layer=com_121
trans=0
model=com_i2519
activemodel=-1
zoom=1040
xan=321
yan=1885

[com_116]
type=6
buttontype=0
clientcode=0
x=208
y=32
width=32
height=32
layer=com_121
trans=0
model=com_i2365
activemodel=-1
zoom=784
xan=228
yan=1885

[com_117]
type=4
buttontype=0
clientcode=0
x=81
y=60
width=29
height=14
layer=com_121
trans=0
scriptcmp=3/0
scripts=4/149/0/2169/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_118]
type=4
buttontype=0
clientcode=0
x=147
y=60
width=29
height=14
layer=com_121
trans=0
scriptcmp=3/0
scripts=4/149/0/2162/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_119]
type=4
buttontype=0
clientcode=0
x=213
y=60
width=29
height=14
layer=com_121
trans=0
scriptcmp=3/0
scripts=4/149/0/1985/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_120]
type=4
buttontype=0
clientcode=0
x=6
y=4
width=309
height=17
layer=com_121
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Worm Batta
activetext=
colour=0xd6a03c
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_121]
type=0
buttontype=0
clientcode=0
x=100
y=230
width=323
height=83
trans=0
scrollheight=0
hide=1

[com_122]
type=6
buttontype=1
clientcode=0
x=230
y=163
width=50
height=50
overlayer=134
trans=0
model=-1
activemodel=-1
zoom=400
xan=165
yan=1894
buttontext=

[com_123]
type=6
buttontype=0
clientcode=0
x=19
y=32
width=32
height=32
layer=com_134
trans=0
model=com_i2632
activemodel=-1
zoom=528
xan=0
yan=0

[com_124]
type=6
buttontype=0
clientcode=0
x=76
y=33
width=32
height=32
layer=com_134
trans=0
model=-1
activemodel=-1
zoom=528
xan=0
yan=0

[com_125]
type=6
buttontype=0
clientcode=0
x=138
y=29
width=32
height=32
layer=com_134
trans=0
model=com_i8195
activemodel=-1
zoom=1552
xan=210
yan=1852

[com_126]
type=6
buttontype=0
clientcode=0
x=207
y=35
width=32
height=32
layer=com_134
trans=0
model=com_i2808
activemodel=-1
zoom=656
xan=114
yan=1801

[com_127]
type=6
buttontype=0
clientcode=0
x=265
y=32
width=32
height=32
layer=com_134
trans=0
model=com_i2365
activemodel=-1
zoom=784
xan=228
yan=1885

[com_128]
type=4
buttontype=0
clientcode=0
x=23
y=60
width=31
height=14
layer=com_134
trans=0
scriptcmp=3/1
scripts=4/149/0/1982/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/2
activetext=%1/2
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_129]
type=4
buttontype=0
clientcode=0
x=80
y=60
width=29
height=14
layer=com_134
trans=0
scriptcmp=3/0
scripts=4/149/0/1957/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_130]
type=4
buttontype=0
clientcode=0
x=142
y=60
width=29
height=14
layer=com_134
trans=0
scriptcmp=3/0
scripts=4/149/0/1965/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_131]
type=4
buttontype=0
clientcode=0
x=208
y=60
width=29
height=14
layer=com_134
trans=0
scriptcmp=3/0
scripts=4/149/0/2126/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_132]
type=4
buttontype=0
clientcode=0
x=270
y=60
width=29
height=14
layer=com_134
trans=0
scriptcmp=3/0
scripts=4/149/0/1985/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_133]
type=4
buttontype=0
clientcode=0
x=4
y=4
width=312
height=16
layer=com_134
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Vegetable Batta
activetext=
colour=0xd6a046
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_134]
type=0
buttontype=0
clientcode=0
x=101
y=229
width=318
height=83
trans=0
scrollheight=0
hide=1

[com_135]
type=6
buttontype=1
clientcode=0
x=342
y=164
width=50
height=50
overlayer=141
trans=0
model=-1
activemodel=-1
zoom=400
xan=165
yan=1894
buttontext=

[com_136]
type=6
buttontype=0
clientcode=0
x=105
y=32
width=32
height=32
layer=com_141
trans=0
model=com_i2632
activemodel=-1
zoom=528
xan=336
yan=1891

[com_137]
type=6
buttontype=0
clientcode=0
x=176
y=32
width=32
height=32
layer=com_141
trans=0
model=-1
activemodel=-1
zoom=784
xan=228
yan=1885

[com_138]
type=4
buttontype=0
clientcode=0
x=110
y=60
width=29
height=14
layer=com_141
trans=0
scriptcmp=3/0
scripts=4/149/0/1982/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_139]
type=4
buttontype=0
clientcode=0
x=181
y=60
width=29
height=14
layer=com_141
trans=0
scriptcmp=3/0
scripts=4/149/0/1985/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1/1
activetext=%1/1
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_140]
type=4
buttontype=0
clientcode=0
x=0
y=3
width=313
height=16
layer=com_141
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Cheese And Tomato Batta
activetext=
colour=0xd6a046
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_141]
type=0
buttontype=0
clientcode=0
x=103
y=229
width=320
height=83
trans=0
scrollheight=0
hide=1

[com_142]
type=4
buttontype=0
clientcode=0
x=253
y=5
width=61
height=15
layer=com_101
trans=0
scriptcmp=3/24
scripts=1/7/0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=level 25
activetext=level 25
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_143]
type=4
buttontype=0
clientcode=0
x=253
y=5
width=61
height=14
layer=com_112
trans=0
scriptcmp=3/25
scripts=1/7/0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=level 26
activetext=level 26
colour=0xff0000
colour2=0x00ff33
colourover=0x000000
colour2over=0x000000

[com_144]
type=4
buttontype=0
clientcode=0
x=253
y=5
width=61
height=14
layer=com_121
trans=0
scriptcmp=3/26
scripts=1/7/0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=level 27
activetext=level 27
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_145]
type=4
buttontype=0
clientcode=0
x=253
y=5
width=61
height=14
layer=com_141
trans=0
scriptcmp=3/28
scripts=1/7/0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=level 29
activetext=level 29
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_146]
type=4
buttontype=0
clientcode=0
x=253
y=5
width=61
height=14
layer=com_134
trans=0
scriptcmp=3/27
scripts=1/7/0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=level 28
activetext=level 28
colour=0xff0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_147]
type=4
buttontype=0
clientcode=0
x=139
y=134
width=90
height=27
trans=0
scriptcmp=3/3 3/0 3/0 3/0
scripts=4/149/0/2128/0 4/149/0/2116/0 4/149/0/2110/0 4/149/0/2122/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Fruit Batta
activetext=Fruit Batta
colour=0xcc0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_148]
type=4
buttontype=0
clientcode=0
x=264
y=133
width=90
height=27
trans=0
scriptcmp=3/0 3/0 3/0 3/0
scripts=4/149/0/2128/0 4/149/0/2169/0 4/149/0/2152/0 4/149/0/1985/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Toad Batta
activetext=Toad Batta
colour=0xcc0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_149]
type=4
buttontype=0
clientcode=0
x=104
y=202
width=90
height=26
trans=0
scriptcmp=3/0 3/0 3/0
scripts=4/149/0/2162/0 4/149/0/2169/0 4/149/0/1985/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Worm Batta
activetext=Worm Batta
colour=0xcc0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_150]
type=4
buttontype=0
clientcode=0
x=211
y=203
width=91
height=27
trans=0
scriptcmp=3/1 3/0 3/0 3/0 3/0
scripts=4/149/0/1982/0 4/149/0/1957/0 4/149/0/1965/0 4/149/0/2126/0 4/149/0/1985/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Vegetable Batta
activetext=Vegetable Batta
colour=0xcc0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_151]
type=4
buttontype=0
clientcode=0
x=321
y=203
width=90
height=27
trans=0
scriptcmp=3/0 3/0
scripts=4/149/0/1982/0 4/149/0/1985/0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Cheese & tomato Batta
activetext=Cheese & tomato Batta
colour=0xcc0000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_152]
type=5
buttontype=0
clientcode=0
x=471
y=25
width=26
height=23
overlayer=154
trans=0
graphic=535
activegraphic=-1

[com_153]
type=5
buttontype=3
clientcode=0
x=4
y=5
width=26
height=23
layer=com_154
trans=0
graphic=536
activegraphic=-1

[com_154]
type=0
buttontype=0
clientcode=0
x=467
y=20
width=32
height=32
trans=0
scrollheight=0
hide=1
