// interface 439

[com_0]
type=3
buttontype=0
clientcode=0
x=-1
y=0
width=514
height=335
trans=0
fill=1
colour=0x2a1e06
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=402
y=72
width=42
height=41
trans=0
model=com_i17182
activemodel=-1
zoom=272
xan=402
yan=75

[com_2]
type=6
buttontype=0
clientcode=0
x=211
y=132
width=32
height=32
layer=com_5
trans=0
model=com_i17186
activemodel=-1
zoom=651
xan=130
yan=1814

[com_3]
type=6
buttontype=0
clientcode=0
x=174
y=115
width=32
height=32
layer=com_7
trans=0
model=com_i17183
activemodel=-1
anim=4574
zoom=651
xan=130
yan=1814

[com_4]
type=6
buttontype=0
clientcode=0
x=150
y=91
width=32
height=32
layer=com_8
trans=0
model=com_i17184
activemodel=-1
anim=4574
zoom=651
xan=135
yan=1816

[com_5]
type=0
buttontype=0
clientcode=0
x=-3
y=17
width=520
height=344
trans=0
scrollheight=0
hide=0

[com_6]
type=6
buttontype=0
clientcode=0
x=67
y=229
width=32
height=32
trans=0
model=com_i17185
activemodel=-1
zoom=369
xan=456
yan=2032

[com_7]
type=0
buttontype=0
clientcode=0
x=34
y=34
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_8]
type=0
buttontype=0
clientcode=0
x=58
y=58
width=32
height=32
trans=0
scrollheight=0
hide=0
