// interface 440

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=520
height=400
trans=64
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=231
y=147
width=32
height=32
trans=0
model=com_i17345
activemodel=-1
zoom=594
xan=456
yan=2041

[com_2]
type=6
buttontype=0
clientcode=0
x=231
y=147
width=32
height=32
trans=0
model=com_i17342
activemodel=-1
zoom=594
xan=456
yan=2041

[com_3]
type=4
buttontype=0
clientcode=0
x=154
y=67
width=198
height=17
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=Certificate of Qualification
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=156
y=87
width=196
height=50
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Earth Sciences Level 1<br>This is to certify that
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=231
y=152
width=47
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=<name>
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=161
y=183
width=195
height=34
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=has passed the Level 1<br>Earth Sciences exam.
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=5
buttontype=0
clientcode=0
x=483
y=5
width=26
height=23
overlayer=9
trans=0
graphic=539
activegraphic=-1

[com_8]
type=5
buttontype=3
clientcode=0
x=4
y=3
width=26
height=23
layer=com_9
trans=0
graphic=540
activegraphic=-1

[com_9]
type=0
buttontype=0
clientcode=0
x=479
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
