// interface 443

[com_0]
type=3
buttontype=0
clientcode=0
x=-1
y=0
width=514
height=335
trans=0
fill=1
colour=0x2a1e06
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=236
y=519
width=32
height=32
trans=0
model=com_i17199
activemodel=-1
zoom=160
xan=72
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=280
y=172
width=32
height=32
trans=0
model=com_i17197
activemodel=-1
zoom=784
xan=594
yan=9

[com_3]
type=6
buttontype=0
clientcode=0
x=280
y=172
width=32
height=32
trans=0
model=com_i17198
activemodel=-1
zoom=784
xan=594
yan=9

[com_4]
type=5
buttontype=0
clientcode=0
x=479
y=8
width=26
height=23
overlayer=6
trans=0
graphic=539
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_6
trans=0
graphic=540
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=476
y=3
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_7]
type=6
buttontype=0
clientcode=0
x=305
y=198
width=32
height=32
trans=0
model=com_i17196
activemodel=-1
zoom=656
xan=594
yan=9
