// interface 445

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=515
height=335
trans=100
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=310
y=80
width=32
height=32
trans=0
model=com_i17211
activemodel=-1
zoom=1110
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=310
y=80
width=32
height=32
trans=0
model=com_i17214
activemodel=-1
zoom=1110
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2517/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2517/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2517/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2517/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2517/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2517/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2517/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2517/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2517/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=343
y=323
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2517/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2518/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2518/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2518/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2518/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2518/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2518/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2518/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2518/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2518/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_22]
type=6
buttontype=0
clientcode=0
x=357
y=323
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2518/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=333
y=275
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2528/0
model=-1
activemodel=com_i17220
zoom=347
xan=0
yan=0

[com_24]
type=6
buttontype=0
clientcode=0
x=333
y=275
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2527/0
model=-1
activemodel=com_i17221
zoom=347
xan=0
yan=0

[com_25]
type=6
buttontype=0
clientcode=0
x=333
y=276
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2529/0
model=-1
activemodel=com_i17216
zoom=347
xan=0
yan=0

[com_26]
type=6
buttontype=0
clientcode=0
x=333
y=276
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2529/0
model=-1
activemodel=com_i17219
zoom=347
xan=0
yan=0

[com_27]
type=6
buttontype=0
clientcode=0
x=333
y=276
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2527/0
model=-1
activemodel=com_i17217
zoom=347
xan=0
yan=0

[com_28]
type=6
buttontype=0
clientcode=0
x=333
y=276
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2528/0
model=-1
activemodel=com_i17218
zoom=347
xan=0
yan=0

[com_29]
type=3
buttontype=1
clientcode=0
x=275
y=134
width=28
height=42
trans=255
fill=0
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Insert disc?

[com_30]
type=6
buttontype=0
clientcode=0
x=141
y=230
width=32
height=32
trans=0
model=com_i17187
activemodel=-1
zoom=400
xan=191
yan=165

[com_31]
type=6
buttontype=0
clientcode=0
x=273
y=140
width=32
height=32
trans=0
model=com_i17224
activemodel=-1
zoom=1110
xan=0
yan=0

[com_32]
type=6
buttontype=0
clientcode=0
x=141
y=230
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_33]
type=5
buttontype=0
clientcode=0
x=476
y=8
width=26
height=23
overlayer=35
trans=0
graphic=539
activegraphic=-1

[com_34]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_35
overlayer=35
trans=0
graphic=540
activegraphic=-1

[com_35]
type=0
buttontype=0
clientcode=0
x=473
y=3
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_36]
type=3
buttontype=1
clientcode=0
x=388
y=110
width=18
height=32
trans=255
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_37]
type=6
buttontype=0
clientcode=0
x=355
y=110
width=32
height=32
trans=0
model=com_i17215
activemodel=-1
zoom=1000
xan=0
yan=0

[com_38]
type=6
buttontype=0
clientcode=0
x=355
y=109
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
