// interface 447

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=515
height=335
trans=100
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=310
y=80
width=32
height=32
trans=0
model=com_i17212
activemodel=-1
zoom=1110
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2520/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2520/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2520/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2520/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2520/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2520/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2520/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2520/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2520/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=328
y=210
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2520/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_12]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2519/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_13]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2519/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2519/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2519/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2519/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2519/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2519/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2519/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2519/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=341
y=210
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2519/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_22]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2522/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_23]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2522/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_24]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2522/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_25]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2522/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_26]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2522/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_27]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2522/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_28]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2522/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_29]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2522/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_30]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2522/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_31]
type=6
buttontype=0
clientcode=0
x=327
y=277
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2522/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_32]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2521/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_33]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2521/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_34]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2521/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2521/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_36]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2521/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_37]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2521/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_38]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2521/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_39]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2521/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_40]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2521/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_41]
type=6
buttontype=0
clientcode=0
x=341
y=277
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2521/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_42]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2524/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_43]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2524/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_44]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2524/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_45]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2524/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_46]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2524/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_47]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2524/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_48]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2524/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_49]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2524/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_50]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2524/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_51]
type=6
buttontype=0
clientcode=0
x=327
y=362
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2524/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_52]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2523/0
model=-1
activemodel=com_i17201
zoom=347
xan=0
yan=0

[com_53]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2523/0
model=-1
activemodel=com_i17202
zoom=347
xan=0
yan=0

[com_54]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/2
scripts=14/2523/0
model=-1
activemodel=com_i17203
zoom=347
xan=0
yan=0

[com_55]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/3
scripts=14/2523/0
model=-1
activemodel=com_i17204
zoom=347
xan=0
yan=0

[com_56]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/4
scripts=14/2523/0
model=-1
activemodel=com_i17205
zoom=347
xan=0
yan=0

[com_57]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/5
scripts=14/2523/0
model=-1
activemodel=com_i17206
zoom=347
xan=0
yan=0

[com_58]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/6
scripts=14/2523/0
model=-1
activemodel=com_i17207
zoom=347
xan=0
yan=0

[com_59]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/7
scripts=14/2523/0
model=-1
activemodel=com_i17208
zoom=347
xan=0
yan=0

[com_60]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/8
scripts=14/2523/0
model=-1
activemodel=com_i17209
zoom=347
xan=0
yan=0

[com_61]
type=6
buttontype=0
clientcode=0
x=341
y=362
width=32
height=32
trans=0
scriptcmp=1/9
scripts=14/2523/0
model=-1
activemodel=com_i17210
zoom=347
xan=0
yan=0

[com_62]
type=6
buttontype=0
clientcode=0
x=325
y=207
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2531/0
model=-1
activemodel=com_i17220
zoom=347
xan=0
yan=0

[com_63]
type=6
buttontype=0
clientcode=0
x=325
y=207
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2530/0
model=-1
activemodel=com_i17221
zoom=347
xan=0
yan=0

[com_64]
type=6
buttontype=0
clientcode=0
x=325
y=209
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2532/0
model=-1
activemodel=com_i17216
zoom=347
xan=0
yan=0

[com_65]
type=6
buttontype=0
clientcode=0
x=325
y=209
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2532/0
model=-1
activemodel=com_i17219
zoom=347
xan=0
yan=0

[com_66]
type=6
buttontype=0
clientcode=0
x=325
y=211
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2530/0
model=-1
activemodel=com_i17217
zoom=347
xan=0
yan=0

[com_67]
type=6
buttontype=0
clientcode=0
x=325
y=211
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2531/0
model=-1
activemodel=com_i17218
zoom=347
xan=0
yan=0

[com_68]
type=6
buttontype=0
clientcode=0
x=326
y=275
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2534/0
model=-1
activemodel=com_i17220
zoom=347
xan=0
yan=0

[com_69]
type=6
buttontype=0
clientcode=0
x=326
y=275
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2533/0
model=-1
activemodel=com_i17221
zoom=347
xan=0
yan=0

[com_70]
type=6
buttontype=0
clientcode=0
x=326
y=277
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2535/0
model=-1
activemodel=com_i17216
zoom=347
xan=0
yan=0

[com_71]
type=6
buttontype=0
clientcode=0
x=326
y=277
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2535/0
model=-1
activemodel=com_i17219
zoom=347
xan=0
yan=0

[com_72]
type=6
buttontype=0
clientcode=0
x=326
y=278
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2533/0
model=-1
activemodel=com_i17217
zoom=347
xan=0
yan=0

[com_73]
type=6
buttontype=0
clientcode=0
x=326
y=278
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2534/0
model=-1
activemodel=com_i17218
zoom=347
xan=0
yan=0

[com_74]
type=6
buttontype=0
clientcode=0
x=326
y=359
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2537/0
model=-1
activemodel=com_i17220
zoom=347
xan=0
yan=0

[com_75]
type=6
buttontype=0
clientcode=0
x=326
y=359
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2536/0
model=-1
activemodel=com_i17221
zoom=347
xan=0
yan=0

[com_76]
type=6
buttontype=0
clientcode=0
x=326
y=361
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2538/0
model=-1
activemodel=com_i17216
zoom=347
xan=0
yan=0

[com_77]
type=6
buttontype=0
clientcode=0
x=326
y=361
width=32
height=32
trans=0
scriptcmp=1/0
scripts=14/2538/0
model=-1
activemodel=com_i17219
zoom=347
xan=0
yan=0

[com_78]
type=6
buttontype=0
clientcode=0
x=326
y=362
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2536/0
model=-1
activemodel=com_i17217
zoom=347
xan=0
yan=0

[com_79]
type=6
buttontype=0
clientcode=0
x=326
y=362
width=32
height=32
trans=0
scriptcmp=1/1
scripts=14/2537/0
model=-1
activemodel=com_i17218
zoom=347
xan=0
yan=0

[com_80]
type=6
buttontype=0
clientcode=0
x=311
y=92
width=32
height=32
trans=0
model=com_i17213
activemodel=-1
zoom=1150
xan=0
yan=0

[com_81]
type=6
buttontype=0
clientcode=0
x=3
y=3
width=32
height=32
layer=com_82
trans=0
model=com_i17224
activemodel=-1
zoom=1110
xan=0
yan=0

[com_82]
type=0
buttontype=0
clientcode=0
x=257
y=39
width=38
height=38
trans=0
scrollheight=0
hide=0

[com_83]
type=6
buttontype=0
clientcode=0
x=3
y=3
width=32
height=32
layer=com_84
trans=0
model=com_i17224
activemodel=-1
zoom=1110
xan=0
yan=0

[com_84]
type=0
buttontype=0
clientcode=0
x=257
y=105
width=38
height=38
trans=0
scrollheight=0
hide=0

[com_85]
type=6
buttontype=0
clientcode=0
x=3
y=3
width=32
height=32
layer=com_86
trans=0
model=com_i17224
activemodel=-1
zoom=1110
xan=0
yan=0

[com_86]
type=0
buttontype=0
clientcode=0
x=257
y=187
width=38
height=38
trans=0
scrollheight=0
hide=0

[com_87]
type=3
buttontype=1
clientcode=0
x=264
y=41
width=25
height=36
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Insert disc?

[com_88]
type=3
buttontype=1
clientcode=0
x=263
y=108
width=25
height=34
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Insert disc?

[com_89]
type=3
buttontype=1
clientcode=0
x=266
y=189
width=20
height=34
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Insert disc?

[com_90]
type=3
buttontype=1
clientcode=0
x=370
y=111
width=32
height=32
trans=255
fill=0
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_91]
type=3
buttontype=1
clientcode=0
x=370
y=41
width=32
height=32
trans=255
fill=0
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_92]
type=3
buttontype=1
clientcode=0
x=372
y=194
width=32
height=32
trans=255
fill=0
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_93]
type=6
buttontype=0
clientcode=0
x=80
y=210
width=32
height=32
trans=0
model=com_i17187
activemodel=-1
zoom=350
xan=245
yan=128

[com_94]
type=5
buttontype=0
clientcode=0
x=476
y=8
width=26
height=23
overlayer=96
trans=0
graphic=539
activegraphic=-1

[com_95]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_96
overlayer=96
trans=0
graphic=540
activegraphic=-1

[com_96]
type=0
buttontype=0
clientcode=0
x=473
y=3
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_97]
type=6
buttontype=0
clientcode=0
x=310
y=80
width=32
height=32
trans=0
model=com_i17227
activemodel=-1
zoom=1110
xan=0
yan=0

[com_98]
type=6
buttontype=0
clientcode=0
x=296
y=42
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_99]
type=6
buttontype=0
clientcode=0
x=296
y=89
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_100]
type=6
buttontype=0
clientcode=0
x=296
y=130
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_101]
type=6
buttontype=0
clientcode=0
x=295
y=174
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_102]
type=6
buttontype=0
clientcode=0
x=295
y=215
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_103]
type=6
buttontype=0
clientcode=0
x=296
y=259
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_104]
type=6
buttontype=1
clientcode=0
x=335
y=264
width=32
height=32
trans=0
model=com_i17222
activemodel=-1
zoom=1110
xan=74
yan=49
buttontext=Cancel transaction

[com_105]
type=6
buttontype=1
clientcode=0
x=370
y=238
width=32
height=32
trans=0
model=com_i17225
activemodel=-1
zoom=1110
xan=49
yan=0
buttontext=Accept transaction

[com_106]
type=6
buttontype=0
clientcode=0
x=310
y=80
width=32
height=32
trans=0
model=com_i17223
activemodel=-1
zoom=1110
xan=0
yan=0

[com_107]
type=6
buttontype=0
clientcode=0
x=80
y=210
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
