// interface 449

[com_0]
type=2
buttontype=0
clientcode=0
x=16
y=8
width=4
height=7
trans=0
eventcode=0x800000
marginx=10
marginy=4
iop1=Use
targetverb=
targetbase=
