// interface 450

[com_0]
type=6
buttontype=0
clientcode=0
x=189
y=253
width=32
height=32
trans=0
model=com_i17096
activemodel=-1
anim=4571
zoom=360
xan=167
yan=94

[com_1]
type=6
buttontype=0
clientcode=0
x=246
y=171
width=32
height=32
trans=0
model=com_i17097
activemodel=-1
anim=4573
zoom=16
xan=492
yan=0
