// interface 453

[com_0]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=555
height=400
trans=0
scrollheight=0
hide=0

[com_1]
type=6
buttontype=0
clientcode=0
x=239
y=153
width=32
height=32
layer=com_0
trans=0
model=com_i18140
activemodel=-1
zoom=580
xan=516
yan=0

[com_2]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=550
height=400
layer=com_0
trans=255
fill=1
colour=0x666666
colour2=0x000000
colourover=0x000000
colour2over=0x000000
