// interface 456

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=520
height=340
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=256
y=110
width=32
height=32
trans=0
model=com_i18151
activemodel=-1
zoom=570
xan=495
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=256
y=110
width=32
height=32
trans=0
model=com_i18145
activemodel=-1
zoom=570
xan=495
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=256
y=110
width=32
height=32
trans=0
model=com_i18147
activemodel=-1
zoom=570
xan=495
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=256
y=110
width=32
height=32
trans=0
model=com_i18148
activemodel=-1
zoom=570
xan=495
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=256
y=110
width=32
height=32
trans=0
model=com_i18149
activemodel=-1
zoom=570
xan=495
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=256
y=110
width=32
height=32
trans=0
model=com_i18150
activemodel=-1
zoom=570
xan=495
yan=0

[com_7]
type=5
buttontype=0
clientcode=0
x=426
y=14
width=26
height=23
overlayer=9
trans=0
graphic=537
activegraphic=-1

[com_8]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_9
overlayer=9
trans=0
graphic=538
activegraphic=-1

[com_9]
type=0
buttontype=0
clientcode=0
x=423
y=9
width=32
height=32
trans=0
scrollheight=0
hide=1
