// interface 458

[com_0]
type=4
buttontype=0
clientcode=0
x=0
y=-1
width=480
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Select an Option
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=1
clientcode=0
x=0
y=23
width=480
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=option1
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_2]
type=4
buttontype=1
clientcode=0
x=0
y=47
width=480
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=option2
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_3]
type=4
buttontype=1
clientcode=0
x=0
y=71
width=480
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=option3
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=

[com_4]
type=5
buttontype=0
clientcode=0
x=0
y=0
width=57
height=13
layer=com_6
trans=0
graphic=302
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=280
y=0
width=57
height=13
layer=com_6
trans=0
graphic=301
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=72
y=1
width=337
height=13
trans=0
scrollheight=0
hide=0

[com_7]
type=5
buttontype=0
clientcode=0
x=0
y=0
width=57
height=13
layer=com_9
trans=0
graphic=302
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=419
y=0
width=57
height=13
layer=com_9
trans=0
graphic=301
activegraphic=-1

[com_9]
type=0
buttontype=0
clientcode=0
x=2
y=1
width=476
height=13
trans=0
scrollheight=0
hide=1
