// interface 461

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=581
height=402
trans=42
fill=1
colour=0x39391f
colour2=0x39391f
colourover=0x39391f
colour2over=0x39391f

[com_1]
type=6
buttontype=0
clientcode=0
x=234
y=137
width=32
height=32
trans=0
model=com_i18428
activemodel=-1
zoom=1070
xan=318
yan=3

[com_2]
type=6
buttontype=0
clientcode=0
x=235
y=138
width=32
height=32
layer=com_10
trans=0
model=com_i18429
activemodel=-1
anim=4802
zoom=1070
xan=318
yan=3

[com_3]
type=6
buttontype=0
clientcode=0
x=235
y=138
width=32
height=32
layer=com_11
trans=0
model=com_i18429
activemodel=-1
anim=4799
zoom=1070
xan=318
yan=3

[com_4]
type=6
buttontype=0
clientcode=0
x=235
y=138
width=32
height=32
layer=com_12
trans=0
model=com_i18429
activemodel=-1
anim=4800
zoom=1070
xan=318
yan=3

[com_5]
type=6
buttontype=0
clientcode=0
x=235
y=138
width=32
height=32
layer=com_13
trans=0
model=com_i18429
activemodel=-1
anim=4801
zoom=1070
xan=318
yan=3

[com_6]
type=6
buttontype=0
clientcode=0
x=35
y=35
width=32
height=32
layer=com_14
trans=0
model=com_i18429
activemodel=-1
anim=4803
zoom=400
xan=0
yan=0

[com_7]
type=4
buttontype=0
clientcode=0
x=293
y=50
width=129
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Island
activetext=
colour=0x9a9a49
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=64
y=229
width=140
height=13
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Witchaven
activetext=
colour=0x9a9a49
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=313
y=146
width=167
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Fishing Platform
activetext=
colour=0x9a9a49
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_11]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_12]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_13]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=512
height=334
trans=0
scrollheight=0
hide=1

[com_14]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=512
height=334
trans=0
scrollheight=0
hide=1
