// interface 463

[com_0]
type=6
buttontype=0
clientcode=0
x=243
y=138
width=35
height=35
trans=0
model=com_i3032
activemodel=-1
zoom=650
xan=400
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=115
y=108
width=287
height=94
trans=0
halign=0
valign=3
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=168
y=216
width=157
height=46
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=5
buttontype=0
clientcode=0
x=367
y=87
width=26
height=23
overlayer=5
trans=0
graphic=537
activegraphic=-1

[com_4]
type=5
buttontype=3
clientcode=0
x=2
y=7
width=26
height=23
layer=com_5
trans=0
graphic=538
activegraphic=-1

[com_5]
type=0
buttontype=0
clientcode=0
x=365
y=80
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_6]
type=6
buttontype=0
clientcode=0
x=369
y=207
width=32
height=32
trans=0
model=com_i3037
activemodel=-1
zoom=800
xan=473
yan=1991
