// interface 464

[com_0]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=174
height=260
trans=0
scrollheight=501
hide=0

[com_1]
type=5
buttontype=1
clientcode=0
x=-2
y=6
width=42
height=48
layer=com_0
trans=0
graphic=700
activegraphic=-1
buttontext=Yes

[com_2]
type=5
buttontype=1
clientcode=0
x=42
y=6
width=42
height=48
layer=com_0
trans=0
graphic=701
activegraphic=-1
buttontext=No

[com_3]
type=5
buttontype=1
clientcode=0
x=86
y=6
width=42
height=48
layer=com_0
trans=0
graphic=703
activegraphic=-1
buttontext=Bow

[com_4]
type=5
buttontype=1
clientcode=0
x=130
y=6
width=42
height=48
layer=com_0
trans=0
graphic=704
activegraphic=-1
buttontext=Angry

[com_5]
type=5
buttontype=1
clientcode=0
x=-2
y=55
width=42
height=48
layer=com_0
trans=0
graphic=702
activegraphic=-1
buttontext=Think

[com_6]
type=5
buttontype=1
clientcode=0
x=42
y=55
width=42
height=48
layer=com_0
trans=0
graphic=708
activegraphic=-1
buttontext=Wave

[com_7]
type=5
buttontype=1
clientcode=0
x=86
y=55
width=42
height=48
layer=com_0
trans=0
graphic=720
activegraphic=-1
buttontext=Shrug

[com_8]
type=5
buttontype=1
clientcode=0
x=130
y=55
width=42
height=48
layer=com_0
trans=0
graphic=707
activegraphic=-1
buttontext=Cheer

[com_9]
type=5
buttontype=1
clientcode=0
x=-3
y=104
width=42
height=48
layer=com_0
trans=0
graphic=709
activegraphic=-1
buttontext=Beckon

[com_10]
type=5
buttontype=1
clientcode=0
x=39
y=104
width=42
height=48
layer=com_0
trans=0
graphic=706
activegraphic=-1
buttontext=Laugh

[com_11]
type=5
buttontype=1
clientcode=0
x=86
y=104
width=42
height=48
layer=com_0
trans=0
graphic=716
activegraphic=-1
buttontext=Jump for Joy

[com_12]
type=5
buttontype=1
clientcode=0
x=130
y=104
width=42
height=48
layer=com_0
trans=0
graphic=718
activegraphic=-1
buttontext=Yawn

[com_13]
type=5
buttontype=1
clientcode=0
x=-1
y=153
width=42
height=48
layer=com_0
trans=0
graphic=710
activegraphic=-1
buttontext=Dance

[com_14]
type=5
buttontype=1
clientcode=0
x=42
y=153
width=42
height=48
layer=com_0
trans=0
graphic=713
activegraphic=-1
buttontext=Jig

[com_15]
type=5
buttontype=1
clientcode=0
x=86
y=153
width=42
height=48
layer=com_0
trans=0
graphic=714
activegraphic=-1
buttontext=Spin

[com_16]
type=5
buttontype=1
clientcode=0
x=130
y=153
width=42
height=48
layer=com_0
trans=0
graphic=715
activegraphic=-1
buttontext=Headbang

[com_17]
type=5
buttontype=1
clientcode=0
x=-1
y=202
width=42
height=48
layer=com_0
trans=0
graphic=705
activegraphic=-1
buttontext=Cry

[com_18]
type=5
buttontype=1
clientcode=0
x=42
y=202
width=42
height=48
layer=com_0
trans=0
graphic=721
activegraphic=-1
buttontext=Blow Kiss

[com_19]
type=5
buttontype=1
clientcode=0
x=86
y=202
width=42
height=48
layer=com_0
trans=0
graphic=712
activegraphic=-1
buttontext=Panic

[com_20]
type=5
buttontype=1
clientcode=0
x=130
y=202
width=42
height=48
layer=com_0
trans=0
graphic=717
activegraphic=-1
buttontext=Raspberry

[com_21]
type=5
buttontype=1
clientcode=0
x=-1
y=252
width=42
height=48
layer=com_0
trans=0
graphic=711
activegraphic=-1
buttontext=Clap

[com_22]
type=5
buttontype=1
clientcode=0
x=42
y=252
width=42
height=48
layer=com_0
trans=0
graphic=719
activegraphic=-1
buttontext=Salute

[com_23]
type=5
buttontype=1
clientcode=0
x=86
y=252
width=42
height=48
layer=com_0
trans=0
scriptcmp=3/6
scripts=14/532/0
graphic=746
activegraphic=726
buttontext=Goblin Bow

[com_24]
type=5
buttontype=1
clientcode=0
x=130
y=252
width=42
height=48
layer=com_0
trans=0
scriptcmp=3/6
scripts=14/532/0
graphic=747
activegraphic=727
buttontext=Goblin Salute

[com_25]
type=5
buttontype=1
clientcode=0
x=-2
y=302
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/1/0
graphic=742
activegraphic=722
buttontext=Glass Box

[com_26]
type=5
buttontype=1
clientcode=0
x=42
y=302
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/2/0
graphic=743
activegraphic=723
buttontext=Climb Rope

[com_27]
type=5
buttontype=1
clientcode=0
x=86
y=302
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/3/0
graphic=744
activegraphic=724
buttontext=Lean

[com_28]
type=5
buttontype=1
clientcode=0
x=130
y=302
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/0/0
graphic=745
activegraphic=725
buttontext=Glass Wall

[com_29]
type=5
buttontype=1
clientcode=0
x=130
y=352
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/802/1/0
graphic=749
activegraphic=729
buttontext=Slap Head

[com_30]
type=5
buttontype=1
clientcode=0
x=42
y=352
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/802/3/0
graphic=750
activegraphic=730
buttontext=Stamp

[com_31]
type=5
buttontype=1
clientcode=0
x=86
y=352
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/802/0/0
graphic=751
activegraphic=731
buttontext=Flap

[com_32]
type=5
buttontype=1
clientcode=0
x=-6
y=352
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/802/2/0
graphic=752
activegraphic=732
buttontext=Idea

[com_33]
type=5
buttontype=1
clientcode=0
x=-3
y=403
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/6/0
graphic=753
activegraphic=733
buttontext=Zombie Walk

[com_34]
type=5
buttontype=1
clientcode=0
x=42
y=403
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/5/0
graphic=754
activegraphic=734
buttontext=Zombie Dance

[com_35]
type=5
buttontype=1
clientcode=0
x=86
y=403
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/4/0
graphic=748
activegraphic=728
buttontext=Scared

[com_36]
type=5
buttontype=1
clientcode=0
x=130
y=403
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/7/0
graphic=755
activegraphic=735
buttontext=Rabbit Hop

[com_37]
type=5
buttontype=1
clientcode=0
x=-1
y=453
width=42
height=48
layer=com_0
trans=0
scriptcmp=1/1
scripts=13/313/8/0
graphic=756
activegraphic=736
buttontext=Skill Cape

[com_38]
type=8
buttontype=0
clientcode=0
x=4
y=6
width=34
height=48
layer=com_0
trans=0
text=Yes

[com_39]
type=8
buttontype=0
clientcode=0
x=49
y=6
width=34
height=48
layer=com_0
trans=0
text=No

[com_40]
type=8
buttontype=0
clientcode=0
x=93
y=6
width=34
height=48
layer=com_0
trans=0
text=Bow

[com_41]
type=8
buttontype=0
clientcode=0
x=137
y=6
width=34
height=48
layer=com_0
trans=0
text=Angry

[com_42]
type=8
buttontype=0
clientcode=0
x=5
y=55
width=34
height=48
layer=com_0
trans=0
text=Think

[com_43]
type=8
buttontype=0
clientcode=0
x=47
y=55
width=34
height=48
layer=com_0
trans=0
text=Wave

[com_44]
type=8
buttontype=0
clientcode=0
x=93
y=55
width=34
height=48
layer=com_0
trans=0
text=Shrug

[com_45]
type=8
buttontype=0
clientcode=0
x=137
y=55
width=34
height=48
layer=com_0
trans=0
text=Cheer

[com_46]
type=8
buttontype=0
clientcode=0
x=4
y=104
width=34
height=48
layer=com_0
trans=0
text=Beckon

[com_47]
type=8
buttontype=0
clientcode=0
x=45
y=104
width=34
height=48
layer=com_0
trans=0
text=Laugh

[com_48]
type=8
buttontype=0
clientcode=0
x=94
y=104
width=34
height=48
layer=com_0
trans=0
text=Jump for Joy

[com_49]
type=8
buttontype=0
clientcode=0
x=138
y=104
width=34
height=48
layer=com_0
trans=0
text=Yawn

[com_50]
type=8
buttontype=0
clientcode=0
x=5
y=153
width=34
height=48
layer=com_0
trans=0
text=Dance

[com_51]
type=8
buttontype=0
clientcode=0
x=48
y=153
width=34
height=48
layer=com_0
trans=0
text=Jig

[com_52]
type=8
buttontype=0
clientcode=0
x=92
y=153
width=34
height=48
layer=com_0
trans=0
text=Spin

[com_53]
type=8
buttontype=0
clientcode=0
x=138
y=153
width=34
height=48
layer=com_0
trans=0
text=Headbang

[com_54]
type=8
buttontype=0
clientcode=0
x=6
y=202
width=34
height=48
layer=com_0
trans=0
text=Cry

[com_55]
type=8
buttontype=0
clientcode=0
x=46
y=202
width=34
height=48
layer=com_0
trans=0
text=Blow Kiss

[com_56]
type=8
buttontype=0
clientcode=0
x=94
y=202
width=34
height=48
layer=com_0
trans=0
text=Panic

[com_57]
type=8
buttontype=0
clientcode=0
x=136
y=202
width=34
height=48
layer=com_0
trans=0
text=Raspberry

[com_58]
type=8
buttontype=0
clientcode=0
x=4
y=252
width=34
height=48
layer=com_0
trans=0
text=Clap

[com_59]
type=8
buttontype=0
clientcode=0
x=49
y=252
width=34
height=48
layer=com_0
trans=0
text=Salute

[com_60]
type=8
buttontype=0
clientcode=0
x=92
y=252
width=34
height=48
layer=com_0
trans=0
text=Goblin Bow

[com_61]
type=8
buttontype=0
clientcode=0
x=137
y=252
width=34
height=48
layer=com_0
trans=0
text=Goblin Salute

[com_62]
type=8
buttontype=0
clientcode=0
x=-1
y=302
width=34
height=48
layer=com_0
trans=0
text=Glass Box

[com_63]
type=8
buttontype=0
clientcode=0
x=49
y=302
width=34
height=48
layer=com_0
trans=0
text=Climb Rope

[com_64]
type=8
buttontype=0
clientcode=0
x=94
y=302
width=34
height=48
layer=com_0
trans=0
text=Lean

[com_65]
type=8
buttontype=0
clientcode=0
x=136
y=302
width=34
height=48
layer=com_0
trans=0
text=Glass Wall

[com_66]
type=8
buttontype=0
clientcode=0
x=136
y=352
width=34
height=48
layer=com_0
trans=0
text=Slap Head

[com_67]
type=8
buttontype=0
clientcode=0
x=49
y=352
width=34
height=48
layer=com_0
trans=0
text=Stamp

[com_68]
type=8
buttontype=0
clientcode=0
x=91
y=352
width=34
height=48
layer=com_0
trans=0
text=Flap

[com_69]
type=8
buttontype=0
clientcode=0
x=5
y=352
width=34
height=48
layer=com_0
trans=0
text=Idea

[com_70]
type=8
buttontype=0
clientcode=0
x=5
y=403
width=34
height=48
layer=com_0
trans=0
text=Zombie Walk

[com_71]
type=8
buttontype=0
clientcode=0
x=48
y=403
width=34
height=48
layer=com_0
trans=0
text=Zombie Dance

[com_72]
type=8
buttontype=0
clientcode=0
x=93
y=403
width=34
height=48
layer=com_0
trans=0
text=Scared

[com_73]
type=8
buttontype=0
clientcode=0
x=135
y=403
width=34
height=48
layer=com_0
trans=0
text=Rabbit Hop

[com_74]
type=8
buttontype=0
clientcode=0
x=5
y=453
width=34
height=48
layer=com_0
trans=0
text=Skill Cape
