// interface 466

[com_0]
type=6
buttontype=0
clientcode=0
x=153
y=0
width=231
height=329
trans=0
model=com_i3032
activemodel=-1
zoom=860
xan=512
yan=512

[com_1]
type=6
buttontype=0
clientcode=0
x=206
y=27
width=96
height=257
trans=0
model=com_i18669
activemodel=com_i18669
zoom=650
xan=512
yan=0

[com_2]
type=5
buttontype=0
clientcode=0
x=297
y=43
width=26
height=23
overlayer=4
trans=0
graphic=537
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_4
trans=0
graphic=538
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=294
y=39
width=32
height=32
trans=0
scrollheight=0
hide=1
