// interface 468

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=514
height=340
trans=128
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=235
y=138
width=55
height=81
trans=0
model=com_i19339
activemodel=-1
zoom=731
xan=510
yan=0

[com_2]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=358
height=225
layer=com_2
trans=0
scrollheight=290
hide=0

[com_3]
type=0
buttontype=0
clientcode=0
x=46
y=80
width=430
height=192
trans=0
scrollheight=0
hide=0

[com_4]
type=5
buttontype=0
clientcode=0
x=432
y=39
width=26
height=23
overlayer=6
trans=0
graphic=537
activegraphic=-1

[com_5]
type=5
buttontype=3
clientcode=0
x=4
y=5
width=26
height=23
layer=com_6
trans=0
graphic=538
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=428
y=34
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_7]
type=4
buttontype=0
clientcode=0
x=56
y=42
width=299
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Diango Item Return
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=2
buttontype=0
clientcode=0
x=8
y=34
width=10
height=3
layer=com_3
trans=0
eventcode=0x800000
marginx=10
marginy=10
iop1=Take
targetverb=
targetbase=
