// interface 469

[com_0]
type=3
buttontype=0
clientcode=0
x=1
y=0
width=511
height=335
trans=0
fill=1
colour=0x2d2406
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=272
y=98
width=32
height=32
trans=0
model=com_i19486
activemodel=-1
zoom=505
xan=309
yan=1996

[com_2]
type=6
buttontype=0
clientcode=0
x=272
y=91
width=32
height=32
trans=0
model=com_i19487
activemodel=-1
zoom=505
xan=309
yan=1996

[com_3]
type=4
buttontype=1
clientcode=0
x=65
y=232
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Castle
activetext=
colour=0xd4b082
colour2=0xff3333
colourover=0xff3333
colour2over=0x000000
buttontext=

[com_4]
type=4
buttontype=0
clientcode=0
x=74
y=251
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Wars
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=53
y=126
width=32
height=32
trans=0
halign=0
valign=0
lineheight=21
font=645
shadowed=0
text=Grand
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=66
y=146
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Tree
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=358
y=27
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Varrock
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=199
y=119
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Entrana
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=266
y=54
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Taverley
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=290
y=132
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Crafting
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=305
y=151
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Guild
activetext=
colour=0xd4b082
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=6
buttontype=0
clientcode=0
x=272
y=91
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=505
xan=307
yan=1991

[com_13]
type=5
buttontype=0
clientcode=0
x=483
y=4
width=26
height=23
overlayer=15
trans=0
graphic=541
activegraphic=-1

[com_14]
type=5
buttontype=3
clientcode=0
x=3
y=3
width=26
height=23
layer=com_15
trans=0
graphic=542
activegraphic=-1

[com_15]
type=0
buttontype=0
clientcode=0
x=480
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_16]
type=5
buttontype=1
clientcode=0
x=58
y=229
width=99
height=53
overlayer=34
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_17]
type=5
buttontype=1
clientcode=0
x=51
y=125
width=99
height=53
overlayer=31
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_18]
type=5
buttontype=1
clientcode=0
x=289
y=133
width=135
height=52
overlayer=24
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_19]
type=5
buttontype=1
clientcode=0
x=199
y=121
width=77
height=34
overlayer=29
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_20]
type=5
buttontype=1
clientcode=0
x=266
y=54
width=81
height=35
overlayer=27
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_21]
type=5
buttontype=1
clientcode=0
x=356
y=25
width=83
height=35
overlayer=26
trans=0
graphic=-1
activegraphic=-1
buttontext=

[com_22]
type=4
buttontype=0
clientcode=0
x=1
y=-1
width=32
height=32
layer=com_24
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Crafting
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=16
y=18
width=32
height=32
layer=com_24
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Guild
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=0
buttontype=0
clientcode=0
x=289
y=133
width=135
height=52
trans=0
scrollheight=0
hide=1

[com_25]
type=4
buttontype=0
clientcode=0
x=2
y=2
width=32
height=32
layer=com_26
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Varrock
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=0
buttontype=0
clientcode=0
x=356
y=25
width=84
height=37
trans=0
scrollheight=0
hide=1

[com_27]
type=0
buttontype=0
clientcode=0
x=265
y=54
width=82
height=36
trans=0
scrollheight=0
hide=1

[com_28]
type=4
buttontype=0
clientcode=0
x=1
y=0
width=32
height=32
layer=com_27
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Taverley
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=0
buttontype=0
clientcode=0
x=199
y=121
width=77
height=33
trans=0
scrollheight=0
hide=1

[com_30]
type=4
buttontype=0
clientcode=0
x=0
y=-2
width=32
height=32
layer=com_29
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Entrana
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=0
buttontype=0
clientcode=0
x=51
y=125
width=99
height=53
trans=0
scrollheight=0
hide=1

[com_32]
type=4
buttontype=0
clientcode=0
x=2
y=1
width=32
height=32
layer=com_31
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Grand
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=4
buttontype=0
clientcode=0
x=15
y=21
width=32
height=32
layer=com_31
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Tree
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=0
buttontype=0
clientcode=0
x=58
y=229
width=99
height=53
trans=0
scrollheight=0
hide=1

[com_35]
type=4
buttontype=0
clientcode=0
x=7
y=3
width=32
height=32
layer=com_34
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Castle
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=4
buttontype=0
clientcode=0
x=16
y=22
width=32
height=32
layer=com_34
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=0
text=Wars
activetext=
colour=0xdbdbb7
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=6
buttontype=0
clientcode=0
x=366
y=144
width=32
height=32
trans=0
model=-1
activemodel=com_i19485
zoom=505
xan=301
yan=1985

[com_38]
type=6
buttontype=0
clientcode=0
x=435
y=40
width=32
height=32
trans=0
model=-1
activemodel=com_i19485
zoom=505
xan=301
yan=1985

[com_39]
type=6
buttontype=0
clientcode=0
x=344
y=53
width=32
height=32
trans=0
model=-1
activemodel=com_i19485
zoom=505
xan=301
yan=1985

[com_40]
type=6
buttontype=0
clientcode=0
x=118
y=137
width=32
height=32
trans=0
model=-1
activemodel=com_i19485
zoom=505
xan=301
yan=1985

[com_41]
type=6
buttontype=0
clientcode=0
x=129
y=235
width=32
height=32
trans=0
model=-1
activemodel=com_i19485
zoom=505
xan=301
yan=1985

[com_42]
type=6
buttontype=0
clientcode=0
x=270
y=140
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0
