// interface 471

[com_0]
type=6
buttontype=0
clientcode=0
x=31
y=54
width=32
height=32
trans=0
model=com_i19723
activemodel=-1
zoom=600
xan=0
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=24
y=20
width=32
height=32
layer=com_4
trans=0
model=com_i19721
activemodel=-1
zoom=800
xan=0
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=13
y=20
width=32
height=32
layer=com_4
trans=0
model=com_i19721
activemodel=-1
zoom=800
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=18
y=6
width=32
height=32
layer=com_4
trans=0
model=com_i19721
activemodel=-1
zoom=800
xan=0
yan=0

[com_4]
type=0
buttontype=0
clientcode=0
x=11
y=97
width=74
height=53
trans=0
scrollheight=0
hide=0

[com_5]
type=4
buttontype=0
clientcode=0
x=5
y=4
width=19
height=33
layer=com_23
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=1
text=X
activetext=
colour=0x996600
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=5
y=55
width=19
height=33
layer=com_23
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=1
text=X
activetext=
colour=0x996600
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=35
y=4
width=32
height=32
layer=com_23
trans=0
scripts=14/2880/0
halign=0
valign=0
lineheight=0
font=645
shadowed=1
text=%1
activetext=
colour=0xcccccc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=35
y=54
width=32
height=32
layer=com_23
trans=0
scripts=14/2881/0
halign=0
valign=0
lineheight=0
font=645
shadowed=1
text=%1
activetext=
colour=0xcccccc
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=1
clientcode=0
x=22
y=31
width=63
height=62
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_10]
type=4
buttontype=1
clientcode=0
x=6
y=138
width=67
height=33
trans=0
halign=1
valign=0
lineheight=0
font=645
shadowed=1
text=Relax
activetext=
colour=0x999999
colour2=0x000000
colourover=0x9999ff
colour2over=0x000000
buttontext=

[com_11]
type=4
buttontype=1
clientcode=0
x=34
y=175
width=50
height=73
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_12]
type=4
buttontype=1
clientcode=0
x=106
y=176
width=53
height=74
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_13]
type=6
buttontype=0
clientcode=0
x=51
y=31
width=32
height=32
trans=0
model=com_i19720
activemodel=-1
zoom=2000
xan=0
yan=0

[com_14]
type=6
buttontype=0
clientcode=0
x=51
y=58
width=32
height=32
trans=0
model=com_i19720
activemodel=-1
zoom=2000
xan=0
yan=0

[com_15]
type=6
buttontype=0
clientcode=0
x=72
y=102
width=32
height=32
trans=0
model=com_i19720
activemodel=-1
zoom=2000
xan=0
yan=0

[com_16]
type=6
buttontype=0
clientcode=0
x=57
y=188
width=32
height=32
trans=0
model=com_i19720
activemodel=-1
zoom=2000
xan=1024
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=130
y=176
width=32
height=32
trans=0
model=com_i19720
activemodel=-1
zoom=2000
xan=1024
yan=0

[com_18]
type=6
buttontype=0
clientcode=0
x=130
y=206
width=32
height=32
trans=0
model=com_i19720
activemodel=-1
zoom=2000
xan=1024
yan=0

[com_19]
type=6
buttontype=0
clientcode=0
x=67
y=140
width=32
height=32
trans=0
model=com_i19719
activemodel=-1
zoom=2000
xan=0
yan=0

[com_20]
type=6
buttontype=0
clientcode=0
x=112
y=192
width=32
height=32
trans=0
model=com_i19718
activemodel=-1
zoom=800
xan=0
yan=0

[com_21]
type=6
buttontype=0
clientcode=0
x=152
y=138
width=32
height=32
trans=0
model=com_i19484
activemodel=-1
zoom=1680
xan=477
yan=2041

[com_22]
type=6
buttontype=0
clientcode=0
x=41
y=191
width=32
height=32
trans=0
model=com_i19722
activemodel=-1
zoom=800
xan=0
yan=0

[com_23]
type=0
buttontype=0
clientcode=0
x=108
y=46
width=70
height=91
trans=0
scrollheight=0
hide=0

[com_24]
type=4
buttontype=0
clientcode=0
x=18
y=-2
width=162
height=32
trans=0
halign=0
valign=0
lineheight=0
font=645
shadowed=1
text=Balloon Controls
activetext=
colour=0x996600
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=1
clientcode=0
x=103
y=138
width=49
height=31
trans=0
halign=1
valign=0
lineheight=0
font=645
shadowed=1
text=Bail 
activetext=
colour=0x999999
colour2=0x000000
colourover=0x9999ff
colour2over=0x000000
buttontext=

[com_26]
type=4
buttontype=1
clientcode=0
x=9
y=96
width=91
height=39
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_27]
type=8
buttontype=0
clientcode=0
x=34
y=175
width=51
height=73
trans=0
text=Move down.

[com_28]
type=8
buttontype=0
clientcode=0
x=105
y=175
width=53
height=73
trans=0
text=Move down more.

[com_29]
type=8
buttontype=0
clientcode=0
x=106
y=46
width=71
height=38
trans=0
text=Sandbags left.

[com_30]
type=8
buttontype=0
clientcode=0
x=108
y=96
width=71
height=40
trans=0
text=Logs left.

[com_31]
type=8
buttontype=0
clientcode=0
x=10
y=98
width=91
height=40
trans=0
text=Move up.

[com_32]
type=8
buttontype=0
clientcode=0
x=22
y=33
width=59
height=59
trans=0
text=Move up more.

[com_33]
type=8
buttontype=0
clientcode=0
x=103
y=137
width=78
height=32
trans=0
text=We're doomed.

[com_34]
type=8
buttontype=0
clientcode=0
x=6
y=139
width=80
height=27
trans=0
text=Move forward.
