// interface 472

[com_0]
type=6
buttontype=0
clientcode=0
x=-24
y=29
width=463
height=300
trans=0
model=com_i11365
activemodel=-1
zoom=642
xan=501
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=75
y=18
width=300
height=300
trans=0
model=com_i19483
activemodel=-1
zoom=741
xan=492
yan=0

[com_2]
type=5
buttontype=0
clientcode=0
x=469
y=16
width=26
height=23
overlayer=4
trans=0
graphic=541
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_4
trans=0
graphic=542
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=465
y=12
width=32
height=32
trans=0
scrollheight=0
hide=1
