// interface 478

[com_0]
type=5
buttontype=0
clientcode=0
x=88
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=88
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=88
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=88
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=176
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=176
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=176
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=176
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=264
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=352
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=264
y=80
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=264
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=264
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=352
y=140
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=352
y=20
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=352
y=200
width=88
height=60
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=67
y=50
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=82
y=20
width=25
height=30
trans=0
graphic=310
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=67
y=86
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=67
y=122
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=67
y=158
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=67
y=194
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=67
y=212
width=36
height=36
trans=0
graphic=172
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=425
y=50
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=425
y=86
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=425
y=122
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=425
y=158
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=425
y=194
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=425
y=218
width=36
height=36
trans=0
graphic=315
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=107
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=143
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=179
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=215
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=251
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=287
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=323
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=359
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=388
y=245
width=36
height=36
trans=0
graphic=173
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=107
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=143
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=179
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=215
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=251
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=287
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=323
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=359
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=395
y=5
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=262
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=82
y=236
width=25
height=30
trans=0
graphic=312
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=421
y=20
width=25
height=30
trans=0
graphic=311
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=421
y=236
width=25
height=30
trans=0
graphic=313
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=298
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=334
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=370
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=405
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=226
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=190
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=154
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=118
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=87
y=34
width=36
height=36
trans=0
graphic=314
activegraphic=-1

[com_60]
type=4
buttontype=0
clientcode=0
x=93
y=30
width=344
height=16
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Imp Release Negotiation Form
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_61]
type=2
buttontype=0
clientcode=0
x=127
y=71
width=7
height=4
trans=0
eventcode=0x10800000
marginx=8
marginy=10
iop1=Deposit
targetverb=
targetbase=

[com_62]
type=4
buttontype=0
clientcode=0
x=88
y=232
width=352
height=26
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Select an item or stack of items to deposit.<br><col=ff7000>You can deposit up to 2 items or stacks.
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_63]
type=5
buttontype=0
clientcode=0
x=418
y=26
width=26
height=23
overlayer=65
trans=0
graphic=535
activegraphic=-1

[com_64]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_65
trans=0
graphic=536
activegraphic=-1

[com_65]
type=0
buttontype=0
clientcode=0
x=415
y=22
width=32
height=32
trans=0
scrollheight=0
hide=1
