// interface 479

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=520
height=340
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=248
y=111
width=32
height=32
trans=0
model=com_i20408
activemodel=-1
zoom=570
xan=504
yan=0

[com_2]
type=5
buttontype=0
clientcode=0
x=428
y=25
width=26
height=23
overlayer=4
trans=0
graphic=537
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_4
overlayer=4
trans=0
graphic=538
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=425
y=20
width=32
height=32
trans=0
scrollheight=0
hide=1
