// interface 480

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=513
height=334
trans=50
fill=1
colour=0x736550
colour2=0x736550
colourover=0x736550
colour2over=0x736550

[com_1]
type=3
buttontype=0
clientcode=0
x=81
y=5
width=361
height=276
trans=0
fill=1
colour=0xe6d2a9
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=5
buttontype=0
clientcode=0
x=468
y=10
width=27
height=24
overlayer=4
trans=0
graphic=539
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=1
y=1
width=51
height=30
layer=com_4
trans=0
graphic=540
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=467
y=9
width=29
height=26
trans=0
scrollheight=0
hide=1

[com_5]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_6
trans=0
model=com_i20432
activemodel=-1
zoom=1368
xan=0
yan=0

[com_6]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_7]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_8
trans=0
model=com_i20433
activemodel=-1
zoom=1368
xan=0
yan=0

[com_8]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_9]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_10
trans=0
model=com_i20434
activemodel=-1
zoom=1368
xan=0
yan=0

[com_10]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_11]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_12
trans=0
model=com_i20437
activemodel=-1
zoom=1368
xan=0
yan=0

[com_12]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_13]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_14
trans=0
model=com_i20438
activemodel=-1
zoom=1368
xan=0
yan=0

[com_14]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_15]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_16
trans=0
model=com_i20439
activemodel=-1
zoom=1368
xan=0
yan=0

[com_16]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_17]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_18
trans=0
model=com_i20440
activemodel=-1
zoom=1368
xan=0
yan=0

[com_18]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_19]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_20
trans=0
model=com_i20441
activemodel=-1
zoom=1368
xan=0
yan=0

[com_20]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_21]
type=6
buttontype=0
clientcode=0
x=163
y=114
width=32
height=32
layer=com_22
trans=0
model=com_i20442
activemodel=-1
zoom=1368
xan=0
yan=0

[com_22]
type=0
buttontype=0
clientcode=0
x=84
y=7
width=356
height=271
trans=0
scrollheight=0
hide=0

[com_23]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_50
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_24]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_26
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_25]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_51
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_26]
type=0
buttontype=0
clientcode=0
x=46
y=290
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_27]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_28
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_28]
type=0
buttontype=0
clientcode=0
x=94
y=290
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_29]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_52
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_30]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_31
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_31]
type=0
buttontype=0
clientcode=0
x=142
y=289
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_32]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_53
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_33]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_34
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_34]
type=0
buttontype=0
clientcode=0
x=191
y=289
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_35]
type=6
buttontype=1
clientcode=0
x=0
y=1
width=32
height=32
layer=com_54
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_36]
type=6
buttontype=1
clientcode=0
x=0
y=1
width=32
height=32
layer=com_37
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_37]
type=0
buttontype=0
clientcode=0
x=238
y=288
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_38]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_55
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_39]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_40
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_40]
type=0
buttontype=0
clientcode=0
x=285
y=289
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_41]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_56
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_42]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_43
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_43]
type=0
buttontype=0
clientcode=0
x=335
y=289
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_44]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_57
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_45]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_46
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_46]
type=0
buttontype=0
clientcode=0
x=381
y=289
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_47]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_58
trans=0
model=com_i20435
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=On

[com_48]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=32
height=32
layer=com_49
trans=0
model=com_i20436
activemodel=-1
zoom=5774
xan=512
yan=0
buttontext=Off

[com_49]
type=0
buttontype=0
clientcode=0
x=430
y=289
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_50]
type=0
buttontype=0
clientcode=0
x=46
y=290
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_51]
type=0
buttontype=0
clientcode=0
x=94
y=290
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_52]
type=0
buttontype=0
clientcode=0
x=142
y=289
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_53]
type=0
buttontype=0
clientcode=0
x=191
y=289
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_54]
type=0
buttontype=0
clientcode=0
x=238
y=288
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_55]
type=0
buttontype=0
clientcode=0
x=285
y=289
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_56]
type=0
buttontype=0
clientcode=0
x=335
y=289
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_57]
type=0
buttontype=0
clientcode=0
x=381
y=289
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_58]
type=0
buttontype=0
clientcode=0
x=430
y=289
width=32
height=32
trans=0
scrollheight=0
hide=1
