// interface 482

[com_0]
type=6
buttontype=0
clientcode=0
x=315
y=142
width=32
height=32
trans=0
model=com_i20467
activemodel=-1
anim=5062
zoom=354
xan=0
yan=0

[com_1]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=550
height=400
trans=180
fill=1
colour=0xccccff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
