// interface 484

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=520
height=335
trans=150
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=10
y=140
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Attacker :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=10
y=163
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Defender :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=10
y=187
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Collector :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=10
y=210
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Healer :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=88
y=141
width=140
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=----------------------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=88
y=164
width=140
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=----------------------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=88
y=188
width=140
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=----------------------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=88
y=211
width=140
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=----------------------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=6
buttontype=0
clientcode=0
x=267
y=37
width=32
height=32
trans=0
model=com_i20561
activemodel=-1
zoom=1084
xan=483
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=266
y=117
width=32
height=32
trans=0
model=com_i20566
activemodel=-1
zoom=1084
xan=512
yan=0

[com_11]
type=6
buttontype=0
clientcode=0
x=265
y=190
width=32
height=32
trans=0
model=com_i20563
activemodel=-1
zoom=956
xan=392
yan=2038

[com_12]
type=6
buttontype=0
clientcode=0
x=265
y=269
width=32
height=32
trans=0
model=com_i20569
activemodel=-1
zoom=1084
xan=450
yan=2044

[com_13]
type=4
buttontype=1
clientcode=0
x=313
y=178
width=32
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Red
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_14]
type=4
buttontype=1
clientcode=0
x=313
y=198
width=32
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Green
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_15]
type=4
buttontype=1
clientcode=0
x=313
y=218
width=32
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Blue
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_16]
type=4
buttontype=1
clientcode=0
x=313
y=19
width=150
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Controlled/Bronze/Wind
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_17]
type=4
buttontype=1
clientcode=0
x=313
y=36
width=150
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Accurate/Iron/Water
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_18]
type=4
buttontype=1
clientcode=0
x=313
y=54
width=150
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Aggressive/Steel/Earth
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_19]
type=4
buttontype=1
clientcode=0
x=313
y=72
width=150
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Defensive/Mithril/Fire
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_20]
type=4
buttontype=1
clientcode=0
x=313
y=105
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Tofu
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_21]
type=4
buttontype=1
clientcode=0
x=313
y=141
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Worms
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_22]
type=4
buttontype=1
clientcode=0
x=313
y=123
width=60
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Crackers
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_23]
type=4
buttontype=1
clientcode=0
x=313
y=262
width=90
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Poison tofu
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_24]
type=4
buttontype=1
clientcode=0
x=313
y=280
width=90
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Poison worms
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_25]
type=4
buttontype=1
clientcode=0
x=313
y=298
width=90
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Poison meat
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xcccccc
colour2over=0x000000
buttontext=Call

[com_26]
type=4
buttontype=0
clientcode=0
x=37
y=37
width=135
height=32
trans=0
halign=1
valign=0
lineheight=0
font=764
shadowed=1
text=Horn of Glory
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=5
buttontype=0
clientcode=0
x=478
y=9
width=26
height=23
overlayer=29
trans=0
graphic=539
activegraphic=-1

[com_28]
type=5
buttontype=1
clientcode=0
x=3
y=2
width=26
height=23
layer=com_29
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_29]
type=0
buttontype=0
clientcode=0
x=475
y=7
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_30]
type=4
buttontype=0
clientcode=0
x=71
y=117
width=52
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Call out :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
