// interface 485

[com_0]
type=5
buttontype=0
clientcode=0
x=492
y=1
width=17
height=13
trans=0
graphic=765
activegraphic=-1

[com_1]
type=4
buttontype=0
clientcode=0
x=422
y=-9
width=66
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Wave 1
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=5
buttontype=0
clientcode=0
x=492
y=28
width=17
height=13
trans=0
graphic=766
activegraphic=-1

[com_3]
type=4
buttontype=0
clientcode=0
x=387
y=10
width=102
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Controlled/
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=377
y=25
width=112
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Bronze/Wind
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=5
buttontype=0
clientcode=0
x=492
y=56
width=17
height=13
trans=0
graphic=767
activegraphic=-1

[com_6]
type=4
buttontype=0
clientcode=0
x=389
y=45
width=100
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Green eggs
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=5
buttontype=0
clientcode=0
x=492
y=75
width=17
height=13
trans=0
graphic=770
activegraphic=-1

[com_8]
type=4
buttontype=0
clientcode=0
x=409
y=66
width=80
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Collector
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
