// interface 486

[com_0]
type=5
buttontype=0
clientcode=0
x=492
y=1
width=17
height=13
trans=0
graphic=765
activegraphic=-1

[com_1]
type=4
buttontype=0
clientcode=0
x=416
y=-9
width=70
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Wave 1
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=5
buttontype=0
clientcode=0
x=493
y=24
width=17
height=13
trans=0
graphic=766
activegraphic=-1

[com_3]
type=4
buttontype=0
clientcode=0
x=406
y=11
width=80
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Red eggs
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=5
buttontype=0
clientcode=0
x=491
y=44
width=17
height=13
trans=0
graphic=767
activegraphic=-1

[com_5]
type=4
buttontype=0
clientcode=0
x=418
y=32
width=68
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Style 1
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=5
buttontype=0
clientcode=0
x=491
y=64
width=17
height=13
trans=0
graphic=768
activegraphic=-1

[com_7]
type=4
buttontype=0
clientcode=0
x=408
y=54
width=78
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Attacker
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
