// interface 488

[com_0]
type=5
buttontype=0
clientcode=0
x=491
y=0
width=17
height=13
trans=0
graphic=765
activegraphic=-1

[com_1]
type=4
buttontype=0
clientcode=0
x=415
y=-9
width=69
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Wave 1
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=5
buttontype=0
clientcode=0
x=491
y=22
width=17
height=13
trans=0
graphic=766
activegraphic=-1

[com_3]
type=4
buttontype=0
clientcode=0
x=376
y=11
width=108
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Poison tofu
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=5
buttontype=0
clientcode=0
x=489
y=46
width=17
height=13
trans=0
graphic=767
activegraphic=-1

[com_5]
type=4
buttontype=0
clientcode=0
x=438
y=34
width=46
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Tofu
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=5
buttontype=0
clientcode=0
x=491
y=67
width=17
height=13
trans=0
graphic=769
activegraphic=-1

[com_7]
type=4
buttontype=0
clientcode=0
x=401
y=57
width=84
height=32
trans=0
halign=2
valign=0
lineheight=0
font=764
shadowed=1
text=Defender
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=3
buttontype=0
clientcode=0
x=0
y=313
width=465
height=21
trans=196
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=3
buttontype=0
clientcode=0
x=0
y=291
width=465
height=22
trans=128
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=0
y=294
width=117
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Alex
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=29
y=315
width=86
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=HP 50/78
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=0
buttontype=0
clientcode=0
x=-7
y=307
width=125
height=40
trans=0
scrollheight=0
hide=1

[com_13]
type=6
buttontype=0
clientcode=0
x=87
y=0
width=32
height=32
layer=com_12
trans=0
model=com_i20559
activemodel=-1
anim=5421
zoom=3000
xan=0
yan=0

[com_14]
type=3
buttontype=0
clientcode=0
x=0
y=312
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=3
buttontype=0
clientcode=0
x=0
y=291
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=0
buttontype=0
clientcode=0
x=109
y=307
width=125
height=40
trans=0
scrollheight=0
hide=1

[com_17]
type=6
buttontype=0
clientcode=0
x=87
y=0
width=32
height=32
layer=com_16
trans=0
model=com_i20559
activemodel=-1
anim=5421
zoom=3000
xan=0
yan=0

[com_18]
type=4
buttontype=0
clientcode=0
x=116
y=294
width=117
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Tim
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=143
y=315
width=90
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=HP 88/88
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=3
buttontype=0
clientcode=0
x=116
y=312
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=3
buttontype=0
clientcode=0
x=116
y=291
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=0
buttontype=0
clientcode=0
x=225
y=307
width=125
height=40
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=87
y=0
width=32
height=32
layer=com_22
trans=0
model=com_i20559
activemodel=-1
anim=5421
zoom=3000
xan=0
yan=0

[com_24]
type=4
buttontype=0
clientcode=0
x=232
y=294
width=117
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Matt
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=259
y=315
width=90
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=HP 24/54
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=3
buttontype=0
clientcode=0
x=232
y=312
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=3
buttontype=0
clientcode=0
x=232
y=291
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=0
buttontype=0
clientcode=0
x=341
y=307
width=125
height=40
trans=0
scrollheight=0
hide=1

[com_29]
type=6
buttontype=0
clientcode=0
x=87
y=0
width=32
height=32
layer=com_28
trans=0
model=com_i20559
activemodel=-1
anim=5421
zoom=3000
xan=0
yan=0

[com_30]
type=4
buttontype=0
clientcode=0
x=348
y=294
width=117
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Martin
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=4
buttontype=0
clientcode=0
x=374
y=315
width=90
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=HP 61/62
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=3
buttontype=0
clientcode=0
x=348
y=312
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=3
buttontype=0
clientcode=0
x=348
y=291
width=117
height=22
trans=0
fill=0
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=6
buttontype=0
clientcode=0
x=0
y=310
width=30
height=30
trans=0
model=-1
activemodel=-1
zoom=1424
xan=0
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=114
y=310
width=30
height=30
trans=0
model=-1
activemodel=-1
zoom=1424
xan=0
yan=0

[com_36]
type=6
buttontype=0
clientcode=0
x=230
y=310
width=30
height=30
trans=0
model=-1
activemodel=-1
zoom=1424
xan=0
yan=0

[com_37]
type=6
buttontype=0
clientcode=0
x=345
y=310
width=30
height=30
trans=0
model=-1
activemodel=-1
zoom=1424
xan=0
yan=0
