// interface 490

[com_0]
type=3
buttontype=0
clientcode=0
x=-4
y=-11
width=512
height=400
trans=120
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=239
y=504
width=32
height=32
trans=0
model=com_i20734
activemodel=-1
zoom=240
xan=0
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=107
y=75
width=135
height=27
trans=0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=Player status for:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=0
clientcode=0
x=74
y=110
width=55
height=13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Role
activetext=
colour=0x990000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=136
y=110
width=90
height=28
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Current honour points
activetext=
colour=0x009900
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=74
y=144
width=56
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Attacker
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=74
y=261
width=55
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Healer
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=74
y=184
width=55
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Defender
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=74
y=224
width=55
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Collector
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=378
y=109
width=65
height=32
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Points for next level
activetext=
colour=0xcccc00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=398
y=145
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=398
y=184
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=398
y=224
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=398
y=263
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=234
y=110
width=30
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Level
activetext=
colour=0x990099
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=245
y=145
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=245
y=184
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=245
y=224
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=245
y=263
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=245
y=75
width=90
height=27
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=null
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=175
y=144
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=175
y=183
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=175
y=223
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=175
y=262
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=346
y=75
width=82
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Current wave :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=433
y=75
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=275
y=109
width=77
height=29
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Reward next level
activetext=
colour=0x009999
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=279
y=144
width=83
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-----------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=279
y=183
width=83
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-----------
activetext=
colour=0xff9800
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=279
y=218
width=83
height=28
trans=0
halign=0
valign=1
lineheight=0
font=495
shadowed=1
text=-----------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=4
buttontype=0
clientcode=0
x=279
y=262
width=83
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-----------
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=5
buttontype=0
clientcode=0
x=469
y=32
width=26
height=23
overlayer=33
trans=0
graphic=539
activegraphic=-1

[com_32]
type=5
buttontype=3
clientcode=0
x=3
y=2
width=26
height=23
layer=com_33
trans=0
graphic=540
activegraphic=-1

[com_33]
type=0
buttontype=0
clientcode=0
x=466
y=30
width=32
height=32
trans=0
scrollheight=0
hide=1
