// interface 492

[com_0]
type=3
buttontype=0
clientcode=0
x=10
y=-4
width=512
height=400
trans=120
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=244
y=176
width=32
height=32
trans=0
model=com_i19339
activemodel=-1
zoom=736
xan=527
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=51
y=48
width=260
height=17
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Player 1 Interface Screen
activetext=
colour=0xff9833
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=1
clientcode=0
x=411
y=279
width=40
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Decline
activetext=
colour=0xc8c800
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Decline

[com_4]
type=6
buttontype=0
clientcode=0
x=413
y=232
width=32
height=32
overlayer=51
trans=0
model=com_i8684
activemodel=-1
zoom=1168
xan=531
yan=2008

[com_5]
type=4
buttontype=1
clientcode=0
x=352
y=277
width=39
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Accept
activetext=
colour=0xc8c800
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Accept

[com_6]
type=4
buttontype=0
clientcode=0
x=323
y=83
width=159
height=18
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Player 2 selected role:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=359
y=103
width=85
height=17
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Waiting ...
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=77
y=81
width=191
height=20
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=The team:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=77
y=115
width=63
height=15
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Name
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=148
y=115
width=64
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Role
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=49
y=144
width=6
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=1
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=49
y=176
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=2
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=49
y=208
width=7
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=3
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=49
y=240
width=7
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=4
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=49
y=272
width=7
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=5
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=66
y=137
width=76
height=25
trans=0
halign=0
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=66
y=168
width=76
height=25
trans=0
halign=0
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=65
y=203
width=76
height=25
trans=0
halign=0
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=66
y=232
width=76
height=25
trans=0
halign=0
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=66
y=267
width=76
height=25
trans=0
halign=0
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=147
y=137
width=65
height=25
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=147
y=167
width=65
height=25
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=147
y=202
width=65
height=25
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=147
y=231
width=65
height=25
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=147
y=267
width=65
height=25
trans=0
halign=1
valign=1
lineheight=0
font=494
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=296
y=115
width=34
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Wave
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=308
y=144
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=6
buttontype=1
clientcode=0
x=240
y=199
width=32
height=32
trans=0
model=com_i8684
activemodel=-1
zoom=2448
xan=471
yan=2020
buttontext=Remove player

[com_29]
type=6
buttontype=1
clientcode=0
x=240
y=231
width=32
height=32
trans=0
model=com_i8684
activemodel=-1
zoom=2448
xan=471
yan=2020
buttontext=Remove player

[com_30]
type=6
buttontype=1
clientcode=0
x=240
y=265
width=32
height=32
trans=0
model=com_i8684
activemodel=-1
zoom=2448
xan=471
yan=2020
buttontext=Remove player

[com_31]
type=4
buttontype=0
clientcode=0
x=223
y=115
width=63
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Remove?
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=308
y=176
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=4
buttontype=0
clientcode=0
x=308
y=208
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=4
buttontype=0
clientcode=0
x=308
y=236
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=4
buttontype=0
clientcode=0
x=308
y=272
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=6
buttontype=0
clientcode=0
x=356
y=231
width=32
height=32
overlayer=49
trans=0
model=com_i8685
activemodel=-1
zoom=1040
xan=405
yan=2002

[com_37]
type=3
buttontype=0
clientcode=0
x=142
y=109
width=5
height=187
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=3
buttontype=0
clientcode=0
x=216
y=109
width=5
height=187
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=3
buttontype=0
clientcode=0
x=60
y=109
width=5
height=187
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=3
buttontype=0
clientcode=0
x=288
y=109
width=5
height=187
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=3
buttontype=0
clientcode=0
x=47
y=163
width=285
height=5
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_42]
type=3
buttontype=0
clientcode=0
x=47
y=198
width=285
height=5
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_43]
type=3
buttontype=0
clientcode=0
x=47
y=227
width=285
height=5
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_44]
type=3
buttontype=0
clientcode=0
x=47
y=262
width=285
height=5
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=3
buttontype=0
clientcode=0
x=47
y=132
width=285
height=5
trans=0
fill=1
colour=0x80703b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=4
buttontype=0
clientcode=0
x=360
y=135
width=85
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Level in role:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_47]
type=4
buttontype=0
clientcode=0
x=360
y=156
width=85
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Waiting ...
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=6
buttontype=1
clientcode=0
x=240
y=168
width=32
height=32
trans=0
model=com_i8684
activemodel=-1
zoom=2448
xan=471
yan=2020
buttontext=Remove player

[com_49]
type=0
buttontype=0
clientcode=0
x=336
y=216
width=70
height=70
trans=0
scrollheight=0
hide=1

[com_50]
type=6
buttontype=1
clientcode=0
x=20
y=15
width=32
height=32
layer=com_49
trans=0
model=com_i20558
activemodel=-1
zoom=1040
xan=405
yan=2002
buttontext=Accept

[com_51]
type=0
buttontype=0
clientcode=0
x=394
y=216
width=70
height=70
trans=0
scrollheight=0
hide=1

[com_52]
type=6
buttontype=1
clientcode=0
x=20
y=15
width=32
height=32
layer=com_51
trans=0
model=com_i20530
activemodel=-1
zoom=1168
xan=531
yan=2008
buttontext=Decline
