// interface 493

[com_0]
type=3
buttontype=0
clientcode=0
x=1
y=3
width=512
height=400
trans=120
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=246
y=164
width=32
height=32
trans=0
model=com_i19339
activemodel=-1
zoom=721
xan=512
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=51
y=28
width=225
height=17
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Player 2 Interface Screen
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=1
clientcode=0
x=401
y=235
width=40
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Decline
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xc8c800
colour2over=0x000000
buttontext=Decline

[com_4]
type=6
buttontype=0
clientcode=0
x=225
y=92
width=60
height=60
overlayer=40
trans=0
model=com_i20560
activemodel=com_i20561
zoom=1074
xan=585
yan=0

[com_5]
type=4
buttontype=1
clientcode=0
x=227
y=153
width=60
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Attacker
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xc8c800
colour2over=0x000000
buttontext=Choose Attacker

[com_6]
type=6
buttontype=0
clientcode=0
x=288
y=103
width=60
height=60
overlayer=42
trans=0
model=com_i20567
activemodel=com_i20566
zoom=1074
xan=585
yan=0

[com_7]
type=4
buttontype=1
clientcode=0
x=290
y=167
width=60
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Defender
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xc8c800
colour2over=0x000000
buttontext=Choose Defender

[com_8]
type=4
buttontype=1
clientcode=0
x=351
y=154
width=60
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Collector
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xc8c800
colour2over=0x000000
buttontext=Choose Collector

[com_9]
type=6
buttontype=0
clientcode=0
x=351
y=92
width=60
height=60
overlayer=44
trans=0
model=com_i20564
activemodel=com_i20563
zoom=1074
xan=585
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=415
y=103
width=60
height=60
overlayer=46
trans=0
model=com_i20570
activemodel=com_i20569
zoom=1074
xan=585
yan=0

[com_11]
type=4
buttontype=1
clientcode=0
x=416
y=168
width=60
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Healer
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xc8c800
colour2over=0x000000
buttontext=Choose Healer

[com_12]
type=6
buttontype=0
clientcode=0
x=324
y=191
width=32
height=32
overlayer=48
trans=0
model=com_i8685
activemodel=-1
zoom=1168
xan=444
yan=2020

[com_13]
type=4
buttontype=1
clientcode=0
x=319
y=234
width=39
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Accept
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xc8c800
colour2over=0x000000
buttontext=Accept

[com_14]
type=6
buttontype=0
clientcode=0
x=404
y=193
width=32
height=32
overlayer=50
trans=0
model=com_i8684
activemodel=-1
zoom=1296
xan=501
yan=2014

[com_15]
type=4
buttontype=0
clientcode=0
x=278
y=73
width=195
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=None
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=1
y=1
width=189
height=30
layer=com_17
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Waiting for player 1 to accept...
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=0
buttontype=0
clientcode=0
x=278
y=251
width=191
height=32
trans=0
scrollheight=0
hide=1

[com_18]
type=4
buttontype=0
clientcode=0
x=81
y=43
width=103
height=15
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=The team:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=44
y=75
width=50
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Name
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=44
y=93
width=44
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Role
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=44
y=59
width=101
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=--- Leader ---
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=45
y=117
width=101
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=--- Followers ---
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=93
y=75
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=94
y=133
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=94
y=174
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=94
y=214
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=93
y=256
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=93
y=93
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=94
y=151
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=4
buttontype=0
clientcode=0
x=94
y=192
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=4
buttontype=0
clientcode=0
x=94
y=232
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=93
y=274
width=108
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=none set
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=4
buttontype=0
clientcode=0
x=201
y=58
width=30
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Wave
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=4
buttontype=0
clientcode=0
x=209
y=79
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=4
buttontype=0
clientcode=0
x=210
y=141
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=4
buttontype=0
clientcode=0
x=210
y=183
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=4
buttontype=0
clientcode=0
x=210
y=223
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=210
y=267
width=8
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=4
buttontype=0
clientcode=0
x=279
y=38
width=196
height=31
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Please select a role!<br>Current Role:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=0
buttontype=0
clientcode=0
x=225
y=92
width=60
height=60
trans=0
scrollheight=0
hide=1

[com_41]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=60
height=60
layer=com_40
trans=0
model=com_i20562
activemodel=-1
zoom=1074
xan=585
yan=0
buttontext=Choose Attacker

[com_42]
type=0
buttontype=0
clientcode=0
x=288
y=103
width=60
height=60
trans=0
scrollheight=0
hide=1

[com_43]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=60
height=60
layer=com_42
trans=0
model=com_i20568
activemodel=-1
zoom=1074
xan=585
yan=0
buttontext=Choose Defender

[com_44]
type=0
buttontype=0
clientcode=0
x=351
y=92
width=60
height=60
trans=0
scrollheight=0
hide=1

[com_45]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=60
height=60
layer=com_44
trans=0
model=com_i20565
activemodel=-1
zoom=1074
xan=585
yan=0
buttontext=Choose Collector

[com_46]
type=0
buttontype=0
clientcode=0
x=415
y=103
width=60
height=60
trans=0
scrollheight=0
hide=1

[com_47]
type=6
buttontype=1
clientcode=0
x=0
y=0
width=60
height=60
layer=com_46
trans=0
model=com_i20571
activemodel=-1
zoom=1074
xan=585
yan=0
buttontext=Choose Healer

[com_48]
type=0
buttontype=0
clientcode=0
x=303
y=176
width=70
height=70
trans=0
scrollheight=0
hide=1

[com_49]
type=6
buttontype=1
clientcode=0
x=21
y=15
width=32
height=32
layer=com_48
trans=0
model=com_i20558
activemodel=-1
zoom=1168
xan=444
yan=2020
buttontext=Accept

[com_50]
type=0
buttontype=0
clientcode=0
x=386
y=177
width=70
height=70
trans=0
scrollheight=0
hide=1

[com_51]
type=6
buttontype=1
clientcode=0
x=18
y=16
width=32
height=32
layer=com_50
trans=0
model=com_i20530
activemodel=-1
zoom=1296
xan=501
yan=2014
buttontext=Decline

[com_52]
type=4
buttontype=0
clientcode=0
x=45
y=133
width=50
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Name
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_53]
type=4
buttontype=0
clientcode=0
x=45
y=151
width=44
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Role
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_54]
type=4
buttontype=0
clientcode=0
x=45
y=174
width=50
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Name
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_55]
type=4
buttontype=0
clientcode=0
x=45
y=192
width=44
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Role
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_56]
type=4
buttontype=0
clientcode=0
x=45
y=214
width=50
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Name
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_57]
type=4
buttontype=0
clientcode=0
x=45
y=232
width=44
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Role
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_58]
type=4
buttontype=0
clientcode=0
x=44
y=256
width=50
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Name
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_59]
type=4
buttontype=0
clientcode=0
x=44
y=274
width=44
height=15
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Role
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
