// interface 494

[com_0]
type=4
buttontype=0
clientcode=0
x=481
y=5
width=70
height=15
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=XX
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=354
y=5
width=125
height=15
trans=0
halign=2
valign=0
lineheight=0
font=495
shadowed=1
text=Time until next wave:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=374
y=18
width=116
height=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=(exit room to cancel)
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
