// interface 496

[com_0]
type=3
buttontype=0
clientcode=0
x=1
y=0
width=512
height=400
trans=120
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=247
y=165
width=32
height=32
trans=0
model=com_i19339
activemodel=-1
zoom=730
xan=524
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=49
y=44
width=428
height=13
trans=0
halign=1
valign=1
lineheight=0
font=764
shadowed=1
text=Tutorial Progress
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=4
buttontype=1
clientcode=0
x=178
y=77
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Introduction to the Arena
activetext=
colour=0xff0033
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_4]
type=4
buttontype=1
clientcode=0
x=178
y=95
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Getting Started
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_5]
type=4
buttontype=1
clientcode=0
x=178
y=114
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Playing the Game
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_6]
type=4
buttontype=1
clientcode=0
x=178
y=133
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=The Attacker Role
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_7]
type=4
buttontype=1
clientcode=0
x=178
y=152
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=The Defender Role
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_8]
type=4
buttontype=1
clientcode=0
x=178
y=171
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=The Collector Role
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_9]
type=4
buttontype=1
clientcode=0
x=178
y=190
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=The Healer Role
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_10]
type=4
buttontype=1
clientcode=0
x=178
y=209
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Extra Information
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_11]
type=4
buttontype=1
clientcode=0
x=178
y=228
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=The Final Battle
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_12]
type=4
buttontype=1
clientcode=0
x=178
y=248
width=165
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Rewards
activetext=
colour=0xff0000
colour2=0x000000
colourover=0xffff99
colour2over=0x000000
buttontext=

[com_13]
type=5
buttontype=0
clientcode=0
x=445
y=33
width=26
height=23
overlayer=15
trans=0
graphic=537
activegraphic=-1

[com_14]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_15
trans=0
graphic=538
activegraphic=-1

[com_15]
type=0
buttontype=0
clientcode=0
x=442
y=28
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_16]
type=6
buttontype=0
clientcode=0
x=112
y=182
width=32
height=32
trans=0
model=com_i20620
activemodel=-1
zoom=528
xan=0
yan=0

[com_17]
type=6
buttontype=0
clientcode=0
x=380
y=182
width=32
height=32
trans=0
model=com_i20620
activemodel=-1
zoom=528
xan=0
yan=0
