// interface 497

[com_0]
type=3
buttontype=0
clientcode=0
x=1
y=0
width=512
height=400
trans=120
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=247
y=165
width=32
height=32
trans=0
model=com_i19339
activemodel=-1
zoom=730
xan=524
yan=0

[com_2]
type=6
buttontype=0
clientcode=0
x=232
y=101
width=32
height=32
trans=0
model=com_i20733
activemodel=-1
zoom=475
xan=429
yan=2035

[com_3]
type=6
buttontype=0
clientcode=0
x=400
y=253
width=32
height=32
trans=0
model=com_i20620
activemodel=-1
zoom=713
xan=0
yan=0

[com_4]
type=4
buttontype=0
clientcode=0
x=210
y=32
width=111
height=13
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Wave Complete!
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=240
y=47
width=56
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Reward: 
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=2
y=51
width=128
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Runners that got past
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=3
y=67
width=82
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Rangers killed
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=3
y=83
width=82
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Fighters killed
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=3
y=99
width=82
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Healers killed
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=4
buttontype=0
clientcode=0
x=3
y=115
width=82
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Runners killed
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=3
y=131
width=168
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Player hitpoints replenished
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=3
y=147
width=146
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Wrong poison packs used
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=3
y=164
width=168
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Eggs collected (min. exploded)
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=3
y=180
width=132
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Failed Attacker attacks
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=175
y=51
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=175
y=67
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=175
y=83
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=175
y=99
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=175
y=115
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=175
y=131
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=175
y=147
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=175
y=164
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_23]
type=4
buttontype=0
clientcode=0
x=175
y=180
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=4
y=210
width=27
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Total
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=4
buttontype=0
clientcode=0
x=217
y=51
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_26]
type=4
buttontype=0
clientcode=0
x=217
y=67
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=217
y=83
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=4
buttontype=0
clientcode=0
x=217
y=98
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_29]
type=4
buttontype=0
clientcode=0
x=217
y=115
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff991f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_30]
type=4
buttontype=0
clientcode=0
x=217
y=131
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_31]
type=4
buttontype=0
clientcode=0
x=217
y=147
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=217
y=164
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=4
buttontype=0
clientcode=0
x=217
y=180
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=4
buttontype=0
clientcode=0
x=217
y=212
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_35]
type=4
buttontype=0
clientcode=0
x=172
y=28
width=13
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=#
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_36]
type=4
buttontype=0
clientcode=0
x=186
y=17
width=75
height=26
layer=com_60
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Team Honour Points
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=4
buttontype=0
clientcode=0
x=347
y=55
width=34
height=15
layer=com_60
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Role:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_38]
type=4
buttontype=0
clientcode=0
x=347
y=72
width=34
height=14
layer=com_60
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=None
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_39]
type=4
buttontype=0
clientcode=0
x=282
y=51
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_40]
type=4
buttontype=0
clientcode=0
x=282
y=99
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_41]
type=4
buttontype=0
clientcode=0
x=282
y=115
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_42]
type=4
buttontype=0
clientcode=0
x=282
y=83
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_43]
type=4
buttontype=0
clientcode=0
x=282
y=67
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_44]
type=4
buttontype=0
clientcode=0
x=282
y=131
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_45]
type=4
buttontype=0
clientcode=0
x=282
y=164
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_46]
type=4
buttontype=0
clientcode=0
x=282
y=147
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_47]
type=4
buttontype=0
clientcode=0
x=282
y=180
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=4
buttontype=0
clientcode=0
x=283
y=212
width=8
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_49]
type=4
buttontype=0
clientcode=0
x=4
y=227
width=156
height=18
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=Honour Points reward :
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_50]
type=4
buttontype=0
clientcode=0
x=165
y=227
width=8
height=18
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=496
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_51]
type=4
buttontype=0
clientcode=0
x=208
y=50
width=6
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_52]
type=4
buttontype=0
clientcode=0
x=209
y=147
width=6
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_53]
type=4
buttontype=0
clientcode=0
x=208
y=179
width=6
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_54]
type=4
buttontype=0
clientcode=0
x=273
y=180
width=6
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_55]
type=4
buttontype=0
clientcode=0
x=273
y=149
width=6
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_56]
type=4
buttontype=0
clientcode=0
x=272
y=51
width=6
height=14
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_57]
type=4
buttontype=0
clientcode=0
x=324
y=99
width=80
height=25
layer=com_60
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Total Honour Points in role:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_58]
type=4
buttontype=0
clientcode=0
x=350
y=132
width=26
height=14
layer=com_60
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_59]
type=4
buttontype=0
clientcode=0
x=265
y=17
width=82
height=25
layer=com_60
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Individual Honour Points
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_60]
type=0
buttontype=0
clientcode=0
x=51
y=44
width=428
height=250
trans=0
scrollheight=0
hide=1

[com_61]
type=0
buttontype=0
clientcode=0
x=60
y=55
width=420
height=230
trans=0
scrollheight=0
hide=1

[com_62]
type=4
buttontype=0
clientcode=0
x=104
y=8
width=200
height=28
layer=com_61
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=The Queen is dead!
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_63]
type=4
buttontype=0
clientcode=0
x=104
y=44
width=201
height=19
layer=com_61
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Reward:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_64]
type=4
buttontype=0
clientcode=0
x=104
y=71
width=202
height=145
layer=com_61
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=--Points output--
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_65]
type=4
buttontype=0
clientcode=0
x=180
y=28
width=38
height=16
layer=com_70
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=-Role-
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_66]
type=4
buttontype=1
clientcode=0
x=336
y=182
width=62
height=32
layer=com_60
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Simple breakdown
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xffff66
colour2over=0x000000
buttontext=

[com_67]
type=4
buttontype=0
clientcode=0
x=129
y=47
width=142
height=16
layer=com_70
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Honour Points Reward:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_68]
type=4
buttontype=0
clientcode=0
x=182
y=72
width=32
height=16
layer=com_70
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_69]
type=4
buttontype=0
clientcode=0
x=182
y=136
width=32
height=16
layer=com_70
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=0
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_70]
type=0
buttontype=0
clientcode=0
x=60
y=56
width=419
height=230
trans=0
scrollheight=0
hide=0

[com_71]
type=4
buttontype=1
clientcode=0
x=320
y=171
width=70
height=32
layer=com_70
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Advanced Breakdown
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xffff66
colour2over=0x000000
buttontext=

[com_72]
type=4
buttontype=0
clientcode=0
x=118
y=114
width=166
height=16
layer=com_70
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=Total Honour Points in role:
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_73]
type=5
buttontype=0
clientcode=0
x=445
y=35
width=26
height=23
overlayer=75
trans=0
graphic=537
activegraphic=-1

[com_74]
type=5
buttontype=1
clientcode=0
x=4
y=5
width=26
height=23
layer=com_75
trans=0
graphic=538
activegraphic=-1
buttontext=

[com_75]
type=0
buttontype=0
clientcode=0
x=441
y=30
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_76]
type=6
buttontype=1
clientcode=0
x=4
y=10
width=63
height=57
layer=com_78
trans=0
model=com_i21854
activemodel=-1
zoom=1680
xan=0
yan=0
buttontext=Level up

[com_77]
type=4
buttontype=0
clientcode=0
x=6
y=11
width=58
height=54
layer=com_78
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Level<br>up
activetext=
colour=0x83551b
colour2=0x000000
colourover=0xffff66
colour2over=0x000000

[com_78]
type=0
buttontype=0
clientcode=0
x=162
y=158
width=72
height=65
layer=com_70
trans=0
scrollheight=0
hide=0

[com_79]
type=6
buttontype=1
clientcode=0
x=4
y=10
width=63
height=57
layer=com_81
trans=0
model=com_i21855
activemodel=-1
zoom=1680
xan=0
yan=0
buttontext=Level up

[com_80]
type=4
buttontype=0
clientcode=0
x=6
y=11
width=58
height=54
layer=com_81
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Level<br>up
activetext=
colour=0xff981f
colour2=0x000000
colourover=0xffff66
colour2over=0x000000

[com_81]
type=0
buttontype=0
clientcode=0
x=162
y=158
width=72
height=65
layer=com_70
trans=0
scrollheight=0
hide=1
