// interface 498

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=139
width=32
height=28
trans=0
model=com_i3032
activemodel=-1
zoom=604
xan=400
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=99
y=93
width=320
height=181
trans=0
halign=1
valign=0
lineheight=17
font=495
shadowed=1
text=Kaleef<br><br>Your mission is to contact our agent inside Menaphos.<br>Use the tunnels beneath the temple of lesser gods.<br>Be vigilant of traps and the hostile natives.<br> They're about as welcoming as the Menaphites only slightly better looking.<br><br>Os
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=6
buttontype=0
clientcode=0
x=234
y=135
width=32
height=32
trans=0
model=com_i20733
activemodel=-1
zoom=604
xan=406
yan=0

[com_3]
type=5
buttontype=0
clientcode=0
x=379
y=80
width=26
height=23
overlayer=5
trans=0
graphic=537
activegraphic=-1

[com_4]
type=5
buttontype=3
clientcode=0
x=3
y=8
width=26
height=23
layer=com_5
trans=0
graphic=538
activegraphic=-1

[com_5]
type=0
buttontype=0
clientcode=0
x=376
y=72
width=32
height=32
trans=0
scrollheight=0
hide=1
