// interface 499

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=512
height=334
hide=0
colour=0x46341d
fill=1
trans=80
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=162
y=13
width=32
height=32
hide=0
model=com_i20852
modelxof=0
modelyof=0
xan=512
yan=1024
zan=0
zoom=1357
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=240
y=161
width=32
height=32
hide=0
model=com_i20836
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1393
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=397
y=172
width=32
height=32
hide=0
model=com_i20850
modelxof=0
modelyof=0
xan=520
yan=1024
zan=0
zoom=1442
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=412
y=44
width=32
height=32
hide=0
model=com_i20837
modelxof=0
modelyof=0
xan=517
yan=1024
zan=0
zoom=1442
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=6
clientcode=0
x=411
y=297
width=32
height=32
hide=0
model=com_i20837
modelxof=0
modelyof=0
xan=517
yan=1024
zan=0
zoom=1442
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=4
clientcode=0
x=35
y=7
width=291
height=34
hide=0
font=645
text=Skill
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=0
clientcode=0
x=21
y=76
width=296
height=239
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:23
onvartransmit=i:23
onvartransmitlist=965

[com_8]
fmt=v3
type=0
clientcode=0
x=316
y=76
width=16
height=239
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=4
clientcode=0
x=35
y=40
width=291
height=13
hide=0
font=494
text=Description
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=4
clientcode=0
x=371
y=67
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702474,i:6574120
onmouseleave=i:45,i:32702474,i:4600330

[com_11]
fmt=v3
type=4
clientcode=0
x=371
y=84
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702475,i:6574120
onmouseleave=i:45,i:32702475,i:4600330

[com_12]
fmt=v3
type=4
clientcode=0
x=371
y=101
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702476,i:6574120
onmouseleave=i:45,i:32702476,i:4600330

[com_13]
fmt=v3
type=4
clientcode=0
x=371
y=118
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702477,i:6574120
onmouseleave=i:45,i:32702477,i:4600330

[com_14]
fmt=v3
type=4
clientcode=0
x=371
y=135
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702478,i:6574120
onmouseleave=i:45,i:32702478,i:4600330

[com_15]
fmt=v3
type=4
clientcode=0
x=371
y=152
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702479,i:6574120
onmouseleave=i:45,i:32702479,i:4600330

[com_16]
fmt=v3
type=4
clientcode=0
x=371
y=169
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702480,i:6574120
onmouseleave=i:45,i:32702480,i:4600330

[com_17]
fmt=v3
type=4
clientcode=0
x=371
y=186
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702481,i:6574120
onmouseleave=i:45,i:32702481,i:4600330

[com_18]
fmt=v3
type=4
clientcode=0
x=371
y=203
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702482,i:6574120
onmouseleave=i:45,i:32702482,i:4600330

[com_19]
fmt=v3
type=4
clientcode=0
x=371
y=220
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702483,i:6574120
onmouseleave=i:45,i:32702483,i:4600330

[com_20]
fmt=v3
type=4
clientcode=0
x=371
y=237
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702484,i:6574120
onmouseleave=i:45,i:32702484,i:4600330

[com_21]
fmt=v3
type=4
clientcode=0
x=371
y=254
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702485,i:6574120
onmouseleave=i:45,i:32702485,i:4600330

[com_22]
fmt=v3
type=4
clientcode=0
x=371
y=271
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702486,i:6574120
onmouseleave=i:45,i:32702486,i:4600330

[com_23]
fmt=v3
type=4
clientcode=0
x=371
y=288
width=115
height=17
hide=0
font=497
text=
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x46320a
eventcode=0x2
baseop=
op1=Open subsection
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:32702487,i:6574120
onmouseleave=i:45,i:32702487,i:4600330

[com_24]
fmt=v3
type=5
clientcode=0
x=482
y=6
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:32702488,i:542
onmouseleave=i:44,i:32702488,i:541
onclick=i:29
