// interface 500

[com_0]
type=6
buttontype=0
clientcode=0
x=242
y=152
width=32
height=32
trans=0
model=com_i21208
activemodel=-1
zoom=656
xan=465
yan=2042

[com_1]
type=5
buttontype=0
clientcode=0
x=458
y=28
width=26
height=23
overlayer=3
trans=0
graphic=539
activegraphic=-1

[com_2]
type=5
buttontype=3
clientcode=0
x=2
y=4
width=26
height=23
layer=com_3
trans=0
graphic=540
activegraphic=-1

[com_3]
type=0
buttontype=0
clientcode=0
x=456
y=24
width=32
height=32
trans=0
scrollheight=0
hide=1
