// interface 501

[com_0]
type=6
buttontype=0
clientcode=0
x=232
y=144
width=32
height=32
trans=0
model=com_i15711
activemodel=-1
zoom=272
xan=507
yan=2047

[com_1]
type=6
buttontype=0
clientcode=0
x=221
y=133
width=32
height=32
trans=0
model=com_i21518
activemodel=-1
zoom=400
xan=339
yan=2044

[com_2]
type=6
buttontype=0
clientcode=0
x=36
y=54
width=32
height=32
layer=com_7
trans=0
model=com_i11135
activemodel=-1
zoom=528
xan=168
yan=2014

[com_3]
type=6
buttontype=0
clientcode=0
x=116
y=40
width=32
height=32
layer=com_7
trans=0
model=com_i21516
activemodel=-1
zoom=576
xan=237
yan=1777

[com_4]
type=6
buttontype=0
clientcode=0
x=186
y=41
width=32
height=32
layer=com_7
trans=0
model=com_i11133
activemodel=-1
zoom=400
xan=234
yan=1582

[com_5]
type=6
buttontype=0
clientcode=0
x=272
y=52
width=32
height=32
layer=com_7
trans=0
model=com_i11132
activemodel=-1
zoom=400
xan=222
yan=1546

[com_6]
type=6
buttontype=0
clientcode=0
x=365
y=62
width=32
height=32
layer=com_7
trans=0
model=com_i11131
activemodel=-1
zoom=400
xan=264
yan=1933

[com_7]
type=0
buttontype=0
clientcode=0
x=30
y=189
width=425
height=110
trans=0
scrollheight=0
hide=0

[com_8]
type=4
buttontype=1
clientcode=0
x=53
y=219
width=65
height=50
overlayer=13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_9]
type=4
buttontype=1
clientcode=0
x=136
y=215
width=53
height=56
overlayer=16
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_10]
type=4
buttontype=1
clientcode=0
x=211
y=223
width=47
height=47
overlayer=19
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_11]
type=4
buttontype=1
clientcode=0
x=288
y=214
width=61
height=59
overlayer=22
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_12]
type=4
buttontype=1
clientcode=0
x=387
y=226
width=50
height=45
overlayer=25
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_13]
type=0
buttontype=0
clientcode=0
x=25
y=104
width=149
height=52
trans=0
scrollheight=0
hide=1

[com_14]
type=6
buttontype=0
clientcode=0
x=57
y=4
width=32
height=32
layer=com_13
trans=0
model=com_i10119
activemodel=-1
zoom=1040
xan=492
yan=0

[com_15]
type=4
buttontype=0
clientcode=0
x=52
y=5
width=32
height=32
layer=com_13
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Cannon barrel
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=0
buttontype=0
clientcode=0
x=89
y=43
width=148
height=48
trans=0
scrollheight=0
hide=1

[com_17]
type=6
buttontype=0
clientcode=0
x=57
y=2
width=32
height=32
layer=com_16
trans=0
model=com_i10119
activemodel=-1
zoom=1040
xan=492
yan=0

[com_18]
type=4
buttontype=0
clientcode=0
x=56
y=1
width=32
height=32
layer=com_16
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Fuse
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=0
buttontype=0
clientcode=0
x=158
y=133
width=150
height=47
trans=0
scrollheight=0
hide=1

[com_20]
type=6
buttontype=0
clientcode=0
x=59
y=3
width=32
height=32
layer=com_19
trans=0
model=com_i10119
activemodel=-1
zoom=1040
xan=492
yan=0

[com_21]
type=4
buttontype=0
clientcode=0
x=57
y=5
width=32
height=32
layer=com_19
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Ramrod
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=0
buttontype=0
clientcode=0
x=244
y=80
width=150
height=49
trans=0
scrollheight=0
hide=1

[com_23]
type=6
buttontype=0
clientcode=0
x=58
y=5
width=32
height=32
layer=com_22
trans=0
model=com_i10119
activemodel=-1
zoom=1040
xan=492
yan=0

[com_24]
type=4
buttontype=0
clientcode=0
x=57
y=5
width=32
height=32
layer=com_22
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Cannonball
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=0
buttontype=0
clientcode=0
x=347
y=124
width=150
height=51
trans=0
scrollheight=0
hide=1

[com_26]
type=6
buttontype=0
clientcode=0
x=57
y=7
width=32
height=32
layer=com_25
trans=0
model=com_i10119
activemodel=-1
zoom=1040
xan=492
yan=0

[com_27]
type=4
buttontype=0
clientcode=0
x=56
y=5
width=32
height=32
layer=com_25
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Cannon cannister
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=5
buttontype=0
clientcode=0
x=462
y=18
width=26
height=23
overlayer=30
trans=0
graphic=539
activegraphic=-1

[com_29]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_30
trans=0
graphic=540
activegraphic=-1

[com_30]
type=0
buttontype=0
clientcode=0
x=459
y=13
width=32
height=32
overlayer=30
trans=0
scrollheight=0
hide=1
