// interface 504

[com_0]
type=6
buttontype=0
clientcode=0
x=252
y=143
width=32
height=32
trans=0
model=com_i21820
activemodel=-1
zoom=254
xan=0
yan=0
