// interface 505

[com_0]
type=3
buttontype=0
clientcode=0
x=-1
y=0
width=512
height=334
trans=0
fill=1
colour=0x433621
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=223
y=135
width=32
height=32
trans=0
model=com_i4652
activemodel=-1
zoom=894
xan=479
yan=2

[com_2]
type=6
buttontype=0
clientcode=0
x=219
y=124
width=32
height=32
trans=0
model=com_i21733
activemodel=-1
zoom=917
xan=346
yan=60

[com_3]
type=4
buttontype=0
clientcode=0
x=92
y=203
width=148
height=18
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Waterbirth <br>Island
activetext=
colour=0x282315
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=171
y=110
width=120
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Miscellania
activetext=
colour=0x282315
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=223
y=161
width=92
height=16
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Etceteria
activetext=
colour=0x282315
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=274
y=282
width=75
height=18
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Rellekka
activetext=
colour=0x282315
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=79
y=178
width=135
height=18
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Neitiznot & Jatizso
activetext=
colour=0x282315
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=334
y=260
width=122
height=18
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Keldagrim<br>entrance
activetext=
colour=0x282315
colour2=0x000000
colourover=0x000000
colour2over=0x000000
