// interface 506

[com_0]
type=5
buttontype=0
clientcode=0
x=28
y=48
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_1]
type=5
buttontype=0
clientcode=0
x=58
y=48
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_2]
type=5
buttontype=0
clientcode=0
x=84
y=48
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_3]
type=5
buttontype=0
clientcode=0
x=110
y=48
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_4]
type=5
buttontype=0
clientcode=0
x=128
y=48
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_5]
type=4
buttontype=1
clientcode=0
x=41
y=50
width=115
height=31
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Talk to puppet
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=

[com_6]
type=4
buttontype=0
clientcode=0
x=28
y=5
width=137
height=41
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=1
text=Jester Controls
activetext=
colour=0x00ffff
colour2=0x000000
colourover=0x00ffcc
colour2over=0x000000

[com_7]
type=5
buttontype=0
clientcode=0
x=28
y=88
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_8]
type=5
buttontype=0
clientcode=0
x=58
y=88
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_9]
type=4
buttontype=1
clientcode=0
x=33
y=93
width=56
height=27
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Dance
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=

[com_10]
type=5
buttontype=0
clientcode=0
x=98
y=88
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_11]
type=5
buttontype=0
clientcode=0
x=128
y=88
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_12]
type=4
buttontype=1
clientcode=0
x=102
y=94
width=59
height=26
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Juggle
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=

[com_13]
type=5
buttontype=0
clientcode=0
x=28
y=128
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_14]
type=5
buttontype=0
clientcode=0
x=58
y=128
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_15]
type=4
buttontype=1
clientcode=0
x=32
y=134
width=58
height=26
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Skip
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=

[com_16]
type=5
buttontype=0
clientcode=0
x=98
y=128
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_17]
type=5
buttontype=0
clientcode=0
x=128
y=128
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_18]
type=4
buttontype=1
clientcode=0
x=103
y=134
width=55
height=26
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Pie
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=

[com_19]
type=5
buttontype=0
clientcode=0
x=28
y=168
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_20]
type=5
buttontype=0
clientcode=0
x=58
y=168
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_21]
type=4
buttontype=1
clientcode=0
x=33
y=173
width=55
height=27
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Jig
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=

[com_22]
type=5
buttontype=0
clientcode=0
x=98
y=168
width=36
height=36
trans=0
graphic=174
activegraphic=176

[com_23]
type=5
buttontype=0
clientcode=0
x=128
y=168
width=36
height=36
trans=0
graphic=176
activegraphic=178

[com_24]
type=4
buttontype=1
clientcode=0
x=102
y=173
width=57
height=27
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Bow
activetext=
colour=0xffff00
colour2=0xff8000
colourover=0x0000cc
colour2over=0x000000
buttontext=
