// interface 509

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=535
height=343
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=360
y=264
width=32
height=32
trans=0
model=com_i22441
activemodel=-1
anim=5830
zoom=748
xan=195
yan=78

[com_2]
type=6
buttontype=0
clientcode=0
x=360
y=264
width=32
height=32
trans=0
model=com_i22435
activemodel=-1
anim=5830
zoom=748
xan=195
yan=78

[com_3]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=513
height=335
trans=0
scrollheight=0
hide=1

[com_4]
type=6
buttontype=0
clientcode=0
x=312
y=216
width=32
height=32
layer=com_3
trans=0
model=com_i22477
activemodel=-1
zoom=784
xan=195
yan=78

[com_5]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=513
height=335
trans=0
scrollheight=0
hide=1

[com_6]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_5
trans=0
model=com_i22476
activemodel=-1
zoom=748
xan=195
yan=78

[com_7]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_5
trans=0
model=com_i22467
activemodel=-1
zoom=748
xan=195
yan=78

[com_8]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_5
trans=0
model=com_i22470
activemodel=-1
zoom=748
xan=195
yan=78

[com_9]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_5
trans=0
model=com_i22473
activemodel=-1
zoom=748
xan=195
yan=78

[com_10]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=513
height=335
trans=0
scrollheight=0
hide=0

[com_11]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_10
trans=0
model=com_i22487
activemodel=-1
zoom=748
xan=195
yan=78

[com_12]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_10
trans=0
model=com_i22478
activemodel=-1
zoom=748
xan=195
yan=78

[com_13]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_10
trans=0
model=com_i22481
activemodel=-1
zoom=748
xan=195
yan=78

[com_14]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_10
trans=0
model=com_i22484
activemodel=-1
zoom=748
xan=195
yan=78

[com_15]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=513
height=335
trans=0
scrollheight=0
hide=1

[com_16]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_15
trans=0
model=com_i22498
activemodel=-1
zoom=748
xan=195
yan=78

[com_17]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_15
trans=0
model=com_i22489
activemodel=-1
zoom=748
xan=195
yan=78

[com_18]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_15
trans=0
model=com_i22492
activemodel=-1
zoom=748
xan=195
yan=78

[com_19]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_15
trans=0
model=com_i22495
activemodel=-1
zoom=748
xan=195
yan=78

[com_20]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=517
height=338
trans=0
scrollheight=0
hide=1

[com_21]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_20
trans=0
model=com_i22509
activemodel=-1
zoom=748
xan=195
yan=78

[com_22]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_20
trans=0
model=com_i22500
activemodel=-1
zoom=748
xan=195
yan=78

[com_23]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_20
trans=0
model=com_i22503
activemodel=-1
zoom=748
xan=195
yan=78

[com_24]
type=6
buttontype=0
clientcode=0
x=328
y=232
width=32
height=32
layer=com_20
trans=0
model=com_i22506
activemodel=-1
zoom=748
xan=195
yan=78

[com_25]
type=6
buttontype=0
clientcode=0
x=360
y=264
width=32
height=32
trans=0
model=com_i22437
activemodel=-1
anim=5830
zoom=748
xan=195
yan=78

[com_26]
type=6
buttontype=1
clientcode=0
x=312
y=280
width=32
height=32
overlayer=27
trans=0
model=com_i22434
activemodel=-1
zoom=1040
xan=420
yan=0
buttontext=

[com_27]
type=0
buttontype=0
clientcode=0
x=302
y=272
width=49
height=43
overlayer=27
trans=0
scrollheight=0
hide=1

[com_28]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_27
trans=0
model=com_i22433
activemodel=-1
zoom=1040
xan=420
yan=0

[com_29]
type=6
buttontype=1
clientcode=0
x=392
y=280
width=32
height=32
overlayer=30
trans=0
model=com_i22436
activemodel=-1
zoom=1040
xan=420
yan=0
buttontext=

[com_30]
type=0
buttontype=0
clientcode=0
x=385
y=272
width=51
height=40
overlayer=30
trans=0
scrollheight=0
hide=1

[com_31]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_30
trans=0
model=com_i22439
activemodel=-1
zoom=1040
xan=420
yan=0

[com_32]
type=6
buttontype=1
clientcode=0
x=232
y=168
width=32
height=32
overlayer=33
trans=0
model=com_i22442
activemodel=-1
zoom=528
xan=441
yan=0
buttontext=

[com_33]
type=0
buttontype=0
clientcode=0
x=227
y=160
width=43
height=47
trans=0
scrollheight=0
hide=1

[com_34]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_33
trans=0
model=com_i22440
activemodel=-1
zoom=528
xan=441
yan=0

[com_35]
type=6
buttontype=0
clientcode=0
x=72
y=152
width=32
height=32
trans=0
model=com_i22456
activemodel=-1
zoom=988
xan=546
yan=2047

[com_36]
type=4
buttontype=0
clientcode=0
x=216
y=216
width=73
height=16
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Place bar
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_37]
type=0
buttontype=0
clientcode=0
x=40
y=56
width=150
height=31
trans=0
scrollheight=0
hide=0

[com_38]
type=6
buttontype=0
clientcode=0
x=40
y=8
width=32
height=32
layer=com_37
trans=0
model=com_i22446
activemodel=-1
zoom=656
xan=30
yan=189

[com_39]
type=0
buttontype=0
clientcode=0
x=40
y=88
width=33
height=167
trans=0
scrollheight=0
hide=0

[com_40]
type=6
buttontype=0
clientcode=0
x=8
y=104
width=32
height=32
layer=com_39
trans=0
model=com_i22459
activemodel=-1
zoom=656
xan=327
yan=33

[com_41]
type=6
buttontype=1
clientcode=0
x=88
y=120
width=32
height=32
overlayer=42
trans=0
model=com_i22442
activemodel=-1
zoom=528
xan=441
yan=0
buttontext=

[com_42]
type=0
buttontype=0
clientcode=0
x=80
y=112
width=46
height=47
trans=0
scrollheight=0
hide=1

[com_43]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_42
trans=0
model=com_i22440
activemodel=-1
zoom=528
xan=441
yan=0

[com_44]
type=6
buttontype=1
clientcode=0
x=88
y=152
width=32
height=32
overlayer=45
trans=0
model=com_i22442
activemodel=-1
zoom=528
xan=441
yan=0
buttontext=

[com_45]
type=0
buttontype=0
clientcode=0
x=80
y=144
width=46
height=46
trans=0
scrollheight=0
hide=1

[com_46]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_45
trans=0
model=com_i22440
activemodel=-1
zoom=528
xan=441
yan=0

[com_47]
type=4
buttontype=0
clientcode=0
x=120
y=120
width=93
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Horizontal
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_48]
type=4
buttontype=0
clientcode=0
x=120
y=152
width=90
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Vertical
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_49]
type=6
buttontype=1
clientcode=0
x=88
y=216
width=32
height=32
overlayer=50
trans=0
model=com_i22454
activemodel=-1
zoom=1424
xan=441
yan=0
buttontext=

[com_50]
type=0
buttontype=0
clientcode=0
x=80
y=208
width=39
height=36
trans=0
scrollheight=0
hide=1

[com_51]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_50
trans=0
model=com_i22443
activemodel=-1
zoom=1424
xan=441
yan=0

[com_52]
type=6
buttontype=1
clientcode=0
x=88
y=184
width=32
height=32
overlayer=53
trans=0
model=com_i22438
activemodel=-1
zoom=1424
xan=441
yan=0
buttontext=

[com_53]
type=0
buttontype=0
clientcode=0
x=80
y=176
width=39
height=36
trans=0
scrollheight=0
hide=1

[com_54]
type=6
buttontype=0
clientcode=0
x=8
y=8
width=32
height=32
layer=com_53
trans=0
model=com_i22455
activemodel=-1
zoom=1424
xan=441
yan=0

[com_55]
type=3
buttontype=0
clientcode=0
x=120
y=232
width=23
height=20
trans=0
fill=0
colour=0x3e0400
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_56]
type=4
buttontype=0
clientcode=0
x=120
y=232
width=23
height=15
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=1
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_57]
type=5
buttontype=0
clientcode=0
x=472
y=8
width=26
height=23
overlayer=59
trans=0
graphic=541
activegraphic=-1

[com_58]
type=5
buttontype=3
clientcode=0
x=8
y=8
width=26
height=23
layer=com_59
trans=0
graphic=542
activegraphic=-1

[com_59]
type=0
buttontype=0
clientcode=0
x=464
y=0
width=32
height=32
trans=0
scrollheight=0
hide=1
