// interface 51

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=1
fill=1
colour=0x1b251b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=255
y=119
width=32
height=32
trans=0
model=com_i14056
activemodel=-1
zoom=424
xan=212
yan=68

[com_2]
type=6
buttontype=0
clientcode=0
x=199
y=47
width=32
height=32
trans=0
model=com_i14054
activemodel=-1
zoom=424
xan=212
yan=68

[com_3]
type=6
buttontype=0
clientcode=0
x=181
y=40
width=32
height=32
layer=com_28
trans=0
model=com_i14055
activemodel=-1
zoom=424
xan=212
yan=68

[com_4]
type=6
buttontype=0
clientcode=0
x=181
y=40
width=32
height=32
layer=com_29
trans=0
model=com_i14055
activemodel=-1
zoom=424
xan=212
yan=68

[com_5]
type=6
buttontype=0
clientcode=0
x=280
y=115
width=32
height=32
trans=0
model=com_i14052
activemodel=-1
zoom=414
xan=500
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=262
y=108
width=32
height=32
layer=com_29
trans=0
model=com_i14053
activemodel=-1
zoom=414
xan=500
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=285
y=70
width=32
height=32
trans=0
model=com_i14059
activemodel=-1
zoom=414
xan=212
yan=68

[com_8]
type=6
buttontype=0
clientcode=0
x=267
y=63
width=32
height=32
layer=com_28
trans=0
model=com_i14060
activemodel=-1
zoom=414
xan=212
yan=68

[com_9]
type=6
buttontype=0
clientcode=0
x=264
y=105
width=32
height=32
trans=0
model=com_i14061
activemodel=-1
zoom=424
xan=212
yan=68

[com_10]
type=6
buttontype=0
clientcode=0
x=246
y=98
width=32
height=32
layer=com_29
trans=0
model=com_i14062
activemodel=-1
zoom=424
xan=212
yan=68

[com_11]
type=4
buttontype=0
clientcode=0
x=275
y=70
width=66
height=17
trans=0
halign=2
valign=0
lineheight=0
font=497
shadowed=0
text=Canifis
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=181
y=88
width=79
height=32
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Mort Myre<br>Swamp
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=268
y=99
width=65
height=16
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Hollows
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=223
y=162
width=94
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Mort'ton
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=361
y=116
width=104
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Graveyard
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=179
y=27
width=71
height=19
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Temple
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=6
buttontype=0
clientcode=0
x=267
y=128
width=32
height=32
trans=0
model=com_i14058
activemodel=-1
zoom=424
xan=212
yan=68

[com_18]
type=6
buttontype=0
clientcode=0
x=268
y=130
width=32
height=32
trans=0
model=com_i14057
activemodel=-1
zoom=424
xan=212
yan=68

[com_19]
type=6
buttontype=1
clientcode=0
x=339
y=52
width=131
height=45
overlayer=28
trans=0
model=com_i10094
activemodel=-1
zoom=1189
xan=528
yan=2047
buttontext=Route1

[com_20]
type=4
buttontype=0
clientcode=0
x=379
y=65
width=53
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Route 1
activetext=
colour=0x341b10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=361
y=58
width=53
height=17
layer=com_28
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Route 1
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_22]
type=6
buttontype=1
clientcode=0
x=96
y=143
width=128
height=45
overlayer=29
trans=0
model=com_i10094
activemodel=-1
zoom=1189
xan=528
yan=2047
buttontext=Route2

[com_23]
type=4
buttontype=0
clientcode=0
x=133
y=155
width=56
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Route 2
activetext=
colour=0x341b10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_24]
type=4
buttontype=0
clientcode=0
x=115
y=148
width=56
height=17
layer=com_29
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Route 2
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_25]
type=6
buttontype=0
clientcode=0
x=383
y=235
width=32
height=32
trans=0
model=com_i10095
activemodel=-1
zoom=618
xan=528
yan=0

[com_26]
type=4
buttontype=0
clientcode=0
x=302
y=176
width=158
height=107
layer=com_28
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Route 1:<br><br>Take the route through<br>Canifis.<br><br>Shorter but potentially<br>more dangerous.
activetext=
colour=0x341b10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_27]
type=4
buttontype=0
clientcode=0
x=302
y=176
width=158
height=107
layer=com_29
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Route 2:<br><br>Take the route through<br>Mort Myre Swamp.<br><br>Longer but less likely<br>to be attacked.
activetext=
colour=0x341b10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_28]
type=0
buttontype=0
clientcode=0
x=18
y=7
width=487
height=319
trans=0
scrollheight=0
hide=1

[com_29]
type=0
buttontype=0
clientcode=0
x=18
y=7
width=487
height=319
trans=0
scrollheight=0
hide=1

[com_30]
type=6
buttontype=1
clientcode=0
x=32
y=26
width=128
height=45
trans=0
model=com_i10094
activemodel=-1
zoom=805
xan=528
yan=2047
buttontext=

[com_31]
type=4
buttontype=0
clientcode=0
x=219
y=212
width=83
height=41
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Burgh de<br>Rott
activetext=
colour=0xa0a075
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=4
buttontype=0
clientcode=0
x=33
y=27
width=125
height=40
trans=0
halign=1
valign=1
lineheight=0
font=497
shadowed=0
text=Choose your path
activetext=
colour=0x341b10
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_33]
type=5
buttontype=0
clientcode=0
x=484
y=3
width=26
height=23
overlayer=35
trans=0
graphic=539
activegraphic=-1

[com_34]
type=5
buttontype=3
clientcode=0
x=4
y=3
width=26
height=23
layer=com_35
trans=0
graphic=540
activegraphic=-1

[com_35]
type=0
buttontype=0
clientcode=0
x=480
y=0
width=32
height=32
trans=0
scrollheight=0
hide=1
