// interface 510

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=64
fill=1
colour=0x261e14
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22354
activemodel=-1
zoom=1150
xan=24
yan=96

[com_2]
type=6
buttontype=0
clientcode=0
x=150
y=265
width=32
height=32
trans=0
model=com_i22378
activemodel=-1
zoom=1150
xan=24
yan=96

[com_3]
type=6
buttontype=0
clientcode=0
x=202
y=270
width=32
height=32
trans=0
model=com_i22378
activemodel=-1
zoom=1150
xan=24
yan=96

[com_4]
type=6
buttontype=0
clientcode=0
x=365
y=285
width=32
height=32
trans=0
model=com_i22378
activemodel=-1
zoom=1150
xan=24
yan=96

[com_5]
type=6
buttontype=0
clientcode=0
x=306
y=281
width=32
height=32
trans=0
model=com_i22378
activemodel=-1
zoom=1150
xan=24
yan=96

[com_6]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_7
trans=0
model=com_i22359
activemodel=-1
anim=5813
zoom=1150
xan=24
yan=96

[com_7]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22372
activemodel=-1
zoom=1150
xan=24
yan=96

[com_9]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22370
activemodel=-1
zoom=1150
xan=24
yan=96

[com_10]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22371
activemodel=-1
zoom=1150
xan=24
yan=96

[com_11]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22399
activemodel=-1
zoom=1150
xan=24
yan=96

[com_12]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_15
trans=0
model=com_i22419
activemodel=-1
zoom=1150
xan=24
yan=96

[com_13]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_14]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_13
trans=0
model=com_i22432
activemodel=-1
zoom=1150
xan=24
yan=96

[com_15]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_16]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22373
activemodel=-1
zoom=1150
xan=24
yan=96

[com_17]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22396
activemodel=-1
zoom=1150
xan=24
yan=96

[com_18]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_21
trans=0
model=com_i22416
activemodel=-1
zoom=1150
xan=24
yan=96

[com_19]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_20]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_19
trans=0
model=com_i22429
activemodel=-1
zoom=1150
xan=24
yan=96

[com_21]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_22]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_23
trans=0
model=com_i22360
activemodel=-1
anim=5813
zoom=1150
xan=24
yan=96

[com_23]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_24]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_25
trans=0
model=com_i22362
activemodel=-1
anim=5813
zoom=1150
xan=24
yan=96

[com_25]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_26]
type=6
buttontype=0
clientcode=0
x=14
y=257
width=32
height=32
layer=com_27
trans=0
model=com_i22376
activemodel=-1
zoom=1150
xan=24
yan=69

[com_27]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_28]
type=6
buttontype=0
clientcode=0
x=66
y=262
width=32
height=32
layer=com_29
trans=0
model=com_i22376
activemodel=-1
zoom=1150
xan=24
yan=96

[com_29]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_30]
type=6
buttontype=0
clientcode=0
x=170
y=273
width=32
height=32
layer=com_31
trans=0
model=com_i22376
activemodel=-1
zoom=1150
xan=24
yan=96

[com_31]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_32]
type=6
buttontype=0
clientcode=0
x=230
y=277
width=32
height=32
layer=com_34
trans=0
model=com_i22376
activemodel=-1
zoom=1150
xan=24
yan=96

[com_33]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22369
activemodel=-1
zoom=1150
xan=24
yan=96

[com_34]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_35]
type=6
buttontype=1
clientcode=0
x=104
y=239
width=22
height=79
layer=com_36
trans=0
model=com_i22367
activemodel=-1
zoom=1150
xan=24
yan=96
buttontext=Pull left lever

[com_36]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_37]
type=6
buttontype=1
clientcode=0
x=127
y=239
width=26
height=78
layer=com_38
trans=0
model=com_i22367
activemodel=-1
zoom=1150
xan=24
yan=96
buttontext=Pull right lever

[com_38]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_39]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22380
activemodel=-1
zoom=1150
xan=24
yan=96

[com_40]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_41
trans=0
model=com_i22379
activemodel=-1
zoom=1150
xan=24
yan=96

[com_41]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_42]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22381
activemodel=-1
zoom=1150
xan=24
yan=96

[com_43]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_44
trans=0
model=com_i22401
activemodel=-1
zoom=1150
xan=24
yan=96

[com_44]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_45]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22382
activemodel=-1
zoom=1150
xan=24
yan=96

[com_46]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_47
trans=0
model=com_i22402
activemodel=-1
zoom=1150
xan=24
yan=96

[com_47]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_48]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22383
activemodel=-1
zoom=1150
xan=24
yan=96

[com_49]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_50
trans=0
model=com_i22403
activemodel=-1
zoom=1150
xan=24
yan=96

[com_50]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_51]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22384
activemodel=-1
zoom=1150
xan=24
yan=96

[com_52]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_53
trans=0
model=com_i22404
activemodel=-1
zoom=1150
xan=24
yan=96

[com_53]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_54]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22385
activemodel=-1
zoom=1150
xan=24
yan=96

[com_55]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_58
trans=0
model=com_i22405
activemodel=-1
zoom=1150
xan=24
yan=96

[com_56]
type=0
buttontype=0
clientcode=0
x=298
y=180
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_57]
type=6
buttontype=0
clientcode=0
x=-24
y=-24
width=32
height=32
layer=com_56
trans=0
model=com_i22400
activemodel=-1
zoom=1150
xan=24
yan=96

[com_58]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_59]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22386
activemodel=-1
zoom=1150
xan=24
yan=96

[com_60]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_63
trans=0
model=com_i22406
activemodel=-1
zoom=1150
xan=24
yan=96

[com_61]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_62]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_61
trans=0
model=com_i22420
activemodel=-1
zoom=1150
xan=24
yan=96

[com_63]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_64]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22387
activemodel=-1
zoom=1150
xan=24
yan=96

[com_65]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_68
trans=0
model=com_i22407
activemodel=-1
zoom=1150
xan=24
yan=96

[com_66]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_67]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_66
trans=0
model=com_i22421
activemodel=-1
zoom=1150
xan=24
yan=96

[com_68]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_69]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22388
activemodel=-1
zoom=1150
xan=24
yan=96

[com_70]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_73
trans=0
model=com_i22408
activemodel=-1
zoom=1150
xan=24
yan=96

[com_71]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_72]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_71
trans=0
model=com_i22422
activemodel=-1
zoom=1150
xan=24
yan=96

[com_73]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_74]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22389
activemodel=-1
zoom=1150
xan=24
yan=96

[com_75]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_78
trans=0
model=com_i22409
activemodel=-1
zoom=1150
xan=24
yan=96

[com_76]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_77]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_76
trans=0
model=com_i22423
activemodel=-1
zoom=1150
xan=24
yan=96

[com_78]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_79]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22390
activemodel=-1
zoom=1150
xan=24
yan=96

[com_80]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_83
trans=0
model=com_i22410
activemodel=-1
zoom=1150
xan=24
yan=96

[com_81]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_82]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_81
trans=0
model=com_i22424
activemodel=-1
zoom=1150
xan=24
yan=96

[com_83]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_84]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22391
activemodel=-1
zoom=1150
xan=24
yan=96

[com_85]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_86
trans=0
model=com_i22411
activemodel=-1
zoom=1150
xan=24
yan=96

[com_86]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_87]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22392
activemodel=-1
zoom=1150
xan=24
yan=96

[com_88]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_91
trans=0
model=com_i22412
activemodel=-1
zoom=1150
xan=24
yan=96

[com_89]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_90]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_89
trans=0
model=com_i22425
activemodel=-1
zoom=1150
xan=24
yan=96

[com_91]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_92]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22393
activemodel=-1
zoom=1150
xan=24
yan=96

[com_93]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_96
trans=0
model=com_i22413
activemodel=-1
zoom=1150
xan=24
yan=96

[com_94]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_95]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_94
trans=0
model=com_i22426
activemodel=-1
zoom=1150
xan=24
yan=96

[com_96]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_97]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22394
activemodel=-1
zoom=1150
xan=24
yan=96

[com_98]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_101
trans=0
model=com_i22414
activemodel=-1
zoom=1150
xan=24
yan=96

[com_99]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_100]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_99
trans=0
model=com_i22427
activemodel=-1
zoom=1150
xan=24
yan=96

[com_101]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_102]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22395
activemodel=-1
zoom=1150
xan=24
yan=96

[com_103]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_104
trans=0
model=com_i22361
activemodel=-1
anim=5813
zoom=1150
xan=24
yan=96

[com_104]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_105]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_108
trans=0
model=com_i22415
activemodel=-1
zoom=1150
xan=24
yan=96

[com_106]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_107]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_106
trans=0
model=com_i22428
activemodel=-1
zoom=1150
xan=24
yan=96

[com_108]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_109]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22397
activemodel=-1
zoom=1150
xan=24
yan=96

[com_110]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_113
trans=0
model=com_i22417
activemodel=-1
zoom=1150
xan=24
yan=96

[com_111]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_112]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_111
trans=0
model=com_i22430
activemodel=-1
zoom=1150
xan=24
yan=96

[com_113]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=0

[com_114]
type=6
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
model=com_i22398
activemodel=-1
zoom=1150
xan=24
yan=96

[com_115]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_118
trans=0
model=com_i22418
activemodel=-1
zoom=1150
xan=24
yan=96

[com_116]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_117]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_116
trans=0
model=com_i22431
activemodel=-1
zoom=1150
xan=24
yan=96

[com_118]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_119]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_120
trans=0
model=com_i22363
activemodel=-1
zoom=1150
xan=24
yan=96

[com_120]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=331
trans=0
scrollheight=0
hide=1

[com_121]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_122
trans=0
model=com_i22364
activemodel=-1
zoom=1150
xan=24
yan=96

[com_122]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=331
trans=0
scrollheight=0
hide=1

[com_123]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_124
trans=0
model=com_i22365
activemodel=-1
zoom=1150
xan=24
yan=96

[com_124]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_125]
type=6
buttontype=0
clientcode=0
x=138
y=148
width=32
height=32
layer=com_126
trans=0
model=com_i22366
activemodel=-1
zoom=1150
xan=24
yan=96

[com_126]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_127]
type=6
buttontype=0
clientcode=0
x=487
y=152
width=32
height=32
trans=0
model=com_i22375
activemodel=-1
zoom=1150
xan=54
yan=80

[com_128]
type=5
buttontype=0
clientcode=0
x=477
y=6
width=26
height=23
overlayer=130
trans=0
graphic=541
activegraphic=-1

[com_129]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_130
overlayer=130
trans=0
graphic=542
activegraphic=-1

[com_130]
type=0
buttontype=0
clientcode=0
x=474
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_131]
type=3
buttontype=1
clientcode=0
x=141
y=256
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn left

[com_132]
type=3
buttontype=1
clientcode=0
x=166
y=257
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn right

[com_133]
type=3
buttontype=1
clientcode=0
x=191
y=260
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn left

[com_134]
type=3
buttontype=1
clientcode=0
x=215
y=262
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn right

[com_135]
type=3
buttontype=1
clientcode=0
x=295
y=269
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn left

[com_136]
type=3
buttontype=1
clientcode=0
x=320
y=271
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn right

[com_137]
type=3
buttontype=1
clientcode=0
x=384
y=276
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn right

[com_138]
type=3
buttontype=1
clientcode=0
x=360
y=272
width=25
height=52
trans=255
fill=0
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Turn left

[com_139]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_140
trans=0
model=com_i22355
activemodel=-1
zoom=1150
xan=24
yan=96

[com_140]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_141]
type=6
buttontype=0
clientcode=0
x=-24
y=-24
width=32
height=32
layer=com_142
trans=0
model=com_i22356
activemodel=-1
zoom=1150
xan=24
yan=96

[com_142]
type=0
buttontype=0
clientcode=0
x=298
y=180
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_143]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_144
trans=0
model=com_i22357
activemodel=-1
zoom=1150
xan=24
yan=96

[com_144]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_145]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_146
trans=0
model=com_i22358
activemodel=-1
zoom=1150
xan=24
yan=96

[com_146]
type=0
buttontype=0
clientcode=0
x=274
y=156
width=32
height=32
trans=0
scrollheight=0
hide=0

[com_147]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_148]
type=6
buttontype=1
clientcode=0
x=107
y=246
width=21
height=66
layer=com_147
trans=0
model=com_i22368
activemodel=-1
zoom=1150
xan=24
yan=96
buttontext=Pull left lever

[com_149]
type=0
buttontype=0
clientcode=0
x=136
y=8
width=305
height=326
trans=0
scrollheight=0
hide=1

[com_150]
type=6
buttontype=1
clientcode=0
x=129
y=247
width=22
height=64
layer=com_149
trans=0
model=com_i22368
activemodel=-1
zoom=1150
xan=24
yan=96
buttontext=Pull right lever

[com_151]
type=4
buttontype=0
clientcode=0
x=182
y=224
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=1
activetext=
colour=0x99ff99
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_152]
type=4
buttontype=0
clientcode=0
x=232
y=227
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=2
activetext=
colour=0x99ff99
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_153]
type=4
buttontype=0
clientcode=0
x=318
y=228
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=3
activetext=
colour=0x99ff99
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_154]
type=4
buttontype=0
clientcode=0
x=366
y=243
width=32
height=32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=4
activetext=
colour=0x99ff99
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_155]
type=4
buttontype=0
clientcode=0
x=12
y=70
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=Use the valves
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_156]
type=4
buttontype=0
clientcode=0
x=12
y=90
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=and the levers to
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_157]
type=4
buttontype=0
clientcode=0
x=12
y=110
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=get the balls in
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_158]
type=4
buttontype=0
clientcode=0
x=12
y=130
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=the holes, and 
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_159]
type=4
buttontype=0
clientcode=0
x=12
y=150
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=then increase the
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_160]
type=4
buttontype=0
clientcode=0
x=12
y=171
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=pressure to fill
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_161]
type=4
buttontype=0
clientcode=0
x=12
y=192
width=157
height=18
trans=0
halign=1
valign=1
lineheight=0
font=495
shadowed=1
text=the pipes!
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
