// interface 511

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=64
fill=1
colour=0x3b2a1a
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=173
y=156
width=32
height=32
trans=0
model=com_i22337
activemodel=-1
zoom=1050
xan=0
yan=0

[com_2]
type=0
buttontype=0
clientcode=0
x=66
y=16
width=256
height=261
trans=0
scrollheight=0
hide=0

[com_3]
type=6
buttontype=0
clientcode=0
x=18
y=19
width=32
height=32
layer=com_2
trans=0
model=com_i22351
activemodel=-1
zoom=1050
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=80
y=19
width=32
height=32
layer=com_2
trans=0
model=com_i22352
activemodel=-1
zoom=1050
xan=0
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=140
y=19
width=32
height=32
layer=com_2
trans=0
model=com_i22351
activemodel=-1
zoom=1050
xan=0
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=201
y=19
width=32
height=32
layer=com_2
trans=0
model=com_i22352
activemodel=-1
zoom=1050
xan=0
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=105
y=214
width=32
height=32
layer=com_2
trans=0
model=com_i22353
activemodel=-1
zoom=1050
xan=0
yan=0

[com_8]
type=6
buttontype=1
clientcode=0
x=4
y=3
width=32
height=32
layer=com_14
trans=0
model=com_i22346
activemodel=-1
zoom=1256
xan=54
yan=2002
buttontext=Rotate

[com_9]
type=6
buttontype=1
clientcode=0
x=410
y=153
width=65
height=161
trans=0
model=com_i22544
activemodel=-1
zoom=1050
xan=0
yan=0
buttontext=Choose branching pipe

[com_10]
type=6
buttontype=1
clientcode=0
x=356
y=30
width=35
height=89
trans=0
model=com_i22526
activemodel=-1
zoom=1050
xan=0
yan=0
buttontext=Choose 't' pipe

[com_11]
type=6
buttontype=1
clientcode=0
x=323
y=230
width=44
height=95
trans=0
model=com_i22546
activemodel=-1
zoom=1050
xan=0
yan=0
buttontext=Choose junction pipe

[com_12]
type=6
buttontype=1
clientcode=0
x=449
y=62
width=58
height=63
trans=0
model=com_i22554
activemodel=-1
zoom=1050
xan=0
yan=0
buttontext=Choose large bend pipe

[com_13]
type=6
buttontype=1
clientcode=0
x=327
y=171
width=53
height=60
trans=0
model=com_i22530
activemodel=-1
zoom=1042
xan=0
yan=0
buttontext=Choose small bend pipe

[com_14]
type=0
buttontype=0
clientcode=0
x=237
y=280
width=42
height=45
overlayer=16
trans=0
scrollheight=0
hide=0

[com_15]
type=6
buttontype=0
clientcode=0
x=4
y=3
width=32
height=32
layer=com_16
trans=0
model=com_i22348
activemodel=-1
zoom=1256
xan=54
yan=2002

[com_16]
type=0
buttontype=0
clientcode=0
x=237
y=280
width=42
height=45
trans=0
scrollheight=0
hide=1

[com_17]
type=5
buttontype=3
clientcode=0
x=467
y=4
width=26
height=23
trans=0
graphic=541
activegraphic=-1

[com_18]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_19
trans=0
graphic=542
activegraphic=-1

[com_19]
type=0
buttontype=0
clientcode=0
x=464
y=0
width=32
height=32
overlayer=19
trans=0
scrollheight=0
hide=1

[com_20]
type=6
buttontype=1
clientcode=0
x=15
y=1
width=32
height=32
layer=com_21
trans=0
model=com_i22340
activemodel=-1
zoom=1000
xan=0
yan=0
buttontext=Move left

[com_21]
type=0
buttontype=0
clientcode=0
x=101
y=275
width=56
height=34
overlayer=23
trans=0
scrollheight=0
hide=0

[com_22]
type=6
buttontype=0
clientcode=0
x=15
y=1
width=32
height=32
layer=com_23
trans=0
model=com_i22343
activemodel=-1
zoom=1000
xan=0
yan=0

[com_23]
type=0
buttontype=0
clientcode=0
x=101
y=275
width=56
height=33
trans=0
scrollheight=0
hide=1

[com_24]
type=6
buttontype=1
clientcode=0
x=24
y=-5
width=32
height=32
layer=com_25
trans=0
model=com_i22338
activemodel=-1
zoom=1000
xan=0
yan=0
buttontext=Move right

[com_25]
type=0
buttontype=0
clientcode=0
x=103
y=308
width=56
height=29
overlayer=27
trans=0
scrollheight=0
hide=0

[com_26]
type=6
buttontype=0
clientcode=0
x=24
y=-5
width=32
height=32
layer=com_27
trans=0
model=com_i22344
activemodel=-1
zoom=1000
xan=0
yan=0

[com_27]
type=0
buttontype=0
clientcode=0
x=103
y=308
width=56
height=30
trans=0
scrollheight=0
hide=1

[com_28]
type=6
buttontype=1
clientcode=0
x=1
y=15
width=32
height=32
layer=com_29
trans=0
model=com_i22349
activemodel=-1
zoom=1000
xan=0
yan=0
buttontext=Move up

[com_29]
type=0
buttontype=0
clientcode=0
x=167
y=276
width=30
height=55
overlayer=31
trans=0
scrollheight=0
hide=0

[com_30]
type=6
buttontype=0
clientcode=0
x=1
y=16
width=32
height=32
layer=com_31
trans=0
model=com_i22350
activemodel=-1
zoom=1000
xan=0
yan=0

[com_31]
type=0
buttontype=0
clientcode=0
x=167
y=275
width=29
height=56
trans=0
scrollheight=0
hide=1

[com_32]
type=6
buttontype=1
clientcode=0
x=-4
y=12
width=32
height=32
layer=com_33
trans=0
model=com_i22339
activemodel=-1
zoom=1000
xan=0
yan=0
buttontext=Move down

[com_33]
type=0
buttontype=0
clientcode=0
x=199
y=277
width=29
height=56
overlayer=35
trans=0
scrollheight=0
hide=0

[com_34]
type=6
buttontype=0
clientcode=0
x=-4
y=12
width=32
height=32
layer=com_35
trans=0
model=com_i22341
activemodel=-1
zoom=1000
xan=0
yan=0

[com_35]
type=0
buttontype=0
clientcode=0
x=199
y=277
width=29
height=56
trans=0
scrollheight=0
hide=1
