// interface 514

[com_0]
type=6
buttontype=0
clientcode=0
x=237
y=183
width=32
height=32
trans=0
model=com_i9857
activemodel=-1
zoom=256
xan=501
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=224
y=302
width=32
height=32
trans=0
model=com_i23131
activemodel=-1
anim=5908
zoom=360
xan=36
yan=1720
