// interface 52

[com_0]
type=0
buttontype=0
clientcode=0
x=-13
y=-1
width=527
height=340
trans=0
scrollheight=0
hide=0

[com_1]
type=6
buttontype=0
clientcode=0
x=101
y=298
width=10
height=14
layer=com_0
trans=0
model=com_i12114
activemodel=-1
anim=3308
zoom=466
xan=465
yan=1647

[com_2]
type=6
buttontype=0
clientcode=0
x=-42
y=-4
width=32
height=32
layer=com_3
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=1040
xan=135
yan=762

[com_3]
type=0
buttontype=1
clientcode=0
x=142
y=102
width=190
height=79
trans=0
scrollheight=0
hide=1
buttontext=Build Stable Dugout

[com_4]
type=6
buttontype=0
clientcode=0
x=83
y=21
width=32
height=32
layer=com_3
trans=0
model=com_i12101
activemodel=-1
anim=3306
zoom=912
xan=162
yan=1186

[com_5]
type=6
buttontype=0
clientcode=0
x=-48
y=-19
width=32
height=32
layer=com_6
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=1424
xan=195
yan=786

[com_6]
type=0
buttontype=1
clientcode=0
x=96
y=158
width=122
height=121
trans=0
scrollheight=0
hide=1
buttontext=Build Dugout Canoe

[com_7]
type=6
buttontype=0
clientcode=0
x=40
y=42
width=27
height=26
layer=com_6
trans=0
model=com_i12103
activemodel=-1
anim=3306
zoom=856
xan=171
yan=348

[com_8]
type=0
buttontype=1
clientcode=0
x=28
y=177
width=91
height=151
trans=0
scrollheight=0
hide=0
buttontext=Make Log Canoe

[com_9]
type=6
buttontype=0
clientcode=0
x=-10
y=-15
width=32
height=32
layer=com_8
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=1552
xan=177
yan=918

[com_10]
type=6
buttontype=0
clientcode=0
x=86
y=61
width=32
height=32
layer=com_0
trans=0
model=com_i12114
activemodel=-1
anim=3308
zoom=400
xan=189
yan=1654

[com_11]
type=6
buttontype=0
clientcode=0
x=27
y=46
width=29
height=27
layer=com_8
trans=0
model=com_i12108
activemodel=-1
anim=3306
zoom=1040
xan=180
yan=459

[com_12]
type=6
buttontype=0
clientcode=0
x=-81
y=12
width=32
height=32
layer=com_13
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=784
xan=159
yan=726

[com_13]
type=0
buttontype=1
clientcode=0
x=150
y=22
width=295
height=88
trans=0
scrollheight=0
hide=1
buttontext=Make Waka Canoe

[com_14]
type=6
buttontype=0
clientcode=0
x=121
y=43
width=32
height=32
layer=com_13
trans=0
model=com_i12112
activemodel=-1
anim=3306
zoom=656
xan=81
yan=150

[com_15]
type=0
buttontype=0
clientcode=0
x=420
y=6
width=80
height=16
trans=0
scrollheight=0
hide=0

[com_16]
type=4
buttontype=0
clientcode=0
x=83
y=42
width=105
height=12
layer=com_3
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=A Stable Dugout.
activetext=
colour=0x999999
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=208
y=59
width=84
height=13
layer=com_13
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=A Waka.
activetext=
colour=0x999999
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=36
y=88
width=79
height=12
layer=com_6
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=A Dugout.
activetext=
colour=0x999999
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=13
y=114
width=59
height=15
layer=com_8
trans=0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=A Log.
activetext=
colour=0x999999
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=130
y=287
width=380
height=15
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=WHAT SORT OF CANOE WOULD YOU LIKE TO MAKE   ?
activetext=  
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_21]
type=6
buttontype=0
clientcode=0
x=78
y=175
width=36
height=24
layer=com_0
trans=0
model=com_i12114
activemodel=-1
anim=3308
zoom=400
xan=306
yan=1642

[com_22]
type=6
buttontype=0
clientcode=0
x=183
y=-9
width=32
height=32
layer=com_0
trans=0
model=com_i12114
activemodel=-1
anim=3308
zoom=400
xan=198
yan=1609

[com_23]
type=6
buttontype=0
clientcode=0
x=166
y=18
width=32
height=32
layer=com_0
trans=0
model=com_i12105
activemodel=-1
zoom=400
xan=468
yan=2035

[com_24]
type=4
buttontype=1
clientcode=0
x=0
y=2
width=74
height=150
layer=com_8
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make log canoe

[com_25]
type=4
buttontype=1
clientcode=0
x=7
y=14
width=113
height=110
layer=com_6
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make dugout canoe

[com_26]
type=4
buttontype=1
clientcode=0
x=9
y=1
width=180
height=68
layer=com_3
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make stable dugout canoe

[com_27]
type=4
buttontype=1
clientcode=0
x=11
y=2
width=282
height=85
layer=com_13
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Make waka canoe

[com_28]
type=6
buttontype=0
clientcode=0
x=-57
y=12
width=32
height=32
layer=com_29
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=784
xan=159
yan=726

[com_29]
type=0
buttontype=0
clientcode=0
x=150
y=22
width=295
height=88
trans=0
scrollheight=0
hide=0

[com_30]
type=6
buttontype=0
clientcode=0
x=121
y=50
width=32
height=32
layer=com_29
trans=0
model=com_i12113
activemodel=-1
anim=3306
zoom=588
xan=81
yan=152

[com_31]
type=6
buttontype=0
clientcode=0
x=-46
y=-17
width=32
height=32
layer=com_32
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=1424
xan=195
yan=786

[com_32]
type=0
buttontype=0
clientcode=0
x=96
y=158
width=122
height=121
trans=0
scrollheight=0
hide=0

[com_33]
type=6
buttontype=0
clientcode=0
x=38
y=38
width=32
height=32
layer=com_32
trans=0
model=com_i12104
activemodel=-1
anim=3306
zoom=850
xan=166
yan=346

[com_34]
type=6
buttontype=0
clientcode=0
x=-44
y=-3
width=32
height=32
layer=com_35
trans=0
model=com_i2333
activemodel=-1
anim=527
zoom=1040
xan=135
yan=762

[com_35]
type=0
buttontype=0
clientcode=0
x=142
y=102
width=190
height=79
trans=0
scrollheight=0
hide=0

[com_36]
type=6
buttontype=0
clientcode=0
x=66
y=32
width=32
height=32
layer=com_35
trans=0
model=com_i12102
activemodel=-1
anim=3306
zoom=867
xan=164
yan=1179

[com_37]
type=4
buttontype=1
clientcode=0
x=13
y=9
width=108
height=114
layer=com_32
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_38]
type=4
buttontype=1
clientcode=0
x=5
y=7
width=197
height=57
layer=com_35
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_39]
type=4
buttontype=1
clientcode=0
x=8
y=1
width=285
height=86
layer=com_29
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_40]
type=5
buttontype=0
clientcode=0
x=473
y=13
width=26
height=23
overlayer=42
trans=0
graphic=539
activegraphic=-1

[com_41]
type=5
buttontype=3
clientcode=0
x=3
y=3
width=26
height=23
layer=com_42
trans=0
graphic=540
activegraphic=-1

[com_42]
type=0
buttontype=0
clientcode=0
x=470
y=10
width=32
height=32
trans=0
scrollheight=0
hide=1
