// interface 523

[com_0]
fmt=v3
type=5
clientcode=0
x=19
y=2
width=25
height=25
layer=com_92
hide=0
graphic=197
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=47
y=6
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=4
clientcode=0
x=67
y=15
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=4
clientcode=0
x=63
y=11
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=94
y=1
width=25
height=25
layer=com_92
hide=0
graphic=203
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=4
clientcode=0
x=122
y=5
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=4
clientcode=0
x=142
y=14
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=4
clientcode=0
x=138
y=10
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=19
y=29
width=25
height=25
layer=com_92
hide=0
graphic=209
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=4
clientcode=0
x=47
y=33
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=4
clientcode=0
x=67
y=42
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=4
clientcode=0
x=63
y=38
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=94
y=29
width=25
height=25
layer=com_92
hide=0
graphic=198
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=4
clientcode=0
x=122
y=33
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=4
clientcode=0
x=142
y=42
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=4
clientcode=0
x=138
y=38
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=5
clientcode=0
x=19
y=57
width=25
height=25
layer=com_92
hide=0
graphic=204
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=4
clientcode=0
x=47
y=61
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=4
clientcode=0
x=67
y=70
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=4
clientcode=0
x=63
y=66
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=5
clientcode=0
x=93
y=57
width=25
height=25
layer=com_92
hide=0
graphic=210
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=4
clientcode=0
x=121
y=61
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=4
clientcode=0
x=141
y=70
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=4
clientcode=0
x=137
y=66
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=5
clientcode=0
x=19
y=85
width=25
height=25
layer=com_92
hide=0
graphic=199
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=4
clientcode=0
x=47
y=89
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=4
clientcode=0
x=67
y=98
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=4
clientcode=0
x=63
y=94
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=5
clientcode=0
x=93
y=84
width=25
height=25
layer=com_92
hide=0
graphic=205
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=4
clientcode=0
x=121
y=88
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=4
clientcode=0
x=141
y=97
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=4
clientcode=0
x=137
y=93
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_32]
fmt=v3
type=5
clientcode=0
x=19
y=113
width=25
height=25
layer=com_92
hide=0
graphic=211
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=4
clientcode=0
x=47
y=117
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=4
clientcode=0
x=67
y=126
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=4
clientcode=0
x=63
y=122
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_36]
fmt=v3
type=5
clientcode=0
x=93
y=112
width=25
height=25
layer=com_92
hide=0
graphic=200
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=4
clientcode=0
x=121
y=116
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=4
clientcode=0
x=141
y=125
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=4
clientcode=0
x=137
y=121
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_40]
fmt=v3
type=5
clientcode=0
x=19
y=141
width=25
height=25
layer=com_92
hide=0
graphic=206
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=4
clientcode=0
x=47
y=145
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_42]
fmt=v3
type=4
clientcode=0
x=67
y=154
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=4
clientcode=0
x=63
y=150
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_44]
fmt=v3
type=5
clientcode=0
x=93
y=140
width=25
height=25
layer=com_92
hide=0
graphic=212
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=4
clientcode=0
x=121
y=144
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_46]
fmt=v3
type=4
clientcode=0
x=141
y=153
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_47]
fmt=v3
type=4
clientcode=0
x=137
y=149
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_48]
fmt=v3
type=5
clientcode=0
x=19
y=169
width=25
height=25
layer=com_92
hide=0
graphic=201
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_49]
fmt=v3
type=4
clientcode=0
x=47
y=173
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_50]
fmt=v3
type=4
clientcode=0
x=67
y=182
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_51]
fmt=v3
type=4
clientcode=0
x=63
y=178
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_52]
fmt=v3
type=5
clientcode=0
x=93
y=168
width=25
height=25
layer=com_92
hide=0
graphic=207
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_53]
fmt=v3
type=4
clientcode=0
x=121
y=172
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_54]
fmt=v3
type=4
clientcode=0
x=141
y=181
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=4
clientcode=0
x=137
y=177
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_56]
fmt=v3
type=5
clientcode=0
x=19
y=197
width=25
height=25
layer=com_92
hide=0
graphic=213
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_57]
fmt=v3
type=4
clientcode=0
x=47
y=201
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_58]
fmt=v3
type=4
clientcode=0
x=67
y=210
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_59]
fmt=v3
type=4
clientcode=0
x=63
y=206
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_60]
fmt=v3
type=5
clientcode=0
x=93
y=197
width=25
height=25
layer=com_92
hide=0
graphic=202
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_61]
fmt=v3
type=4
clientcode=0
x=121
y=201
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_62]
fmt=v3
type=4
clientcode=0
x=141
y=210
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_63]
fmt=v3
type=4
clientcode=0
x=137
y=206
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_64]
fmt=v3
type=5
clientcode=0
x=19
y=225
width=25
height=25
layer=com_92
hide=0
graphic=208
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_65]
fmt=v3
type=4
clientcode=0
x=47
y=229
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_66]
fmt=v3
type=4
clientcode=0
x=67
y=238
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_67]
fmt=v3
type=4
clientcode=0
x=63
y=234
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_68]
fmt=v3
type=5
clientcode=0
x=93
y=225
width=25
height=25
layer=com_92
hide=0
graphic=214
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_69]
fmt=v3
type=4
clientcode=0
x=121
y=229
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_70]
fmt=v3
type=4
clientcode=0
x=141
y=238
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_71]
fmt=v3
type=4
clientcode=0
x=137
y=234
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_72]
fmt=v3
type=5
clientcode=0
x=19
y=253
width=25
height=25
layer=com_92
hide=0
graphic=215
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_73]
fmt=v3
type=4
clientcode=0
x=47
y=257
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_74]
fmt=v3
type=4
clientcode=0
x=67
y=266
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_75]
fmt=v3
type=4
clientcode=0
x=63
y=262
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_76]
fmt=v3
type=5
clientcode=0
x=93
y=253
width=25
height=25
layer=com_92
hide=0
graphic=216
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_77]
fmt=v3
type=4
clientcode=0
x=121
y=257
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_78]
fmt=v3
type=4
clientcode=0
x=141
y=266
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_79]
fmt=v3
type=4
clientcode=0
x=137
y=262
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_80]
fmt=v3
type=5
clientcode=0
x=19
y=281
width=25
height=25
layer=com_92
hide=0
graphic=217
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_81]
fmt=v3
type=4
clientcode=0
x=47
y=285
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_82]
fmt=v3
type=4
clientcode=0
x=67
y=294
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_83]
fmt=v3
type=4
clientcode=0
x=63
y=290
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_84]
fmt=v3
type=5
clientcode=0
x=93
y=281
width=25
height=25
layer=com_92
hide=0
graphic=221
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_85]
fmt=v3
type=4
clientcode=0
x=121
y=285
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_86]
fmt=v3
type=4
clientcode=0
x=141
y=294
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_87]
fmt=v3
type=4
clientcode=0
x=137
y=290
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_88]
fmt=v3
type=5
clientcode=0
x=19
y=309
width=25
height=25
layer=com_92
hide=0
graphic=220
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_89]
fmt=v3
type=4
clientcode=0
x=47
y=313
width=18
height=14
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=2
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_90]
fmt=v3
type=4
clientcode=0
x=67
y=322
width=15
height=12
layer=com_92
hide=0
font=496
text=00
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_91]
fmt=v3
type=4
clientcode=0
x=63
y=318
width=8
height=15
layer=com_92
hide=0
font=495
text=/
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_92]
fmt=v3
type=0
clientcode=0
x=-4
y=29
width=168
height=226
hide=0
scrollwidth=0
scrollheight=350
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_93]
fmt=v3
type=0
clientcode=0
x=165
y=29
width=16
height=226
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:63,i:-2147483645,i:34275420,i:792,i:789,i:790,i:791,i:773,i:788

[com_94]
fmt=v3
type=4
clientcode=0
x=12
y=9
width=149
height=18
hide=0
font=496
text=Player ~ Name
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x010100
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_95]
fmt=v3
type=5
clientcode=0
x=165
y=8
width=16
height=16
hide=0
graphic=831
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:832
onmouseleave=i:44,i:-2147483645,i:831
onclick=i:29

[com_96]
fmt=v3
type=0
clientcode=0
x=160
y=4
width=26
height=23
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_97]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=26
height=23
layer=com_96
hide=0
graphic=536
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
