// interface 524

[com_0]
fmt=v3
type=3
clientcode=0
x=22
y=251
width=465
height=68
hide=0
colour=0x112526
fill=1
trans=150
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=30
y=292
width=450
height=20
hide=0
font=497
text=Text
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x666fff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=4
clientcode=0
x=30
y=258
width=450
height=29
hide=0
font=645
text=Text
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x666fff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
