// interface 526

[com_0]
type=6
buttontype=0
clientcode=0
x=202
y=111
width=32
height=32
trans=0
model=com_i25719
activemodel=-1
zoom=400
xan=512
yan=0

[com_1]
type=6
buttontype=0
clientcode=0
x=237
y=155
width=32
height=32
trans=0
model=com_i25720
activemodel=-1
zoom=451
xan=539
yan=0

[com_2]
type=4
buttontype=0
clientcode=0
x=100
y=77
width=300
height=151
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=This is an interface type test.
activetext=
colour=0x332208
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=34
y=34
width=32
height=32
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_4]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_6
overlayer=6
trans=0
graphic=542
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=482
y=6
width=26
height=23
overlayer=6
trans=0
graphic=541
activegraphic=-1

[com_6]
type=0
buttontype=0
clientcode=0
x=479
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1
