// interface 530

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=152
width=32
height=32
trans=0
model=com_i25725
activemodel=-1
zoom=450
xan=512
yan=0

[com_1]
type=0
buttontype=0
clientcode=0
x=50
y=77
width=151
height=199
trans=0
scrollheight=750
hide=0

[com_2]
type=4
buttontype=0
clientcode=0
x=3
y=16
width=145
height=730
layer=com_1
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Text
activetext=
colour=0x1b1b1b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=0
buttontype=0
clientcode=0
x=319
y=77
width=151
height=199
trans=0
scrollheight=750
hide=0

[com_4]
type=4
buttontype=0
clientcode=0
x=3
y=16
width=145
height=730
layer=com_3
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Text
activetext=
colour=0x1b1b1b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=0
buttontype=0
clientcode=0
x=32
y=50
width=444
height=252
trans=0
scrollheight=0
hide=1

[com_6]
type=4
buttontype=0
clientcode=0
x=18
y=27
width=151
height=199
layer=com_5
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=This is an interface type test.
activetext=
colour=0x1b1b1b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=287
y=27
width=151
height=199
layer=com_5
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=This is an interface type test.
activetext=
colour=0x1b1b1b
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=5
buttontype=0
clientcode=0
x=467
y=19
width=26
height=23
overlayer=10
trans=0
graphic=541
activegraphic=-1

[com_9]
type=5
buttontype=3
clientcode=0
x=14
y=10
width=26
height=23
layer=com_10
overlayer=10
trans=0
graphic=542
activegraphic=-1

[com_10]
type=0
buttontype=0
clientcode=0
x=453
y=9
width=51
height=47
trans=0
scrollheight=0
hide=1
