// interface 531

[com_0]
type=6
buttontype=0
clientcode=0
x=242
y=154
width=32
height=32
trans=0
model=com_i25726
activemodel=-1
zoom=465
xan=512
yan=0

[com_1]
type=5
buttontype=0
clientcode=0
x=487
y=8
width=26
height=23
overlayer=3
trans=0
graphic=535
activegraphic=-1

[com_2]
type=5
buttontype=3
clientcode=0
x=10
y=4
width=26
height=23
layer=com_3
overlayer=3
trans=0
graphic=536
activegraphic=-1

[com_3]
type=0
buttontype=0
clientcode=0
x=477
y=4
width=38
height=41
overlayer=3
trans=0
scrollheight=0
hide=1
