// interface 532

[com_0]
fmt=v3
type=4
clientcode=0
x=355
y=7
width=101
height=16
hide=0
font=496
text=Museum Kudos:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=460
y=7
width=45
height=16
hide=0
font=495
text=
lineheight=0
halign=2
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:64
onvartransmit=i:64
onvartransmitlist=1010
