// interface 534

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=512
height=334
hide=0
colour=0x000000
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=484
y=5
width=26
height=23
hide=0
graphic=539
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:540
onmouseleave=i:44,i:-2147483645,i:539
onop=i:29

[com_2]
fmt=v3
type=4
clientcode=0
x=235
y=3
width=275
height=329
hide=0
font=495
text=Text
lineheight=0
halign=0
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=6
clientcode=0
x=103
y=262
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=6
clientcode=0
x=103
y=262
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=6
clientcode=0
x=104
y=225
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=973
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=6
clientcode=0
x=103
y=262
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=6
clientcode=0
x=103
y=262
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=6
clientcode=0
x=102
y=165
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1243
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=6
clientcode=0
x=102
y=165
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1243
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=6
clientcode=0
x=102
y=165
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1243
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=6
clientcode=0
x=102
y=165
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1243
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=6
clientcode=0
x=102
y=165
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1243
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=6
clientcode=0
x=102
y=165
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1243
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=2068
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=6
clientcode=0
x=98
y=175
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_32]
fmt=v3
type=6
clientcode=0
x=98
y=175
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=6
clientcode=0
x=98
y=175
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=6
clientcode=0
x=98
y=175
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_36]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_40]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_42]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_44]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=6
clientcode=0
x=103
y=262
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_46]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_47]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_48]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=515
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_49]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_50]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_51]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_52]
fmt=v3
type=6
clientcode=0
x=103
y=262
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=650
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_53]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_54]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_56]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_57]
fmt=v3
type=6
clientcode=0
x=101
y=170
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=512
yan=0
zan=0
zoom=1868
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_58]
fmt=v3
type=4
clientcode=0
x=55
y=109
width=70
height=22
layer=com_64
hide=0
font=494
text=Asgarnia
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_59]
fmt=v3
type=4
clientcode=0
x=145
y=148
width=70
height=22
layer=com_64
hide=0
font=494
text=Misthalin
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_60]
fmt=v3
type=4
clientcode=0
x=134
y=109
width=46
height=11
layer=com_64
hide=0
font=494
text=Avarrocka
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_61]
fmt=v3
type=4
clientcode=0
x=103
y=96
width=46
height=11
layer=com_64
hide=0
font=494
text=Ghost Town
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_62]
fmt=v3
type=4
clientcode=0
x=41
y=226
width=46
height=11
layer=com_64
hide=0
font=494
text=Karamja
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_63]
fmt=v3
type=4
clientcode=0
x=30
y=136
width=46
height=11
layer=com_64
hide=0
font=494
text=Entrana
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_64]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=236
height=300
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_65]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_66]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_67]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_68]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_69]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_70]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_71]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_72]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_73]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_74]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_75]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_76]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_77]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_78]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_79]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_80]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_81]
fmt=v3
type=6
clientcode=0
x=115
y=147
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1055
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_82]
fmt=v3
type=6
clientcode=0
x=103
y=245
width=32
height=32
hide=0
model=-1
modelxof=0
modelyof=0
xan=197
yan=1694
zan=0
zoom=461
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_83]
fmt=v3
type=4
clientcode=0
x=34
y=306
width=120
height=16
hide=0
font=496
text=Display number
lineheight=0
halign=2
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_84]
fmt=v3
type=4
clientcode=0
x=159
y=306
width=32
height=16
hide=0
font=496
text=03
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
