// interface 535

[com_0]
type=3
buttontype=0
clientcode=0
x=-3
y=-1
width=520
height=336
trans=0
fill=1
colour=0x2b2b14
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=224
y=211
width=32
height=32
trans=0
model=com_i25890
activemodel=-1
zoom=867
xan=143
yan=0

[com_2]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=515
height=336
trans=0
scrollheight=0
hide=1

[com_3]
type=6
buttontype=0
clientcode=0
x=224
y=211
width=32
height=32
layer=com_2
trans=0
model=com_i25889
activemodel=-1
zoom=867
xan=143
yan=0

[com_4]
type=0
buttontype=0
clientcode=0
x=61
y=172
width=400
height=120
trans=0
scrollheight=0
hide=0

[com_5]
type=0
buttontype=0
clientcode=0
x=44
y=49
width=20
height=20
layer=com_4
overlayer=7
trans=0
scrollheight=0
hide=0

[com_6]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
overlayer=5
trans=0
model=com_i25892
activemodel=-1
zoom=867
xan=143
yan=0

[com_7]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_8]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_7
trans=0
model=com_i25902
activemodel=-1
zoom=867
xan=143
yan=0

[com_9]
type=0
buttontype=0
clientcode=0
x=69
y=49
width=20
height=20
layer=com_4
overlayer=11
trans=0
scrollheight=0
hide=0

[com_10]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
overlayer=5
trans=0
model=com_i25903
activemodel=-1
zoom=867
xan=143
yan=0

[com_11]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_12]
type=6
buttontype=0
clientcode=0
x=163
y=38
width=32
height=32
layer=com_11
trans=0
model=com_i25904
activemodel=-1
zoom=867
xan=143
yan=0

[com_13]
type=0
buttontype=0
clientcode=0
x=90
y=48
width=20
height=20
layer=com_4
overlayer=15
trans=0
scrollheight=0
hide=0

[com_14]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
overlayer=5
trans=0
model=com_i25905
activemodel=-1
zoom=867
xan=143
yan=0

[com_15]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_16]
type=6
buttontype=0
clientcode=0
x=163
y=38
width=32
height=32
layer=com_15
trans=0
model=com_i25906
activemodel=-1
zoom=867
xan=143
yan=0

[com_17]
type=0
buttontype=0
clientcode=0
x=112
y=50
width=20
height=20
layer=com_4
overlayer=23
trans=0
scrollheight=0
hide=0

[com_18]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
overlayer=5
trans=0
model=com_i25907
activemodel=-1
zoom=867
xan=143
yan=0

[com_19]
type=0
buttontype=0
clientcode=0
x=133
y=49
width=20
height=20
layer=com_4
overlayer=21
trans=0
scrollheight=0
hide=0

[com_20]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25909
activemodel=-1
zoom=867
xan=143
yan=0

[com_21]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_22]
type=6
buttontype=0
clientcode=0
x=163
y=38
width=32
height=32
layer=com_21
trans=0
model=com_i25910
activemodel=-1
zoom=867
xan=143
yan=0

[com_23]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_24]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_23
trans=0
model=com_i25908
activemodel=-1
zoom=867
xan=143
yan=0

[com_25]
type=0
buttontype=0
clientcode=0
x=154
y=49
width=20
height=20
layer=com_4
overlayer=27
trans=0
scrollheight=0
hide=0

[com_26]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25911
activemodel=-1
zoom=867
xan=143
yan=0

[com_27]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_28]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_27
trans=0
model=com_i25912
activemodel=-1
zoom=867
xan=143
yan=0

[com_29]
type=0
buttontype=0
clientcode=0
x=174
y=49
width=20
height=20
layer=com_4
overlayer=31
trans=0
scrollheight=0
hide=0

[com_30]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25913
activemodel=-1
zoom=867
xan=143
yan=0

[com_31]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_32]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_31
trans=0
model=com_i25914
activemodel=-1
zoom=867
xan=143
yan=0

[com_33]
type=0
buttontype=0
clientcode=0
x=216
y=51
width=20
height=20
layer=com_4
overlayer=35
trans=0
scrollheight=0
hide=0

[com_34]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25917
activemodel=-1
zoom=867
xan=143
yan=0

[com_35]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_36]
type=6
buttontype=0
clientcode=0
x=163
y=38
width=32
height=32
layer=com_35
trans=0
model=com_i25918
activemodel=-1
zoom=867
xan=143
yan=0

[com_37]
type=0
buttontype=0
clientcode=0
x=194
y=50
width=20
height=20
layer=com_4
overlayer=39
trans=0
scrollheight=0
hide=0

[com_38]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25915
activemodel=-1
zoom=867
xan=143
yan=0

[com_39]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_40]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_39
trans=0
model=com_i25916
activemodel=-1
zoom=867
xan=143
yan=0

[com_41]
type=0
buttontype=0
clientcode=0
x=237
y=50
width=20
height=20
layer=com_4
overlayer=43
trans=0
scrollheight=0
hide=0

[com_42]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25893
activemodel=-1
zoom=867
xan=143
yan=0

[com_43]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_44]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_43
trans=0
model=com_i25891
activemodel=-1
zoom=867
xan=143
yan=0

[com_45]
type=0
buttontype=0
clientcode=0
x=323
y=51
width=20
height=20
layer=com_4
overlayer=47
trans=0
scrollheight=0
hide=0

[com_46]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25901
activemodel=-1
zoom=867
xan=143
yan=0

[com_47]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_48]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_47
trans=0
model=com_i25900
activemodel=-1
zoom=867
xan=143
yan=0

[com_49]
type=0
buttontype=0
clientcode=0
x=302
y=51
width=20
height=20
layer=com_4
overlayer=51
trans=0
scrollheight=0
hide=0

[com_50]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25899
activemodel=-1
zoom=867
xan=143
yan=0

[com_51]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_52]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_51
trans=0
model=com_i25898
activemodel=-1
zoom=867
xan=143
yan=0

[com_53]
type=0
buttontype=0
clientcode=0
x=279
y=50
width=20
height=20
layer=com_4
overlayer=55
trans=0
scrollheight=0
hide=0

[com_54]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25897
activemodel=-1
zoom=867
xan=143
yan=0

[com_55]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_56]
type=6
buttontype=0
clientcode=0
x=163
y=38
width=32
height=32
layer=com_55
trans=0
model=com_i25896
activemodel=-1
zoom=867
xan=143
yan=0

[com_57]
type=0
buttontype=0
clientcode=0
x=259
y=50
width=20
height=20
layer=com_4
overlayer=59
trans=0
scrollheight=0
hide=0

[com_58]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_4
trans=0
model=com_i25895
activemodel=-1
zoom=867
xan=143
yan=0

[com_59]
type=0
buttontype=0
clientcode=0
x=0
y=0
width=400
height=120
layer=com_4
trans=0
scrollheight=0
hide=1

[com_60]
type=6
buttontype=0
clientcode=0
x=164
y=38
width=32
height=32
layer=com_59
trans=0
model=com_i25894
activemodel=-1
zoom=867
xan=143
yan=0

[com_61]
type=0
buttontype=0
clientcode=0
x=344
y=31
width=20
height=20
layer=com_4
overlayer=63
trans=0
scrollheight=0
hide=0

[com_62]
type=6
buttontype=0
clientcode=0
x=-181
y=8
width=32
height=32
layer=com_61
trans=0
model=com_i25886
activemodel=-1
zoom=867
xan=143
yan=0

[com_63]
type=0
buttontype=0
clientcode=0
x=344
y=30
width=20
height=20
layer=com_4
trans=0
scrollheight=0
hide=1

[com_64]
type=6
buttontype=0
clientcode=0
x=-181
y=9
width=32
height=32
layer=com_63
trans=0
model=com_i25885
activemodel=-1
zoom=867
xan=143
yan=0

[com_65]
type=5
buttontype=0
clientcode=0
x=467
y=26
width=26
height=23
overlayer=67
trans=0
graphic=539
activegraphic=-1

[com_66]
type=5
buttontype=1
clientcode=0
x=3
y=5
width=26
height=23
layer=com_67
trans=0
graphic=540
activegraphic=-1
buttontext=

[com_67]
type=0
buttontype=0
clientcode=0
x=464
y=21
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_68]
type=3
buttontype=1
clientcode=0
x=108
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower C

[com_69]
type=3
buttontype=1
clientcode=0
x=129
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower D

[com_70]
type=3
buttontype=1
clientcode=0
x=150
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower E

[com_71]
type=3
buttontype=1
clientcode=0
x=171
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower F

[com_72]
type=3
buttontype=1
clientcode=0
x=192
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower G

[com_73]
type=3
buttontype=1
clientcode=0
x=213
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower A

[com_74]
type=3
buttontype=1
clientcode=0
x=234
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Lower B

[com_75]
type=3
buttontype=1
clientcode=0
x=255
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper C

[com_76]
type=3
buttontype=1
clientcode=0
x=276
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper D

[com_77]
type=3
buttontype=1
clientcode=0
x=297
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper E

[com_78]
type=3
buttontype=1
clientcode=0
x=318
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper F

[com_79]
type=3
buttontype=1
clientcode=0
x=339
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper G

[com_80]
type=3
buttontype=1
clientcode=0
x=360
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper A

[com_81]
type=3
buttontype=1
clientcode=0
x=381
y=222
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Upper B

[com_82]
type=3
buttontype=1
clientcode=0
x=405
y=201
width=20
height=20
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Demo

[com_83]
type=0
buttontype=0
clientcode=0
x=192
y=42
width=130
height=80
trans=0
scrollheight=0
hide=1

[com_84]
type=3
buttontype=1
clientcode=0
x=14
y=8
width=91
height=41
layer=com_83
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Open compartment

[com_85]
type=0
buttontype=0
clientcode=0
x=192
y=42
width=130
height=80
trans=0
scrollheight=0
hide=1

[com_86]
type=3
buttontype=1
clientcode=0
x=14
y=8
width=91
height=41
layer=com_85
trans=250
fill=1
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=Search compartment
