// interface 536

[com_0]
fmt=v3
type=3
clientcode=0
x=-1
y=-1
width=514
height=338
hide=0
colour=0x423f1a
fill=1
trans=150
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=0
clientcode=0
x=89
y=12
width=300
height=300
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=146
y=102
width=32
height=32
layer=com_1
hide=0
model=com_i25920
modelxof=0
modelyof=0
xan=507
yan=2044
zan=0
zoom=656
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=0
clientcode=0
x=86
y=50
width=300
height=250
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=4
clientcode=0
x=14
y=30
width=329
height=17
layer=com_3
hide=0
font=497
text=Shrink-Me-Quick Recipe
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=4
clientcode=0
x=7
y=72
width=297
height=136
layer=com_3
hide=0
font=497
text=1x leaf of tarromin,                        1x shrunken ogleroot.                                                                 Mix the tarromin in a vial of water, then add the shrunken ogleroot. Drink when standing within an area prepared with glyphs for this potion to have full effect. Take one dose only, for a new perspective on the world...
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=479
y=9
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:35127302,i:541
onmouseleave=i:44,i:35127302,i:542
onclick=i:29

[com_7]
fmt=v3
type=6
clientcode=0
x=303
y=234
width=32
height=32
hide=0
model=com_i25941
modelxof=0
modelyof=0
xan=207
yan=564
zan=0
zoom=656
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
