// interface 537

[com_0]
fmt=v3
type=3
clientcode=0
x=1
y=0
width=512
height=336
hide=0
colour=0x46341d
fill=1
trans=160
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=234
y=112
width=32
height=32
hide=0
model=com_i25921
modelxof=0
modelyof=0
xan=483
yan=2044
zan=0
zoom=581
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=3
clientcode=0
x=69
y=48
width=357
height=2
hide=0
colour=0x46320a
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=3
clientcode=0
x=69
y=58
width=357
height=2
hide=0
colour=0x46320a
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=3
clientcode=0
x=69
y=67
width=357
height=2
hide=0
colour=0x46320a
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=3
clientcode=0
x=70
y=77
width=357
height=2
hide=0
colour=0x46320a
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=3
clientcode=0
x=69
y=88
width=357
height=2
hide=0
colour=0x46320a
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=66
y=39
width=29
height=66
hide=0
graphic=865
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=109
y=28
width=45
height=36
hide=0
graphic=862
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=143
y=37
width=45
height=36
hide=0
graphic=863
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=168
y=46
width=45
height=36
hide=0
graphic=863
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=197
y=61
width=45
height=36
hide=0
graphic=863
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=230
y=51
width=45
height=36
hide=0
graphic=863
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=261
y=46
width=45
height=36
hide=0
graphic=863
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=4
clientcode=0
x=110
y=94
width=32
height=32
hide=0
font=495
text=E
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=4
clientcode=0
x=120
y=94
width=32
height=32
hide=0
font=495
text=F
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=4
clientcode=0
x=130
y=94
width=32
height=32
hide=0
font=495
text=E
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=4
clientcode=0
x=143
y=94
width=32
height=32
hide=0
font=495
text=D
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=4
clientcode=0
x=157
y=94
width=32
height=32
hide=0
font=495
text=C
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=4
clientcode=0
x=183
y=94
width=32
height=32
hide=0
font=495
text=A
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=4
clientcode=0
x=214
y=94
width=32
height=32
hide=0
font=495
text=E
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=4
clientcode=0
x=246
y=94
width=32
height=32
hide=0
font=495
text=G
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=4
clientcode=0
x=277
y=94
width=32
height=32
hide=0
font=495
text=A
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=6
clientcode=0
x=214
y=209
width=32
height=32
hide=0
model=com_i25919
modelxof=0
modelyof=0
xan=249
yan=2044
zan=0
zoom=656
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=4
clientcode=0
x=63
y=229
width=32
height=32
hide=0
font=496
text=C
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=4
clientcode=0
x=79
y=229
width=32
height=32
hide=0
font=496
text=D
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=4
clientcode=0
x=107
y=229
width=32
height=32
hide=0
font=496
text=E
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=4
clientcode=0
x=139
y=229
width=32
height=32
hide=0
font=496
text=F
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=4
clientcode=0
x=168
y=229
width=32
height=32
hide=0
font=496
text=G
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=4
clientcode=0
x=193
y=229
width=32
height=32
hide=0
font=496
text=A
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=4
clientcode=0
x=220
y=229
width=32
height=32
hide=0
font=496
text=B
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=4
clientcode=0
x=276
y=229
width=32
height=32
hide=0
font=496
text=D
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_32]
fmt=v3
type=4
clientcode=0
x=248
y=229
width=32
height=32
hide=0
font=496
text=C
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=4
clientcode=0
x=304
y=229
width=32
height=32
hide=0
font=496
text=E
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=4
clientcode=0
x=333
y=229
width=32
height=32
hide=0
font=496
text=F
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=4
clientcode=0
x=361
y=229
width=32
height=32
hide=0
font=496
text=G
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_36]
fmt=v3
type=4
clientcode=0
x=389
y=229
width=32
height=32
hide=0
font=496
text=A
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=4
clientcode=0
x=418
y=229
width=32
height=32
hide=0
font=496
text=B
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=4
clientcode=0
x=372
y=33
width=32
height=32
hide=0
font=496
text=UPPER
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=4
clientcode=0
x=372
y=93
width=32
height=32
hide=0
font=496
text=LOWER
lineheight=0
halign=0
valign=0
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_40]
fmt=v3
type=5
clientcode=0
x=417
y=20
width=26
height=23
hide=0
graphic=537
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseleave=i:44,i:-2147483645,i:537
onmouserepeat=i:44,i:-2147483645,i:538
onclick=i:29
