// interface 541

[com_0]
type=3
buttontype=0
clientcode=0
x=407
y=5
width=102
height=264
layer=com_21
trans=180
fill=1
colour=0x53533d
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=5
buttontype=0
clientcode=0
x=406
y=10
width=50
height=50
layer=com_21
trans=0
graphic=868
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=406
y=61
width=50
height=50
layer=com_21
trans=0
graphic=873
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=406
y=112
width=50
height=50
layer=com_21
trans=0
graphic=867
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=406
y=163
width=50
height=50
layer=com_21
trans=0
graphic=876
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=406
y=214
width=50
height=50
layer=com_21
trans=0
graphic=875
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=455
y=10
width=50
height=50
layer=com_21
trans=0
graphic=871
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=455
y=61
width=50
height=50
layer=com_21
trans=0
graphic=870
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=455
y=112
width=50
height=50
layer=com_21
trans=0
graphic=874
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=455
y=163
width=50
height=50
layer=com_21
trans=0
graphic=877
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=455
y=214
width=50
height=50
layer=com_21
trans=0
graphic=869
activegraphic=-1

[com_11]
type=4
buttontype=0
clientcode=0
x=438
y=12
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11238/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=438
y=63
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11240/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=438
y=114
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11242/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=438
y=165
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11244/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=438
y=216
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11246/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_16]
type=4
buttontype=0
clientcode=0
x=488
y=12
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11248/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_17]
type=4
buttontype=0
clientcode=0
x=488
y=63
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11250/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=488
y=114
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11252/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=488
y=165
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11254/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=488
y=216
width=32
height=32
layer=com_21
trans=0
scriptcmp=3/0
scripts=4/149/0/11256/0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=%1
activetext=
colour=0xb5b54a
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_21]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=509
height=322
trans=0
scrollheight=0
hide=0
