// interface 542

[com_0]
type=0
buttontype=0
clientcode=0
x=-1
y=-1
width=511
height=334
trans=0
scrollheight=0
hide=0

[com_1]
type=5
buttontype=0
clientcode=0
x=99
y=20
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_2]
type=5
buttontype=0
clientcode=0
x=393
y=239
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_3]
type=5
buttontype=0
clientcode=0
x=306
y=239
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_4]
type=5
buttontype=0
clientcode=0
x=219
y=239
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_5]
type=5
buttontype=0
clientcode=0
x=131
y=239
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=33
y=26
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_7]
type=5
buttontype=0
clientcode=0
x=33
y=86
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_8]
type=5
buttontype=0
clientcode=0
x=33
y=146
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_9]
type=5
buttontype=0
clientcode=0
x=33
y=206
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_10]
type=5
buttontype=0
clientcode=0
x=33
y=239
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_11]
type=5
buttontype=0
clientcode=0
x=121
y=80
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_12]
type=5
buttontype=0
clientcode=0
x=187
y=20
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_13]
type=5
buttontype=0
clientcode=0
x=121
y=140
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_14]
type=5
buttontype=0
clientcode=0
x=121
y=200
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_15]
type=5
buttontype=0
clientcode=0
x=187
y=80
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_16]
type=5
buttontype=0
clientcode=0
x=117
y=239
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_17]
type=5
buttontype=0
clientcode=0
x=187
y=140
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_18]
type=5
buttontype=0
clientcode=0
x=187
y=200
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_19]
type=5
buttontype=0
clientcode=0
x=275
y=20
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_20]
type=5
buttontype=0
clientcode=0
x=363
y=80
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_21]
type=5
buttontype=0
clientcode=0
x=275
y=80
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_22]
type=5
buttontype=0
clientcode=0
x=275
y=140
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_23]
type=5
buttontype=0
clientcode=0
x=275
y=200
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_24]
type=5
buttontype=0
clientcode=0
x=363
y=140
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_25]
type=5
buttontype=0
clientcode=0
x=363
y=20
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_26]
type=5
buttontype=0
clientcode=0
x=363
y=200
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_27]
type=5
buttontype=0
clientcode=0
x=393
y=26
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_28]
type=5
buttontype=0
clientcode=0
x=393
y=81
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_29]
type=5
buttontype=0
clientcode=0
x=393
y=141
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_30]
type=5
buttontype=0
clientcode=0
x=393
y=200
width=88
height=60
layer=com_0
trans=0
graphic=297
activegraphic=-1

[com_31]
type=5
buttontype=0
clientcode=0
x=12
y=49
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_32]
type=5
buttontype=0
clientcode=0
x=12
y=85
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_33]
type=5
buttontype=0
clientcode=0
x=12
y=121
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_34]
type=5
buttontype=0
clientcode=0
x=12
y=157
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_35]
type=5
buttontype=0
clientcode=0
x=12
y=193
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_36]
type=5
buttontype=0
clientcode=0
x=12
y=228
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_37]
type=5
buttontype=0
clientcode=0
x=12
y=252
width=36
height=36
layer=com_0
trans=0
graphic=172
activegraphic=-1

[com_38]
type=5
buttontype=0
clientcode=0
x=466
y=51
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_39]
type=5
buttontype=0
clientcode=0
x=466
y=86
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_40]
type=5
buttontype=0
clientcode=0
x=466
y=122
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_41]
type=5
buttontype=0
clientcode=0
x=466
y=158
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_42]
type=5
buttontype=0
clientcode=0
x=49
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_43]
type=5
buttontype=0
clientcode=0
x=466
y=194
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_44]
type=5
buttontype=0
clientcode=0
x=466
y=230
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_45]
type=5
buttontype=0
clientcode=0
x=466
y=264
width=36
height=36
layer=com_0
trans=0
graphic=315
activegraphic=-1

[com_46]
type=5
buttontype=0
clientcode=0
x=80
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_47]
type=5
buttontype=0
clientcode=0
x=111
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_48]
type=5
buttontype=0
clientcode=0
x=144
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_49]
type=5
buttontype=0
clientcode=0
x=178
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_50]
type=5
buttontype=0
clientcode=0
x=212
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_51]
type=5
buttontype=0
clientcode=0
x=248
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_52]
type=5
buttontype=0
clientcode=0
x=283
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_53]
type=5
buttontype=0
clientcode=0
x=319
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_54]
type=5
buttontype=0
clientcode=0
x=354
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_55]
type=5
buttontype=0
clientcode=0
x=390
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_56]
type=5
buttontype=0
clientcode=0
x=426
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_57]
type=5
buttontype=0
clientcode=0
x=71
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_58]
type=5
buttontype=0
clientcode=0
x=107
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_59]
type=5
buttontype=0
clientcode=0
x=143
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_60]
type=5
buttontype=0
clientcode=0
x=179
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_61]
type=5
buttontype=0
clientcode=0
x=215
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_62]
type=5
buttontype=0
clientcode=0
x=251
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_63]
type=5
buttontype=0
clientcode=0
x=287
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_64]
type=5
buttontype=0
clientcode=0
x=323
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_65]
type=5
buttontype=0
clientcode=0
x=359
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_66]
type=5
buttontype=0
clientcode=0
x=395
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_67]
type=5
buttontype=0
clientcode=0
x=431
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_68]
type=5
buttontype=0
clientcode=0
x=251
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_69]
type=5
buttontype=0
clientcode=0
x=36
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_70]
type=5
buttontype=0
clientcode=0
x=48
y=284
width=36
height=36
layer=com_0
trans=0
graphic=173
activegraphic=-1

[com_71]
type=5
buttontype=0
clientcode=0
x=27
y=275
width=25
height=30
layer=com_0
trans=0
graphic=312
activegraphic=-1

[com_72]
type=5
buttontype=0
clientcode=0
x=462
y=20
width=25
height=30
layer=com_0
trans=0
graphic=311
activegraphic=-1

[com_73]
type=5
buttontype=0
clientcode=0
x=438
y=5
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_74]
type=5
buttontype=0
clientcode=0
x=462
y=275
width=25
height=30
layer=com_0
trans=0
graphic=313
activegraphic=-1

[com_75]
type=5
buttontype=0
clientcode=0
x=287
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_76]
type=5
buttontype=0
clientcode=0
x=323
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_77]
type=5
buttontype=0
clientcode=0
x=27
y=20
width=25
height=30
layer=com_0
trans=0
graphic=310
activegraphic=-1

[com_78]
type=5
buttontype=0
clientcode=0
x=359
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_79]
type=5
buttontype=0
clientcode=0
x=395
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_80]
type=5
buttontype=0
clientcode=0
x=431
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_81]
type=5
buttontype=0
clientcode=0
x=215
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_82]
type=5
buttontype=0
clientcode=0
x=179
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_83]
type=5
buttontype=0
clientcode=0
x=143
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_84]
type=5
buttontype=0
clientcode=0
x=107
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_85]
type=5
buttontype=0
clientcode=0
x=71
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_86]
type=5
buttontype=0
clientcode=0
x=33
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_87]
type=5
buttontype=0
clientcode=0
x=446
y=34
width=36
height=36
layer=com_0
trans=0
graphic=314
activegraphic=-1

[com_88]
type=0
buttontype=0
clientcode=0
x=348
y=61
width=75
height=94
trans=0
scrollheight=0
hide=0

[com_89]
type=0
buttontype=0
clientcode=0
x=170
y=178
width=75
height=96
trans=0
scrollheight=0
hide=0

[com_90]
type=0
buttontype=0
clientcode=0
x=79
y=58
width=75
height=96
trans=0
scrollheight=0
hide=0

[com_91]
type=0
buttontype=0
clientcode=0
x=168
y=57
width=77
height=90
trans=0
scrollheight=0
hide=0

[com_92]
type=0
buttontype=0
clientcode=0
x=255
y=62
width=75
height=92
trans=0
scrollheight=0
hide=0

[com_93]
type=0
buttontype=0
clientcode=0
x=255
y=175
width=72
height=92
trans=0
scrollheight=0
hide=0

[com_94]
type=0
buttontype=0
clientcode=0
x=78
y=173
width=76
height=101
trans=0
scrollheight=0
hide=0

[com_95]
type=4
buttontype=0
clientcode=0
x=348
y=118
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Vial
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_96]
type=4
buttontype=0
clientcode=0
x=170
y=238
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Orb
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_97]
type=4
buttontype=0
clientcode=0
x=79
y=118
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Beer Glass
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_98]
type=4
buttontype=0
clientcode=0
x=169
y=110
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Candle Lantern
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_99]
type=4
buttontype=0
clientcode=0
x=255
y=118
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Oil lamp
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_100]
type=4
buttontype=0
clientcode=0
x=256
y=230
width=71
height=37
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Lantern Lens
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_101]
type=4
buttontype=0
clientcode=0
x=78
y=238
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Fish Bowl
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_102]
type=6
buttontype=0
clientcode=0
x=2
y=0
width=70
height=92
layer=com_88
trans=0
model=com_i2747
activemodel=-1
zoom=400
xan=116
yan=1942

[com_103]
type=6
buttontype=0
clientcode=0
x=4
y=-19
width=64
height=96
layer=com_89
trans=0
model=com_i2428
activemodel=-1
zoom=400
xan=590
yan=868

[com_104]
type=6
buttontype=0
clientcode=0
x=-1
y=-8
width=64
height=96
layer=com_90
trans=0
model=com_i2548
activemodel=-1
zoom=450
xan=147
yan=40

[com_105]
type=6
buttontype=0
clientcode=0
x=8
y=-3
width=64
height=96
layer=com_91
trans=0
model=com_i5745
activemodel=-1
zoom=741
xan=53
yan=1965

[com_106]
type=6
buttontype=0
clientcode=0
x=8
y=-7
width=64
height=96
layer=com_92
trans=0
model=com_i5754
activemodel=-1
zoom=687
xan=197
yan=1921

[com_107]
type=6
buttontype=0
clientcode=0
x=8
y=-21
width=64
height=96
layer=com_93
trans=0
model=com_i5740
activemodel=-1
zoom=400
xan=427
yan=2031

[com_108]
type=6
buttontype=0
clientcode=0
x=8
y=7
width=59
height=79
layer=com_94
trans=0
model=com_i14186
activemodel=-1
zoom=800
xan=125
yan=2042

[com_109]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=93
layer=com_88
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make X

[com_110]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=93
layer=com_88
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 10

[com_111]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=93
layer=com_88
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make 5

[com_112]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=93
layer=com_88
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_113]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=74
height=95
layer=com_89
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make X

[com_114]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=74
height=95
layer=com_89
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make 10

[com_115]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=74
height=95
layer=com_89
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make 5

[com_116]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=74
height=95
layer=com_89
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_117]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=96
layer=com_90
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make X

[com_118]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=96
layer=com_90
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 10

[com_119]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=96
layer=com_90
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 5

[com_120]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=96
layer=com_90
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_121]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=77
height=90
layer=com_91
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make X

[com_122]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=77
height=90
layer=com_91
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make 10

[com_123]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=77
height=90
layer=com_91
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 5

[com_124]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=77
height=90
layer=com_91
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_125]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=92
layer=com_92
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make X

[com_126]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=92
layer=com_92
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 10

[com_127]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=92
layer=com_92
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 5

[com_128]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=92
layer=com_92
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_129]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=72
height=92
layer=com_93
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make X

[com_130]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=72
height=92
layer=com_93
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 10

[com_131]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=72
height=92
layer=com_93
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 5

[com_132]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=72
height=92
layer=com_93
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_133]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=76
height=101
layer=com_94
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make X

[com_134]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=76
height=101
layer=com_94
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 10

[com_135]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=76
height=101
layer=com_94
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 5

[com_136]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=76
height=101
layer=com_94
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_137]
type=4
buttontype=0
clientcode=0
x=136
y=18
width=259
height=38
trans=0
halign=1
valign=1
lineheight=0
font=496
shadowed=0
text=What would you like to make?
activetext=
colour=0xff9900
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_138]
type=0
buttontype=0
clientcode=0
x=351
y=170
width=76
height=96
trans=0
scrollheight=0
hide=0

[com_139]
type=4
buttontype=0
clientcode=0
x=351
y=230
width=75
height=36
trans=0
halign=1
valign=0
lineheight=16
font=495
shadowed=1
text=Dorgeshuun Light Orb  
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xf4f499
colour2over=0x000000

[com_140]
type=6
buttontype=0
clientcode=0
x=2
y=-4
width=70
height=92
layer=com_138
trans=0
model=com_i23615
activemodel=-1
zoom=550
xan=116
yan=1942

[com_141]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=95
layer=com_138
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make X

[com_142]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=95
layer=com_138
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9900
colour2over=0x000000
buttontext=Make 10

[com_143]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=95
layer=com_138
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xff9933
colour2over=0x000000
buttontext=Make 5

[com_144]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=75
height=95
layer=com_138
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=
activetext=
colour=0xff9900
colour2=0x000000
colourover=0xffff00
colour2over=0x000000
buttontext=Make 1

[com_145]
type=5
buttontype=0
clientcode=0
x=457
y=25
width=26
height=23
overlayer=147
trans=0
graphic=535
activegraphic=-1

[com_146]
type=5
buttontype=3
clientcode=0
x=5
y=0
width=26
height=23
layer=com_147
trans=0
graphic=536
activegraphic=-1

[com_147]
type=0
buttontype=0
clientcode=0
x=452
y=25
width=29
height=23
trans=0
scrollheight=0
hide=1
