// interface 544

[com_0]
fmt=v3
type=0
clientcode=0
x=220
y=132
width=32
height=32
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=1
y=-2
width=32
height=32
layer=com_0
hide=0
model=com_i26588
modelxof=0
modelyof=0
xan=501
yan=0
zan=0
zoom=912
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=221
y=140
width=32
height=32
hide=0
model=com_i26589
modelxof=0
modelyof=0
xan=469
yan=0
zan=0
zoom=708
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=221
y=140
width=32
height=32
hide=0
model=com_i26590
modelxof=0
modelyof=0
xan=469
yan=0
zan=0
zoom=708
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=220
y=140
width=32
height=32
hide=0
model=com_i26591
modelxof=0
modelyof=0
xan=469
yan=0
zan=0
zoom=708
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=6
clientcode=0
x=221
y=140
width=32
height=32
hide=0
model=com_i26592
modelxof=0
modelyof=0
xan=469
yan=0
zan=0
zoom=708
anim=6640
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
