// interface 546

[com_0]
fmt=v3
type=3
clientcode=0
x=-1
y=-1
width=516
height=40
hide=0
colour=0x0a2133
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=3
clientcode=0
x=0
y=39
width=514
height=40
hide=0
colour=0x0e2537
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=3
clientcode=0
x=-1
y=79
width=514
height=40
hide=0
colour=0x12293b
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=3
clientcode=0
x=-1
y=119
width=513
height=25
hide=0
colour=0x162d3f
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=3
clientcode=0
x=-1
y=144
width=513
height=25
hide=0
colour=0x1a3143
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=3
clientcode=0
x=-1
y=169
width=513
height=25
hide=0
colour=0x1e3547
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=3
clientcode=0
x=-1
y=194
width=513
height=25
hide=0
colour=0x22394b
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=3
clientcode=0
x=-1
y=219
width=513
height=25
hide=0
colour=0x263d4f
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=3
clientcode=0
x=-1
y=244
width=513
height=25
hide=0
colour=0x2a4153
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=3
clientcode=0
x=-1
y=269
width=513
height=25
hide=0
colour=0x2e4557
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=3
clientcode=0
x=-1
y=294
width=513
height=25
hide=0
colour=0x32495b
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=3
clientcode=0
x=-1
y=319
width=513
height=25
hide=0
colour=0x364d5f
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=6
clientcode=0
x=359
y=238
width=32
height=32
hide=0
model=com_i26577
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=528
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=6
clientcode=0
x=58
y=212
width=32
height=32
hide=0
model=com_i26577
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=528
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=6
clientcode=0
x=356
y=108
width=32
height=32
hide=0
model=com_i26577
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=656
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=6
clientcode=0
x=342
y=177
width=32
height=32
hide=0
model=com_i26455
modelxof=0
modelyof=0
xan=69
yan=311
zan=0
zoom=1112
anim=6642
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
