// interface 547

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=514
height=337
hide=0
colour=0x46341d
fill=1
trans=160
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=10
y=5
width=485
height=326
hide=0
model=com_i26589
modelxof=-13
modelyof=15
xan=469
yan=0
zan=0
zoom=666
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=10
y=5
width=485
height=326
hide=0
model=com_i26590
modelxof=-13
modelyof=15
xan=469
yan=0
zan=0
zoom=666
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=10
y=5
width=485
height=326
hide=0
model=com_i26591
modelxof=-13
modelyof=15
xan=469
yan=0
zan=0
zoom=666
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=466
y=8
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:542
onmouseleave=i:44,i:-2147483645,i:541
onop=i:29
onclick=i:29
