// interface 548

[com_0]
fmt=v3
type=0
clientcode=0
x=0
y=480
width=519
height=23
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:139,i:-2147483645
onvartransmit=i:177
onvartransmitlist=1054 1055

[com_1]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=519
height=23
layer=com_0
hide=0
graphic=1018
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=0
clientcode=0
x=5
y=0
width=56
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=56
height=22
layer=com_2
hide=0
graphic=1019
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=All
op1=View
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:173,i:0
onmouseleave=i:174,i:0
onop=i:175,i:-2147483644,i:0

[com_4]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=56
height=22
layer=com_2
hide=0
font=494
text=All
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=0
clientcode=0
x=71
y=0
width=56
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=56
height=22
layer=com_5
hide=0
graphic=1019
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=Game
op1=View
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:173,i:1
onmouseleave=i:174,i:1
onop=i:175,i:-2147483644,i:1

[com_7]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=56
height=22
layer=com_5
hide=0
font=494
text=Game
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=0
clientcode=0
x=137
y=0
width=56
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=56
height=22
layer=com_8
hide=0
graphic=1019
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x3e
baseop=Public
op1=View
op2=On
op3=Friends
op4=Off
op5=Hide
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:173,i:2
onmouseleave=i:174,i:2
onop=i:175,i:-2147483644,i:2

[com_10]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=56
height=11
layer=com_8
hide=0
font=494
text=Public
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=4
clientcode=0
x=0
y=11
width=56
height=11
layer=com_8
hide=0
font=494
text=On
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x00ff00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=0
clientcode=0
x=203
y=0
width=56
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=56
height=22
layer=com_12
hide=0
graphic=1019
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x1e
baseop=Private
op1=View
op2=On
op3=Friends
op4=Off
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:173,i:3
onmouseleave=i:174,i:3
onop=i:175,i:-2147483644,i:3

[com_14]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=56
height=11
layer=com_12
hide=0
font=494
text=Private
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=4
clientcode=0
x=0
y=11
width=56
height=11
layer=com_12
hide=0
font=494
text=On
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x00ff00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=0
clientcode=0
x=269
y=0
width=56
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=56
height=22
layer=com_16
hide=0
graphic=1019
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x1e
baseop=Clan
op1=View
op2=On
op3=Friends
op4=Off
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:173,i:4
onmouseleave=i:174,i:4
onop=i:175,i:-2147483644,i:4

[com_18]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=56
height=11
layer=com_16
hide=0
font=494
text=Clan
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=4
clientcode=0
x=0
y=11
width=56
height=11
layer=com_16
hide=0
font=494
text=On
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x00ff00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=0
clientcode=0
x=335
y=0
width=56
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=56
height=22
layer=com_20
hide=0
graphic=1019
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x1e
baseop=Trade
op1=View
op2=On
op3=Friends
op4=Off
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:173,i:5
onmouseleave=i:174,i:5
onop=i:175,i:-2147483644,i:5

[com_22]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=56
height=11
layer=com_20
hide=0
font=494
text=Trade
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=4
clientcode=0
x=0
y=11
width=56
height=11
layer=com_20
hide=0
font=494
text=On
lineheight=0
halign=1
valign=0
shadowed=1
colour=0x00ff00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=0
clientcode=0
x=404
y=0
width=111
height=22
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x2
baseop=
op1=Report Abuse
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:131,s:

[com_25]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=111
height=22
layer=com_24
hide=0
graphic=1024
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:188,i:-2147483645
onmouseleave=i:190,i:-2147483645

[com_26]
fmt=v3
type=4
clientcode=0
x=0
y=0
width=111
height=22
layer=com_24
hide=0
font=494
text=Report Abuse
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffffff
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=0
clientcode=0
x=519
y=466
width=246
height=37
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=246
height=37
layer=com_27
hide=0
graphic=1032
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=269
height=37
layer=com_27
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=5
clientcode=0
x=3
y=0
width=38
height=36
layer=com_29
hide=0
graphic=1028
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Clan Chat
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:7

[com_31]
fmt=v3
type=5
clientcode=0
x=41
y=0
width=33
height=36
layer=com_29
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Friends List
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:8

[com_32]
fmt=v3
type=5
clientcode=0
x=74
y=0
width=33
height=36
layer=com_29
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Ignore List
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:9

[com_33]
fmt=v3
type=5
clientcode=0
x=107
y=0
width=33
height=36
layer=com_29
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Logout
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:10

[com_34]
fmt=v3
type=5
clientcode=0
x=140
y=0
width=33
height=36
layer=com_29
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Options
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:11

[com_35]
fmt=v3
type=5
clientcode=0
x=173
y=0
width=33
height=36
layer=com_29
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Emotes
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:12

[com_36]
fmt=v3
type=5
clientcode=0
x=206
y=0
width=38
height=36
layer=com_29
hide=0
graphic=1029
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Music Player
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:13

[com_37]
fmt=v3
type=5
clientcode=0
x=6
y=1
width=32
height=36
layer=com_29
hide=0
graphic=895
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=5
clientcode=0
x=42
y=2
width=32
height=36
layer=com_29
hide=0
graphic=904
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=5
clientcode=0
x=75
y=2
width=32
height=36
layer=com_29
hide=0
graphic=905
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_40]
fmt=v3
type=5
clientcode=0
x=108
y=4
width=32
height=36
layer=com_29
hide=0
graphic=906
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=5
clientcode=0
x=142
y=1
width=32
height=36
layer=com_29
hide=0
graphic=907
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_42]
fmt=v3
type=5
clientcode=0
x=175
y=3
width=32
height=36
layer=com_29
hide=0
graphic=908
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=5
clientcode=0
x=208
y=3
width=32
height=36
layer=com_29
hide=0
graphic=909
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_44]
fmt=v3
type=0
clientcode=0
x=516
y=160
width=249
height=45
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=249
height=45
layer=com_44
hide=0
graphic=1036
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_46]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=249
height=45
layer=com_44
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:114

[com_47]
fmt=v3
type=5
clientcode=0
x=6
y=8
width=38
height=36
layer=com_46
hide=0
graphic=1026
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Combat Options
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:0

[com_48]
fmt=v3
type=5
clientcode=0
x=44
y=8
width=33
height=36
layer=com_46
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Stats
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:1

[com_49]
fmt=v3
type=5
clientcode=0
x=77
y=8
width=33
height=36
layer=com_46
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Quest List
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:2

[com_50]
fmt=v3
type=5
clientcode=0
x=110
y=8
width=33
height=36
layer=com_46
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Inventory
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:115,i:3
onop=i:115,i:3

[com_51]
fmt=v3
type=5
clientcode=0
x=143
y=8
width=33
height=36
layer=com_46
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Worn Equipment
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:4

[com_52]
fmt=v3
type=5
clientcode=0
x=176
y=8
width=33
height=36
layer=com_46
hide=0
graphic=1030
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Prayer
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:5

[com_53]
fmt=v3
type=5
clientcode=0
x=209
y=8
width=38
height=36
layer=com_46
hide=0
graphic=1027
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Magic
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:115,i:6

[com_54]
fmt=v3
type=5
clientcode=0
x=13
y=9
width=32
height=36
layer=com_46
hide=0
graphic=168
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=5
clientcode=0
x=44
y=8
width=32
height=36
layer=com_46
hide=0
graphic=898
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_56]
fmt=v3
type=5
clientcode=0
x=79
y=9
width=32
height=36
layer=com_46
hide=0
graphic=899
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_57]
fmt=v3
type=5
clientcode=0
x=111
y=7
width=30
height=36
layer=com_46
hide=0
graphic=884
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_58]
fmt=v3
type=5
clientcode=0
x=143
y=10
width=32
height=36
layer=com_46
hide=0
graphic=901
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_59]
fmt=v3
type=5
clientcode=0
x=176
y=8
width=32
height=36
layer=com_46
hide=0
graphic=902
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_60]
fmt=v3
type=5
clientcode=0
x=210
y=9
width=32
height=36
layer=com_46
hide=0
graphic=903
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_61]
fmt=v3
type=0
clientcode=0
x=0
y=4
width=4
height=334
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_62]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=4
height=334
layer=com_61
hide=0
graphic=4
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_63]
fmt=v3
type=0
clientcode=0
x=717
y=0
width=48
height=160
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_64]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=48
height=160
layer=com_63
hide=0
graphic=1038
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_65]
fmt=v3
type=0
clientcode=0
x=737
y=205
width=28
height=261
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_66]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=28
height=261
layer=com_65
hide=0
graphic=1035
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_67]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=717
height=4
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_68]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=717
height=4
layer=com_67
hide=0
graphic=1039
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_69]
fmt=v3
type=0
clientcode=0
x=516
y=4
width=29
height=156
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_70]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=29
height=156
layer=com_69
hide=0
graphic=1037
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_71]
fmt=v3
type=0
clientcode=0
x=516
y=205
width=31
height=133
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_72]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=31
height=133
layer=com_71
hide=0
graphic=1033
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_73]
fmt=v3
type=0
clientcode=0
x=519
y=338
width=28
height=128
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_74]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=28
height=128
layer=com_73
hide=0
graphic=1034
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_75]
fmt=v3
type=0
clientcode=0
x=4
y=4
width=512
height=334
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_76]
fmt=v3
type=0
clientcode=1337
x=0
y=0
width=512
height=334
layer=com_75
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_77]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=512
height=334
layer=com_75
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_78]
fmt=v3
type=5
clientcode=0
x=472
y=296
width=25
height=25
layer=com_75
hide=1
graphic=442
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_79]
fmt=v3
type=4
clientcode=0
x=0
y=265
width=512
height=13
layer=com_75
hide=0
font=495
text=
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x00ffff
eventcode=0x400
baseop=
op1=
op2=
op3=
op4=
op5=
op6=
op7=
op8=
op9=
op10=Report Abuse
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:88,i:-2147483644,s:event_opbase

[com_80]
fmt=v3
type=4
clientcode=0
x=0
y=278
width=512
height=13
layer=com_75
hide=0
font=495
text=
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x00ffff
eventcode=0x400
baseop=
op1=
op2=
op3=
op4=
op5=
op6=
op7=
op8=
op9=
op10=Report Abuse
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:88,i:-2147483644,s:event_opbase

[com_81]
fmt=v3
type=4
clientcode=0
x=0
y=291
width=512
height=13
layer=com_75
hide=0
font=495
text=
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x00ffff
eventcode=0x400
baseop=
op1=
op2=
op3=
op4=
op5=
op6=
op7=
op8=
op9=
op10=Report Abuse
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:88,i:-2147483644,s:event_opbase

[com_82]
fmt=v3
type=4
clientcode=0
x=0
y=304
width=512
height=13
layer=com_75
hide=0
font=495
text=
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x00ffff
eventcode=0x400
baseop=
op1=
op2=
op3=
op4=
op5=
op6=
op7=
op8=
op9=
op10=Report Abuse
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:88,i:-2147483644,s:event_opbase

[com_83]
fmt=v3
type=4
clientcode=0
x=0
y=317
width=512
height=13
layer=com_75
hide=0
font=495
text=
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x00ffff
eventcode=0x400
baseop=
op1=
op2=
op3=
op4=
op5=
op6=
op7=
op8=
op9=
op10=Report Abuse
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:88,i:-2147483644,s:event_opbase

[com_84]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=512
height=334
layer=com_75
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_85]
fmt=v3
type=0
clientcode=1338
x=545
y=4
width=172
height=156
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_86]
fmt=v3
type=0
clientcode=0
x=0
y=338
width=519
height=142
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_87]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=519
height=142
layer=com_86
hide=0
graphic=1017
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_88]
fmt=v3
type=0
clientcode=0
x=20
y=24
width=479
height=96
layer=com_86
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_89]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=519
height=142
layer=com_86
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_90]
fmt=v3
type=0
clientcode=0
x=8
y=7
width=504
height=130
layer=com_89
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_91]
fmt=v3
type=0
clientcode=0
x=20
y=24
width=479
height=96
layer=com_89
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_92]
fmt=v3
type=0
clientcode=0
x=20
y=24
width=479
height=96
layer=com_89
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_93]
fmt=v3
type=4
clientcode=0
x=10
y=20
width=459
height=40
layer=com_88
hide=0
font=496
text=
lineheight=0
halign=1
valign=1
shadowed=0
colour=0x000000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_94]
fmt=v3
type=4
clientcode=0
x=10
y=60
width=459
height=20
layer=com_88
hide=0
font=496
text=
lineheight=0
halign=1
valign=1
shadowed=0
colour=0x000080
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_95]
fmt=v3
type=0
clientcode=0
x=547
y=205
width=190
height=261
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_96]
fmt=v3
type=5
clientcode=0
x=0
y=0
width=190
height=261
layer=com_95
hide=0
graphic=1031
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_97]
fmt=v3
type=0
clientcode=1354
x=0
y=0
width=190
height=261
layer=com_95
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_98]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_95
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_99]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_100]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_101]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_102]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_103]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_104]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_105]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_106]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_107]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_108]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_109]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_110]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_111]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_112]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=190
height=261
layer=com_98
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
