// interface 549

[com_0]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=765
height=503
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=765
height=503
layer=com_0
hide=0
colour=0x000000
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2 welcome_main_layer]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=765
height=503
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3 welcome_message_of_the_week_layer]
fmt=v3
type=0
clientcode=0
x=0
y=0
width=765
height=503
layer=com_0
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=




