// interface 55

[com_0]
type=4
buttontype=0
clientcode=0
x=-2
y=-1
width=480
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Total Wins This Season!
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=1
clientcode=0
x=184
y=24
width=89
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Saradomin: 0
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_2]
type=4
buttontype=1
clientcode=0
x=184
y=56
width=77
height=17
trans=0
halign=0
valign=0
lineheight=0
font=497
shadowed=0
text=Zamorak: 0
activetext=
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_3]
type=6
buttontype=0
clientcode=0
x=145
y=70
width=32
height=32
trans=0
model=com_i4858
activemodel=-1
zoom=2500
xan=0
yan=0

[com_4]
type=6
buttontype=0
clientcode=0
x=304
y=70
width=32
height=32
trans=0
model=com_i4858
activemodel=-1
zoom=2500
xan=0
yan=0

[com_5]
type=5
buttontype=0
clientcode=0
x=54
y=1
width=57
height=13
trans=0
graphic=302
activegraphic=-1

[com_6]
type=5
buttontype=0
clientcode=0
x=366
y=1
width=57
height=13
trans=0
graphic=301
activegraphic=-1

[com_7]
type=6
buttontype=0
clientcode=0
x=145
y=103
width=32
height=32
trans=0
model=com_i4862
activemodel=-1
zoom=2500
xan=0
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=304
y=104
width=32
height=32
trans=0
model=com_i4862
activemodel=-1
zoom=2500
xan=0
yan=0

[com_9]
type=5
buttontype=0
clientcode=0
x=447
y=68
width=26
height=23
overlayer=11
trans=0
graphic=537
activegraphic=-1

[com_10]
type=5
buttontype=3
clientcode=0
x=2
y=6
width=26
height=23
layer=com_11
overlayer=11
trans=0
graphic=538
activegraphic=-1

[com_11]
type=0
buttontype=0
clientcode=0
x=445
y=62
width=32
height=32
trans=0
scrollheight=0
hide=1
