// interface 552

[com_0]
fmt=v3
type=3
clientcode=0
x=-4
y=-24
width=529
height=366
hide=0
colour=0x000000
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=3
clientcode=0
x=149
y=263
width=231
height=75
hide=0
colour=0x1f2e42
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=3
clientcode=0
x=122
y=220
width=287
height=43
hide=0
colour=0x152438
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=3
clientcode=0
x=116
y=167
width=284
height=53
hide=0
colour=0x0b1a2e
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=3
clientcode=0
x=119
y=112
width=281
height=56
hide=0
colour=0x011024
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=3
clientcode=0
x=116
y=23
width=279
height=90
hide=0
colour=0x00061a
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=6
clientcode=0
x=235
y=150
width=32
height=32
hide=0
model=com_i27063
modelxof=0
modelyof=0
xan=500
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=6
clientcode=0
x=239
y=154
width=32
height=32
hide=0
model=com_i27058
modelxof=0
modelyof=0
xan=500
yan=0
zan=0
zoom=950
anim=6860
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=482
y=8
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:542
onmouseleave=i:44,i:-2147483645,i:541
onop=i:29
