// interface 556

[com_0]
fmt=v3
type=5
clientcode=0
x=2
y=5
width=57
height=13
hide=0
graphic=302
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=421
y=5
width=57
height=13
hide=0
graphic=301
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=0
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=69
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=6
clientcode=0
x=138
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=6
clientcode=0
x=207
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=6
clientcode=0
x=276
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=6
clientcode=0
x=345
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=6
clientcode=0
x=414
y=20
width=64
height=55
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=400
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=4
clientcode=0
x=0
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_10]
fmt=v3
type=4
clientcode=0
x=69
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_11]
fmt=v3
type=4
clientcode=0
x=138
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_12]
fmt=v3
type=4
clientcode=0
x=207
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_13]
fmt=v3
type=4
clientcode=0
x=276
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_14]
fmt=v3
type=4
clientcode=0
x=345
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_15]
fmt=v3
type=4
clientcode=0
x=414
y=16
width=64
height=78
hide=0
font=497
text=
lineheight=0
halign=1
valign=2
shadowed=0
colour=0x000000
eventcode=0x1
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:0

[com_16]
fmt=v3
type=4
clientcode=0
x=8
y=3
width=464
height=17
hide=0
font=497
text=Select an option.
lineheight=0
halign=1
valign=0
shadowed=0
colour=0x800000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
