// interface 576

[com_0]
fmt=v3
type=5
clientcode=0
x=105
y=41
width=319
height=203
hide=0
graphic=297
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=85
y=65
width=32
height=154
hide=0
graphic=821
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=98
y=34
width=32
height=32
hide=0
graphic=824
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=411
y=65
width=23
height=155
hide=0
graphic=823
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=129
y=21
width=270
height=26
hide=0
graphic=820
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=130
y=231
width=269
height=24
hide=0
graphic=822
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=98
y=219
width=32
height=32
hide=0
graphic=826
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=399
y=34
width=32
height=32
hide=0
graphic=825
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=399
y=219
width=32
height=32
hide=0
graphic=827
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=109
y=48
width=311
height=26
hide=0
graphic=828
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=98
y=50
width=32
height=32
hide=0
graphic=829
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=399
y=50
width=32
height=32
hide=0
graphic=830
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=405
y=43
width=16
height=16
hide=0
graphic=831
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:37748748,i:832
onmouseleave=i:44,i:37748748,i:831
onop=i:29

[com_13]
fmt=v3
type=4
clientcode=0
x=211
y=41
width=108
height=21
hide=0
font=496
text=Warning!
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=4
clientcode=0
x=108
y=68
width=315
height=87
hide=0
font=495
text=This way leads into the Wilderness and is only<br> one way! Are you sure you want to go down here?
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff7d1f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=5
clientcode=0
x=191
y=42
width=19
height=19
hide=0
graphic=940
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=5
clientcode=0
x=319
y=42
width=19
height=19
hide=0
graphic=940
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=4
clientcode=0
x=108
y=157
width=315
height=27
hide=0
font=495
text=Yes - I'm fearless
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff0000
eventcode=0x2
baseop=
op1=Yes
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:167,i:-2147483645,i:65280
onmouseleave=i:167,i:-2147483645,i:16711680

[com_18]
fmt=v3
type=4
clientcode=0
x=108
y=189
width=315
height=28
hide=0
font=495
text=No - That doesn't seem like a sensible <br>thing to do
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff0000
eventcode=0x2
baseop=
op1=No
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:167,i:-2147483645,i:65280
onmouseleave=i:167,i:-2147483645,i:16711680

[com_19]
fmt=v3
type=4
clientcode=0
x=1
y=2
width=315
height=15
layer=com_21
hide=0
font=495
text=Don't ask me this again
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=5
clientcode=0
x=2
y=0
width=19
height=19
layer=com_21
hide=0
graphic=941
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Off/On
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:164,i:37748756,i:8
onclick=i:163,i:37748756
onvartransmitlist=1045

[com_21]
fmt=v3
type=0
clientcode=0
x=107
y=220
width=270
height=20
hide=1
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
