// interface 582

[com_0]
type=5
buttontype=0
clientcode=0
x=2
y=5
width=57
height=13
trans=0
graphic=302
activegraphic=-1

[com_1]
type=5
buttontype=0
clientcode=0
x=421
y=5
width=57
height=13
trans=0
graphic=301
activegraphic=-1

[com_2]
type=6
buttontype=0
clientcode=0
x=207
y=13
width=62
height=83
trans=0
model=-1
activemodel=-1
zoom=400
xan=0
yan=0

[com_3]
type=4
buttontype=6
clientcode=0
x=58
y=17
width=363
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 10 sets

[com_4]
type=4
buttontype=6
clientcode=0
x=58
y=17
width=363
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 5 sets

[com_5]
type=4
buttontype=6
clientcode=0
x=58
y=17
width=363
height=79
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=
activetext=
colour=0x000000
colour2=0x000000
colourover=0xffffff
colour2over=0x000000
buttontext=Make 1 set

[com_6]
type=4
buttontype=6
clientcode=0
x=0
y=0
width=479
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=How many would you like to make?
activetext=
colour=0x800000
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=
