// interface 583

[com_0]
fmt=v3
type=3
clientcode=0
x=17
y=25
width=488
height=305
hide=0
colour=0x000000
fill=1
trans=200
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=14
y=25
width=485
height=300
hide=0
graphic=297
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=0
y=53
width=32
height=241
hide=0
graphic=821
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=13
y=20
width=32
height=32
hide=0
graphic=824
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=480
y=51
width=32
height=243
hide=0
graphic=823
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=44
y=7
width=424
height=34
hide=0
graphic=820
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=45
y=306
width=423
height=32
hide=0
graphic=822
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=13
y=294
width=32
height=32
hide=0
graphic=826
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=468
y=20
width=32
height=32
hide=0
graphic=825
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=468
y=294
width=32
height=32
hide=0
graphic=827
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=24
y=35
width=465
height=32
hide=0
graphic=828
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=13
y=37
width=32
height=32
hide=0
graphic=829
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=468
y=37
width=32
height=32
hide=0
graphic=830
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=474
y=30
width=16
height=16
hide=0
graphic=831
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:38207501,i:832
onmouseleave=i:44,i:38207501,i:831
onop=i:29

[com_14]
fmt=v3
type=4
clientcode=0
x=19
y=30
width=474
height=16
hide=0
font=496
text=Reset Warning Messages
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=4
clientcode=0
x=36
y=-79
width=134
height=14
hide=0
font=495
text=Body Text
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=0
clientcode=0
x=23
y=55
width=449
height=264
hide=0
scrollwidth=336
scrollheight=408
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=0
clientcode=0
x=474
y=58
width=16
height=258
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:63,i:-2147483645,i:38207504,i:792,i:789,i:790,i:791,i:773,i:788

[com_18]
fmt=v3
type=5
clientcode=0
x=8
y=8
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:1
onvartransmitlist=1045

[com_19]
fmt=v3
type=5
clientcode=0
x=122
y=8
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:13
onvartransmitlist=1046

[com_20]
fmt=v3
type=5
clientcode=0
x=235
y=8
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:4
onvartransmitlist=1045

[com_21]
fmt=v3
type=5
clientcode=0
x=348
y=8
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:3
onvartransmitlist=1045

[com_22]
fmt=v3
type=5
clientcode=0
x=8
y=77
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:6
onvartransmitlist=1045

[com_23]
fmt=v3
type=5
clientcode=0
x=122
y=77
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:5
onvartransmitlist=1045

[com_24]
fmt=v3
type=5
clientcode=0
x=235
y=77
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:2
onvartransmitlist=1045

[com_25]
fmt=v3
type=5
clientcode=0
x=348
y=77
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:11
onvartransmitlist=1046

[com_26]
fmt=v3
type=5
clientcode=0
x=8
y=146
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:14
onvartransmitlist=1046

[com_27]
fmt=v3
type=5
clientcode=0
x=122
y=146
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:15
onvartransmitlist=1046

[com_28]
fmt=v3
type=5
clientcode=0
x=348
y=146
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:16
onvartransmitlist=1046

[com_29]
fmt=v3
type=5
clientcode=0
x=8
y=214
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:20
onvartransmitlist=1046

[com_30]
fmt=v3
type=5
clientcode=0
x=122
y=214
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:9
onvartransmitlist=1045

[com_31]
fmt=v3
type=5
clientcode=0
x=235
y=214
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:17
onvartransmitlist=1046

[com_32]
fmt=v3
type=5
clientcode=0
x=348
y=214
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:10
onvartransmitlist=1045

[com_33]
fmt=v3
type=5
clientcode=0
x=8
y=282
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:12
onvartransmitlist=1046

[com_34]
fmt=v3
type=5
clientcode=0
x=235
y=282
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=[if_button1,cws_doomsayer:King Black Dragon] @cws_toggle_reset(22);
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:8
onvartransmitlist=1045

[com_35]
fmt=v3
type=5
clientcode=0
x=348
y=282
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:7
onvartransmitlist=1045

[com_36]
fmt=v3
type=5
clientcode=0
x=8
y=350
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:19
onvartransmitlist=1046

[com_37]
fmt=v3
type=5
clientcode=0
x=122
y=350
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:18
onvartransmitlist=1046

[com_38]
fmt=v3
type=5
clientcode=0
x=122
y=282
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:23
onvartransmitlist=1047

[com_39]
fmt=v3
type=5
clientcode=0
x=235
y=146
width=90
height=56
layer=com_16
hide=0
graphic=833
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:165,i:-2147483645,i:24
onvartransmitlist=1047

[com_40]
fmt=v3
type=4
clientcode=0
x=10
y=10
width=84
height=52
layer=com_16
hide=0
font=494
text=Dagannoth Kings' Ladder
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=4
clientcode=0
x=124
y=10
width=84
height=52
layer=com_16
hide=0
font=494
text=Lumbridge Swamp Cave Rope
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_42]
fmt=v3
type=4
clientcode=0
x=237
y=10
width=84
height=52
layer=com_16
hide=0
font=494
text=Stronghold of Security Ladders
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=4
clientcode=0
x=350
y=10
width=84
height=52
layer=com_16
hide=0
font=494
text=Falador Mole Lair
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_44]
fmt=v3
type=4
clientcode=0
x=10
y=79
width=84
height=52
layer=com_16
hide=0
font=494
text=Dropped Items in Random Events
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=4
clientcode=0
x=124
y=79
width=84
height=52
layer=com_16
hide=0
font=494
text=Player-Owned Houses
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_46]
fmt=v3
type=4
clientcode=0
x=237
y=79
width=84
height=52
layer=com_16
hide=0
font=494
text=Contact Dungeon Ladder
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_47]
fmt=v3
type=4
clientcode=0
x=350
y=79
width=84
height=52
layer=com_16
hide=0
font=494
text=Icy Path Area
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_48]
fmt=v3
type=4
clientcode=0
x=10
y=148
width=84
height=52
layer=com_16
hide=0
font=494
text=H.A.M. Tunnel from Mill
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_49]
fmt=v3
type=4
clientcode=0
x=124
y=148
width=84
height=52
layer=com_16
hide=0
font=494
text=Fairy Ring to Dorgesh-Kaan
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_50]
fmt=v3
type=4
clientcode=0
x=350
y=148
width=84
height=52
layer=com_16
hide=0
font=494
text=Lumbridge Cellar
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_51]
fmt=v3
type=4
clientcode=0
x=10
y=216
width=84
height=52
layer=com_16
hide=0
font=494
text=Mort Myre
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_52]
fmt=v3
type=4
clientcode=0
x=124
y=216
width=84
height=52
layer=com_16
hide=0
font=494
text=Observatory Stairs
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_53]
fmt=v3
type=4
clientcode=0
x=237
y=216
width=84
height=52
layer=com_16
hide=0
font=494
text=Elid Genie Cave
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_54]
fmt=v3
type=4
clientcode=0
x=350
y=216
width=84
height=52
layer=com_16
hide=0
font=494
text=Shantay Pass
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=4
clientcode=0
x=10
y=284
width=84
height=52
layer=com_16
hide=0
font=494
text=Watchtower Shaman Cave
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_56]
fmt=v3
type=4
clientcode=0
x=237
y=284
width=84
height=52
layer=com_16
hide=0
font=494
text=Trollheim Wilderness Entrance
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_57]
fmt=v3
type=4
clientcode=0
x=350
y=284
width=84
height=52
layer=com_16
hide=0
font=494
text=Wilderness Ditch
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_58]
fmt=v3
type=4
clientcode=0
x=10
y=352
width=84
height=52
layer=com_16
hide=0
font=494
text=Dorgesh-Kaan City Exit
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_59]
fmt=v3
type=4
clientcode=0
x=125
y=352
width=84
height=52
layer=com_16
hide=0
font=494
text=Dorgesh-Kaan Tunnel to Kalphites
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_60]
fmt=v3
type=4
clientcode=0
x=124
y=284
width=84
height=52
layer=com_16
hide=0
font=494
text=Ranging Guild Tower
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_61]
fmt=v3
type=4
clientcode=0
x=237
y=148
width=84
height=52
layer=com_16
hide=0
font=494
text=Death Plateau
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x2
baseop=
op1=Toggle
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
