// interface 584

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=539
height=333
hide=0
colour=0x000000
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=1
y=-21
width=455
height=501
hide=0
model=com_i27219
modelxof=0
modelyof=71
xan=89
yan=67
zan=0
zoom=341
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=1
y=-21
width=455
height=501
hide=0
model=com_i27526
modelxof=0
modelyof=71
xan=89
yan=67
zan=0
zoom=341
anim=6921
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
