// interface 585

[com_0]
fmt=v3
type=6
clientcode=0
x=-32
y=81
width=583
height=569
hide=0
model=com_i27225
modelxof=0
modelyof=0
xan=185
yan=0
zan=0
zoom=960
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=-32
y=81
width=583
height=569
hide=0
model=com_i27226
modelxof=0
modelyof=0
xan=185
yan=0
zan=0
zoom=960
anim=6920
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=6
clientcode=0
x=-32
y=81
width=583
height=569
hide=0
model=com_i27224
modelxof=0
modelyof=0
xan=185
yan=0
zan=0
zoom=960
anim=6920
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=6
clientcode=0
x=-32
y=81
width=583
height=569
hide=0
model=com_i27227
modelxof=0
modelyof=0
xan=185
yan=0
zan=0
zoom=960
anim=6920
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
