// interface 587

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=512
height=334
hide=0
colour=0x46341d
fill=1
trans=160
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=120
y=-4
width=287
height=333
hide=0
model=com_i27222
modelxof=0
modelyof=0
xan=532
yan=0
zan=0
zoom=814
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=4
clientcode=0
x=211
y=23
width=149
height=176
hide=0
font=645
text=Meet at Camel We'll storm She'll ensure w The servants silence.
lineheight=0
halign=2
valign=1
shadowed=0
colour=0x46320a
eventcode=0x0
baseop=rm
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=456
y=24
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:542
onmouseleave=i:44,i:-2147483645,i:541
onop=i:29
