// interface 588

[com_0]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=513
height=336
hide=0
colour=0x111100
fill=1
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=6
clientcode=0
x=251
y=128
width=44
height=44
hide=0
model=com_i27214
modelxof=0
modelyof=0
xan=2031
yan=123
zan=0
zoom=516
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=464
y=24
width=26
height=23
hide=0
graphic=541
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:542
onmouseleave=i:44,i:-2147483645,i:541
onop=i:29

[com_3]
fmt=v3
type=4
clientcode=0
x=32
y=13
width=151
height=15
hide=0
font=494
text=Correct tumbler and height
lineheight=0
halign=0
valign=1
shadowed=1
colour=0x64500a
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=4
clientcode=0
x=32
y=32
width=151
height=15
hide=0
font=494
text=Correct height, wrong tumbler
lineheight=0
halign=0
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=4
clientcode=0
x=32
y=49
width=151
height=15
hide=0
font=494
text=Wrong height, wrong tumbler
lineheight=0
halign=0
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=4
clientcode=0
x=438
y=126
width=56
height=48
hide=0
font=494
text=Selected tumbler height
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=4
clientcode=0
x=379
y=133
width=32
height=32
hide=0
font=645
text=0/5
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onvartransmit=i:170
onvartransmitlist=1051

[com_8]
fmt=v3
type=4
clientcode=0
x=100
y=285
width=37
height=16
hide=0
font=494
text=Tumbler
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=4
clientcode=0
x=5
y=157
width=32
height=32
hide=0
font=494
text=Guess
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=3
clientcode=0
x=55
y=80
width=125
height=175
hide=0
colour=0xb1b192
fill=1
trans=200
eventcode=0x0
baseop=rr
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=3
clientcode=0
x=11
y=8
width=174
height=62
hide=0
colour=0xb1b192
fill=1
trans=200
eventcode=0x0
baseop=rr
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=6
clientcode=0
x=371
y=48
width=52
height=77
hide=0
model=com_i27216
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=600
orthog=0
eventcode=0x2
baseop=
op1=Up
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=6
clientcode=0
x=371
y=178
width=52
height=72
hide=0
model=com_i27216
modelxof=0
modelyof=0
xan=0
yan=0
zan=1024
zoom=600
orthog=0
eventcode=0x2
baseop=
op1=Down
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=4
clientcode=0
x=331
y=269
width=98
height=34
hide=0
font=645
text=Try Lock
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x2
baseop=
op1=Check
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:45,i:-2147483645,i:6574110

[com_15]
fmt=v3
type=4
clientcode=0
x=62
y=251
width=15
height=24
hide=0
font=494
text=1
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=4
clientcode=0
x=94
y=251
width=15
height=24
hide=0
font=494
text=2
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x645000
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=4
clientcode=0
x=126
y=251
width=15
height=24
hide=0
font=494
text=3
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=4
clientcode=0
x=158
y=251
width=15
height=24
hide=0
font=494
text=4
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_19]
fmt=v3
type=4
clientcode=0
x=228
y=222
width=72
height=17
hide=0
font=494
text=Select a tumbler
lineheight=0
halign=0
valign=0
shadowed=1
colour=0x64501e
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=4
clientcode=0
x=218
y=238
width=20
height=30
hide=0
font=645
text=1
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:169,i:1,i:-2147483645

[com_21]
fmt=v3
type=4
clientcode=0
x=241
y=238
width=20
height=30
hide=0
font=645
text=2
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:169,i:2,i:-2147483645

[com_22]
fmt=v3
type=4
clientcode=0
x=265
y=238
width=20
height=30
hide=0
font=645
text=3
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:169,i:3,i:-2147483645

[com_23]
fmt=v3
type=4
clientcode=0
x=290
y=238
width=20
height=30
hide=0
font=645
text=4
lineheight=0
halign=1
valign=1
shadowed=1
colour=0x64501e
eventcode=0x2
baseop=
op1=Select
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:45,i:-2147483645,i:16777215
onmouseleave=i:169,i:4,i:-2147483645

[com_24]
fmt=v3
type=6
clientcode=0
x=62
y=233
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=6
clientcode=0
x=94
y=233
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=6
clientcode=0
x=126
y=233
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=6
clientcode=0
x=158
y=233
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_28]
fmt=v3
type=6
clientcode=0
x=62
y=217
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_29]
fmt=v3
type=6
clientcode=0
x=94
y=217
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_30]
fmt=v3
type=6
clientcode=0
x=126
y=217
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_31]
fmt=v3
type=6
clientcode=0
x=158
y=217
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_32]
fmt=v3
type=6
clientcode=0
x=62
y=201
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=6
clientcode=0
x=94
y=201
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=6
clientcode=0
x=126
y=201
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=6
clientcode=0
x=158
y=201
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_36]
fmt=v3
type=6
clientcode=0
x=62
y=185
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=6
clientcode=0
x=94
y=185
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=6
clientcode=0
x=126
y=185
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=6
clientcode=0
x=158
y=185
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_40]
fmt=v3
type=6
clientcode=0
x=62
y=169
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_41]
fmt=v3
type=6
clientcode=0
x=94
y=169
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_42]
fmt=v3
type=6
clientcode=0
x=126
y=169
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_43]
fmt=v3
type=6
clientcode=0
x=158
y=169
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_44]
fmt=v3
type=6
clientcode=0
x=62
y=153
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_45]
fmt=v3
type=6
clientcode=0
x=94
y=153
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_46]
fmt=v3
type=6
clientcode=0
x=126
y=153
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_47]
fmt=v3
type=6
clientcode=0
x=158
y=153
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_48]
fmt=v3
type=6
clientcode=0
x=62
y=137
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_49]
fmt=v3
type=6
clientcode=0
x=94
y=137
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_50]
fmt=v3
type=6
clientcode=0
x=126
y=137
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_51]
fmt=v3
type=6
clientcode=0
x=158
y=137
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_52]
fmt=v3
type=6
clientcode=0
x=62
y=121
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_53]
fmt=v3
type=6
clientcode=0
x=94
y=121
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_54]
fmt=v3
type=6
clientcode=0
x=126
y=121
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_55]
fmt=v3
type=6
clientcode=0
x=158
y=121
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_56]
fmt=v3
type=6
clientcode=0
x=62
y=105
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_57]
fmt=v3
type=6
clientcode=0
x=94
y=105
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_58]
fmt=v3
type=6
clientcode=0
x=126
y=105
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_59]
fmt=v3
type=6
clientcode=0
x=158
y=105
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_60]
fmt=v3
type=6
clientcode=0
x=62
y=89
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_61]
fmt=v3
type=6
clientcode=0
x=94
y=89
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_62]
fmt=v3
type=6
clientcode=0
x=126
y=89
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_63]
fmt=v3
type=6
clientcode=0
x=158
y=89
width=16
height=16
hide=0
model=-1
modelxof=0
modelyof=0
xan=0
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_64]
fmt=v3
type=6
clientcode=0
x=14
y=12
width=16
height=16
hide=0
model=com_i27217
modelxof=0
modelyof=0
xan=554
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_65]
fmt=v3
type=6
clientcode=0
x=14
y=30
width=16
height=16
hide=0
model=com_i27215
modelxof=0
modelyof=0
xan=554
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_66]
fmt=v3
type=6
clientcode=0
x=14
y=48
width=16
height=16
hide=0
model=com_i27221
modelxof=0
modelyof=0
xan=554
yan=0
zan=0
zoom=1500
orthog=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
