// interface 589

[com_0]
fmt=v3
type=4
clientcode=0
x=10
y=26
width=170
height=14
hide=0
font=494
text=Talking in: Not in chat
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff9b00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=4
clientcode=0
x=25
y=41
width=155
height=14
hide=0
font=494
text=Owner: None
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff9b00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=0
clientcode=0
x=15
y=226
width=72
height=32
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:92,i:-2147483645
onmouseover=i:94,i:-2147483645
onmouseleave=i:92,i:-2147483645

[com_3]
fmt=v3
type=0
clientcode=0
x=95
y=226
width=72
height=32
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:92,i:-2147483645
onmouseover=i:94,i:-2147483645
onmouseleave=i:92,i:-2147483645

[com_4]
fmt=v3
type=3
clientcode=0
x=9
y=62
width=154
height=156
hide=0
colour=0x170801
fill=1
trans=166
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=0
clientcode=0
x=10
y=63
width=153
height=154
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:195,i:-2147483645

[com_6]
fmt=v3
type=0
clientcode=0
x=170
y=62
width=16
height=156
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=4
clientcode=0
x=64
y=4
width=64
height=16
hide=0
font=496
text=Clan Chat
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff9b00
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=4
clientcode=0
x=18
y=229
width=66
height=26
hide=0
font=494
text=Join Chat
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff9b00
eventcode=0x2
baseop=
op1=Join Chat
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onop=i:194,i:-2147483644

[com_9]
fmt=v3
type=4
clientcode=0
x=98
y=229
width=66
height=26
hide=0
font=494
text=Clan Setup
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff9b00
eventcode=0x2
baseop=
op1=Clan Setup
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=3
y=56
width=32
height=32
hide=0
graphic=972
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=34
y=56
width=105
height=32
hide=0
graphic=962
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=138
y=56
width=32
height=32
hide=0
graphic=973
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=3
y=87
width=31
height=106
hide=0
graphic=967
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=5
clientcode=0
x=3
y=192
width=32
height=32
hide=0
graphic=974
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=5
clientcode=0
x=164
y=87
width=6
height=106
hide=0
graphic=967
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=5
clientcode=0
x=138
y=192
width=32
height=32
hide=0
graphic=975
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_17]
fmt=v3
type=5
clientcode=0
x=34
y=218
width=105
height=6
hide=0
graphic=962
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
