// interface 59

[com_0]
type=4
buttontype=0
clientcode=0
x=152
y=23
width=96
height=12
trans=0
scripts=14/155/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=Zamorak = %1
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=251
y=23
width=111
height=12
trans=0
scripts=14/145/0
halign=1
valign=0
lineheight=0
font=494
shadowed=1
text=%1 = Saradomin
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=6
buttontype=0
clientcode=0
x=0
y=89
width=32
height=32
trans=0
model=com_i4858
activemodel=-1
zoom=2134
xan=0
yan=0

[com_3]
type=6
buttontype=0
clientcode=0
x=0
y=124
width=32
height=32
trans=0
model=com_i4862
activemodel=-1
zoom=2134
xan=0
yan=0

[com_4]
type=4
buttontype=0
clientcode=0
x=33
y=38
width=11
height=11
trans=0
scriptcmp=1/0
scripts=14/143/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=Safe
colour=0x000000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=35
y=73
width=11
height=11
trans=0
scriptcmp=1/0
scripts=14/153/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=
activetext=Safe
colour=0x000000
colour2=0x00ff00
colourover=0x000000
colour2over=0x000000

[com_6]
type=0
buttontype=0
clientcode=0
x=0
y=180
width=106
height=148
trans=0
scrollheight=0
hide=0

[com_7]
type=4
buttontype=0
clientcode=0
x=33
y=8
width=69
height=25
layer=com_6
trans=0
scriptcmp=1/0
scripts=14/146/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=Health %1%
activetext=Health 0%
colour=0x00ff00
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=442
y=318
width=68
height=11
trans=0
scripts=5/380/0
halign=1
valign=0
lineheight=0
font=494
shadowed=0
text=%1 Min
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=6
buttontype=0
clientcode=0
x=1
y=4
width=32
height=32
layer=com_6
trans=0
model=com_i4855
activemodel=-1
zoom=1244
xan=512
yan=0

[com_10]
type=6
buttontype=0
clientcode=0
x=-5
y=35
width=32
height=32
layer=com_6
trans=0
model=com_i4859
activemodel=-1
zoom=1165
xan=512
yan=0

[com_11]
type=4
buttontype=0
clientcode=0
x=33
y=43
width=71
height=26
layer=com_6
trans=0
scriptcmp=1/1
scripts=14/147/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=Locked
activetext=Unlocked
colour=0x00ff00
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_12]
type=6
buttontype=0
clientcode=0
x=1
y=59
width=32
height=32
layer=com_6
trans=0
model=com_i4861
activemodel=-1
zoom=2063
xan=512
yan=0

[com_13]
type=4
buttontype=0
clientcode=0
x=33
y=78
width=71
height=22
layer=com_6
trans=0
scriptcmp=1/1
scripts=14/148/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=Collapsed
activetext=Cleared
colour=0x00ff00
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_14]
type=6
buttontype=0
clientcode=0
x=1
y=264
width=32
height=32
trans=0
model=com_i4861
activemodel=-1
zoom=2063
xan=512
yan=0

[com_15]
type=4
buttontype=0
clientcode=0
x=33
y=103
width=71
height=22
layer=com_6
trans=0
scriptcmp=1/1
scripts=14/149/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=Collapsed
activetext=Cleared
colour=0x00ff00
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_16]
type=6
buttontype=0
clientcode=0
x=0
y=111
width=32
height=32
layer=com_6
trans=0
model=com_i4853
activemodel=-1
zoom=1135
xan=512
yan=0

[com_17]
type=4
buttontype=0
clientcode=0
x=33
y=128
width=71
height=19
layer=com_6
trans=0
scriptcmp=1/1
scripts=14/150/0
halign=0
valign=0
lineheight=0
font=494
shadowed=0
text=Operational
activetext=Destroyed
colour=0x00ff00
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_18]
type=4
buttontype=0
clientcode=0
x=33
y=38
width=11
height=11
trans=0
scriptcmp=1/1
scripts=14/143/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=
activetext=Taken
colour=0x000000
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_19]
type=4
buttontype=0
clientcode=0
x=33
y=38
width=11
height=11
trans=0
scriptcmp=1/2
scripts=14/143/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=
activetext=Dropped
colour=0x000000
colour2=0xffff00
colourover=0x000000
colour2over=0x000000

[com_20]
type=4
buttontype=0
clientcode=0
x=35
y=73
width=11
height=11
trans=0
scriptcmp=1/1
scripts=14/153/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=
activetext=Taken
colour=0x000000
colour2=0xff0000
colourover=0x000000
colour2over=0x000000

[com_21]
type=4
buttontype=0
clientcode=0
x=35
y=73
width=11
height=11
trans=0
scriptcmp=1/2
scripts=14/153/0
halign=0
valign=0
lineheight=0
font=494
shadowed=1
text=
activetext=Dropped
colour=0x000000
colour2=0xffff00
colourover=0x000000
colour2over=0x000000

[com_22]
type=4
buttontype=0
clientcode=0
x=247
y=119
width=4
height=4
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=
activetext=
colour=0xffff00
colour2=0x000000
colourover=0x000000
colour2over=0x000000
