// interface 590

[com_0]
fmt=v3
type=3
clientcode=0
x=17
y=25
width=488
height=305
hide=0
colour=0x000000
fill=1
trans=200
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_1]
fmt=v3
type=5
clientcode=0
x=14
y=25
width=485
height=300
hide=0
graphic=297
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_2]
fmt=v3
type=5
clientcode=0
x=13
y=53
width=6
height=241
hide=0
graphic=955
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_3]
fmt=v3
type=5
clientcode=0
x=13
y=20
width=32
height=32
hide=0
graphic=958
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_4]
fmt=v3
type=5
clientcode=0
x=468
y=51
width=32
height=243
hide=0
graphic=957
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_5]
fmt=v3
type=5
clientcode=0
x=44
y=20
width=424
height=6
hide=0
graphic=954
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_6]
fmt=v3
type=5
clientcode=0
x=45
y=294
width=423
height=32
hide=0
graphic=956
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_7]
fmt=v3
type=5
clientcode=0
x=13
y=294
width=32
height=32
hide=0
graphic=960
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_8]
fmt=v3
type=5
clientcode=0
x=468
y=20
width=32
height=32
hide=0
graphic=959
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_9]
fmt=v3
type=5
clientcode=0
x=468
y=294
width=32
height=32
hide=0
graphic=961
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_10]
fmt=v3
type=5
clientcode=0
x=24
y=49
width=465
height=6
hide=0
graphic=962
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_11]
fmt=v3
type=5
clientcode=0
x=13
y=37
width=32
height=32
hide=0
graphic=963
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_12]
fmt=v3
type=5
clientcode=0
x=468
y=37
width=32
height=32
hide=0
graphic=964
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_13]
fmt=v3
type=5
clientcode=0
x=168
y=49
width=32
height=32
hide=0
graphic=968
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_14]
fmt=v3
type=5
clientcode=0
x=181
y=60
width=6
height=255
hide=0
graphic=967
rotate=0
tiling=1
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_15]
fmt=v3
type=5
clientcode=0
x=169
y=294
width=32
height=32
hide=0
graphic=965
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_16]
fmt=v3
type=5
clientcode=0
x=473
y=30
width=16
height=16
hide=0
graphic=831
rotate=0
tiling=0
trans=0
outline=0
shadowcolour=0x000000
vflip=0
hflip=0
eventcode=0x2
baseop=
op1=Close
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onmouseover=i:44,i:-2147483645,i:832
onmouseleave=i:44,i:-2147483645,i:831
onclick=i:29

[com_17]
fmt=v3
type=4
clientcode=0
x=19
y=30
width=471
height=16
hide=0
font=496
text=Clan Chat Setup
lineheight=0
halign=1
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_18]
fmt=v3
type=0
clientcode=0
x=198
y=100
width=267
height=214
hide=0
scrollwidth=0
scrollheight=25
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:200,i:-2147483645

[com_19]
fmt=v3
type=0
clientcode=0
x=465
y=99
width=16
height=216
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_20]
fmt=v3
type=3
clientcode=0
x=0
y=0
width=268
height=1500
layer=com_18
hide=0
colour=0x170801
fill=1
trans=166
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_21]
fmt=v3
type=3
clientcode=0
x=197
y=99
width=269
height=216
hide=0
colour=0x1f1d1d
fill=0
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_22]
fmt=v3
type=3
clientcode=0
x=197
y=81
width=269
height=19
hide=0
colour=0x000000
fill=0
trans=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_23]
fmt=v3
type=9
clientcode=0
x=333
y=81
width=0
height=233
hide=0
linewidth=1
colour=0x1f1d1d
eventcode=0x0
baseop= 
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_24]
fmt=v3
type=4
clientcode=0
x=198
y=83
width=138
height=19
hide=0
font=496
text=Name:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_25]
fmt=v3
type=4
clientcode=0
x=335
y=83
width=131
height=19
hide=0
font=496
text=Rank:
lineheight=0
halign=0
valign=0
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_26]
fmt=v3
type=4
clientcode=0
x=268
y=60
width=131
height=19
hide=0
font=496
text=Friends List
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_27]
fmt=v3
type=0
clientcode=0
x=25
y=62
width=150
height=43
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:93,i:-2147483645
onmouseover=i:97,i:-2147483645
onmouseleave=i:93,i:-2147483645

[com_28]
fmt=v3
type=0
clientcode=0
x=25
y=109
width=150
height=43
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:93,i:-2147483645
onmouseover=i:97,i:-2147483645
onmouseleave=i:93,i:-2147483645

[com_29]
fmt=v3
type=0
clientcode=0
x=25
y=156
width=150
height=43
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:93,i:-2147483645
onmouseover=i:97,i:-2147483645
onmouseleave=i:93,i:-2147483645

[com_30]
fmt=v3
type=0
clientcode=0
x=25
y=203
width=150
height=43
hide=0
scrollwidth=0
scrollheight=0
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
onload=i:93,i:-2147483645
onmouseover=i:97,i:-2147483645
onmouseleave=i:93,i:-2147483645

[com_31]
fmt=v3
type=4
clientcode=0
x=37
y=59
width=125
height=42
hide=0
font=496
text=Chat disabled
lineheight=0
halign=1
valign=2
shadowed=1
colour=0xffffff
eventcode=0x6
baseop=
op1=Set prefix
op2=Disable
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_32]
fmt=v3
type=4
clientcode=0
x=37
y=107
width=125
height=42
hide=0
font=496
text=Any friends
lineheight=0
halign=1
valign=2
shadowed=1
colour=0xffffff
eventcode=0x3fe
baseop=
op1=Anyone
op2=Any friends
op3=Recruit+
op4=Corporal+
op5=Sergeant+
op6=Lieutenant+
op7=Captain+
op8=General+
op9=Only me
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_33]
fmt=v3
type=4
clientcode=0
x=37
y=153
width=125
height=42
hide=0
font=496
text=Anyone
lineheight=0
halign=1
valign=2
shadowed=1
colour=0xffffff
eventcode=0x3fe
baseop=
op1=Anyone
op2=Any friends
op3=Recruit+
op4=Corporal+
op5=Sergeant+
op6=Lieutenant+
op7=Captain+
op8=General+
op9=Only me
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_34]
fmt=v3
type=4
clientcode=0
x=37
y=200
width=125
height=42
hide=0
font=496
text=Only me
lineheight=0
halign=1
valign=2
shadowed=1
colour=0xffffff
eventcode=0x3f0
baseop=
op1=
op2=
op3=
op4=Corporal+
op5=Sergeant+
op6=Lieutenant+
op7=Captain+
op8=General+
op9=Only me
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_35]
fmt=v3
type=4
clientcode=0
x=37
y=254
width=121
height=54
hide=0
font=496
text=Right click on white text to change options.
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xffff9d
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_36]
fmt=v3
type=4
clientcode=0
x=37
y=62
width=125
height=27
hide=0
font=494
text=Clan name:
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_37]
fmt=v3
type=4
clientcode=0
x=37
y=109
width=125
height=27
hide=0
font=494
text=Who can enter chat?
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_38]
fmt=v3
type=4
clientcode=0
x=37
y=156
width=125
height=27
hide=0
font=494
text=Who can talk on chat?
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=

[com_39]
fmt=v3
type=4
clientcode=0
x=37
y=203
width=125
height=27
hide=0
font=494
text=Who can kick on chat?
lineheight=0
halign=1
valign=1
shadowed=1
colour=0xff981f
eventcode=0x0
baseop=
dragdeadzone=0
dragdeadtime=0
draggable=0
targetverb=
