// interface 61

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=154
width=32
height=32
trans=0
model=com_i9371
activemodel=-1
zoom=191
xan=513
yan=0

[com_1]
type=3
buttontype=0
clientcode=0
x=2
y=68
width=508
height=172
trans=0
fill=1
colour=0x202020
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_2]
type=3
buttontype=0
clientcode=0
x=7
y=74
width=499
height=164
trans=0
fill=1
colour=0x404040
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=0
buttontype=0
clientcode=0
x=11
y=31
width=488
height=36
trans=0
scrollheight=0
hide=0

[com_4]
type=6
buttontype=0
clientcode=0
x=32
y=122
width=32
height=32
trans=0
model=com_i3041
activemodel=-1
zoom=800
xan=400
yan=0

[com_5]
type=6
buttontype=0
clientcode=0
x=115
y=122
width=32
height=32
trans=0
model=com_i3041
activemodel=-1
zoom=800
xan=400
yan=0

[com_6]
type=6
buttontype=0
clientcode=0
x=198
y=122
width=32
height=32
trans=0
model=com_i3041
activemodel=-1
zoom=800
xan=400
yan=0

[com_7]
type=6
buttontype=0
clientcode=0
x=281
y=122
width=32
height=32
trans=0
model=com_i3041
activemodel=-1
zoom=800
xan=400
yan=0

[com_8]
type=6
buttontype=0
clientcode=0
x=365
y=123
width=32
height=32
trans=0
model=com_i3041
activemodel=-1
zoom=800
xan=400
yan=0

[com_9]
type=6
buttontype=0
clientcode=0
x=449
y=122
width=32
height=32
trans=0
model=com_i3041
activemodel=-1
zoom=800
xan=400
yan=0

[com_10]
type=4
buttontype=0
clientcode=0
x=43
y=113
width=9
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=A
activetext=
colour=0x505050
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_11]
type=4
buttontype=0
clientcode=0
x=126
y=113
width=9
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=A
activetext=
colour=0x505050
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_12]
type=4
buttontype=0
clientcode=0
x=210
y=113
width=9
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=A
activetext=
colour=0x505050
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_13]
type=4
buttontype=0
clientcode=0
x=292
y=114
width=9
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=A
activetext=
colour=0x505050
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_14]
type=4
buttontype=0
clientcode=0
x=376
y=114
width=9
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=A
activetext=
colour=0x505050
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_15]
type=4
buttontype=0
clientcode=0
x=460
y=114
width=9
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=A
activetext=
colour=0x505050
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_16]
type=6
buttontype=0
clientcode=0
x=223
y=11
width=32
height=32
trans=0
model=com_i9372
activemodel=-1
zoom=278
xan=396
yan=6

[com_17]
type=5
buttontype=1
clientcode=0
x=15
y=194
width=31
height=24
trans=0
graphic=425
activegraphic=-1
buttontext=

[com_18]
type=5
buttontype=1
clientcode=0
x=51
y=194
width=31
height=24
trans=0
graphic=426
activegraphic=-1
buttontext=

[com_19]
type=5
buttontype=1
clientcode=0
x=97
y=194
width=32
height=25
trans=0
graphic=425
activegraphic=-1
buttontext=

[com_20]
type=5
buttontype=1
clientcode=0
x=133
y=194
width=32
height=25
trans=0
graphic=426
activegraphic=-1
buttontext=

[com_21]
type=5
buttontype=1
clientcode=0
x=179
y=194
width=32
height=25
trans=0
graphic=425
activegraphic=-1
buttontext=

[com_22]
type=5
buttontype=1
clientcode=0
x=216
y=194
width=32
height=25
trans=0
graphic=426
activegraphic=-1
buttontext=

[com_23]
type=5
buttontype=1
clientcode=0
x=264
y=194
width=32
height=25
trans=0
graphic=425
activegraphic=-1
buttontext=

[com_24]
type=5
buttontype=1
clientcode=0
x=300
y=194
width=32
height=25
trans=0
graphic=426
activegraphic=-1
buttontext=

[com_25]
type=5
buttontype=1
clientcode=0
x=348
y=194
width=32
height=25
trans=0
graphic=425
activegraphic=-1
buttontext=

[com_26]
type=5
buttontype=1
clientcode=0
x=384
y=194
width=32
height=25
trans=0
graphic=426
activegraphic=-1
buttontext=

[com_27]
type=5
buttontype=1
clientcode=0
x=468
y=193
width=32
height=25
trans=0
graphic=426
activegraphic=-1
buttontext=

[com_28]
type=5
buttontype=1
clientcode=0
x=433
y=193
width=32
height=25
trans=0
graphic=425
activegraphic=-1
buttontext=

[com_29]
type=5
buttontype=0
clientcode=0
x=482
y=10
width=26
height=23
overlayer=40
trans=0
graphic=539
activegraphic=-1

[com_30]
type=5
buttontype=3
clientcode=0
x=3
y=3
width=26
height=23
layer=com_40
overlayer=40
trans=0
graphic=540
activegraphic=-1

[com_31]
type=4
buttontype=0
clientcode=0
x=160
y=36
width=206
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Name your cat ...
activetext=
colour=0xffaa44
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_32]
type=3
buttontype=1
clientcode=0
x=193
y=262
width=128
height=32
trans=0
fill=1
colour=0x404040
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_33]
type=4
buttontype=0
clientcode=0
x=200
y=269
width=114
height=14
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=0
text=E N T E R
activetext=
colour=0xffaa44
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_34]
type=6
buttontype=0
clientcode=0
x=32
y=397
width=20
height=32
trans=0
model=com_i9426
activemodel=-1
zoom=400
xan=11
yan=1941

[com_35]
type=6
buttontype=0
clientcode=0
x=469
y=395
width=32
height=32
trans=0
model=com_i3006
activemodel=-1
zoom=400
xan=11
yan=128

[com_36]
type=6
buttontype=0
clientcode=0
x=69
y=250
width=32
height=32
trans=0
model=com_i9373
activemodel=-1
zoom=491
xan=612
yan=77

[com_37]
type=6
buttontype=0
clientcode=0
x=89
y=252
width=32
height=32
trans=0
model=com_i9373
activemodel=-1
zoom=550
xan=612
yan=77

[com_38]
type=6
buttontype=0
clientcode=0
x=417
y=249
width=32
height=32
trans=0
model=com_i9373
activemodel=-1
zoom=427
xan=612
yan=77

[com_39]
type=6
buttontype=0
clientcode=0
x=398
y=251
width=32
height=32
trans=0
model=com_i9373
activemodel=-1
zoom=521
xan=612
yan=77

[com_40]
type=0
buttontype=0
clientcode=0
x=479
y=7
width=32
height=32
trans=0
scrollheight=0
hide=1
