// interface 62

[com_0]
type=6
buttontype=0
clientcode=0
x=290
y=270
width=32
height=32
trans=0
model=com_i6915
activemodel=-1
zoom=321
xan=123
yan=1945

[com_1]
type=6
buttontype=0
clientcode=0
x=277
y=271
width=32
height=32
trans=0
model=com_i6923
activemodel=-1
zoom=321
xan=123
yan=1945

[com_2]
type=5
buttontype=0
clientcode=0
x=478
y=6
width=26
height=23
overlayer=4
trans=0
graphic=539
activegraphic=-1

[com_3]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_4
overlayer=4
trans=0
graphic=540
activegraphic=-1

[com_4]
type=0
buttontype=0
clientcode=0
x=475
y=1
width=32
height=32
trans=0
scrollheight=0
hide=1
