// interface 63

[com_0]
type=6
buttontype=0
clientcode=0
x=240
y=139
width=32
height=28
trans=0
model=com_i3032
activemodel=-1
zoom=604
xan=400
yan=0

[com_1]
type=4
buttontype=0
clientcode=0
x=170
y=95
width=176
height=17
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=1
text=Congratulations!
activetext=
colour=0xf5b405
colour2=0x453c26
colourover=0x000000
colour2over=0x000000

[com_2]
type=4
buttontype=0
clientcode=0
x=96
y=117
width=320
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=Well done, you defeated the Champion!
activetext=
colour=0x004000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_3]
type=6
buttontype=0
clientcode=0
x=93
y=153
width=85
height=105
trans=0
model=com_i10347
activemodel=-1
zoom=300
xan=347
yan=1517

[com_4]
type=6
buttontype=0
clientcode=0
x=355
y=205
width=32
height=32
trans=0
model=com_i10319
activemodel=-1
zoom=273
xan=500
yan=138

[com_5]
type=4
buttontype=0
clientcode=0
x=180
y=140
width=180
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=You are awarded:
activetext=
colour=0x400000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=183
y=157
width=170
height=14
trans=0
scripts=5/621/0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=%1 Slayer Xp
activetext=
colour=0x004000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=183
y=172
width=170
height=14
trans=0
scripts=5/620/0
halign=1
valign=0
lineheight=0
font=495
shadowed=0
text=%1 Hitpoint Xp
activetext=
colour=0x004000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=5
buttontype=0
clientcode=0
x=382
y=84
width=26
height=23
overlayer=10
trans=0
graphic=537
activegraphic=-1

[com_9]
type=5
buttontype=3
clientcode=0
x=3
y=5
width=26
height=23
layer=com_10
overlayer=10
trans=0
graphic=538
activegraphic=-1

[com_10]
type=0
buttontype=0
clientcode=0
x=379
y=79
width=32
height=32
trans=0
scrollheight=0
hide=1
