// interface 7

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=4
buttontype=0
clientcode=0
x=3
y=58
width=505
height=82
trans=0
halign=1
valign=0
lineheight=0
font=496
shadowed=1
text=Text
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000
