// interface 8

[com_0]
type=3
buttontype=0
clientcode=0
x=0
y=0
width=512
height=334
trans=0
fill=1
colour=0x000000
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_1]
type=6
buttontype=0
clientcode=0
x=260
y=166
width=32
height=32
trans=0
model=com_i4652
activemodel=-1
zoom=886
xan=416
yan=1023

[com_2]
type=6
buttontype=0
clientcode=0
x=222
y=145
width=32
height=32
trans=0
model=com_i5234
activemodel=-1
zoom=962
xan=450
yan=2039

[com_3]
type=4
buttontype=0
clientcode=0
x=331
y=149
width=39
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=8-East
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_4]
type=4
buttontype=0
clientcode=0
x=332
y=130
width=47
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=6-South
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_5]
type=4
buttontype=0
clientcode=0
x=330
y=169
width=46
height=14
trans=0
halign=1
valign=0
lineheight=0
font=495
shadowed=1
text=2-North
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_6]
type=4
buttontype=0
clientcode=0
x=330
y=188
width=38
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=4-East
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_7]
type=4
buttontype=0
clientcode=0
x=330
y=207
width=55
height=14
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=22-South
activetext=
colour=0xffffff
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_8]
type=4
buttontype=0
clientcode=0
x=278
y=112
width=162
height=22
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=X marks the start!
activetext=
colour=0x9a9a54
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_9]
type=4
buttontype=0
clientcode=0
x=200
y=83
width=103
height=56
trans=0
halign=1
valign=0
lineheight=0
font=497
shadowed=0
text=Dragontooth Island
activetext=
colour=0x9a9a54
colour2=0x000000
colourover=0x000000
colour2over=0x000000

[com_10]
type=5
buttontype=0
clientcode=0
x=481
y=7
width=26
height=23
overlayer=12
trans=0
graphic=539
activegraphic=-1

[com_11]
type=5
buttontype=3
clientcode=0
x=3
y=4
width=26
height=23
layer=com_12
trans=0
graphic=540
activegraphic=-1

[com_12]
type=0
buttontype=0
clientcode=0
x=478
y=3
width=32
height=32
trans=0
scrollheight=0
hide=1
