// interface 95

[com_0]
type=6
buttontype=0
clientcode=0
x=246
y=96
width=32
height=32
trans=0
model=com_i17361
activemodel=-1
zoom=600
xan=363
yan=0

[com_1]
type=6
buttontype=1
clientcode=0
x=0
y=-8
width=32
height=32
layer=com_21
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=352
yan=0
buttontext=

[com_2]
type=6
buttontype=1
clientcode=0
x=91
y=-6
width=32
height=32
layer=com_22
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=356
yan=0
buttontext=

[com_3]
type=6
buttontype=1
clientcode=0
x=46
y=-5
width=32
height=32
layer=com_23
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_4]
type=6
buttontype=1
clientcode=0
x=-7
y=-9
width=32
height=32
layer=com_24
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=352
yan=0
buttontext=

[com_5]
type=6
buttontype=1
clientcode=0
x=-7
y=-9
width=32
height=32
layer=com_25
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_6]
type=6
buttontype=1
clientcode=0
x=53
y=-6
width=32
height=32
layer=com_26
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_7]
type=6
buttontype=1
clientcode=0
x=-5
y=-6
width=32
height=32
layer=com_27
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_8]
type=6
buttontype=1
clientcode=0
x=-6
y=-8
width=32
height=32
layer=com_28
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_9]
type=6
buttontype=1
clientcode=0
x=88
y=-6
width=32
height=32
layer=com_29
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_10]
type=6
buttontype=1
clientcode=0
x=37
y=-8
width=32
height=32
layer=com_30
trans=0
model=com_i17360
activemodel=com_i17359
zoom=400
xan=355
yan=0
buttontext=

[com_11]
type=4
buttontype=1
clientcode=0
x=25
y=0
width=76
height=14
layer=com_21
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Port Tyras
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_12]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=90
height=14
layer=com_22
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Port Phasmatys
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_13]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=52
height=14
layer=com_23
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Catherby
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_14]
type=4
buttontype=1
clientcode=0
x=15
y=-2
width=85
height=20
layer=com_24
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Shipyard
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_15]
type=4
buttontype=1
clientcode=0
x=16
y=0
width=109
height=17
layer=com_25
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text= Karamja
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_16]
type=4
buttontype=1
clientcode=0
x=0
y=1
width=59
height=14
layer=com_26
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Brimhaven
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_17]
type=4
buttontype=1
clientcode=0
x=18
y=2
width=74
height=14
layer=com_27
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Port Khazard
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_18]
type=4
buttontype=1
clientcode=0
x=18
y=0
width=119
height=15
layer=com_28
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Port Sarim
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_19]
type=4
buttontype=1
clientcode=0
x=1
y=1
width=92
height=14
layer=com_29
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Mos le'Harmless
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_20]
type=4
buttontype=1
clientcode=0
x=0
y=0
width=61
height=14
layer=com_30
trans=0
halign=0
valign=0
lineheight=0
font=495
shadowed=1
text=Crandor
activetext=
colour=0xff981f
colour2=0x000000
colourover=0x000000
colour2over=0x000000
buttontext=

[com_21]
type=0
buttontype=1
clientcode=0
x=68
y=182
width=101
height=14
overlayer=32
trans=0
scrollheight=0
hide=0
buttontext=

[com_22]
type=0
buttontype=1
clientcode=0
x=308
y=116
width=117
height=16
overlayer=34
trans=0
scrollheight=0
hide=0
buttontext=

[com_23]
type=0
buttontype=1
clientcode=0
x=171
y=118
width=69
height=17
overlayer=36
trans=0
scrollheight=0
hide=0
buttontext=

[com_24]
type=0
buttontype=1
clientcode=0
x=253
y=205
width=100
height=15
overlayer=38
trans=0
scrollheight=0
hide=0
buttontext=

[com_25]
type=0
buttontype=1
clientcode=0
x=247
y=178
width=128
height=17
overlayer=40
trans=0
scrollheight=0
hide=0
buttontext=

[com_26]
type=0
buttontype=1
clientcode=0
x=154
y=156
width=76
height=18
overlayer=42
trans=0
scrollheight=0
hide=0
buttontext=

[com_27]
type=0
buttontype=1
clientcode=0
x=174
y=191
width=93
height=16
overlayer=44
trans=0
scrollheight=0
hide=0
buttontext=

[com_28]
type=0
buttontype=1
clientcode=0
x=281
y=162
width=136
height=15
overlayer=46
trans=0
scrollheight=0
hide=0
buttontext=

[com_29]
type=0
buttontype=1
clientcode=0
x=321
y=220
width=114
height=17
overlayer=48
trans=0
scrollheight=0
hide=0
buttontext=

[com_30]
type=0
buttontype=1
clientcode=0
x=186
y=144
width=61
height=15
overlayer=53
trans=0
scrollheight=0
hide=0
buttontext=

[com_31]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_32
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_32]
type=0
buttontype=0
clientcode=0
x=0
y=-8
width=32
height=32
layer=com_21
trans=0
scrollheight=0
hide=1

[com_33]
type=6
buttontype=0
clientcode=0
x=0
y=1
width=32
height=32
layer=com_34
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_34]
type=0
buttontype=0
clientcode=0
x=91
y=-7
width=32
height=32
layer=com_22
trans=0
scrollheight=0
hide=1

[com_35]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_36
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_36]
type=0
buttontype=0
clientcode=0
x=46
y=-5
width=32
height=32
layer=com_23
trans=0
scrollheight=0
hide=1

[com_37]
type=6
buttontype=0
clientcode=0
x=0
y=-6
width=32
height=32
layer=com_38
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_38]
type=0
buttontype=0
clientcode=0
x=-7
y=-3
width=32
height=32
layer=com_24
trans=0
scrollheight=0
hide=1

[com_39]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_40
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_40]
type=0
buttontype=0
clientcode=0
x=-7
y=-9
width=32
height=32
layer=com_25
trans=0
scrollheight=0
hide=1

[com_41]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_42
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_42]
type=0
buttontype=0
clientcode=0
x=53
y=-6
width=32
height=32
layer=com_26
trans=0
scrollheight=0
hide=1

[com_43]
type=6
buttontype=0
clientcode=0
x=-1
y=1
width=32
height=32
layer=com_44
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_44]
type=0
buttontype=0
clientcode=0
x=-4
y=-7
width=32
height=32
layer=com_27
trans=0
scrollheight=0
hide=1

[com_45]
type=6
buttontype=0
clientcode=0
x=-1
y=0
width=32
height=32
layer=com_46
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_46]
type=0
buttontype=0
clientcode=0
x=-5
y=-8
width=32
height=32
layer=com_28
trans=0
scrollheight=0
hide=1

[com_47]
type=6
buttontype=0
clientcode=0
x=3
y=1
width=32
height=32
layer=com_48
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_48]
type=0
buttontype=0
clientcode=0
x=85
y=-7
width=32
height=32
layer=com_29
trans=0
scrollheight=0
hide=1

[com_49]
type=5
buttontype=0
clientcode=0
x=483
y=6
width=26
height=23
overlayer=51
trans=0
graphic=539
activegraphic=-1

[com_50]
type=5
buttontype=3
clientcode=0
x=4
y=4
width=26
height=23
layer=com_51
trans=0
graphic=540
activegraphic=-1

[com_51]
type=0
buttontype=0
clientcode=0
x=479
y=2
width=32
height=32
trans=0
scrollheight=0
hide=1

[com_52]
type=6
buttontype=0
clientcode=0
x=0
y=0
width=32
height=32
layer=com_53
trans=0
model=com_i17359
activemodel=-1
zoom=400
xan=352
yan=0

[com_53]
type=0
buttontype=0
clientcode=0
x=37
y=-8
width=32
height=32
layer=com_30
trans=0
scrollheight=0
hide=1
